<g data-bind='visible: player.region == GameConstants.Region.kalos'>
    <image width="1600" height="960" data-bind="attr: {
        'xlink:href':'assets/images/kalos.png?v=$VERSION',
        href:'assets/images/kalos.png?v=$VERSION'
    }"></image>

    <!-- ------ -->
    <!-- ROUTES -->
    <!-- ------ -->

    <!--Route 1-->
    <%- include('templates/mapRoute',
        { route: 1, region: 5
        , width: 3.5, height: 3
        , x: 66, y: 45
        , rotate: true
        })
    %>

    <!--Route 2-->
    <%- include('templates/mapRoute',
        { route: 2, region: 5
        , width: 3, height: 3
        , x: 66, y: 38
        })
    %>

    <!--Route 3-->
    <%- include('templates/mapRoute',
        { route: 3, region: 5
        , width: 6, height: 3
        , x: 58, y: 35
        })
    %>
    <!--Route 3 extension-->
    <%- include('templates/mapRoute',
        { route: 3, region: 5
        , width: 3, height: 2
        , x: 58, y: 33
        , noText: true
        })
    %>

    <!--Route 4-->
    <%- include('templates/mapRoute',
        { route: 4, region: 5
        , width: 5, height: 3
        , x: 55, y: 24
        , rotate: true
        })
    %>
    <!--Route 4 extension-->
    <%- include('templates/mapRoute',
        { route: 4, region: 5
        , width: 2, height: 1
        , x: 55, y: 29
        , noText: true
        })
    %>
    <!--Route 4 extension-->
    <%- include('templates/mapRoute',
        { route: 4, region: 5
        , width: 1, height: 1
        , x: 58, y: 28
        , noText: true
        })
    %>
    <!--Route 4 extension-->
    <%- include('templates/mapRoute',
        { route: 4, region: 5
        , width: 1, height: 1
        , x: 56, y: 30
        , noText: true
        })
    %>

    <!--Route 5-->
    <%- include('templates/mapRoute',
        { route: 5, region: 5
        , width: 10, height: 3
        , x: 50, y: 24
        , rotate: true
        })
    %>
    <!--Route 5 extension-->
    <%- include('templates/mapRoute',
        { route: 5, region: 5
        , width: 4, height: 3
        , x: 46, y: 34
        , noText: true
        })
    %>
    <!--Route 5 extension-->
    <%- include('templates/mapRoute',
        { route: 5, region: 5
        , width: 1, height: 2
        , x: 50, y: 34
        , noText: true
        })
    %>
    <!--Route 5 extension-->
    <%- include('templates/mapRoute',
        { route: 5, region: 5
        , width: 1, height: 1
        , x: 49, y: 33
        , noText: true
        })
    %>
    <!--Route 5 extension-->
    <%- include('templates/mapRoute',
        { route: 5, region: 5
        , width: 1, height: 1
        , x: 51, y: 34
        , noText: true
        })
    %>

    <!--Route 6-->
    <%- include('templates/mapRoute',
        { route: 6, region: 5
        , width: 6, height: 3
        , x: 36, y: 28
        , rotate: true
        })
    %>
    <!--Route 6 extension-->
    <%- include('templates/mapRoute',
        { route: 6, region: 5
        , width: 1, height: 3
        , x: 35, y: 28
        , noText: true
        })
    %>

    <!--Route 7-->
    <%- include('templates/mapRoute',
        { route: 7, region: 5
        , width: 10, height: 3
        , x: 32, y: 34
        })
    %>
    <!--Route 7 extension-->
    <%- include('templates/mapRoute',
        { route: 7, region: 5
        , width: 2, height: 3
        , x: 30, y: 35
        , noText: true
        })
    %>
    <!--Route 7 extension-->
    <%- include('templates/mapRoute',
        { route: 7, region: 5
        , width: 1, height: 1
        , x: 32, y: 37
        , noText: true
        })
    %>

    <!--Route 8-->
    <%- include('templates/mapRoute',
        { route: 8, region: 5
        , width: 5, height: 3
        , x: 23, y: 39
        , rotate: true
        })
    %>
    <!--Route 8 extension-->
    <%- include('templates/mapRoute',
        { route: 8, region: 5
        , width: 1, height: 4
        , x: 22, y: 38
        , noText: true
        })
    %>
    <!--Route 8 extension-->
    <%- include('templates/mapRoute',
        { route: 8, region: 5
        , width: 1, height: 2
        , x: 21, y: 38
        , noText: true
        })
    %>
    <!--Route 8 extension-->
    <%- include('templates/mapRoute',
        { route: 8, region: 5
        , width: 1, height: 1
        , x: 20, y: 38
        , noText: true
        })
    %>

    <!--Route 9-->
    <%- include('templates/mapRoute',
        { route: 9, region: 5
        , width: 11, height: 2
        , x: 27, y: 44
        })
    %>

    <!--Route 10-->
    <%- include('templates/mapRoute',
        { route: 10, region: 5
        , width: 8, height: 3
        , x: 10, y: 32
        })
    %>
    <!--Route 10 extension-->
    <%- include('templates/mapRoute',
        { route: 10, region: 5
        , width: 1, height: 4
        , x: 18, y: 33
        , noText: true
        })
    %>
    <!--Route 10 extension-->
    <%- include('templates/mapRoute',
        { route: 10, region: 5
        , width: 1, height: 1
        , x: 17, y: 35
        , noText: true
        })
    %>

    <!--Route 11-->
    <%- include('templates/mapRoute',
        { route: 11, region: 5
        , width: 6, height: 2
        , x: 13, y: 28
        })
    %>

    <!--Route 12-->
    <%- include('templates/mapRoute',
        { route: 12, region: 5
        , width: 15, height: 3
        , x: 21, y: 19
        })
    %>
    <!--Route 12 extension-->
    <%- include('templates/mapRoute',
        { route: 12, region: 5
        , width: 2, height: 3
        , x: 19, y: 21
        , noText: true
        })
    %>
    <!--Route 12 extension-->
    <%- include('templates/mapRoute',
        { route: 12, region: 5
        , width: 1, height: 1
        , x: 20, y: 20
        , noText: true
        })
    %>
    <!--Route 12 extension-->
    <%- include('templates/mapRoute',
        { route: 12, region: 5
        , width: 2, height: 1
        , x: 21, y: 22
        , noText: true
        })
    %>
    <!--Route 12 extension-->
    <%- include('templates/mapRoute',
        { route: 12, region: 5
        , width: 1, height: 1
        , x: 21, y: 23
        , noText: true
        })
    %>
    <!--Route 12 extension-->
    <%- include('templates/mapRoute',
        { route: 12, region: 5
        , width: 3, height: 2
        , x: 26, y: 17
        , noText: true
        })
    %>

    <!--Route 13-->
    <%- include('templates/mapRoute',
        { route: 13, region: 5
        , width: 13, height: 3
        , x: 36, y: 19
        })
    %>
    <!--Route 13 extension-->
    <%- include('templates/mapRoute',
        { route: 13, region: 5
        , width: 1, height: 3
        , x: 49, y: 20
        , noText: true
        })
    %>
    <!--Route 13 extension-->
    <%- include('templates/mapRoute',
        { route: 13, region: 5
        , width: 2, height: 1
        , x: 47, y: 22
        , noText: true
        })
    %>

    <!--Route 14-->
    <%- include('templates/mapRoute',
        { route: 14, region: 5
        , width: 9.5, height: 3
        , x: 51, y: 10
        , rotate: true
        })
    %>

    <!--Route 15-->
    <%- include('templates/mapRoute',
        { route: 15, region: 5
        , width: 10, height: 3
        , x: 61, y: 8
        , rotate: true
        })
    %>
    <!--Route 15 extension-->
    <%- include('templates/mapRoute',
        { route: 15, region: 5
        , width: 2, height: 3
        , x: 59, y: 8
        , noText: true
        })
    %>
    <!--Route 15 extension-->
    <%- include('templates/mapRoute',
        { route: 15, region: 5
        , width: 5, height: 3
        , x: 64, y: 15
        , noText: true
        })
    %>
    <!--Route 15 extension-->
    <%- include('templates/mapRoute',
        { route: 15, region: 5
        , width: 5, height: 3
        , x: 74, y: 12
        , noText: true
        })
    %>
    <!--Route 15 extension-->
    <%- include('templates/mapRoute',
        { route: 15, region: 5
        , width: 1, height: 5
        , x: 73, y: 13
        , noText: true
        })
    %>
    <!--Route 15 extension-->
    <%- include('templates/mapRoute',
        { route: 15, region: 5
        , width: 1, height: 1
        , x: 72, y: 14
        , noText: true
        })
    %>
    <!--Route 15 extension-->
    <%- include('templates/mapRoute',
        { route: 15, region: 5
        , width: 1, height: 1
        , x: 74, y: 15
        , noText: true
        })
    %>

    <!--Route 16-->
    <%- include('templates/mapRoute',
        { route: 16, region: 5
        , width: 10, height: 3
        , x: 59, y: 18
        })
    %>
    <!--Route 16 extension-->
    <%- include('templates/mapRoute',
        { route: 16, region: 5
        , width: 2, height: 2
        , x: 69, y: 19
        , noText: true
        })
    %>
    <!--Route 16 extension-->
    <%- include('templates/mapRoute',
        { route: 16, region: 5
        , width: 1, height: 2
        , x: 58, y: 18
        , noText: true
        })
    %>
    <!--Route 16 extension-->
    <%- include('templates/mapRoute',
        { route: 16, region: 5
        , width: 2, height: 2
        , x: 59, y: 21
        , noText: true
        })
    %>

    <!--Route 17-->
    <%- include('templates/mapRoute',
        { route: 17, region: 5
        , width: 9, height: 3
        , x: 79, y: 19
        , rotate: true
        })
    %>
    <!--Route 17 extension-->
    <%- include('templates/mapRoute',
        { route: 17, region: 5
        , width: 2, height: 2
        , x: 71, y: 19
        , noText: true
        })
    %>
    <!--Route 17 extension-->
    <%- include('templates/mapRoute',
        { route: 17, region: 5
        , width: 6, height: 3
        , x: 73, y: 18
        , noText: true
        })
    %>
    <!--Route 17 extension-->
    <%- include('templates/mapRoute',
        { route: 17, region: 5
        , width: 2, height: 1
        , x: 79, y: 18
        , noText: true
        })
    %>
    <!--Route 17 extension-->
    <%- include('templates/mapRoute',
        { route: 17, region: 5
        , width: 4, height: 3
        , x: 82, y: 24
        , noText: true
        })
    %>

    <!--Route 18-->
    <%- include('templates/mapRoute',
        { route: 18, region: 5
        , width: 6, height: 3
        , x: 90, y: 23
        })
    %>
    <!--Route 18 extension-->
    <%- include('templates/mapRoute',
        { route: 18, region: 5
        , width: 3, height: 1
        , x: 93, y: 26
        , noText: true
        })
    %>

    <!--Route 19-->
    <%- include('templates/mapRoute',
        { route: 19, region: 5
        , width: 8, height: 3
        , x: 87, y: 33
        })
    %>
    <!--Route 19 extension-->
    <%- include('templates/mapRoute',
        { route: 19, region: 5
        , width: 3, height: 2
        , x: 93, y: 31
        , noText: true
        })
    %>
    <!--Route 19 extension-->
    <%- include('templates/mapRoute',
        { route: 19, region: 5
        , width: 1, height: 2
        , x: 95, y: 33
        , noText: true
        })
    %>

    <!--Route 20-->
    <%- include('templates/mapRoute',
        { route: 20, region: 5
        , width: 6, height: 3
        , x: 83, y: 36
        , rotate: true
        })
    %>
    <!--Route 20 extension-->
    <%- include('templates/mapRoute',
        { route: 20, region: 5
        , width: 3, height: 4
        , x: 80, y: 39
        , noText: true
        })
    %>

    <!--Route 21-->
    <%- include('templates/mapRoute',
        { route: 21, region: 5
        , width: 6, height: 3
        , x: 77, y: 33
        })
    %>
    <!--Route 21 extension-->
    <%- include('templates/mapRoute',
        { route: 21, region: 5
        , width: 1, height: 2
        , x: 76, y: 33
        , noText: true
        })
    %>

    <!--Route 22-->
    <%- include('templates/mapRoute',
        { route: 22, region: 5
        , width: 9, height: 3
        , x: 61, y: 30
        })
    %>
    <!--Route 22 extension-->
    <%- include('templates/mapRoute',
        { route: 22, region: 5
        , width: 3, height: 2
        , x: 70, y: 33
        , noText: true
        })
    %>
    <!--Route 22 extension-->
    <%- include('templates/mapRoute',
        { route: 22, region: 5
        , width: 1, height: 1
        , x: 69, y: 33
        , noText: true
        })
    %>
    <!--Route 22 extension-->
    <%- include('templates/mapRoute',
        { route: 22, region: 5
        , width: 1, height: 1
        , x: 70, y: 31
        , noText: true
        })
    %>
    <!--Route 22 extension-->
    <%- include('templates/mapRoute',
        { route: 22, region: 5
        , width: 2, height: 1
        , x: 70, y: 32
        , noText: true
        })
    %>

    <!--Azure Bay-->
    <%- include('templates/mapRoute',
        { route: 23, region: 5
        , width: 5, height: 3
        , x: 26, y: 12, name: "A.B."
        , rotate: true
        })
    %>


    <!-- ----- -->
    <!-- TOWNS -->
    <!-- ----- -->

    <!--Vaniville Town-->
    <%- include('templates/mapTown',
        { name: "Vaniville Town"
        , x: 65, y: 48.5
        , width: 5, height: 4.5
        , home: true
        })
    %>

    <!--Aquacorde Town-->
    <%- include('templates/mapTown',
        { name: "Aquacorde Town"
        , x: 65, y: 41
        })
    %>

    <!--Santalune City-->
    <%- include('templates/mapTown',
        { name: "Santalune City"
        , x: 57, y: 29
        })
    %>

    <!--Lumiose City-->
    <%- include('templates/mapTown',
        { name: "Lumiose City"
        , x: 50, y: 19.5
        , width: 5, height: 4.5
        })
    %>
    <!--Lumiose City extras-->
    <%- include('templates/mapTown',
        { name: "Lumiose City"
        , x: 55, y: 20
        , isExtension: true
        })
    %>

    <!--Camphrier Town-->
    <%- include('templates/mapTown',
        { name: "Camphrier Town"
        , x: 42, y: 33
        })
    %>

    <!--Parfum Palace-->
    <%- include('templates/mapTown',
        { name: "Parfum Palace"
        , x: 31, y: 27
        , width: 4, height: 4
        })
    %>

    <!--Ambrette Town-->
    <%- include('templates/mapTown',
        { name: "Ambrette Town"
        , x: 23, y: 44
        })
    %>

    <!--Cyllage City-->
    <%- include('templates/mapTown',
        { name: "Cyllage City"
        , x: 19, y: 34
        })
    %>

    <!--Disguised Shop-->
    <%- include('templates/mapOverlay',
        { name: "Disguised Shop"
        , x: 6, y: 31
        , width: 1, height: 1
        , databind: "click:function(){MapHelper.moveToTown('Disguised Shop')}, attr:{ class: MapHelper.calculateTownCssClass('Disguised Shop') }"
        , visible:  "App.game.statistics.routeKills['kalos'][10]() >= 10"
        , image: "assets/images/map/transparent.png"
        })
    %>

    <!--Geosenge Town-->
    <%- include('templates/mapTown',
        { name: "Geosenge Town"
        , x: 9, y: 28
        })
    %>

    <!--Shalour City-->
    <%- include('templates/mapTown',
        { name: "Shalour City"
        , x: 15, y: 21
        })
    %>

    <!--Coumarine City-->
    <%- include('templates/mapTown',
        { name: "Coumarine City"
        , x: 34, y: 15
        })
    %>

    <!--Laverre City-->
        <%- include('templates/mapTown',
        { name: "Laverre City"
        , x: 50, y: 5.5
        , width: 5, height: 4.5
        })
    %>
    <!--Laverre City extras-->
    <%- include('templates/mapTown',
        { name: "Laverre City"
        , x: 55, y: 6
        , isExtension: true
        })
    %>

    <!--Dendemille Town-->
    <%- include('templates/mapTown',
        { name: "Dendemille Town"
        , x: 69, y: 15
        })
    %>

    <!--Anistar City-->
    <%- include('templates/mapTown',
        { name: "Anistar City"
        , x: 86, y: 23
        })
    %>

    <!--Couriway Town-->
    <%- include('templates/mapTown',
        { name: "Couriway Town"
        , x: 93, y: 27
        })
    %>

    <!--Snowbelle City-->
    <%- include('templates/mapTown',
        { name: "Snowbelle City"
        , x: 83, y: 32
        })
    %>

    <!--Pokémon League Kalos-->
    <%- include('templates/mapTown',
        { name: "Pokémon League Kalos"
        , x: 69, y: 23
        , width: 9, height: 5.5
        })
    %>
    <!--Pokémon League Kalos Extension-->
    <%- include('templates/mapTown',
        { name: "Pokémon League Kalos"
        , x: 72, y: 28.5
        , width: 3, height: 0.5
        , isExtension: true
        })
    %>

    <!--Kiloude City-->
    <%- include('templates/mapTown',
        { name: "Kiloude City"
        , x: 87, y: 50
        })
    %>

    <!-- ----- -->
    <!--DUNGEONS-->
    <!-- ----- -->

    <!--Santalune Forest-->
    <%- include('templates/mapDungeon',
        { name: "Santalune Forest"
        , x: 65, y: 34
        , width: 5, height: 4
        })
    %>
    <!--Santalune Forest extension-->
    <%- include('templates/mapDungeon',
        { name: "Santalune Forest"
        , x: 64, y: 35
        , width: 1, height: 2
        , isExtension: true
        })
    %>
    <!--Santalune Forest extension-->
    <%- include('templates/mapDungeon',
        { name: "Santalune Forest"
        , x: 70, y: 35
        , width: 1, height: 2
        , isExtension: true
        })
    %>
    <!--Santalune Forest extension-->
    <%- include('templates/mapDungeon',
        { name: "Santalune Forest"
        , x: 66, y: 33.5
        , width: 1, height: 0.5
        , isExtension: true
        })
    %>
    <!--Santalune Forest extension-->
    <%- include('templates/mapDungeon',
        { name: "Santalune Forest"
        , x: 68, y: 33.5
        , width: 1, height: 0.5
        , isExtension: true
        })
    %>

    <!--Connecting Cave-->
    <%- include('templates/mapDungeon',
        { name: "Connecting Cave"
        , x: 23, y: 36
        , width: 5, height: 3
        })
    %>
    <!--Connecting Cave extension-->
    <%- include('templates/mapDungeon',
        { name: "Connecting Cave"
        , x: 28, y: 35
        , width: 2, height: 3
        , isExtension: true
        })
    %>
    <!--Connecting Cave extension-->
    <%- include('templates/mapDungeon',
        { name: "Connecting Cave"
        , x: 26, y: 35
        , width: 2, height: 1
        , isExtension: true
        })
    %>

    <!--Glittering Cave-->
    <%- include('templates/mapDungeon',
        { name: "Glittering Cave"
        , x: 38, y: 43
        , width: 4, height: 3
        })
    %>

    <!--Reflection Cave-->
    <%- include('templates/mapDungeon',
        { name: "Reflection Cave"
        , x: 15, y: 25
        , width: 4, height: 3
        })
    %>

    <!--Kalos Power Plant-->
    <%- include('templates/mapDungeon',
        { name: "Kalos Power Plant"
        , x: 38, y: 22
        , width: 6, height: 4
        })
    %>

    <!--Poké Ball Factory-->
    <%- include('templates/mapDungeon',
        { name: "Poké Ball Factory"
        , x: 51, y: 1
        , width: 6, height: 4
        })
    %>

    <!--Lost Hotel-->
    <%- include('templates/mapDungeon',
        { name: "Lost Hotel"
        , x: 66, y: 13
        , width: 4, height: 2
        })
    %>
    <!--Lost Hotel extension-->
    <%- include('templates/mapDungeon',
        { name: "Lost Hotel"
        , x: 67, y: 12
        , width: 2, height: 1
        , isExtension: true
        })
    %>

    <!--Frost Cavern-->
    <%- include('templates/mapDungeon',
        { name: "Frost Cavern"
        , x: 75, y: 9
        , width: 4, height: 3
        })
    %>

    <!--Team Flare Secret HQ-->
    <%- include('templates/mapDungeon',
        { name: "Team Flare Secret HQ"
        , x: 7, y: 25
        , width: 2, height: 4
        })
    %>

    <!--Terminus Cave-->
    <%- include('templates/mapDungeon',
        { name: "Terminus Cave"
        , x: 92, y: 19
        , width: 4, height: 3
        })
    %>

    <!--Pokémon Village-->
    <%- include('templates/mapDungeon',
        { name: "Pokémon Village"
        , x: 80, y: 43
        , width: 4, height: 3
        })
    %>

    <!--Victory Road Kalos-->
    <%- include('templates/mapDungeon',
        { name: "Victory Road Kalos"
        , x: 73, y: 29
        , width: 3, height: 6
        })
    %>
    <!--Victory Road Kalos extension-->
    <%- include('templates/mapDungeon',
        { name: "Victory Road Kalos"
        , x: 72, y: 29
        , width: 1, height: 2
        , isExtension: true
        })
    %>
    <!--Victory Road Kalos extension-->
    <%- include('templates/mapDungeon',
        { name: "Victory Road Kalos"
        , x: 76, y: 30
        , width: 1, height: 3
        , isExtension: true
        })
    %>

    <!--Sea Spirit's Den-->
    <%- include('templates/mapDungeon',
        { name: "Sea Spirit's Den"
        , x: 25, y: 9
        , width: 4, height: 3
        })
    %>

    <!-- ------------------ -->
    <!-- PLACES OF INTEREST -->
    <!-- ------------------ -->

    <%- include('templates/mapPOI',
        { name: "Dock"
        , x: 34, y: 11
        , width: 3, height: 4
        , databind: "click:function(){MapHelper.openShipModal()}, attr: { class: MapHelper.calculateTownCssClass('Coumarine City') }"
        })
    %>

    <%- include('templates/mapPOI',
       { name: "S. S. Anne"
       , x: 32, y: 8
       , width: 8, height: 3
       , databind: "click:function(){MapHelper.openShipModal()}, attr: { class: MapHelper.calculateTownCssClass('Coumarine City') }"
      })
    %>

    <%- include('templates/mapPOI',
        { name: "Underground Entrance"
        , x: 10, y: 22
        , width: 3, height: 4
        , databind: "click:function(){UndergroundController.openUndergroundModal()}, attr: { class: App.game.underground.canAccess() ? 'completed' : 'locked' }"
        })
    %>

    <%- include('templates/mapPOI',
        { name: "Farm"
        , x: 33, y: 37
        , width: 3, height: 3
        , databind: "click:function(){FarmController.openFarmModal()}, attr: { class: App.game.farming.canAccess() ? 'completed' : 'locked' }"
        })
    %>

    <%- include('templates/mapPOI',
        { name: "Pokémon Day Care"
        , x: 54, y: 13
        , width: 4, height: 3.5
        , databind: "click:function(){BreedingController.openBreedingModal()}, attr: { class: App.game.breeding.canAccess() ? 'completed' : 'locked' }"
        })
    %>

    <!--Friend Safari-->
    <%- include('templates/mapTown',
        { name: "Friend Safari"
        , x: 90, y: 46
        , width: 6, height: 4
        })
    %>
    <!--Friend Safari extension-->
    <%- include('templates/mapTown',
        { name: "Friend Safari"
        , x: 91, y: 50
        , width: 5, height: 2
        , isExtension: true
        })
    %>

    <%- include('templates/mapBlimp',
        { name: "Professor Sycamore"
        , x: 57, y: 52
        , town: "Vaniville Town"
        })
    %>

    <%- include('templates/mapOverlay',
         { name: "Pokémon Trainer Shauna"
         , x: 69, y: 41
         , width: 4, height: 4
         , databind: "click: () => TemporaryBattleList['Shauna 1'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Shauna 1'] && TemporaryBattleList['Shauna 1'].isVisible()"
         , image: "assets/images/map/shauna.png"
         })
    %>

    <%- include('templates/mapOverlay',
         { name: "Pokémon Trainer Tierno"
         , x: 46, y: 33
         , width: 4, height: 4
         , databind: "click: () => TemporaryBattleList['Tierno 1'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Tierno 1'] && TemporaryBattleList['Tierno 1'].isVisible()"
         , image: "assets/images/map/tierno.png"
         })
    %>

    <%- include('templates/mapOverlay',
         { name: "Pokémon Trainer Trevor & Pokémon Trainer Tierno"
         , x: 29, y: 33
         , width: 8, height: 4
         , databind: "click: () => TemporaryBattleList['Trevor & Tierno'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Trevor & Tierno'] && TemporaryBattleList['Trevor & Tierno'].isVisible()"
         , image: "assets/images/map/trevortierno.png"
         })
    %>

    <%- include('templates/mapOverlay',
         { name: "Pokémon Trainer Calem"
         , x: 18, y: 17
         , width: 4, height: 4
         , databind: "click: () => TemporaryBattleList['Calem 1'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Calem 1'] && TemporaryBattleList['Calem 1'].isVisible()"
         , image: "assets/images/map/calem.png"
         })
    %>

    <%- include('templates/mapOverlay',
         { name: "Pokémon Trainer Calem"
         , x: 32, y: 18
         , width: 4, height: 4
         , databind: "click: () => TemporaryBattleList['Calem 2'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Calem 2'] && TemporaryBattleList['Calem 2'].isVisible()"
         , image: "assets/images/map/calem.png"
         })
    %>

    <%- include('templates/mapOverlay',
         { name: "Pokémon Trainer Calem"
         , x: 50.5, y: 15.5
         , width: 4, height: 4
         , databind: "click: () => TemporaryBattleList['Calem 3'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Calem 3'] && TemporaryBattleList['Calem 3'].isVisible()"
         , image: "assets/images/map/calem.png"
         })
    %>

    <%- include('templates/mapOverlay',
         { name: "Pokémon Trainer Calem"
         , x: 82, y: 23
         , width: 4, height: 4
         , databind: "click: () => TemporaryBattleList['Calem 4'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Calem 4'] && TemporaryBattleList['Calem 4'].isVisible()"
         , image: "assets/images/map/calem.png"
         })
    %>

    <%- include('templates/mapOverlay',
         { name: "Pokémon Trainer Shauna"
         , x: 87, y: 32
         , width: 4, height: 4
         , databind: "click: () => TemporaryBattleList['Shauna 2'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Shauna 2'] && TemporaryBattleList['Shauna 2'].isVisible()"
         , image: "assets/images/map/shauna.png"
         })
    %>

    <%- include('templates/mapOverlay',
         { name: "Pokémon Trainer Tierno"
         , x: 87, y: 32
         , width: 4, height: 4
         , databind: "click: () => TemporaryBattleList['Tierno 2'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Tierno 2'] && TemporaryBattleList['Tierno 2'].isVisible()"
         , image: "assets/images/map/tierno.png"
         })
    %>

    <%- include('templates/mapOverlay',
         { name: "Pokémon Trainer Trevor"
         , x: 87, y: 32
         , width: 4, height: 4
         , databind: "click: () => TemporaryBattleList['Trevor'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Trevor'] && TemporaryBattleList['Trevor'].isVisible()"
         , image: "assets/images/map/trevor.png"
         })
    %>

    <%- include('templates/mapOverlay',
         { name: "Pokémon Trainer Calem"
         , x: 71.5, y: 25
         , width: 4, height: 4
         , databind: "click: () => TemporaryBattleList['Calem 5'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Calem 5'] && TemporaryBattleList['Calem 5'].isVisible()"
         , image: "assets/images/map/calem.png"
         })
    %>

    <%- include('templates/mapOverlay',
         { name: "Ash Ketchum"
         , x: 91, y: 50
         , width: 4, height: 4
         , databind: "click: () => TemporaryBattleList['Ash Ketchum Kalos'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Ash Ketchum Kalos'] && TemporaryBattleList['Ash Ketchum Kalos'].isVisible()"
         , image: "assets/images/map/ashketchumoverworld.png"
         })
    %>

	<%- include('templates/mapOverlay',
         { name: "Wild Electrike Horde"
         , x: 60, y: 7
         , width: 4, height: 4
         , databind: "click: () => TemporaryBattleList['Wild Electrike Horde'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Wild Electrike Horde'] && TemporaryBattleList['Wild Electrike Horde'].isVisible()"
         , image: "assets/images/map/megamanectricoverworld.png"
         })
    %>

	<%- include('templates/mapOverlay',
         { name: "Wild Houndour Horde"
         , x: 60, y: 7
         , width: 4, height: 4
         , databind: "click: () => TemporaryBattleList['Wild Houndour Horde'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Wild Houndour Horde'] && TemporaryBattleList['Wild Houndour Horde'].isVisible()"
         , image: "assets/images/map/megahoundoomoverworld.png"
         })
    %>
    <%- include('templates/mapOverlay',
         { name: "Rampaging Yveltal"
         , x: 10, y: 16
         , width: 5, height: 5
         , databind: "click: () => TemporaryBattleList['Rampaging Yveltal'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Rampaging Yveltal'] && TemporaryBattleList['Rampaging Yveltal'].isVisible()"
         , image: "assets/images/map/rampagingyveltal.png"
         })
    %>
    <%- include('templates/mapOverlay',
         { name: "Hoopa Hoop"
         , x: 82, y: 49
         , width: 5, height: 5
         , databind: "click: () => TemporaryBattleList['Hoopa 1'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Hoopa 1'] && TemporaryBattleList['Hoopa 1'].isVisible()"
         , image: "assets/images/map/Ring.png"
         })
    %>
    <%- include('templates/mapOverlay',
         { name: "Hoopa Hoop"
         , x: 15, y: 16
         , width: 5, height: 5
         , databind: "click: () => TemporaryBattleList['Hoopa 2'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Hoopa 2'] && TemporaryBattleList['Hoopa 2'].isVisible()"
         , image: "assets/images/map/Ring.png"
         })
    %>
    <%- include('templates/mapOverlay',
         { name: "Hoopa Hoop"
         , x: 46, y: 14
         , width: 5, height: 5
         , databind: "click: () => TemporaryBattleList['Hoopa 3'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Hoopa 3'] && TemporaryBattleList['Hoopa 3'].isVisible()"
         , image: "assets/images/map/Ring.png"
         })
    %>
    <%- include('templates/mapOverlay',
         { name: "Hoopa Hoop"
         , x: 87, y: 18
         , width: 5, height: 5
         , databind: "click: () => TemporaryBattleList['Hoopa 4'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Hoopa 4'] && TemporaryBattleList['Hoopa 4'].isVisible()"
         , image: "assets/images/map/Ring.png"
         })
    %>
    <%- include('templates/mapOverlay',
         { name: "Hoopa Hoop"
         , x: 45, y: 5
         , width: 5, height: 5
         , databind: "click: () => TemporaryBattleList['Hoopa 5'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Hoopa 5'] && TemporaryBattleList['Hoopa 5'].isVisible()"
         , image: "assets/images/map/Ring.png"
         })
    %>
    <%- include('templates/mapOverlay',
         { name: "Hoopa Hoop"
         , x: 82, y: 49
         , width: 5, height: 5
         , databind: "click: () => TemporaryBattleList['Hoopa 6'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Hoopa 6'] && TemporaryBattleList['Hoopa 6'].isVisible()"
         , image: "assets/images/map/Ring.png"
         })
    %>

</g>
