.battle-item-small {
  width: 36px;
  height: 36px;
  margin: 5px;
  border: 1px solid black;
}

.battle-item-small-selected {
  width: 36px;
  height: 36px;
  margin: 5px;
  border: 1px solid #ff2f39;
}