#berryBlenderModal {
  .modal-lg{
  max-width: 1000px !important;
}}

.berryBlendingColumn {
  @media (min-width: 992px) { // computer
    height: 70vh;
  }

  @media (max-width: 991px) { // tablet
      height: 50vh;
    }
}

.blenderBody{
  width: 40px;
}

.blenderTop {
  position: absolute;
  width: 40px;
}

#blendSlots {
  margin: 5px;
  width: 40px;
  height: 40px;
  border-color: #67e7ff;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.3rcap;
}

.blendSlotsAnimated {
  border-style: outset !important;
  pointer-events: none;
  position: absolute;
  animation: spin 1s linear infinite;
 }
