

.breedingListItem {
  text-align: left;
  margin-bottom: 3px;

  img {
    margin-left: -10px;
    margin-right: -30px;
  }

  .sparkle {
    position: absolute;
    right: 15px;
    top: 0px;
  }
}

.eggSlot {
  height: 120px;
  display: inline-block;
  background-image: url('../assets/images/breeding/breedingSlot.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  .progress {
    width: 80%;;
    margin: 0px auto 0 auto;
    span {
      position: absolute;
      display: block;
      width: 80%;
    }
  }
}

#eggList {
  background-color: #aaa;
}
