@font-face {
    font-family: grapeNuts;
    src: url(../assets/fonts/grapenuts.ttf);
  }

#bulletinBoardModal knockout {
    color: black !important;
    font-family: grapeNuts, cursive;
}

#bulletinBoardModal div, #bulletinBoardModal tr {
    background-size: cover;
}

#bulletinBoardModal td, #bulletinBoardModal tr {
    border: 0px;
}

.bulletin-paper {
    min-height: 365px;
    height: 365px;
}
