@import url("variables.less");

@padding: 3px;

#farmModal {
    ul.nav {
        width: 100%;
    }
}

#farmView {
  margin: 0 !important;
}

#seedList {
  padding-top: 10px;
  min-height: 362px;
}

#mulchList {
  padding-top: 10px;
}

.seed-list-item {
  cursor: pointer;
  padding: @padding;
  text-align: left !important;

  :first-child {
    margin-right: 3px;
  }
}

.berryLocked {
  filter: brightness(0%);
  opacity: 0.2;
}

.BerrySelected {
    cursor:url('../assets/images/farm/berry.png'), auto;
}

.MulchSelected {
    cursor:url('../assets/images/farm/mulch.png'), auto;
}

.ShovelSelected {
    cursor:url('../assets/images/farm/shovel.png'), auto;
}

.MulchShovelSelected {
  cursor:url('../assets/images/farm/mulchShovel.png'), auto;
}

.PlotSafeLockSelected {
  cursor:url('../assets/images/farm/plotSafeLock.png'), auto;
}

.ShiftPressed .plot-content {
    cursor:url('../assets/images/farm/plotSafeLock.png'), auto;
}

.Boost_Mulch {
    filter: hue-rotate(200deg);
}

.Rich_Mulch {
    filter: hue-rotate(90deg);
}

.Surprise_Mulch {
    filter: hue-rotate(300deg);
}

.Amaze_Mulch {
    filter: hue-rotate(250deg);
}

.Freeze_Mulch {
    filter: brightness(200%) hue-rotate(210deg);
}

#plotList, #plotListCard .row {
  padding: 10px;

  .plot {
    padding: 2px;

    .lock {
      position: absolute;
      width: 80%;
      left: 10%;
      bottom: 10%;
    }

    &:hover {
      filter: brightness(95%);
      cursor: pointer;

      .plotLockHover {
          display: flex;
      }
    }
  }

  .plotLocked {
    opacity: 0.7;
  }

  .plotLockHover {
      display: none;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  .plotImage {
      position: relative;

      .plotSafeLockIcon {
          position: absolute;
          bottom: 5px;
          right: 5px;
          height: 16px;
          width: 16px;
          filter:
                drop-shadow(0.2px 0.2px 0 black)
                drop-shadow(-0.2px 0.2px 0 black)
                drop-shadow(0.2px -0.2px 0 black)
                drop-shadow(-0.2px -0.2px 0 black);
      }
  }

  .plotButton {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

/* Overrides for farm module */
#farmDisplay #plotListCard .row {
  .plotImage {
      .plotSafeLockIcon {
          bottom: 3px;
          right: 3px;
          height: 12px;
          width: 12px;
          filter: none;
      }
  }
}

#farmHandsView {
  .plot:hover {
    cursor: pointer;
  }

  .plotEnabled {
    filter: hue-rotate(90deg);
  }

  .plotDisabled {
    filter: brightness(50%) opacity(90%);
  }
}

@media (min-width: 992px) { // computer
  .berryDexPreviewColumn {
    max-height: calc(100vh - 205px);
  }
}

@media (max-width: 991px) { // tablet
  .berryDexPreviewColumn {
    max-height: calc(100vh - 225px);
  }
}

@media (max-width: 767px) { // phone
  #berryDexPreviewContainer {
    flex-direction: column-reverse;
  }

  #berryDexPreviewList {
    max-height: calc(47vh - 5px);

    @media (max-height: 550px) {
      max-height: calc(40vh - 50px);
    }
  }

  #berryDexPreviewTable {
    max-height: calc(50vh - 205px);
  }
}

#berryDexPreviewTable {
  scrollbar-width: thin;
}

#wanderPokemonList {
  width: 100%;

  .list-inline-item {
    position: relative;
    margin-top: 7px;

    .lock {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
    }

    .shiny {
      position: absolute;
      top: 10px;
      right: -5px;
    }
  }

  .list-inline-item:nth-child(n+6) {
    margin-top: 14px;
  }

  .no-pokerus {
    margin-bottom: -10px;
  }
}
