@import "variables.less";

@font-face {
  font-family: pokemonFont;
  src: url(../assets/fonts/firered.ttf);
}

body {
  background: url('../assets/images/background.png') top;
  background-size: cover;
}

@media (min-width: 1200px) {
  .container {
    width: 70%;
  }
}

.pokemon-font {
  font-family: pokemonFont, "Helvetica Neue", sans-serif;
}

.smallButton {
  padding: 7px;
}

.smallFont {
  font-size: @smallFont;
}

.pageItemTitle {
  position: absolute;
  width: 100%;
  color: black;
  -webkit-text-fill-color: white; /* Will override type (regardless of order) */
  -webkit-text-stroke-width: 1.3px;
  -webkit-text-stroke-color: black;
}

.donate-button {
  margin: 5px;
}

button {
  cursor: pointer;
}

body:hover {
  cursor: default;
}

.donate-button-mew {
  background-color: #bd6dd1;
  border-color: #bd6dd1;
  color: white;
}

.donate-button-mew:hover {
  background-color: #a34eb8;
  border-color: #a34eb8;
}

.donate-button-unown {
  background-color: #858585;
  border-color: #858585;
  color: white;
}

.donate-button-unown:hover {
  background-color: #616161;
  border-color: #616161;
  color: white;
}

.dropdown-menu {
  border: 1px solid black;
}

.page-item {
  margin-bottom: 10px;
  border: 1px solid #7f7f7f;
  border-radius: 2px;
}

.dropdown-item {
  font-family: pokemonFont, "Helvetica Neue", sans-serif;
}

.dropdown-toggle {
  font-family: pokemonFont, "Helvetica Neue", sans-serif;
}

.page-item .card {
  border-radius: 0;
  min-height: 40px;
}

.card span {
  margin-left: 5px;
  line-height: 40px;
  text-align: left;

  span {
    margin-left: 0;
  }
}

.image-starter {
  border: 1px solid white;
}

.image-starter:hover {
  border: 1px solid #1d93d1;
}

.table {
  font-size: @smallFont;
  margin-bottom: 0;
}

.smallImage {
  max-height: 56px;
  height: auto;
  width: auto;
  margin: -10px -12px -12px -16px;
}

.pokemon-list-container {
  max-height: 515px;
  overflow: auto;
}

#pokemonList {
  span {
    vertical-align: middle;
  }
  td {
    vertical-align: middle;
    padding: 0 @tablePaddingWidth;
  }

  td:first-child {
    width: 60%;
    text-align: left;
  }
  th:first-child {
    text-align: left;
  }
  th {
    text-align: center;
    padding: 0 @tablePaddingWidth;
    vertical-align: middle;
  }
}

.hidden {
  display: none;
}

/* http://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css */
.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                        not supported by any browser */
}

img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.clickable {
  cursor: pointer;
}

img {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                        not supported by any browser */
}

.featureList .btn {
  padding: 6px;
  white-space: normal;
}