@import "variables.less";

@pokedexEntryBorderRadius: 6px;

.pokedexEntry {
  border-radius: @pokedexEntryBorderRadius;
  list-style-type: none;
  margin: 12px;
  max-width: calc(50% - 24px);

  img {
    padding: 16px 0;
  }

  span {
    position: absolute;
    color: whitesmoke;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    font-size: 14px;
  }

  span.id::before {
    content: '#';
  }

  span.attack::before {
    content: 'Attack: ';
  }

  .overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height: 100%;
  }
}

.pokemon-not-seen {
  -webkit-filter: brightness(0%); /* Safari 6.0 - 9.0 */
  filter: brightness(0%);
  opacity: 0.6;
}

.pokemon-seen-but-not-caught {
  -webkit-filter: brightness(0.5) grayscale(1) ; /* Safari 6.0 - 9.0 */
  filter: brightness(0.5) grayscale(1);
  opacity: 0.6;
}

/* Filters and Pokemon List */
@media (max-width: 768px) {
  .filters-container {
    overflow-y: auto;
    max-height: calc(100vh - 200px);
  }
}

/* Borders */
.pokedex-border-bottom {
  border-bottom: 1px solid grey;
}
@media (min-width: 768px) {
  .checkbox-border-x {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
  }
}