@import "variables.less";

.pokedexEntry {
  list-style-type: none;
  margin: 12px;

  img {
    padding: 16px 0;
  }

  span {
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    left: 0;
    right: 0;
    font-size: 14px;

  }
}
