#questHead {
  margin-bottom: 15px;
}

.quest {
  padding: 5px 0;
}

.questDescription {
  text-align: left;
}

.questReward {
  vertical-align: middle;
}

.questDisplayBlock {
  .btn {
    height: 20px;
    line-height: 0;
  }

  .progress {
    position: relative;
    height: 20px;
  }

  .progress .progress-bar span {
    text-align: center;
    position: absolute;
    display: block;
    width: 100%;
    line-height: 1rem;
  }

  .card-header {
      position: relative;

      .info {
        position: absolute;
        right: 5px;
        font-weight: normal;
      }
    }

    .card-body {
        font-size: .825rem;
        border-bottom: 1px solid rgba(0,0,0,12.5%);

        .task-list {
            gap: 0;

            &.multi {
                padding-left: 12px;
                border-left: 2px solid #4a4a4a;
                margin-left: 4px;
                margin-top: 8px;
            }
        }
    }

	table {
		margin-bottom : 4px;
	}
}

#dailyQuestDisplayBody {
    border-bottom: 1px solid rgba(0,0,0,12.5%);
}
