// Any changes needed for specific bootswatch themes should be put in here

/* Light themes */
.cerulean, .cosmo, .flatly, .journal, .litera, .lumen, .lux, .materia, .minty, .pulse, .sandstone, .simplex, .spacelab, .sketchy, .united, .yeti {
  // make the boss icon dark
  img[src="assets/images/dungeons/boss.svg"] {
    filter: invert(1) brightness(90%);
  }
}

/* Dark themes */
.cyborg, .darkly, .slate, .superhero {
  // make pokeball image lighter
  img[src="assets/images/pokeball/None.svg"] {
    filter: invert(1) brightness(90%);
  }

  // make the pokemon silhouettes lighter
  .dungeon-pokemon-locked {
    -webkit-filter: brightness(0%) invert(100%); /* Safari 6.0 - 9.0 */
    filter: brightness(0%) invert(100%);
    opacity: 0.3;
  }
}

/* Individual themes */
.cosmo {
  .progress .progress-bar {
    font-size: 12px;
  }
}

.cyborg {
  .text-light {
    color: whitesmoke !important;
  }
}

.darkly {
  .text-primary, .text-light {
    color: whitesmoke !important;
  }
}

.minty {
    // text color in buttons are white, but expected to be black
    .btn, .btn:hover {
        color: #495057;
    }
    // text color in primary buttons gets overridden by the lines above
    .btn-primary, .btn-primary:hover {
        color: #fff;
    }
}

.sketchy {
  // Fix double close button
  #toaster .toast-body, .text-light {
    .close, .close:hover {
      color: transparent;
    }

    .close:before,
    .close:hover:before,
    .close:focus:before,
    .close:active:before {
      color: whitesmoke;
    }
  }

  #toaster .toast-header {
    .close, .close:hover {
      color: transparent;
    }

    .close:before,
    .close:hover:before,
    .close:focus:before,
    .close:active:before {
      color: #333;
    }
  }

  .modal-header {
    border-radius: 0px;
  }
}

.slate {
  #toaster, #achievementsModal {
    .text-primary {
      color: whitesmoke !important;
    }
  }
}

.solar {
  .seed-list-item.active {
    background: rgba(255, 255, 255, 0.2);
  }
}

.superhero {
  .text-light {
    color: whitesmoke !important;
  }

}
