<script type="text/html" id="caughtStatusTemplate">
    <knockout style="display: inline;">
        <!-- ko if: $data.status == CaughtStatus.NotCaught -->
        <img data-bind="tooltip: {trigger: 'hover', title: 'You have not captured this Pokémon yet!', placement: 'top'}"
             class="pokeball-smallest"
             src="assets/images/pokeball/None.svg"
        />
        <!-- /ko -->
        <!-- ko if: $data.status == CaughtStatus.Caught -->
        <img data-bind="tooltip: {trigger: 'hover', title: 'You have captured this Pokémon!', placement: 'top'}"
             class="pokeball-smallest"
             src="assets/images/pokeball/Pokeball.svg"
        />
        <!-- /ko -->
        <!-- ko if: $data.status == CaughtStatus.CaughtShiny -->
        <img data-bind="tooltip: {trigger: 'hover', title: 'You have captured this Pokémon shiny!', placement: 'top'}"
             class="pokeball-smallest"
             src="assets/images/pokeball/Pokeball-shiny.svg"
        />
        <!-- /ko -->
        <!-- ko if: $data.locked -->
        <img class="lock" src="assets/images/breeding/lock.svg" data-bind="
            tooltip: {
                title: $data.lockHint,
                html: true,
                placement: 'top',
                trigger: 'hover'
            }">
        <!-- /ko -->
    </knockout>
</script>

<!-- Example usage -->
<!-- <span data-bind="template: { name: 'caughtStatusTemplate', data: {'status': PartyController.getCaughtStatus(id)}}"></span> -->
