<script type="text/html" id="caughtStatusTemplate">
    <knockout style="display: inline;">
        <!-- ko if: $data.status == CaughtStatus.Caught -->
        <img title="You have captured this Pokémon!"
             class="pokeball-smallest"
             src="assets/images/pokeball/Pokeball-small.png"
        />
        <!-- /ko -->
        <!-- ko if: $data.status == CaughtStatus.CaughtShiny -->
        <img title="You have captured this Pokémon shiny!"
             class="pokeball-smallest"
             src="assets/images/pokeball/Pokeball-shiny-small.png"
        />
        <!-- /ko -->
    </knockout>
</script>

<!-- Example usage -->
<!-- <span data-bind="template: { name: 'caughtStatusTemplate', data: {'status': PartyController.getCaughtStatus(id)}}"></span> -->
