<script type="text/html" id="eggSVGTemplate">

<svg class="egg"
     viewbox="0 0 190 200"
     xmlns="http://www.w3.org/2000/svg"
     width="60%"
     data-bind="attr: {'data-type1': PokemonType[$data.pokemonType1], 'data-type2': PokemonType[$data.pokemonType2]}"
>
    <defs>

        <!-- a couple of bezier curves to create an egg shape -->
        <!-- slight quadratic curve where the two beziers meet, to smooth the corner -->
        <path id="egg_outline"
            d="M 8 85
               c 45,-110 125,-110 174,0
               q 2,5 3,10
               c 20,130 -200,130 -180,0
               q 1,-5 3,-10
              "
        />

        <!-- clip path so we only see things that are inside the egg outline -->
        <clipPath id="mask_entire_egg">
          <use href="#egg_outline" />
        </clipPath>

        <!-- light gradient to be applied on top, to give a 3d effect -->
        <radialGradient id="gradient_highlight">
          <stop offset="5%" stop-color="white" stop-opacity="0.9"/>
          <stop offset="30%" stop-color="white" stop-opacity="0.5"/>
          <stop offset="70%" stop-color="black" stop-opacity="0.2"/>
        </radialGradient>

    </defs>
    <g id="eggSVGMainGroup" clip-path="url(#mask_entire_egg)">
        <!-- outline of egg, filled with main type color -->
        <use href="#egg_outline" class="egg-outline" />

        <!-- egg spots, filled with secondary type color -->
        <ellipse class="egg-spot"
                 rx="20" ry="28"
                 transform="translate(45,120) rotate(-30,10,15)"
        />

        <ellipse class="egg-spot"
                 rx="10" ry="18"
                 transform="translate(135,150) rotate(45,5,9)"
        />

        <ellipse class="egg-spot"
                 rx="12" ry="18"
                 transform="translate(65,185) rotate(40,6,9)"
        />

        <ellipse class="egg-spot"
                 rx="10" ry="14"
                 transform="translate(100,125) rotate(30,5,7)"
        />

        <ellipse class="egg-spot"
                 rx="20" ry="24"
                 transform="translate(125,75) rotate(45,10,12)"
        />

        <!-- highlight, used to give 3D effect -->
        <circle cx="76" cy="40" r="200"
                fill="url(#gradient_highlight)"
        />
    </g>
</svg>

</script>
