<script type="text/html" id="multiSelectDropdownTemplate">
    <div class="dropdown">
        <button class="btn btn-dropdown custom-select btn-multiselect-dropdown text-left" type="button" data-toggle="dropdown" data-bind="class: $data.buttonClass">
            <div class="text-truncate btn-text"
                data-bind="text: typeof $data.buttonText === 'function' ? $data.buttonText() : $data.buttonText"></div>
        </button>
        <div class="dropdown-menu multiselect-dropdown px-2">
            <!-- ko if: $data.showSelectAll -->
            <div class="text-center pb-1 mb-1 border-bottom border-secondary">
                <button type="button" class="btn btn-secondary btn-sm btn-block"
                    data-bind="text: (typeof $data.selectAllText === 'function' ? $data.selectAllText() : $data.selectAllText) || 'Select All',
                        click: () => $data.selectAllClick?.()">Select All</button>
            </div>
            <!-- /ko -->
            <div data-bind="foreach: $data.options">
                <div class="form-check d-flex align-items-center">
                    <input type="checkbox" class="form-check-input mt-0" style="cursor: pointer;"
                        data-bind="
                            attr: { id: `${$parent.id}-item${$index()}` },
                            checked: $parent.bindingField,
                            checkedValue: $data[$parent.optionsValue] ?? $data">
                    <label class="form-check-label text-truncate w-100 p-1" style="max-width: 200px; cursor: pointer;"
                        data-bind="
                            text: $data[$parent.optionsText] ?? $data,
                            attr: { for: `${$parent.id}-item${$index()}` },
                            class: $parent.itemLabel?.class,
                            style: $parent.itemLabel?.style?.($data)"
                        onclick="event.stopPropagation();"></label>
                </div>
            </div>
        </div>
    </div>
</script>


<!--
-------------------
-- Example Usage --
-------------------

<knockout data-bind="template: { name: 'multiSelectDropdownTemplate',
    data: {
        id: `helper-category${$index()}`,
        options: PokemonCategories.categories(),
        optionsText: 'name',
        optionsValue: 'id',
        bindingField: $data.categories,
        buttonText: () => {
            return $data.categories().map(id => PokemonCategories.categories().find(c => c.id === id)?.name()).join('; ') || 'All Categories';
        },
        buttonClass: 'btn-secondary btn-sm',
        itemLabel: {
            class: 'text-white small',
            style: (item) => ({ 'background-color': item.color() })
        },
        showSelectAll: true,
        selectAllText: 'All Categories',
        selectAllClick: () => $data.categories([]),
    }}">
</knockout>

----------------
-- Properties --
----------------

id - (Required) Unique identifier for this dropdown menu.
options - (Required) Array of items to display on the dropdown.
optionsText - (Optional) Property to use as the display text for the item. Will use the item itself if not defined.
optionsValue - (Optional) Property to use as the value when the item is selected. Will use the item itself if not defined.
bindingField - (Required) Observable array backing field for the selected items.
buttonText - (Required) String or function to set the text of the dropdown button.
buttonClass - (Optional) Additional classes to customize the dropdown button.
itemLabel - (Optional)
  class - (Optional) Additional classes to customize the item labels.
  style - (Optional) Function to customize CSS styling of the item labels.
showSelectAll - (Optional) Boolean value to display the Select All button. Default is false.
selectAllText - (Optional) String or function to set the text of the Select All button. Default is 'Select All'.
selectAllClick - (Optional) Function called when the Select All button is clicked.

-->
