<script type="text/html" id="pokemonGenderTemplate">
    <!-- ko if: $data.pokemon.gender == GameConstants.BattlePokemonGender.GenderMale -->
    <knockout data-bind="html: `<i class='gender-icon-male'>♂</i>`"></knockout>
    <!-- /ko -->

    <!-- ko if: $data.pokemon.gender == GameConstants.BattlePokemonGender.GenderFemale -->
    <knockout data-bind="html: `<i class='gender-icon-female'>♀</i>`"></knockout>
    <!-- /ko -->
</script>

<!-- Example usage -->
<!-- <knockout data-bind="template: { name: 'pokemonGenderTemplate', data: { 'pokemon': Battle.enemyPokemon() } }">Pokémon gender</knockout> -->