<script type="text/html" id="pokemonAttackTemplate">
  <span style="display: inline;">
      Pokémon Attack:
      <span data-bind="
         text: App.game.party.pokemonAttackObservable().toLocaleString('en-US'),
         tooltip: {
            title: Battle.pokemonAttackTooltip,
            trigger: 'hover',
         }
         "></span>
  </span>
</script>

<!-- Example usage -->
<!-- <knockout data-bind="template: { name: 'pokemonAttackTemplate', data: { 'pokemon': Battle.enemyPokemon() } }">Pokémon sprite</knockout> -->
