<script type="text/html" id="pokemonCategoryTemplate">
    <div class="dropdown" style="
        position: absolute;
        left: 2px;
        top: -2px;
        ">
        <button data-toggle="dropdown" style="
            width: 16px;
            height: 16px;
            border: 1px #333 solid;
            border-radius: 50%;
            "
            data-bind="
            style: {
                background: PokemonCategories.categories()[$data.category].color,
            }
            ">
        </button>
        <div class="dropdown-menu p-0">
            <!-- ko foreach: PokemonCategories.categories -->
            <a class="dropdown-item" href="#" data-bind="text: $data.name, style: { background: $data.color, color: 'whitesmoke' }, click: () => { $parent.category = $index() }">Category</a>
            <!-- /ko -->
            <a class="dropdown-item" href="#categoryModal" data-toggle="modal"><i>Edit</i></a>
        </div>
    </div>
</script>

<!-- Example usage -->
<!-- <span data-bind="template: { name: 'pokemonCategoryTemplate', data: pokemon}"></span> -->
