<script type="text/html" id="pokemonAttackTemplate">
  <span style="display: inline;">
      Pokémon Attack:
      <span data-bind="
         text: App.game.party.pokemonAttackObservable().toLocaleString('en-US'),
         tooltip: {
            title: $data.pokemon
                ? `${App.game.party.calculatePokemonAttack(
                    $data.pokemon.type1,
                    $data.pokemon.type2
                ).toLocaleString('en-US')} against ${$data.pokemon.name}`
                : '',
            trigger: 'hover',
        }
         "></span>
  </span>
</script>

<!-- Example usage -->
<!-- <knockout data-bind="template: { name: 'pokemonAttackTemplate', data: { 'pokemon': Battle.enemyPokemon() } }">Pokémon sprite</knockout> -->
