<script type="text/html" id="spindaSpotTemplate">
    <!-- ko using: { spotObject: $data.spotObject, isShiny: $data.shiny, size: $data.size, className: $data.className }, as: 'templateData' -->
        <!-- ko foreach: { data: GameHelper.enumNumbers(SpindaSpots), as: 'position' } -->
            <!-- ko using: templateData.spotObject ? templateData.spotObject[position] : undefined, as: 'spot' -->
                <!-- ko using: SpindaHelper.generateSpindaSpots(position, spot?.x(), spot?.y(), templateData.size), as: 'spotPositions' -->
                    <div class="" data-bind="attr: { 
                        'class': `spots ${SpindaSpots[position]} ${templateData.className || ''}`, 
                        'style': 
                            `background-image: url(${SpindaHelper.getSpindaMask(templateData.isShiny)}); 
                            -webkit-mask-position: ${spotPositions.spotX}px ${spotPositions.spotY}px;
                            mask-size: ${templateData.size || 96}px;
                            width: ${templateData.size || 96}px;
                            height: ${templateData.size || 96}px;`
                    }"></div>
                <!-- /ko -->
            <!-- /ko -->
        <!-- /ko -->
    <!-- /ko -->
</script>

<!-- Example usage -->
<!-- 
    <knockout data-bind="template: { 
        name: 'spindaSpotTemplate', 
        data: { 
            'spotObject': SpindaHelper.getSettingsObject(),
            'shiny': true, // undefined to make SpindaHelper.getSpindaMask calculate the shinyness based on the shiny settings in Pokedex
            'size': 56,
            'className': 'smallImage',
        } 
    }">Spinda Spot</knockout>
-->