<script type="text/html" id="traderCostProfitItemTemplate">
    <!-- ko if: model.type === 'Gem' -->
    <div><img height="24px" data-bind="attr: {src: Gems.image(model.gemType) }"/></div>
    <div class="text-left" data-bind="text: `${(tradeAmount * model.amount).toLocaleString('en-US')} × ${PokemonType[model.gemType]}`, css: { 'not-enough': tradeAmount * model.amount > App.game.gems.gemWallet[model.gemType]() }"></div>
    <!-- /ko -->

    <!-- ko if: model.type === 'Shard' -->
    <div><img height="24px" data-bind="attr: {src: model.shardItem.image }"/></div>
    <div class="text-left" data-bind="text: `${(tradeAmount * model.amount).toLocaleString('en-US')} × ${model.shardItem.displayName}`, css: { 'not-enough': tradeAmount * model.amount > player.itemList[model.shardItem.name]() }"></div>
    <!-- /ko -->

    <!-- ko if: model.type === 'Berry' -->
    <div><img height="24px" data-bind="attr: {src: FarmController.getBerryImage(model.berryType) }, css: {'berryLocked': !App.game.farming.unlockedBerries[model.berryType]() }"/></div>
    <div class="text-left" data-bind="text: `${(tradeAmount * model.amount).toLocaleString('en-US')} × ${App.game.farming.unlockedBerries[model.berryType]() ? BerryType[model.berryType] : '???'}`, css: { 'not-enough': tradeAmount * model.amount > App.game.farming.berryInventory[model.berryType]() }"></div>
    <!-- /ko -->

    <!-- ko if: model.type === 'Item' -->
    <div class="d-flex w-100 align-items-center" style="gap: 8px;">
        <div><img height="24px" data-bind="attr: {src: model.item.image }"/></div>
        <div class="flex-grow-1 d-flex w-100 align-items-center" style="gap: 4px;" data-bind="
            css: { 'not-enough': tradeAmount * model.amount > player.itemList[model.item.name]() }">
            <div data-bind="text: (tradeAmount * model.amount).toLocaleString('en-US')"></div>
            <div>×</div>
            <div class="text-left" style="text-wrap: wrap; line-height: 1;" data-bind="text: model.item.displayName"></div>
        </div>
        <div class="d-flex flex-column" style="gap: 3px;">
            <div data-bind="if: model.item instanceof CaughtIndicatingItem" style="line-height: 0;">
                <div style="width: 32px;" data-bind="template: { name: 'caughtStatusTemplate', data: {'status': $parent.item.getCaughtStatus()}}"></div>
            </div>
            <div data-bind="if: model.item instanceof PokemonItem" style="line-height: 0;">
                <span data-bind="template: { name: 'pokerusStatusTemplate', data: {
                    'pokerus': model.item.getPokerusStatus(), 'width': '32px',
                    'evs': App.game.party.getPokemonByName(model.item.type)?.evs() }}">
                </span>
            </div>
        </div>
    </div>
    <!-- /ko -->

    <!-- ko if: model.type === 'Amount' -->
    <div><img height="24px" data-bind="attr: {src: `assets/images/currency/${GameConstants.Currency[model.currency.currency]}.svg` }"/></div>
    <div class="text-left" data-bind="text: `${(tradeAmount * model.currency.amount * model.amount).toLocaleString('en-US')} × ${GameConstants.camelCaseToString(GameConstants.Currency[model.currency.currency])}`, css: { 'not-enough': tradeAmount * model.currency.amount * model.amount > App.game.wallet.currencies[model.currency.currency]() }"></div>
    <!-- /ko -->
</script>
