<script type="text/html" id="wanderingPokémonDisplay">
    <!-- ko if: App.game.party.getPokemon(pokemonMap[$data.pokemon].id)?.pokerus -->
    <img class="dungeon-pokemon-pkrs" src="" data-bind="
    attr:{ src: `assets/images/breeding/pokerus/${GameConstants.Pokerus[App.game.party.getPokemonByName($data.pokemon)?.pokerus]}.png` },
    tooltip: {
        title: `EVs: ${App.game.party.getPokemonByName($data.pokemon).evs().toLocaleString('en-US')}`,
        placement: 'bottom',
        trigger: 'hover'
    }" />
    <!-- /ko -->
    <img class="dungeon-pokemon-preview" src="" data-bind="attr:{ src: PokemonHelper.getImage(pokemonMap[$data.pokemon].id, App.game.party.getPokemonByName($data.pokemon)?.shiny ?? false, undefined, GameConstants.ShadowStatus.None) },
    css: { 'dungeon-pokemon-locked': !App.game.party.alreadyCaughtPokemonByName($data.pokemon) }" onerror="this.src='assets/images/pokemon/0.png';"/>
    <sup class="shiny" data-bind="visible: App.game.party.alreadyCaughtPokemonByName($data.pokemon, true)">✨</sup>
    <img class="lock" src="assets/images/breeding/lock.svg" data-bind="hidden: FarmController.isWandererAvailable($data.pokemon, $data.berry),
    tooltip: {
      title: FarmController.getWandererHint($data.pokemon, $data.berry),
        placement: 'top',
        trigger: 'hover'
    }">
</script>

<!-- Example usage -->
<!-- <span data-bind="template: { name: 'wanderingPokémonDisplay', data: { pokemon: 'Pikachu', berry: BerryType.Cheri }}"></span> -->
