<div class="modal  fade" id="achievementsModal" tabindex="-1" role="dialog"
aria-labelledby="AchievementsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 data-bind="tooltip: { title: 'As you earn achievements, you gain up to: 150% (global), 100% (per region), and from 25% to 75% (per special subregion). Earning bonuses to Click Attack, Flute Effects, Pokédollar / Dungeon Token gains, and Experience earned from all sources.', trigger: 'hover', placement:'right' }">Achievements Bonus: <u class="text-primary" data-bind="text: AchievementHandler.achievementBonusPercent()"></u></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body table-responsive p-0">
                <div class="tab-content p-3">
                    <div class="tab-pane active">
                        <div class="text-left">
                            <div class="form-row">
                                <div class="form-group col-md-3 col-6">
                                    <label>Status</label>
                                    <select name="achievementsStatus" class="custom-select" onchange="AchievementHandler.filter.status(this.value), Settings.setSettingByName(this.name, this.value)">
                                        <!-- ko foreach: Settings.getSetting('achievementsStatus').options -->
                                        <option data-bind="attr: { value: $data.value, selected: Settings.getSetting('achievementsStatus').value === $data.value }, text: $data.text">Status</option>
                                        <!-- /ko -->
                                    </select>
                                </div>
                                <div class="form-group col-md-3 col-6">
                                    <label>Type</label>
                                    <select name="achievementsType" class="custom-select" onchange="AchievementHandler.filter.type(this.value), Settings.setSettingByName(this.name, this.value)">
                                        <!-- ko foreach: Settings.getSetting('achievementsType').options.filter(r => r.value !== -1) -->
                                        <option data-bind="attr: { value: $data.value, selected: Settings.getSetting('achievementsType').value === $data.value }, text: $data.text.replace(/Poke/g, 'Poké')">Type</option>
                                        <!-- /ko -->
                                    </select>
                                </div>
                                <div class="form-group col-md-3 col-6">
                                    <label>Category</label>
                                    <select name="achievementsCategory" class="custom-select" onchange="AchievementHandler.filter.category(this.value), Settings.setSettingByName(this.name, this.value)">
                                        <!-- ko foreach: Settings.getSetting('achievementsCategory').options.filter(r => r.value == 'all' || AchievementHandler.getAchievementCategories().find((c) => c.name == r.value).isUnlocked()) -->
                                        <option data-bind="attr: { value: $data.value, selected: Settings.getSetting('achievementsCategory').value === $data.value }, text: $data.text">Category</option>
                                        <!-- /ko -->
                                    </select>
                                </div>
                                <div class="form-group col-md-3 col-6">
                                    <label>Sort</label>
                                    <div class="input-group" data-bind="with: Settings.getSetting('achievementSort')">
                                        <select autocomplete="off" class="custom-select" onchange="Settings.setSettingByName(this.name, AchievementSortOptions[AchievementSortOptions[this.value]])"
                                                data-bind="foreach: $data.options, attr: {name}, selectedOptions: [$data.observableValue()]">
                                            <option data-bind="text: $data.text, value: $data.value"></option>
                                        </select>
                                        <div class="input-group-append bg-primary text-light">
                                            <label for="achievementSortDirection" class="clickable m-0 pl-2 pr-2" style="font-size: 22px;" data-bind="
                                            text: Settings.getSetting('achievementSortDirection').observableValue() ? '⥄' : '⥂',
                                            tooltip: { title: Settings.getSetting('achievementSortDirection').observableValue() ? 'Descending (highest value first)' : 'Ascending (lowest value first)', trigger: 'hover', placement:'top' }
                                            ">⥂</label>
                                            <input id="achievementSortDirection" style="vertical-align: middle" class="hidden" type='checkbox'
                                                   data-bind="checked: Settings.getSetting('achievementSortDirection').observableValue()"
                                                   onchange="Settings.setSettingByName('achievementSortDirection', this.checked)"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-hover table-striped table-sm m-0">
                    <tbody data-bind="template: { name: 'achievementListTemplate', foreach: AchievementHandler.getAchievementListWithIndex()}">
                    </tbody>
                </table>
            </div>

            <div class="modal-footer justify-content-center">
                <button
                  class="btn btn-secondary"
                  onclick="AchievementHandler.navigateIndex(0)"
                  data-bind="
                      disable: AchievementHandler.isNavigateDirectionDisabled(true),
                      css: { disabled: AchievementHandler.isNavigateDirectionDisabled(true) }
                  "
                >
                  <img src="assets/images/arrow-double.svg" style="transform: scaleX(-1);" height="20">
                </button>
                <button
                  class="btn btn-secondary"
                  onclick="AchievementHandler.navigateLeft()"
                  data-bind="
                      disable: AchievementHandler.isNavigateDirectionDisabled(true),
                      css: { disabled: AchievementHandler.isNavigateDirectionDisabled(true) }
                  "
                >
                  <img src="assets/images/arrow.svg" style="transform: scaleX(-1);" height="20">
                </button>
                <div data-bind="text: AchievementHandler.navigateIndex()+1 + '/' + AchievementHandler.numberOfTabs()"></div>
                <button
                  class="btn btn-secondary"
                  onclick="AchievementHandler.navigateRight()"
                  data-bind="
                      disable: AchievementHandler.isNavigateDirectionDisabled(false),
                      css: { disabled: AchievementHandler.isNavigateDirectionDisabled(false) }
                  "
                >
                  <img src="assets/images/arrow.svg" height="20">
                </button>
                <button
                  class="btn btn-secondary"
                  onclick="AchievementHandler.navigateIndex(AchievementHandler.numberOfTabs() - 1)"
                  data-bind="
                      disable: AchievementHandler.isNavigateDirectionDisabled(false),
                      css: { disabled: AchievementHandler.isNavigateDirectionDisabled(false) }
                  "
                >
                  <img src="assets/images/arrow-double.svg" height="20">
                </button>
            </div>
        </div>
    </div>

    <script type="text/html" id="achievementListTemplate">
        <tr
            class="achievement-row"
            data-bind="css: { 'table-success': isCompleted() , 'table-danger': !isCompleted() }, click: () => {App.game.achievementTracker.trackAchievement($data); $('#achievementsModal').modal('hide');}">
            <td style="text-align:left;vertical-align:middle;"><b><span data-bind="text: name">Name</span></b><br>
                <small><span data-bind="text: description">Description</span></small>
            </td>

            <td style="vertical-align:middle;"><span data-bind="text: getProgress().toLocaleString('en-US')">1</span>/<span
                    data-bind="text: property.requiredValue.toLocaleString('en-US')">2</span>
            </td>
            <td style="vertical-align:middle;"><span data-bind="text: getProgressPercentage()"></span>%</td>

            <td style="vertical-align:middle;">+<span data-bind="text: getBonus()"></span>%</td>
        </tr>
    </script>
</div>
