<div
  id="achivementTrackerContainer"
  class="card sortable border-secondary mb-3"
  data-bind="visible: App.game.achievementTracker.canAccess()"
>
  <div class="card-header p-0" data-toggle="collapse" href="#achievementTrackerBody">
    <span style="text-align: center">Achievement Tracker</span>
  </div>
  <button
    class="btn btn-sm btn-primary"
    style="position: absolute; right: 0px; top: 0px; width: auto; height: 41px;"
    data-toggle="modal"
    href="#achievementsModal"
    onclick="AchievementHandler.filterAchievementList(true);"
  >
    List
  </button>
  <div
    id="achievementTrackerBody"
    class="card-body show p-0"
  >
    <!-- ko if: !App.game.achievementTracker.hasTrackedAchievement() -->
    <div
      class="clickable table-warning text-light p-2"
      href="#achievementsModal"
      data-toggle="modal"
    >
      Select an achievement to track!
    </div>
    <!-- /ko -->

    <!-- ko if: App.game.achievementTracker.hasTrackedAchievement()-->
    <table class="table table-sm m-0">
      <tbody>
        <tr>
          <td colspan="2" data-bind="text: App.game.achievementTracker.trackedAchievement().description">
            Achievement Description
          </td>
        </tr>
        <tr>
          <td class="p-0">
            <div class="progress p-0">
              <div
                class="progress-bar bg-primary"
                role="progressbar"
                aria-valuemin="0"
                aria-valuemax="100"
                data-bind="attr:{ style: 'width:' + App.game.achievementTracker.trackedAchievement().getProgressPercentage() + '%'}, css: {
                           'bg-success': App.game.achievementTracker.trackedAchievement().isCompleted(),
                           'bg-primary': !App.game.achievementTracker.trackedAchievement().isCompleted()
                         }">
                <span data-bind="text: App.game.achievementTracker.trackedAchievement().getProgressText">0 / 1000</span>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- /ko -->
  </div>
 </div>
