<g data-bind='visible: player.region == GameConstants.Region.alola'>
    <image width="1600" height="960" xlink:href="assets/images/background.png" href="assets/images/background.png"></image>

    <!-- ------ -->
    <!-- ROUTES -->
    <!-- ------ -->

    <%- include('templates/mapRoute',
        { route: 1, region: 6
        , width: 12, height: 3
        , x: 0, y: 0
        })
    %>

    <%- include('templates/mapRoute',
        { route: 18, region: 6
        , width: 12, height: 3
        , x: 0, y: 3
        })
    %>

    <%- include('templates/mapRoute',
        { route: 2, region: 6
        , width: 12, height: 3
        , x: 0, y: 6
        })
    %>

    <%- include('templates/mapRoute',
        { route: 3, region: 6
        , width: 12, height: 3
        , x: 0, y: 9
        })
    %>

    <%- include('templates/mapRoute',
        { route: 4, region: 6
        , width: 12, height: 3
        , x: 0, y: 12
        })
    %>

    <%- include('templates/mapRoute',
        { route: 5, region: 6
        , width: 12, height: 3
        , x: 0, y: 15
        })
    %>

    <%- include('templates/mapRoute',
        { route: 19, region: 6
        , width: 12, height: 3
        , x: 0, y: 18
        })
    %>

    <%- include('templates/mapRoute',
        { route: 20, region: 6
        , width: 12, height: 3
        , x: 0, y: 21
        })
    %>

    <%- include('templates/mapRoute',
        { route: 6, region: 6
        , width: 12, height: 3
        , x: 0, y: 24
        })
    %>

    <%- include('templates/mapRoute',
        { route: 7, region: 6
        , width: 12, height: 3
        , x: 0, y: 27
        })
    %>

    <%- include('templates/mapRoute',
        { route: 8, region: 6
        , width: 12, height: 3
        , x: 0, y: 30
        })
    %>

    <%- include('templates/mapRoute',
        { route: 9, region: 6
        , width: 12, height: 3
        , x: 0, y: 33
        })
    %>

    <%- include('templates/mapRoute',
        { route: 21, region: 6
        , width: 12, height: 3
        , x: 0, y: 36
        })
    %>

    <%- include('templates/mapRoute',
        { route: 10, region: 6
        , width: 12, height: 3
        , x: 0, y: 39
        })
    %>

    <%- include('templates/mapRoute',
        { route: 22, region: 6
        , width: 12, height: 3
        , x: 0, y: 42
        })
    %>

    <%- include('templates/mapRoute',
        { route: 11, region: 6
        , width: 12, height: 3
        , x: 0, y: 45
        })
    %>

    <%- include('templates/mapRoute',
        { route: 12, region: 6
        , width: 12, height: 3
        , x: 0, y: 48
        })
    %>

    <%- include('templates/mapRoute',
        { route: 13, region: 6
        , width: 12, height: 3
        , x: 12, y: 1
        })
    %>

    <%- include('templates/mapRoute',
        { route: 14, region: 6
        , width: 12, height: 3
        , x: 12, y: 4
        })
    %>

    <%- include('templates/mapRoute',
        { route: 15, region: 6
        , width: 12, height: 3
        , x: 12, y: 7
        })
    %>

    <%- include('templates/mapRoute',
        { route: 16, region: 6
        , width: 12, height: 3
        , x: 12, y: 10
        })
    %>

    <%- include('templates/mapRoute',
        { route: 17, region: 6
        , width: 12, height: 3
        , x: 12, y: 13
        })
    %>

    <%- include('templates/mapRoute',
        { route: 23, region: 6
        , width: 12, height: 3
        , x: 12, y: 16
        })
    %>

    <%- include('templates/mapRoute',
        { route: 24, region: 6
        , width: 12, height: 3
        , x: 12, y: 19
        })
    %>

    <%- include('templates/mapRoute',
        { route: 25, region: 6
        , width: 12, height: 3
        , x: 12, y: 22
        })
    %>

    <%- include('templates/mapRoute',
        { route: 26, region: 6
        , width: 12, height: 3
        , x: 12, y: 25
        })
    %>

    <%- include('templates/mapRoute',
        { route: 27, region: 6
        , width: 12, height: 3
        , x: 12, y: 28
        })
    %>

    <%- include('templates/mapRoute',
        { route: 28, region: 6
        , width: 12, height: 3
        , x: 12, y: 31
        })
    %>

    <%- include('templates/mapRoute',
        { route: 29, region: 6
        , width: 12, height: 3
        , x: 12, y: 34
        })
    %>

    <%- include('templates/mapRoute',
        { route: 30, region: 6
        , width: 12, height: 3
        , x: 12, y: 37
        })
    %>

    <!-- ----- -->
    <!-- TOWNS -->
    <!-- ----- -->

    <%- include('templates/mapTown',
        { name: "Iki Town"
        , x: 36, y: 0
        , width: 4, height: 4
        , home: true
        })
    %>

    <%- include('templates/mapTown',
        { name: "Hau'oli City"
        , x: 36, y: 4
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapTown',
        { name: "Heahea City"
        , x: 36, y: 8
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapTown',
        { name: "Paniola Town"
        , x: 36, y: 12
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapTown',
        { name: "Royal Avenue"
        , x: 36, y: 16
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapTown',
        { name: "Konikoni City"
        , x: 36, y: 20
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapTown',
        { name: "Malie City"
        , x: 36, y: 24
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapTown',
        { name: "Aether Paradise"
        , x: 36, y: 28
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapTown',
        { name: "Tapu Village"
        , x: 36, y: 32
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapTown',
        { name: "Seafolk Village"
        , x: 36, y: 36
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapDungeon',
        { name: "Exeggutor Island"
        , x: 36, y: 40
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapTown',
        { name: "Altar of the Sunne and Moone"
        , x: 36, y: 44
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapDungeon',
        { name: "Trainers' School"
        , x: 36, y: 48
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapDungeon',
        { name: "Hau'oli Cemetery"
        , x: 40, y: 2
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapDungeon',
        { name: "Verdant Cavern"
        , x: 40, y: 6
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapDungeon',
        { name: "Melemele Meadow"
        , x: 40, y: 10
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapDungeon',
        { name: "Seaward Cave"
        , x: 40, y: 14
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapDungeon',
        { name: "Ten Carat Hill"
        , x: 40, y: 18
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapDungeon',
        { name: "Ruins of Conflict"
        , x: 40, y: 22
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapDungeon',
        { name: "Pikachu Valley"
        , x: 40, y: 26
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapDungeon',
        { name: "Paniola Ranch"
        , x: 40, y: 30
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapDungeon',
        { name: "Brooklet Hill"
        , x: 40, y: 34
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapDungeon',
        { name: "Wela Volcano Park"
        , x: 40, y: 38
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapDungeon',
        { name: "Lush Jungle"
        , x: 40, y: 42
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapDungeon',
        { name: "Diglett's Tunnel"
        , x: 40, y: 46
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapDungeon',
        { name: "Memorial Hill"
        , x: 44, y: 0
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapDungeon',
        { name: "Ruins of Life"
        , x: 44, y: 4
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapDungeon',
        { name: "Malie Garden"
        , x: 44, y: 8
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapDungeon',
        { name: "Hokulani Observatory"
        , x: 44, y: 12
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapDungeon',
        { name: "Thrifty Megamart"
        , x: 44, y: 16
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapDungeon',
        { name: "Ula'ula Meadow"
        , x: 44, y: 20
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapDungeon',
        { name: "Po Town"
        , x: 44, y: 24
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapDungeon',
        { name: "Mount Lanikala"
        , x: 44, y: 28
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapDungeon',
        { name: "Ruins of Abundance"
        , x: 44, y: 32
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapDungeon',
        { name: "Vast Poni Canyon"
        , x: 44, y: 36
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapDungeon',
        { name: "Nebby"
        , x: 44, y: 40
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapDungeon',
        { name: "Ruins of Hope"
        , x: 44, y: 44
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapDungeon',
        { name: "Poni Meadow"
        , x: 44, y: 48
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapDungeon',
        { name: "Resolution Cave"
        , x: 48, y: 2
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapTown',
        { name: "Pokémon League Alola"
        , x: 48, y: 6
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapTown',
        { name: "Pokémon League Alola"
        , x: 48, y: 10
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapTown',
        { name: "Pokémon League Alola"
        , x: 48, y: 14
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapTown',
        { name: "Pokémon League Alola"
        , x: 48, y: 18
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapTown',
        { name: "Pokémon League Alola"
        , x: 48, y: 22
        , width: 4, height: 4
        })
    %>

    <%- include('templates/mapTown',
        { name: "Pokémon League Alola"
        , x: 48, y: 26
        , width: 4, height: 4
        })
    %>

    <!-- ------------------ -->
    <!-- PLACES OF INTEREST -->
    <!-- ------------------ -->

    <%- include('templates/mapPOI',
        { name: "Dock"
        , x: 96, y: 0
        , width: 4, height: 4
        , databind: "click:function(){MapHelper.openShipModal()}"
        })
    %>

</g>
