<div class="modal fade noselect" id="badgeCaseModal" tabindex="-1" role="dialog"
aria-labelledby="badgeCaseModalLabel">
<div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
   <div class="modal-content">
       <div class="modal-header">
           <h5 class="modal-title">Badge Case</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
           </button>
       </div>
       <div class="modal-body">
           <div class="row no-gutters justify-content-center"
                data-bind="foreach: BadgeCaseController.getDisplayableBadges()">
               <div class="col-3 badgeEntry">
                   <img src="" width="60px"
                        data-bind="attr:{ src: 'assets/images/badges/'+ $data +'.png'},
                        css: { 'badge-not-acquired': !App.game.badgeCase.hasBadge(BadgeCase.Badge[$data])}">

                   <p style="bottom: 0;"
                      data-bind="text: $data">name</p>

               </div>
           </div>
       </div>

       <div class="modal-footer">
           <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
       </div>
   </div>
</div>
</div>
