
<div class="row justify-content-center no-gutters" data-bind="if: App.game.gameState == GameConstants.GameState.battleFrontier">
    <div class="col no-gutters" data-bind="if: BattleFrontierBattle.enemyPokemon" style="height: 280px; display: block;">
        <h2 class="pageItemTitle mobileBattleTitle" style="display: block;">

            <knockout class="left">
                Stage <knockout data-bind="text: BattleFrontierRunner.stage">0</knockout> / <knockout data-bind="text: BattleFrontierRunner.highest">0</knockout>
            </knockout>

            <knockout>
                <knockout data-bind="template: { name: 'pokemonNameTemplate', data: { 'pokemon': BattleFrontierBattle.enemyPokemon() } }">Pokémon name</knockout>
            </knockout>

            <knockout class="right" data-bind="html: BattleFrontierRunner.pokemonLeftImages">
            </knockout>

            <div class="progress timer">
                <div class="progress-bar bg-danger" role="progressbar"
                        data-bind="attr:{ style: 'width:' + BattleFrontierRunner.timeLeftPercentage() + '%' },
                        css: { 'bg-danger': BattleFrontierRunner.timeLeftSeconds() < 10, 'bg-primary': BattleFrontierRunner.timeLeftSeconds() >= 10 }"
                        aria-valuemin="0" aria-valuemax="100">
                        <span data-bind="text: BattleFrontierRunner.timeLeftSeconds() + 's'" style="font-size: 12px;"></span>
                </div>
            </div>

        </h2>

        <div class="trainer-enemy">
            <knockout data-bind="template: { name: 'pokemonSpriteTemplate', data: { 'pokemon': BattleFrontierBattle.enemyPokemon() } }">Pokémon sprite</knockout>
        </div>
        <div class="progress hitpoints trainerhitpoints">
            <div class="progress-bar bg-danger" role="progressbar"
                    data-bind="attr:{ style: 'width:' + BattleFrontierBattle.enemyPokemon().healthPercentage() + '%' }"
                    aria-valuemin="0" aria-valuemax="100">
                    <span data-bind="text: BattleFrontierBattle.enemyPokemon().health().toLocaleString('en-US') + ' / ' + BattleFrontierBattle.enemyPokemon().maxHealth().toLocaleString('en-US')" style="font-size: 12px;"></span>
            </div>
        </div>
        <h2 class="pageItemFooter" style="display: block; font-size: 1rem;">
          <table width="100%">
              <tr>
                <td>
                    <span style="display: inline;">
                        Pokémon Attack:
                        <span data-bind="
                            text: App.game.party.calculatePokemonAttack(
                                PokemonType.None,
                                PokemonType.None,
                                true,
                            ).toLocaleString('en-US'),
                            tooltip: {
                                title: Battle.enemyPokemon()
                                    ? `${App.game.party.calculatePokemonAttack(
                                        Battle.enemyPokemon().type1,
                                        Battle.enemyPokemon().type2,
                                        true,
                                    ).toLocaleString('en-US')} against ${Battle.enemyPokemon().name}`
                                    : '',
                                trigger: 'hover',
                            }
                        "></span>
                    </span>
                  </td>
              </tr>
          </table>
        </h2>
    </div>
</div>
