<div id="battlePartyDisplay" class="card sortable border-secondary mb-3" data-bind="visible: App.game.battleParty.canAccess()">
    <div class="card-header p-0" data-toggle="collapse" href="#battlePartyPokemonList">
        <span>Battle Party</span>
    </div>
    <button class='btn btn-sm btn-primary' style="position: absolute; right: 0px; top: 0px; width: auto; height: 41px;" data-bind='click: function(){ BattlePartyController.openBattlePartyModal(); }'>
        List
    </button>
    <div id='battlePartyPokemonList' class="card-body p-0 show">
        <div class="row m-0" data-bind="foreach: App.game.battleParty.partyPokemon">
            <div class="col-3 col-md-6 p-0slot battlePartyPokemonSlot">
                <div class="content">
                    <div class="clickable" data-bind="click: function(){BattlePartyController.onBattlePartySlotClick($index())}">

                        
                        <div data-bind="template: { name: 'battlePartyPokemonTemplate', data: $data}, class: 'partyslot'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>