<div class="page-item" id="battleItemContainer">
    <div class="card">
        <div class="row justify-content-sm-center">
            <div class="battle-item-small">
                <img src="assets/images/items/xAttack.png">
            </div>
            <div class="battle-item-small">
                <img src="assets/images/items/xClick.png">
            </div>
            <div class="battle-item-small">
                <img src="assets/images/items/xExp.png">
            </div>
            <div class="battle-item-small">
                <img src="assets/images/items/Lucky_incense.png">
            </div>
            <div class="battle-item-small">
                <img src="assets/images/items/Token_collector.png">
            </div>
            <div class="battle-item-small">
                <img src="assets/images/items/Item_magnet.png">
            </div>
        </div>

    </div>
</div>