<div class="modal noselect fade" id="berryDexModal" tabindex="-1" role="dialog" aria-labelledby="berryDexModal">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content" data-bind="with: App.game.statistics.selectedBerryID()+''">
            <div class="modal-header bg-dark text-light" style='justify-content: space-around;'>
                <h5 class="modal-title text-muted" data-bind="text: `#${(Number($data) + 1).toString().padStart(2,0)}&nbsp;&nbsp;`"></h5>
                <h5 class="modal-title text-light" data-bind="text: BerryType[$data]">Berry Statistics</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <img data-bind="attr:{ src: FarmController.getBerryImage($data) }" src=""/>
                <table class="table table-striped table-hover table-bordered table-sm m-0">
                  <thead>
                    <tr class="text-light">
                      <th class="bg-dark" colspan="2">Description</th>
                    </tr>
                  </thead>
                  <tbody>
                      <td colspan="2"><span data-bind="html: App.game.farming.berryData[$data].descriptionHTML"></span></td>
                  </tbody>
                  <thead>
                    <tr class="text-light">
                      <th class="text-left bg-dark">Type</th>
                      <th class="text-left bg-dark">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-left">Total Life Span</td>
                      <td class="text-left tight"><code data-bind="html: GameConstants.formatSecondsToTime(App.game.farming.berryData[$data].growthTime[4])">-</code></td>
                    </tr>
					<tr>
                      <td class="text-left">Growth Time</td>
                      <td class="text-left tight"><code data-bind="html: GameConstants.formatSecondsToTime(App.game.farming.berryData[$data].growthTime[3])">-</code></td>
                    </tr>
                    <tr>
                      <td class="text-left">Harvest Amount</td>
                      <td class="text-left tight"><code data-bind="text: App.game.farming.berryData[$data].harvestAmount.toLocaleString('en-US')">-</code></td>
                    </tr>
                    <tr>
                      <td class="text-left">Replant Rate</td>
                      <td class="text-left tight"><code data-bind="text: App.game.farming.berryData[$data].replantRate.toLocaleString('en-US', { style: 'percent' })">-</code></td>
                    </tr>
                    <tr>
                      <td class="text-left">Farm Points per Harvest</td>
                      <td class="text-left tight"><code data-bind="text: App.game.farming.berryData[$data].farmValue.toLocaleString('en-US')">-</code></td>
                    </tr>
                    <tr>
                      <td class="p-0" colspan="2">
                        <table class="table table-striped table-hover table-bordered table-sm m-0">
                          <tr class="text-light">
                            <th class="bg-dark" colspan="4">Growth Stages</th>
                          </tr>
                          <tr>
                            <td>Sprout</td>
                            <td>Taller</td>
                            <td>Bloom</td>
                            <td>Berry</td>
                          </tr>
                          <tr>
                            <td><img src="assets/images/farm/AllTreeSprout.png"/></td>
                            <td><img src="" data-bind="attr: { src: `assets/images/farm/${BerryType[$data]}Tree${PlotStage[PlotStage.Taller]}.png` }"/></td>
                            <td><img src="" data-bind="attr: { src: `assets/images/farm/${BerryType[$data]}Tree${PlotStage[PlotStage.Bloom]}.png` }"/></td>
                            <td><img src="" data-bind="attr: { src: `assets/images/farm/${BerryType[$data]}Tree${PlotStage[PlotStage.Berry]}.png` }"/></td>
                          </tr>
                          <tr>
                            <td><code data-bind="html: GameConstants.formatSecondsToTime(App.game.farming.berryData[$data].growthTime[0])">-</code></td>
                            <td><code data-bind="html: GameConstants.formatSecondsToTime(App.game.farming.berryData[$data].growthTime[1])">-</code></td>
                            <td><code data-bind="html: GameConstants.formatSecondsToTime(App.game.farming.berryData[$data].growthTime[2])">-</code></td>
                            <td><code data-bind="html: GameConstants.formatSecondsToTime(App.game.farming.berryData[$data].growthTime[3])">-</code></td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                    <tr>
                      <td class="p-0" colspan="2">
                          <table style="width: 100%;">
                              <tr class="text-light">
                                <th class="bg-dark" colspan="5">Flavor</th>
                              </tr>
                              <tr>
                                  <td>Spicy</td>
                                  <td>Dry</td>
                                  <td>Sweet</td>
                                  <td>Bitter</td>
                                  <td>Sour</td>
                              </tr>
                              <tr>
                                <td data-bind="text: App.game.farming.berryData[$data].flavors[0].value">Spicy</td>
                                <td data-bind="text: App.game.farming.berryData[$data].flavors[1].value">Dry</td>
                                <td data-bind="text: App.game.farming.berryData[$data].flavors[2].value">Sweet</td>
                                <td data-bind="text: App.game.farming.berryData[$data].flavors[3].value">Bitter</td>
                                <td data-bind="text: App.game.farming.berryData[$data].flavors[4].value">Sour</td>
                            </tr>
                          </table>
                      </td>
                      </tr>
                  </tbody>
                  <!-- ko if: FarmController.getHint(+$data) !== ""-->
                  <thead>
                    <tr class="text-light">
                      <th class="bg-dark" colspan="2">Hint</th>
                    </tr>
                  </thead>
                  <tbody>
                    <td colspan="2"><span data-bind="text: FarmController.getHint(+$data)"></span></td>
                  </tbody>
                  <!-- /ko -->
                  <thead>
                    <tr class="text-light">
                      <th class="text-left bg-dark">Statistic</th>
                      <th class="text-left bg-dark">Amount</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-left">Harvested</td>
                      <td class="text-left tight"><code data-bind="text: App.game.statistics.berriesHarvested[$data]().toLocaleString('en-US')">-</code></td>
                    </tr><tr>
                      <td class="text-left">Obtained</td>
                      <td class="text-left tight"><code data-bind="text: App.game.statistics.berriesObtained[$data]().toLocaleString('en-US')">-</code></td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
