<div class="modal fade noselect" id="berryBlenderModal" tabindex="-1" role="dialog"
     aria-labelledby="berryBlenderModal"
     style="cursor:default">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div>
                <ul class="nav nav-tabs nav-fill">
                    <li class="nav-item" onclick="BlendingController.blendingModalTabSelected('blendingView')"><a data-toggle='tab' class='nav-link active' href="#blendingView">Blender</a></li>
                    <li class='nav-item' onclick="BlendingController.blendingModalTabSelected('blendingRecipeView')"><a data-toggle='tab' class='nav-link' href="#blendingRecipeView">Recipes</a></li>
                    <li class='nav-item' onclick="BlendingController.blendingModalTabSelected('blendingBuddiesView')"><a data-toggle='tab' class='nav-link' href="#blendingBuddiesView">Blending Buddies (TBD)</a></li>
                    <li class='nav-item' onclick="BlendingController.blendingModalTabSelected('blendHelpView')"><a data-toggle='tab' class='nav-link' href="#blendHelpView">Help</a></li>
                </ul>
            </div>

            <div class="modal-body tab-content p-0" style="overflow-x: hidden;">

                <div id="blendingView" class="tab-pane fade in active show">
                    <div class="justify-content-center no-select my-2 d-flex flex-wrap">
                        
                        <div class="justify-content-center no-select col-12 col-lg-7">
                            <div class="berryBlendingColumn" style="overflow-y: auto;">
                                <table id="berryBlendingListTable" class="table table-hover table-sm mb-0">
                                    <thead class="thead-dark sticky-top">
                                        <tr>
                                            <th class="align-middle clickable" onclick="BlendingListController.updateBlendingSorting('Berry')" rowspan="2" style="border:none;" data-bind="text: 'Berry' + (BlendingListController.sortOption() === 'Berry' ? (BlendingListController.sortFactor() > 0 ? ' ▴' : ' ▾') : ' ▸')"></th>
                                            <th class="align-middle clickable" onclick="BlendingListController.updateBlendingSorting('Flavor')" colspan="5" style="border:none;" data-bind="text: 'Flavor' + (BlendingListController.sortOption() === 'Flavor' ? (BlendingListController.sortFactor() > 0 ? ' ▴' : ' ▾') : ' ▸')"></th>
                                            <th class="align-middle clickable" onclick="BlendingListController.updateBlendingSorting('Smooth')" rowspan="2" style="border:none;" data-bind="text: 'Smooth' + (BlendingListController.sortOption() === 'Smooth' ? (BlendingListController.sortFactor() > 0 ? ' ▴' : ' ▾') : ' ▸')"></th>
                                            <th class="align-middle clickable" onclick="BlendingListController.updateBlendingSorting('Amount')" rowspan="2" style="border:none;" data-bind="text: 'Amount' + (BlendingListController.sortOption() === 'Amount' ? (BlendingListController.sortFactor() > 0 ? ' ▴' : ' ▾') : ' ▸')"></th>
                                        </tr>
                                        <tr style="font-weight: bold;" data-bind="foreach: GameHelper.enumNumbers(FlavorType)">
                                            <td class="tight" style="border: none; padding: 0 !important;">
                                                <btn class="text-small btn btn-sm btn-block m-0" style="font-size: inherit; font-weight: inherit;"
                                                    data-bind="
                                                        attr: { for: 'btncheckBlend' + FlavorType[$data] },
                                                        css: {
                                                            'btn-dark': !BlendingController.flavorKeys[FlavorType[$data]]() || BlendingListController.sortOption() != 'Flavor',
                                                            'btn-info': BlendingController.flavorKeys[FlavorType[$data]]() && BlendingListController.sortOption() === 'Flavor',
                                                            active: BlendingController.flavorKeys[FlavorType[$data]](),
                                                         },
                                                        click: () => {BlendingController.toggleFlavor($data), BlendingListController.updateBlendingSorting('Flavor'), BlendingListController.sortFactor(-1) },
                                                        text: FlavorType[$data]">
                                                </btn>
                                            </td>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: BlendingListController.sortedBlendingList()">
                                        <tr class="clickable"
                                            data-bind="
                                            click: function() { BlendingController.selectedBerry($data); },
                                            attr: { style: BlendingController.calculateTableRowCss($data) },
                                        ">
                                            <td style="justify-content: left;" data-bind="attr: {class: BlendingController.calculateTableBerryCss($data)}">
                                                <img height="30px" data-bind="attr: {src: FarmController.getBerryImage(App.game.farming.berryData[$data].type)}, css: { 'pokemon-not-seen': !App.game.farming.unlockedBerries[$data]() }"/>
                                                <span data-bind="text: App.game.farming.unlockedBerries[$data]() ? BerryType[$data] : ''"></span>
                                            </td>
                                            <!-- ko if: App.game.farming.unlockedBerries[$data]() -->
                                                <td class="align-middle" data-bind="text: App.game.farming.berryData[$data].flavors[0].value,
                                                style:{background: `rgb(238, 129, 48, ${App.game.farming.berryData[$data].flavors[0].value/100})`}">Spicy</td>
                                                <td class="align-middle" data-bind="text: App.game.farming.berryData[$data].flavors[1].value,
                                                style:{background: `rgb(99, 144, 240, ${App.game.farming.berryData[$data].flavors[1].value/100})`}">Dry</td>
                                                <td class="align-middle" data-bind="text: App.game.farming.berryData[$data].flavors[2].value,
                                                style:{background: `rgb(214, 133, 173, ${App.game.farming.berryData[$data].flavors[2].value/100})`}">Sweet</td>
                                                <td class="align-middle" data-bind="text: App.game.farming.berryData[$data].flavors[3].value,
                                                style:{background: `rgb(122, 199, 76, ${App.game.farming.berryData[$data].flavors[3].value/100})`}">Bitter</td>
                                                <td class="align-middle" data-bind="text: App.game.farming.berryData[$data].flavors[4].value,
                                                style:{background: `rgb(247, 208, 44, ${App.game.farming.berryData[$data].flavors[4].value/100})`}">Sour</td>
                                                <td class="align-middle" data-bind="text: App.game.farming.berryData[$data].smoothness"></td>
                                                <td class="align-middle" data-bind="text: App.game.farming.berryList[$data]().toLocaleString('en-US')"></td>
                                            <!-- /ko -->
                                            <!-- ko if: !App.game.farming.unlockedBerries[$data]() -->
                                                <td colspan="6">???</td>
                                                <td></td>
                                            <!-- /ko -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="berryBlendingColumn col-12 col-lg-5" style="overflow-y: auto;">
                            <div class="modal-content p-0 sticky-top" style="border: none;">
                                <table style="width: 100%; table-layout:fixed;">
                                    <tr class="text-light">
                                    <th class="bg-dark" colspan="5">Flavor Bank</th>
                                    </tr>
                                    <tr>
                                        <td>Spicy</td>
                                        <td>Dry</td>
                                        <td>Sweet</td>
                                        <td>Bitter</td>
                                        <td>Sour</td>
                                    </tr>
                                    <tr data-bind="foreach: App.game.blending.flavorBank">
                                        <td data-bind="text: GameHelper.formatAmount($data),
                                        tooltip: {
                                            title: $data.toLocaleString('en-US'),
                                            trigger: 'hover',
                                            placement:'bottom',
                                          }">
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div data-bind="foreach: App.game.blending.machines">
                                <!-- ko if: $data.blendSlots.some(s => s.isUnlocked) -->
                                    <div class="mt-2 card-header p-0">
                                        <span data-bind="text: `Blender ${$index() + 1}`"></span>
                                    </div>
                                    <div>
                                        <div style="display: flex; flex-direction: row; justify-content: space-evenly;">
                                            <div>
                                                <div style="display: flex; flex-direction: row; justify-content: space-evenly;" data-bind="foreach: $data.blendSlots">
                                                    <!-- ko if: $data.isUnlocked -->
                                                    <div style="position: relative;">
                                                        <div id="blendSlots" class="blendSlotsAnimated" data-bind="visible: !$data.isEmpty()"></div>
                                                        <div id="blendSlots" class="bg-secondary"
                                                            data-bind="ifnot: $data.isEmpty(),
                                                                click: function(data, event){App.game.blending.insertBerry($index(), BlendingController.selectedBerry(), $parentContext.$index())},
                                                                event: { contextmenu: function(data, event){App.game.blending.insertBerry($index(), BerryType.None, $parentContext.$index())} },">
                                                            <img width="100%" height="100%" style="padding:0.1cap;" src=""
                                                                data-bind="attr:{ src: FarmController.getBerryImage($parent.blendSlots[$index()].berry)}">
                                                        </div>
                                                    </div>
                                                    <!-- /ko -->
                                                </div>
                                                <table style="width: 100%;">
                                                    <tr>
                                                        <td colspan="5">Incoming Flavors:</td>
                                                    </tr>
                                                    <tr data-bind="foreach: App.game.blending.incomingFlavors($index())">
                                                        <td data-bind="text: FlavorType[$data.type]"></td>
                                                    </tr>
                                                    <tr data-bind="foreach: App.game.blending.incomingFlavors($index())">
                                                        <td data-bind="text: $data.value"></td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div style="display: flex; flex-direction:column; align-items: center; justify-content: center;">
                                                <div style="position: relative;">
                                                    <img class="blenderTop" src="assets/images/blending/blenderTop.svg"
                                                        data-bind="attr: { style: 'rotate: ' + App.game.blending.machines[$index()].degreesRotated +'deg' }"
                                                    >
                                                    <img class="blenderBody" src="assets/images/blending/blenderBody.svg">
                                                </div>
                                                <div>
                                                    <div data-bind="text: `RPM: ${App.game.blending.getRPMDisplay($index())}`"></div>
                                                    <div class="progress">
                                                        <div class="progress-bar bg-success" role="progressbar"
                                                            data-bind="attr:{ style: 'width:' + App.game.blending.getTimer($index()) + '%' }"
                                                            aria-valuemin="0" aria-valuemax="100">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <!-- /ko -->
                            </div>
                            <!-- ko if: App.game.blending.machines.some(m => m.blendSlots.some(s => !s.isUnlocked)) -->
                                <button class="clickable btn btn-block btn-success" onclick="App.game.blending.buyBlendingSlot()" data-bind="
                                    css: {disabled: App.game.wallet.currencies[GameConstants.Currency.contestToken]() < App.game.blending.nextBlendingSlotCost().amount},
                                    ">
                                    <span data-bind="html: App.game.blending.getBlendingSlotCostDisplay()"</span>
                                </button>
                            <!-- /ko -->
                        </div>

                    </div>
                </div>

                <div id="blendingRecipeView" class="tab-pane fade">
                    <div class="modal-body row">
                        <div class="col-12 col-md-3 berryBlendingColumn" style="overflow-y: auto;">
                            <div class="modal-content p-0 sticky-top" style="border: none;">
                                <h4 class="modal-header">
                                    <button class="btn btn-block btn-outline-primary" style="font-size: large;"
                                    data-bind="
                                    click: () => BlendingController.selectedRecipeList(BlendingRecipes.getFullBlendingRecipeList()),
                                    css: { active: BlendingController.inSelectedList() },
                                    ">All Recipes</button>
                                </h4>
                            </div>
                            <div>
                                <!-- ko foreach: GameHelper.enumNumbers(BlendingRecipeType) -->
                                    <!-- ko if: BlendingRecipes.isUnlocked($data) -->
                                        <div class="btn-block btn-group my-1">
                                            <btn class="btn btn-outline-primary"
                                            data-bind="
                                                text: GameConstants.camelCaseToString(BlendingRecipeType[$data]),
                                                click: () => BlendingController.selectedRecipeList(BlendingRecipes.getBlendingRecipeSet($data)),
                                                css: { active: BlendingController.inSelectedList(BlendingRecipeType[$data]) },">Recipe Type</btn>
                                            <div class="btn-group">
                                            <btn class="btn btn-outline-primary dropdown-toggle" data-toggle="collapse" aria-expanded="false"
                                            data-target="#"
                                            data-bind="attr: { 'data-target': '#recipeList-' + BlendingRecipeType[$data], id: 'dropdown-' + BlendingRecipeType[$data] },
                                            click: () => BlendingController.activeCss(BlendingRecipeType[$data])"></btn>
                                            </div>
                                        </div>
                                        <div class="collapse" data-bind="attr: { id: 'recipeList-' + BlendingRecipeType[$data] }">
                                            <ul class="pl-0 list-group-flush" data-bind="foreach: BlendingRecipes.getBlendingRecipeSet($data)">
                                                <li class="d-flex list-group-item py-1 align-items-center">
                                                    <img src="" max-height="24px" data-bind="attr:{ src: BlendingController.spriteMini($data) }">
                                                    <a class="text-info" href="#" data-bind="text: ItemList[$data.item].displayName, click: () => BlendingController.scrollIntoView($data)"></a>
                                                </li>
                                            </ul>
                                        </div>
                                    <!-- /ko -->
                                <!-- /ko -->
                            </div>
                        </div>
                        <div class="col-12 col-md-9 berryBlendingColumn" style="overflow-y: auto;">
                            <div style="overflow: auto;" data-bind="foreach: BlendingController.selectedRecipeList()">
                                <div class="pt-2 p-1" data-bind="attr: { id: 'recipecard-' + $data.item }">
                                    <div class="card">
                                        <div id="recipeCardContent" class="row no-gutters">
                                            <button class="col-md-4 btn btn-secondary d-none d-md-block">
                                                <img src="" height="48px" style="" data-bind="attr:{ src: ItemList[$data.item].image }, style:{ 'image-rendering': ItemList[$data.item].pixelated ? 'pixelated' : '' }">
                                                <div class="p-2">
                                                    <p data-bind="text: ItemList[$data.item].description"></p>
                                                    <p data-bind="text: `In Bag: ${player.itemList[$data.item]().toLocaleString('en-US')}`"></p>
                                                </div>
                                            </button>
                                            <div class="col-md-8">
                                                <div>
                                                    <h4 class="card-header" style="text-align: left;">
                                                        <img class="d-md-none" src="" height="48px" style="" data-bind="attr:{ src: ItemList[$data.item].image }, style:{ 'image-rendering': ItemList[$data.item].pixelated ? 'pixelated' : '' }">
                                                        <span data-bind="text: ItemList[$data.item].displayName"></span>
                                                        <span class="d-md-none text-muted float-right" data-bind="
                                                            tooltip: {
                                                                title: ItemList[$data.item].description,
                                                                trigger: 'hover',
                                                            }"
                                                        >ⓘ</span>
                                                    </h4>
                                                    <ul class="m-0 px-5 py-2 list-group-flush">
                                                        <h5 class="list-group-item p-1 m-0">Ingredient: Cost / Have</h5>
                                                        <!-- ko foreach: $data.flavorPrice.filter(f => f.value > 0) -->
                                                            <li class="list-group-item p-1" data-bind="
                                                                css: { 'text-danger': ($data.value * BlendingController.amounts[BlendingController.recipeIndex($parent)]()) > App.game.blending.flavorBank[$data.type]() },
                                                                text: `${FlavorType[$data.type]}: ${($data.value * BlendingController.amounts[BlendingController.recipeIndex($parent)]()).toLocaleString('en-US')} / ${App.game.blending.flavorBank[$data.type]().toLocaleString('en-US')}`
                                                                ">Flavor: Value</li>
                                                        <!-- /ko -->
                                                    </ul>
                                                    <p class="m-0 d-md-none text-muted" data-bind="text: `In Bag: ${player.itemList[$data.item]().toLocaleString('en-US')}`"></p>
                                                    <button class="mb-2 d-md-none btn btn-primary">Open Bag</button>
                                                    <div class="modal-footer">
                                                        <div class="row justify-content-center">
                                                            <div class="input-group m-0">
                                                                <div class="input-group-prepend">
                                                                    <button class="btn btn-warning btn-outline-dark smallButton smallFont"
                                                                    data-bind="click: () => BlendingController.resetAmount($data)">
                                                                        Reset
                                                                    </button>
                                                                </div>
                                                                <input type="number" class="outline-dark form-control form-control-number"
                                                                        value="1" min="1" required
                                                                        data-bind="attr: { id: 'recipeAmount-' + $data.item, name: 'recipeAmount-' + $data.item }, textInput: BlendingController.amounts[BlendingController.recipeIndex($data)]"
                                                                        title=""/>
                                                                <div class="input-group-append">
                                                                    <!-- ko if: Settings.getSetting('shopButtons').observableValue() == 'original' -->
                                                                        <button class="btn btn-secondary smallButton smallFont" type="button"
                                                                        data-bind="click: () => BlendingController.increaseAmount($data, 10)">
                                                                            +10
                                                                        </button>
                                                                        <button class="btn btn-secondary smallButton smallFont" type="button"
                                                                        data-bind="click: () => BlendingController.increaseAmount($data, 100)">
                                                                            +100
                                                                        </button>
                                                                    <!-- /ko -->
                                                                    <!-- ko if: Settings.getSetting('shopButtons').observableValue() == 'multiplication' -->
                                                                        <button class="btn btn-secondary smallButton smallFont" type="button"
                                                                        data-bind="click: () => BlendingController.multiplyAmount($data, 10)">
                                                                            &times;10
                                                                        </button>
                                                                        <button class="btn btn-secondary smallButton smallFont" type="button"
                                                                        data-bind="click: () => BlendingController.multiplyAmount($data, 0.1)">
                                                                            &div;10
                                                                        </button>
                                                                    <!-- /ko -->
                                                                    <!-- ko if: Settings.getSetting('shopButtons').observableValue() == 'bigplus' -->
                                                                        <button class="btn btn-secondary smallButton smallFont" type="button"
                                                                        data-bind="click: () => BlendingController.increaseAmount($data, 100)">
                                                                            +100
                                                                        </button>
                                                                        <button class="btn btn-secondary smallButton smallFont" type="button"
                                                                        data-bind="click: () => BlendingController.increaseAmount($data, 1000)">
                                                                            +1,000
                                                                        </button>
                                                                    <!-- /ko -->
                                                                    <button class="btn btn-primary smallButton smallFont" type="button" data-bind="click: () => BlendingController.maxAmount($data)">
                                                                        Max
                                                                    </button>
                                                                    <button class="btn smallButton smallFont" data-bind="css: {'btn-success': BlendingController.calculateButtonCss($data), 'btn-danger': !BlendingController.calculateButtonCss($data)}, click: () => App.game.blending.craftRecipe($data, parseInt($(`#recipeAmount-${$data.item}`).val()))">
                                                                        Buy
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="blendingBuddiesView" class="tab-pane fade">
                    <h4><u>Blending Buddies</u></h4>
                    <p>Blending Buddies will be able to join in and offer a random Berry from their pool to the Machine they're assigned to. Each Buddy will also contribute their own RPM to the Machine.</p>
                    <p>The berry pool of each Buddy is planned be based on berry generation.</p>
                </div>

                <div id="blendHelpView" class="tab-pane fade col-10 offset-1">
                    <h4><u>Berry Blending</u></h4>
                    <p>Blend Berries to convert them into Flavor Values, which can be used to make Pokeblocks.</p>
                    <p>
                        Place berries in slots to extract their flavor values into your Flavor Bank.
                        Each berry has a smoothness value that contributes to how fast all the berries in a machine are processed into flavor points.
                        This is called RPM.
                        The base RPM of each machine is based off the average smoothness of all berries inside its slots, but bonus RPM can be attained from synergizing berries to specialize in a flavor.
                        Combine different berries to get more RPM and blend faster results!
                    </p>
                    <p>
                        Click on a slot to insert the selected berry.
                        To remove a berry from a slot, click on it with the same berry selected or right click it with any berry selected.
                        Berries will automatically be ejected when their amount reaches the specified <i>Stopping Amount</i>.
                        You cannot use berries if you have less than your <i>Stopping Amount</i>.
                    </p>
                    <p>
                        You can have up to four machines, with four blending slots on each.
                        Unlock more Blending Slots and machines with Contest Tokens.
                        You can earn more Contest Tokens by participating in Contests in Hoenn or the Bug Catching Contest in Johto.
                    </p>

                    <h4><u>Recipes</u></h4>
                    <p>
                        Recipes let you create Pokeblocks with the flavors in your Flavor Bank.
                        They can be unlocked through progressing in the game or bought in Shops.
                    </p>
                    <p data-bind="text: `You currently have ${BlendingRecipes.getRecipeCompletion()} available recipes.`"></p>

                    <h4><u>Blending Buddies</u></h4>
                    <p>
                        Blending Buddies can join in and offer a random Berry from their pool to the Machine they're assigned to.
                        They act like a fifth Blending Slot and affect the RPM and flavor output of a machine.
                    </p>
                </div>
            </div>

            <div class="modal-footer">
                <div class="row justify-content-center" data-bind="visible: BlendingController.blendingModalTabSelected() === 'blendingView'">
                    <div class="input-group m-0 ">
                        <div class="input-group-prepend">
                            <button class="btn btn-info smallButton smallFont" style="pointer-events: none;">
                                Stop at Berry Amount:
                            </button>
                        </div>
                        <input id="berriesToBlendAmount" type="number" class="outline-dark form-control form-control-number"
                            min="0" required name="berriesToBlendAmount"
                            oninput="App.game.blending.berriesToBeBlended(Math.max(parseInt($(this).val().toString(), 10), 0) || 0);"
                            onchange="App.game.blending.berriesToBeBlended(Math.max(parseInt($(this).val().toString(), 10), 0) || 0);" title=""
                            data-bind="value: App.game.blending.berriesToBeBlended()"/>
                    </div>
                </div>
                <div class="row justify-content-center" data-bind="visible: BlendingController.blendingModalTabSelected() === 'blendingView'">
                    <div class="input-group m-0">
                        <div class="input-group-prepend">
                            <button type="button" class="btn btn-primary" onclick="App.game.blending.insertBerryAll(BlendingController.selectedBerry())"
                                data-bind="css: {disabled: !App.game.blending.hasEnoughBerries(BlendingController.selectedBerry()) }">
                                Fill All Empty Slots
                            </button>
                        </div>
                        <div class="input-group-append">
                            <button id="blendBerryButton" class="btn btn-sm btn-primary px-1 py-1" onclick="BlendingController.berrySpin()">
                                <img id="blendBerry" height="28px" data-bind="
                                    attr: { src: FarmController.getBerryImage(BlendingController.selectedBerry()) }"/>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="justify-content-center m-0" data-bind="visible: BlendingController.blendingModalTabSelected() === 'blendingView'">
                    <button type="button" class="btn btn-primary m-1" onclick="App.game.blending.removeBerryAll()">
                        Clear All Slots
                    </button>
                </div>

                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>


        </div>
    </div>
</div>

