<div class="modal fade noselect" id="berryMasterModal" tabindex="-1" role="dialog"
     aria-labelledby="berryMasterModalLabel">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content" data-bind="let: { shopVisible: ko.observable(true) }">
            <div class="modal-header text-center">
                <h4>Berry Master</h4>
                <button type="button" class="btn btn-primary" data-dismiss="modal">&times;</button>
            </div>
            <div>
                <ul class="nav nav-tabs nav-fill">
                    <li class="nav-item"><a data-toggle='tab' class='nav-link active' href="#berryMasterShop" data-bind="click: function(){shopVisible(true);}">Shop</a></li>
                    <li class='nav-item'><a data-toggle='tab' class='nav-link' href="#berryMasterTrade" data-bind="click: function(){shopVisible(false);}">Trades</a></li>
                </ul>
            </div>
            <div class="modal-body tab-content">
                <div id="berryMasterShop" class="tab-pane fade in active show">
                    <span data-bind="template: { name: 'shopBodyTemplate' }"></span>
                </div>
                <div id="berryMasterTrade" class="tab-pane fade">
                    <div class="table-responsive" id="dailyDealsBody">
                        <table class="table table-sm table-hover table-striped m-0 text-left">
                            <thead>
                                <tr>
                                    <th class="text-center">Inv</th>
                                    <th></th>
                                    <th>Berries</th>
                                    <th></th>
                                    <th></th>
                                    <th>Item</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody data-bind='foreach: BerryDeal.getDeals(ShopHandler.shopObservable().location)'>
                                <!-- ko foreach: berries -->
                                <tr>
                                    <td data-bind="text: App.game.farming.berryList[$data.berryType]()"></td>
                                    <td><img height="28px" data-bind="attr: {src: FarmController.getBerryImage($data.berryType) }, css: {'berryLocked': !App.game.farming.unlockedBerries[$data.berryType]() }"></img></td>
                                    <td data-bind="text: amount + ' x ' + (App.game.farming.unlockedBerries[$data.berryType]() ? BerryType[$data.berryType] : '???')"></td>
                                    <!-- ko if: $index() === 0 -->
                                    <td class='vertical-middle' data-bind="attr: { rowspan: $parent.berries.length }">→</td>
                                    <td class='vertical-middle' data-bind="attr: { rowspan: $parent.berries.length }">
                                        <img class='mineInventoryItem' data-bind="
                                            attr: {src: $parent.item.itemType.image},
                                            tooltip: {
                                                title: $parent.item.itemType.description ? $parent.item.itemType.description : '',
                                                trigger: 'hover',
                                                placement:'bottom',
                                                html: true
                                              }">
                                    </td>
                                    <td class='vertical-middle' data-bind='attr: { rowspan: $parent.berries.length }'>
                                        <span data-bind='text: $parent.item.amount + " × " + $parent.item.itemType.displayName'></span>
                                        <knockout data-bind="if: ($parent.item.itemType instanceof CaughtIndicatingItem)">
                                            <span style="float:right; margin-right: 5px"
                                                  data-bind="template: { name: 'caughtStatusTemplate', data: {'status': $parent.item.itemType.getCaughtStatus()}}">
                                            </span>
                                        </knockout>
                                    </td>
                                    <td class='vertical-middle' data-bind="attr: { rowspan: $parent.berries.length }">
                                        <div class="btn-group btn-block" data-bind="let: { tradeAmount: ko.observable(1) }">
                                            <button class='btn btn-success btn-block' data-bind='click: function(){BerryDeal.use(ShopHandler.shopObservable()?.location, $parentContext.$index(), tradeAmount())}, css: { disabled: !BerryDeal.canUse(ShopHandler.shopObservable()?.location, $parentContext.$index()) }'>
                                                Trade
                                            </button>
                                            <button type="button" data-bind="text: tradeAmount() + '&nbsp;', css: { disabled: !BerryDeal.canUse(ShopHandler.shopObservable()?.location, $parentContext.$index()) }" class="btn btn-success dropdown-toggle dropdown-toggle-split active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            </button>
                                            <div class="dropdown-menu" data-bind="foreach: [1, 10, 100, 1000, Infinity]">
                                                <button class="dropdown-item" type="button" data-bind="click: function(){tradeAmount($data)}, text: $data.toLocaleString('en-US')"></button>
                                            </div>
                                        </div>
                                    </td>
                                    <!-- /ko -->
                                </tr>
                                <!-- /ko -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- ko if: shopVisible() -->
                <div class="row justify-content-center">
                    <div class="input-group m-0" style="margin-bottom: 6px; margin-top: 6px">
                        <div class="input-group-prepend">
                            <button class="btn btn-warning btn-outline-dark smallButton smallFont" onclick="ShopHandler.resetAmount()">
                                Reset
                            </button>
                        </div>
                        <input id="amountOfItems" type="number" class="outline-dark form-control form-control-number"
                                value="1" min="1" required name="amountOfItems"
                                oninput="ShopHandler.amount(parseInt($(this).val().toString(), 10) || 0);"
                                onchange="ShopHandler.amount(parseInt($(this).val().toString(), 10) || 0);" title=""/>
                        <div class="input-group-append">
                            <!-- ko if: Settings.getSetting('shopButtons').observableValue() == 'original' -->
                                <button class="btn btn-secondary smallButton smallFont" type="button" onclick="ShopHandler.increaseAmount(10)">
                                    +10
                                </button>
                                <button class="btn btn-secondary smallButton smallFont" type="button" onclick="ShopHandler.increaseAmount(100)">
                                    +100
                                </button>
                            <!-- /ko -->
                            <!-- ko if: Settings.getSetting('shopButtons').observableValue() == 'multiplication' -->
                                <button class="btn btn-secondary smallButton smallFont" type="button" onclick="ShopHandler.multiplyAmount(10)">
                                    &times;10
                                </button>
                                <button class="btn btn-secondary smallButton smallFont" type="button" onclick="ShopHandler.multiplyAmount(0.1)">
                                    &div;10
                                </button>
                            <!-- /ko -->
                            <!-- ko if: Settings.getSetting('shopButtons').observableValue() == 'bigplus' -->
                                <button class="btn btn-secondary smallButton smallFont" type="button" onclick="ShopHandler.increaseAmount(100)">
                                    +100
                                </button>
                                <button class="btn btn-secondary smallButton smallFont" type="button" onclick="ShopHandler.increaseAmount(1000)">
                                    +1,000
                                </button>
                            <!-- /ko -->
                            <button class="btn btn-primary smallButton smallFont" type="button" onclick="ShopHandler.maxAmount()">
                                Max
                            </button>
                            <button class="btn-outline-dark" data-bind="attr: {class: ShopHandler.calculateButtonCss()}" onclick="ShopHandler.buyItem()">
                                Buy
                            </button>
                        </div>
                    </div>
                </div>
                <!-- /ko -->
                <!-- ko if: !shopVisible() -->
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>
