<div class="modal fade" id="breedingModal" tabindex="-1" role="dialog"
aria-labelledby="breedingModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-xl breeding-modal" role="document">
        <div class="modal-content">
            <div class="modal-header p-0">
                <div class="row w-100 m-0">
                    <div class="col-12 p-0">
                        <ul class="nav nav-tabs nav-fill w-100">
                            <li class="nav-item"><a class="nav-link active" href="#breeding-pokemon" data-toggle="tab" onclick="$('#breeding-fireall').show()">Pokémon</a></li>
                            <li class="nav-item"><a class="nav-link" href="#breeding-eggs" data-toggle="tab" onclick="$('#breeding-fireall').show()">Eggs</a></li>
                            <li class="nav-item"><a class="nav-link" href="#breeding-fossils" data-toggle="tab" onclick="$('#breeding-fireall').show()">Fossils</a></li>
                            <li class="nav-item" data-bind="visible: App.game.breeding.hatcheryHelpers.isUnlocked()" onclick="$('#breeding-fireall').show()"><a class="nav-link" href="#breeding-helpers" data-toggle="tab">Helpers</a></li>
                            <li class="nav-item"><a class="nav-link" href="#breeding-help" data-toggle="tab" onclick="$('#breeding-fireall').show()">Help</a></li>
                            <li class="d-lg-block d-none"><button type="button" class="btn btn-danger" data-dismiss="modal" style="font-size: 18px; font-weight: 700;">×</button></li>
                        </ul>
                    </div>
                    <div class="col-12 d-lg-block d-none py-2 px-3" style="min-height: 55px;">
                        <div class="float-left">
                            <button type="button" class="btn btn-warning hatchery-warnings" style="pointer-events: none;" data-bind="visible: !App.game.breeding.hasFreeEggSlot()">
                                You don't have any free egg slots.
                            </button>
                            <button type="button" class="btn btn-danger hatchery-warnings" style="pointer-events: none;" data-bind="visible: !App.game.breeding.hasFreeQueueSlot() && App.game.breeding.queueSlots()">
                                Your breeding queue is full or disabled.
                            </button>
                        </div>
                        <div class="float-right d-lg-block d-none">
                            <knockout class="mx-2" data-bind="foreach: App.game.breeding.hatcheryHelpers.hired()">
                                <img class="pixelated" src="" height="24px" data-bind="attr:{ src: `assets/images/profile/trainer-${$data.trainerSprite}.png` },
                                tooltip: {
                                    title: $data.tooltip(),
                                    trigger: 'hover',
                                    placement:'top',
                                    html: true,
                                }">
                            </knockout>
                            <button id="breeding-fireall" type="button" class="btn btn-danger" data-bind="attr : {
                                disabled : !App.game.breeding.hatcheryHelpers.hired().length},
                                click: function(){App.game.breeding.hatcheryHelpers.hired().forEach(function(h){h.fire();})},
                                tooltip: {
                                    title: App.game.breeding.fireAllButtonTooltip(),
                                    trigger: 'hover',
                                    placement:'top',
                                    html: true,
                                }">Fire All
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body p-0">
                <div class="tab-content p-3 h-100">
                    <!-- ko let: { categoryModeEnabled: PokemonCategories.categoryAssignEnabled, categoryModeSelected: PokemonCategories.categoryAssignSelected } -->
                    <div class="tab-pane fade in active show" id="breeding-pokemon">
                        <div class="row">
                            <div class="col-12 d-lg-none d-block">
                                <button class="w-100 my-1 btn btn-secondary" type="button" data-toggle="collapse"
                                        data-target="#breeding-filter-container" aria-expanded="false" aria-controls="pokedex-filter-container">
                                    Filters and Settings
                                </button>
                            </div>
                            <!-- Filters and Settings -->
                            <div class="col-lg-3 col-12 collapse dont-collapse-lg" id="breeding-filter-container">
                                <div class="pokedex-border-bottom pt-2">
                                    <h4>Filters and Settings</h4>
                                </div>
                                <div class="scrolling-div-breeding-filters">
                                    <div class="container-fluid py-3">
                                        <div class="form-row text-left">
                                            <div class="form-group col-lg-12 col-12">
                                                <label>Search</label>
                                                <input autocomplete="off" class="form-control" oninput="BreedingController.formatSearch(this.value)" placeholder="Search here"/>
                                            </div>

                                            <div class="form-group col-lg-6 col-6">
                                                <label>Types</label>
                                                <select name="breedingTypeFilter1" autocomplete="off" class="custom-select" onchange="BreedingFilters.type1.value(+this.value), Settings.setSettingByName(this.name, this.value)">
                                                    <!-- ko foreach: Settings.getSetting('breedingTypeFilter1').options -->
                                                    <option data-bind="attr: { value: $data.value, selected: Settings.getSetting('breedingTypeFilter1').value === $data.value }, text: $data.text">Type</option>
                                                    <!-- /ko -->
                                                </select>
                                            </div>
                                            <div class="form-group col-lg-6 col-6">
                                                <label> </label>
                                                <select name="breedingTypeFilter2" autocomplete="off" class="custom-select" onchange="BreedingFilters.type2.value(+this.value), Settings.setSettingByName(this.name, this.value)">
                                                    <!-- ko foreach: Settings.getSetting('breedingTypeFilter2').options -->
                                                    <option data-bind="attr: { value: $data.value, selected: Settings.getSetting('breedingTypeFilter2').value === $data.value }, text: $data.text">Type</option>
                                                    <!-- /ko -->
                                                </select>
                                            </div>

                                            <div class="form-group col-lg-6 col-6">
                                                <label>Regions</label><br/>
                                                <div class="dropdown show">
                                                    <button type="button" class="text-left custom-select col-12 btn btn-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-bind="text :
                                                        BreedingFilters.region.value() == (2 << player.highestRegion()) - 1 ?
                                                            'All' :
                                                            (BreedingFilters.region.value() > 0 && BreedingFilters.region.value() ?
                                                                GameConstants.camelCaseToString(GameConstants.Region[Math.floor(Math.log2(BreedingFilters.region.value()))]) + (BreedingFilters.region.value()
                                                                    .toString(2).split('')
                                                                    .reduce(function(s,n){ return s + (n == '1' ? 1 : 0)}, 0) > 1 ? ' & more' : '') :
                                                                'None')
                                                        ">
                                                        Regions
                                                    </button>
                                                    <div class="border-secondary dropdown-menu col-12">
                                                        <div class="dropdown-item" data-bind="click : function(){ BreedingFilters.region.value((2 << player.highestRegion()) - 1); Settings.setSettingByName('breedingRegionFilter', BreedingFilters.region.value()) }">
                                                            All
                                                        </div>
                                                        <div class="dropdown-divider"></div>
                                                        <!-- ko foreach : Object.keys(GameConstants.Region).filter(function(r){ return r <= player.highestRegion() && r >= 0; }) -->
                                                        <div class="dropdown-item" data-bind="class : Settings.getSetting('breedingRegionFilter').observableValue() & (1 << $data) ? 'bg-success' : '',
                                                            text : GameConstants.camelCaseToString(GameConstants.Region[$data]),
                                                            click : function(){ BreedingFilters.region.value(1 << $data); Settings.setSettingByName('breedingRegionFilter', 1 << $data) },
                                                            attr : { 'oncontextmenu' : 'BreedingFilters.region.value(BreedingFilters.region.value() ^ ' + (1 << $data) + ');' +
                                                                'Settings.setSettingByName(\'breedingRegionFilter\', BreedingFilters.region.value()); return false'
                                                            }">
                                                        </div>
                                                        <!-- /ko-->
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Category -->
                                            <div class="form-group col-lg-6 col-6">
                                                <label>Category</label>
                                                <div class="dropdown show">
                                                    <button type="button" class="text-left custom-select col-12 btn btn-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                        data-bind="text: BreedingFilters.category.value() == -1 ? 'All'
                                                            : BreedingFilters.category.value() == -2 ? 'Categorized'
                                                            : PokemonCategories.categories().find(c => c.id == BreedingFilters.category.value()).name()">
                                                        Categories
                                                    </button>
                                                    <div class="border-secondary dropdown-menu col-12 category-dropdown">
                                                        <div class="dropdown-item dropdown-text" data-bind="click : function(){ BreedingFilters.category.value(-1); Settings.setSettingByName('breedingCategoryFilter', -1) }">
                                                            All
                                                        </div>
                                                        <div class="dropdown-item dropdown-text" data-bind="click : function(){ BreedingFilters.category.value(-2); Settings.setSettingByName('breedingCategoryFilter', -2) }">
                                                            Categorized
                                                        </div>
                                                        <div class="dropdown-divider"></div>
                                                        <!-- ko foreach : PokemonCategories.categories -->
                                                        <div class="dropdown-item" data-bind="text : $data.name(), style: { background: $data.color(), color: GameHelper.isColorLight($data.color()) ? 'black' : 'white' },
                                                            click : function(){ BreedingFilters.category.value($data.id); Settings.setSettingByName('breedingCategoryFilter', $data.id) }">
                                                        </div>
                                                        <!-- /ko-->
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item dropdown-text" href="#categoryModal" data-toggle="modal">
                                                            <i>Edit categories</i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group col-lg-6 col-6">
                                                <label>Shiny Status</label>
                                                <select name="breedingShinyFilter" autocomplete="off" class="custom-select" onchange="BreedingFilters.shinyStatus.value(+this.value), Settings.setSettingByName(this.name, this.value)">
                                                    <option value="-1" data-bind="attr: { selected: Settings.getSetting('breedingShinyFilter').value === '-1' }">All</option>
                                                    <option value="0" data-bind="attr: { selected: Settings.getSetting('breedingShinyFilter').value === '0' }">Not Shiny</option>
                                                    <option value="1" data-bind="attr: { selected: Settings.getSetting('breedingShinyFilter').value === '1' }">Shiny</option>
                                                </select>
                                            </div>
                                            <div class="form-group col-lg-6 col-6">
                                                <label>Pokérus Status</label>
                                                <select name="breedingPokerusFilter" autocomplete="off" class="custom-select" onchange="BreedingFilters.pokerus.value(+this.value), Settings.setSettingByName(this.name, this.value)">
                                                    <!-- ko foreach: Settings.getSetting('breedingPokerusFilter').options -->
                                                    <option data-bind="attr: { value: $data.value, selected: Settings.getSetting('breedingPokerusFilter').value === $data.value }, text: $data.text"></option>
                                                    <!-- /ko -->
                                                </select>
                                            </div>
                                            <!-- Mega Evolution -->
                                            <!-- ko if: player.highestRegion() >= GameConstants.Region.kalos -->
                                            <div class="form-group col-lg-12 col-12">
                                                <label for="breedingUniqueTransformationFilter">Unique Forms</label>
                                                <select id="breedingUniqueTransformationFilter" autocomplete="off" class="custom-select"
                                                    data-bind="options: BreedingFilters.uniqueTransformation.options,
                                                        optionsValue: 'value',
                                                        optionsText: 'text',
                                                        value: BreedingFilters.uniqueTransformation.value">
                                                </select>
                                            </div>
                                            <!-- /ko -->
                                            <!--Hide alternate forms-->
                                            <div class="form-group col-lg-12 col-12 mb-0">
                                                <label for="breedingHideAlternateFilter">Hide alternate forms</label>
                                                <label class="form-check-label toggler-wrapper style-1 float-right">
                                                    <input class="form-check-input" type="checkbox" id="breedingHideAlternateFilter"
                                                        data-bind="checked: BreedingFilters.hideAlternate.value">
                                                    <div class="toggler-slider">
                                                        <div class="toggler-knob"></div>
                                                    </div>
                                                </label>
                                            </div>

                                            <div class="col-12">
                                                <hr style="border-color:grey;">
                                            </div>

                                            <div class="form-group col-lg-6 col-6">
                                                <label>Display Value</label>
                                                <select name="breedingDisplayFilter" autocomplete="off" class="custom-select" onchange="BreedingController.displayValue(this.value), Settings.setSettingByName(this.name, this.value)">
                                                    <!-- ko foreach: Settings.getSetting('breedingDisplayFilter').options -->
                                                    <option data-bind="attr: { value: $data.value, selected: Settings.getSetting('breedingDisplayFilter').value === $data.value }, text: $data.text">Type</option>
                                                    <!-- /ko -->
                                                </select>
                                            </div>
                                            <!-- ko if: App.game.challenges.list.regionalAttackDebuff.active() -->
                                            <div class="form-group col-lg-6 col-6">
                                                <label>Regional Debuff</label>
                                                <select name="breedingRegionalAttackDebuffSetting" autocomplete="off" class="custom-select" onchange="BreedingController.regionalAttackDebuff(+this.value), Settings.setSettingByName(this.name, this.value)">
                                                    <!-- ko foreach: Settings.getSetting('breedingRegionalAttackDebuffSetting').options.filter(r => r.value <= player.highestRegion()) -->
                                                    <option data-bind="attr: { value: $data.value, selected: Settings.getSetting('breedingRegionalAttackDebuffSetting').value === $data.value }, text: $data.text">Type</option>
                                                    <!-- /ko -->
                                                </select>
                                            </div>
                                            <!-- /ko -->
                                            <div class="form-group col-lg-12 col-12" style="max-width: 100%; flex-grow: 1" data-bind="with: Settings.getSetting('hatcherySort')">
                                                <label>Sort</label>
                                                <div class="input-group">
                                                    <select autocomplete="off" class="custom-select" onchange="Settings.setSettingByName(this.name, SortOptions[SortOptions[this.value]])"
                                                        data-bind="foreach: $data.options, attr: {name}, selectedOptions: [$data.observableValue()]">
                                                        <option data-bind="text: $data.text, value: $data.value"></option>
                                                    </select>
                                                    <div class="input-group-append bg-primary text-light">
                                                        <label for="hatcherySortDirection" class="clickable m-0 pl-2 pr-2" style="font-size: 22px;" data-bind="
                                                        text: Settings.getSetting('hatcherySortDirection').observableValue() ? '⥄' : '⥂',
                                                        tooltip: { title: Settings.getSetting('hatcherySortDirection').observableValue() ? 'Descending (highest value first)' : 'Ascending (lowest value first)', trigger: 'hover', placement:'top' }

                                                        ">⥂</label>
                                                        <input id="hatcherySortDirection" style="vertical-align: middle" class="hidden" type='checkbox'
                                                            data-bind="checked: Settings.getSetting('hatcherySortDirection').observableValue()"
                                                            onchange="Settings.setSettingByName('hatcherySortDirection', this.checked)"/>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-12">
                                                <hr style="border-color:grey;">
                                            </div>

                                            <!-- Category Mode-->
                                            <div class="col-12">
                                                <div class="form-group">
                                                    <button type="button" class="btn btn-primary btn-block" data-bind="
                                                        click: () => categoryModeEnabled(!categoryModeEnabled()),
                                                        text: categoryModeEnabled() ? 'Disable Category Mode' : 'Enable Category Mode',
                                                        tooltip: {
                                                            title: 'Use Category Mode to quickly assign and remove Pokémon from categories. Select a category then click the desired Pokémon to add or remove.',
                                                            placement: 'top',
                                                            trigger: 'hover'
                                                        }">
                                                        Enable Category Mode
                                                    </button>
                                                </div>
                                            </div>
                                            <!-- ko if: categoryModeEnabled() -->
                                            <div class="col-12">
                                                <div class="form-group mb-1">
                                                    <label>Selected Category</label>
                                                    <div class="dropdown show">
                                                        <button type="button" class="text-left custom-select col-12 btn btn-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                            data-bind="text: PokemonCategories.categories().find(c => c.id == categoryModeSelected()).name()">
                                                            Select A Category
                                                        </button>
                                                        <div class="border-secondary dropdown-menu col-12 category-dropdown" data-bind="foreach: PokemonCategories.categories">
                                                            <div class="dropdown-item" data-bind="text : $data.name(),
                                                                style: { color: GameHelper.isColorLight($data.color()) ? 'black' : 'white', background: $data.color() },
                                                                click: () => categoryModeSelected($data.id)">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group col-6">
                                                <button type="button" class="btn btn-success btn-block" data-bind="tooltip: {
                                                    title: 'Add all Pokémon matching the current filters to this category.',
                                                    placement: 'bottom',
                                                    trigger: 'hover'
                                                },
                                                click: () => PartyController.addCategory(BreedingController.hatcheryFilteredList().filter(p => p.isHatchable()), categoryModeSelected())">Add All</button>
                                            </div>
                                            <div class="form-group col-6">
                                                <button type="button" class="btn btn-danger btn-block" data-bind="tooltip: {
                                                    title: 'Remove all Pokémon matching the current filters from this category.',
                                                    placement: 'bottom',
                                                    trigger: 'hover'
                                                },
                                                disable: categoryModeSelected() === 0,
                                                click: () => PartyController.removeCategory(BreedingController.hatcheryFilteredList().filter(p => p.isHatchable()), categoryModeSelected())">Remove All</button>
                                            </div>
                                            <!-- /ko -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Pokemon List -->
                            <div class="col-lg-9 col-12 pokemon-list" id="breeding-pokemon-list-container">
                                <div class="scrolling-div-breeding-list">
                                    <!-- Check if the player has any level 100 Pokémon or if they have any eggs -->
                                    <button type="button" class="btn btn-danger hatchery-warnings w-100" style="pointer-events: none;" data-bind="visible: modalUtils.observableState.breedingModal !== 'hidden' && !App.game.party.hasMaxLevelPokemon()">
                                        Unfortunately, you don't have any Pokémon of level 100 to breed.
                                    </button>
                                    <knockout data-bind="using: lazyLoad('lazyHatcheryList', $element, BreedingController.viewSortedFilteredList, { pageSize: 60, reset: BreedingController.resetHatcheryFlag }), as: 'lazyHatcheryList'">
                                        <!-- ko if: modalUtils.observableState.breedingModal !== 'hidden' && App.game.party.hasMaxLevelPokemon() -->
                                        <ul class="row justify-content-center w-100 p-0 m-0" data-bind="foreach: lazyHatcheryList, childrenComplete: () => { lazyLoadCallback('lazyHatcheryList'); }">
                                            <!-- ko if: $data.isHatchable() && ($data.matchesHatcheryFilters() || BreedingController.viewResetWaiting()) -->
                                            <li class="col-sm-4 col-md-3 col-lg-2 pokedexEntry" data-bind="
                                                style:{background: PokedexHelper.getBackgroundColors($data.name)},
                                                class: App.game.breeding.hasFreeEggSlot() || App.game.breeding.hasFreeQueueSlot() ? '' : 'disabled',
                                                css: { 'category-highlight': categoryModeEnabled() && $data.category.includes(categoryModeSelected()) }">
                                                <div class="breedingListShiny" data-bind="visible: App.game.party.alreadyCaughtPokemon($data.id, true)">✨</div>
                                                <img class="breeding-shadow-icon shadow-icon" src="assets/images/status/shadow.svg" data-bind="visible: $data.shadow == GameConstants.ShadowStatus.Shadow"/>
                                                <img class="breeding-shadow-icon shadow-icon" src="assets/images/status/purified.svg" data-bind="visible: $data.shadow == GameConstants.ShadowStatus.Purified"/>
                                                <div class="breedingListPokerus" data-bind="if: App.game.party.getPokemon($data.id)?.pokerus">
                                                    <img width="32px" src="" data-bind="attr: { src: `assets/images/breeding/pokerus/${GameConstants.Pokerus[App.game.party.getPokemon($data.id).pokerus]}.png`}"/>
                                                </div>
                                                <img src="" class="pokedex-pokemon-sprite" data-bind="attr:{ src: PokemonHelper.getImage($data.id) }">
                                                <span class="pokedex-bottom-text" data-bind="text: BreedingController.getDisplayValue($data)">value</span>
                                                <a class="overlay" href="#breed" data-bind="click: function() {
                                                    if (categoryModeEnabled()) {
                                                        $data.toggleCategory(categoryModeSelected());
                                                    } else {
                                                        App.game.breeding.addPokemonToHatchery($data);
                                                        App.game.breeding.checkCloseModal();
                                                    }
                                                }"></a>
                                                <span class="pokedex-top-text text-truncate px-1" data-bind="text: $data.displayName,
                                                    tooltip: {
                                                        title: categoryModeEnabled() ? '' : PokemonHelper.displayName($data.name),
                                                        trigger: 'hover',
                                                        placement: 'top',
                                                        boundary: 'viewport'
                                                    }">name</span>

                                                <!-- Category Button -->
                                                <div class="pokemonCategory dropdown" data-bind="let: { pokemon: App.game.party.getPokemon($data.id) }">
                                                    <div data-toggle="dropdown" style="height: 15px;">
                                                        <!-- Limit category display to 12 for UI purposes -->
                                                        <div class="d-flex position-relative category-display" data-bind="foreach: pokemon.category.slice(0, 12)">
                                                            <button data-bind="class: `category-${$data + 1}`"></button>
                                                        </div>
                                                    </div>
                                                    <div class="border-secondary dropdown-menu multiselect-dropdown category-dropdown px-2">
                                                        <div class="form-check d-flex align-items-center", data-bind="with: PokemonCategories.categories().find(c => c.id === 0), as: 'pokemonCategory'">
                                                            <input type="checkbox" class="form-check-input mt-0" style="cursor: pointer;"
                                                                data-bind="attr: { id: `${$parent.id}-category0` },
                                                                    checked: pokemon.isUncategorized,
                                                                    disable: pokemon.isUncategorized,
                                                                    click: () => { pokemon.resetCategory(); return true; }">
                                                            <label class="form-check-label text-truncate w-100 p-1" style="max-width: 200px; cursor: pointer;"
                                                                data-bind="
                                                                    text: pokemonCategory.name,
                                                                    attr: { for: `${$parent.id}-category0` },
                                                                    style: { color: GameHelper.isColorLight(pokemonCategory.color()) ? 'black' : 'white', background: pokemonCategory.color, 'text-shadow': `0 0 6px ${GameHelper.isColorLight(pokemonCategory.color()) ? 'white' : 'black'}` }"
                                                                onclick="event.stopPropagation();"></label>
                                                        </div>
                                                        <div class="dropdown-divider"></div>
                                                        <!-- ko foreach: { data: PokemonCategories.playerCategories, as: 'pokemonCategory' } -->
                                                        <div class="form-check d-flex align-items-center">
                                                            <input type="checkbox" class="form-check-input mt-0" style="cursor: pointer;"
                                                                data-bind="
                                                                    attr: { id: `${$parent.id}-category${pokemonCategory.id}` },
                                                                    checked: pokemon._category,
                                                                    checkedValue: pokemonCategory.id">
                                                            <label class="form-check-label text-truncate w-100 p-1" style="max-width: 200px; cursor: pointer;"
                                                                data-bind="
                                                                    text: pokemonCategory.name,
                                                                    attr: { for: `${$parent.id}-category${pokemonCategory.id}` },
                                                                    style: { color: GameHelper.isColorLight(pokemonCategory.color()) ? 'black' : 'white', background: pokemonCategory.color, 'text-shadow': `0 0 6px ${GameHelper.isColorLight(pokemonCategory.color()) ? 'white' : 'black'}` }"
                                                                onclick="event.stopPropagation();"></label>
                                                        </div>
                                                        <!-- /ko -->
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item dropdown-text" href="#categoryModal" data-toggle="modal">
                                                            <i>Edit categories</i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </li>
                                            <!-- /ko -->
                                        </ul>
                                        <!-- /ko -->
                                    </knockout>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /ko -->

                    <div class="tab-pane fade" id="breeding-eggs">
                        <div class="scrolling-div-breeding-list">
                            <button type="button" class="btn btn-warning hatchery-warnings w-100" style="pointer-events: none;" data-bind="visible: !Object.keys(GameConstants.EggItemType).filter(e=>isNaN(e)).filter(x=>player.itemList[x]()).length">
                                You don't have any eggs to breed.
                            </button>
                            <!-- ko if: Object.keys(GameConstants.EggItemType).filter(e=>isNaN(e)).filter(x=>player.itemList[x]()).length -->
                            <ul class="row justify-content-center w-100 p-0 m-0" data-bind="foreach: Object.keys(GameConstants.EggItemType).filter(e=>isNaN(e)).filter(x=>player.itemList[x]())">
                                <li class="eggSlotModal col-sm-4 col-md-3 col-lg-2 pokedexEntry text-nowrap" data-bind="class: App.game.breeding.hasFreeEggSlot() ? '' : 'disabled'">
                                    <span style="top: 0; border-top-left-radius: 6px; border-top-right-radius: 6px;" data-bind="text: GameConstants.camelCaseToString(GameConstants.humanifyString($data))">egg</span>
                                    <img src="" width="80px" data-bind="attr:{ src: `assets/images/breeding/${$data}.png` }">
                                    <span style="bottom: 0; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px" data-bind="text: 'Amount: ' + player.itemList[$data]().toLocaleString('en-US')">amount</span>
                                    <a class="overlay" href="#breed" data-bind="click: function() { ItemList[$data].use(); App.game.breeding.checkCloseModal(); }"></a>
                                    <knockout style="position: absolute; right: 2px; top: -14px;"
                                        data-bind="template: { name: 'caughtStatusTemplate', data: { status: ItemList[$data].getCaughtStatus() }, if: (ItemList[$data] instanceof CaughtIndicatingItem) }"/>
                                </li>
                            </ul>
                            <!-- /ko -->
                        </div>
                    </div>

                    <div class="tab-pane fade" id="breeding-fossils">
                        <div class="scrolling-div-breeding-list">
                            <button type="button" class="btn btn-warning hatchery-warnings w-100" style="pointer-events: none;" data-bind="visible: !UndergroundItems.list.filter(it => it.valueType === UndergroundItemValueType.Fossil && player.itemList[it.itemName]() > 0).length">
                                You don't have any fossils to breed.
                            </button>
                            <!-- ko if: UndergroundItems.list.filter(it => it.valueType === UndergroundItemValueType.Fossil && player.itemList[it.itemName]() > 0).length -->
                            <ul class="row justify-content-center w-100 p-0 m-0" data-bind="foreach: UndergroundItems.list.filter(it => it.valueType === UndergroundItemValueType.Fossil && player.itemList[it.itemName]() > 0)">
                                <li class="eggSlotModal col-sm-4 col-md-3 col-lg-2 pokedexEntry text-nowrap" data-bind="class: App.game.breeding.hasFreeEggSlot() ? '' : 'disabled'">
                                    <span style="top: 0; border-top-left-radius: 6px; border-top-right-radius: 6px;" data-bind="text: GameConstants.humanifyString($data.name)">fossil</span>
                                    <img src="" width="80px" data-bind="attr:{ src: `assets/images/breeding/${$data.name}.png` }">
                                    <span style="bottom: 0; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px" data-bind="text: 'Amount: ' + player.itemList[$data.itemName]().toLocaleString('en-US')">amount</span>
                                    <a class="overlay" href="#breed" data-bind="click: function() { Underground.sellMineItem($data); App.game.breeding.checkCloseModal(); }"></a>
                                    <knockout style="position: absolute; right: 2px; top: -14px;"
                                        data-bind="template: { name: 'caughtStatusTemplate', data: { status: PartyController.getCaughtStatusByName(GameConstants.FossilToPokemon[$data.name]) } }"/>
                                </li>
                            </ul>
                            <!-- /ko -->
                        </div>
                    </div>

                    <div class="tab-pane fade" id="breeding-helpers">
                        <div class="row m-0 justify-content-center" data-bind="foreach: App.game.breeding.hatcheryHelpers.available()" style="max-width: 100%;">
                            <div class="card text-left col-md-3 col-sm-6 col-xs-12 p-0">
                                <h5 class="card-header">
                                    <knockout data-bind="text: $data.name">Name</knockout>
                                    <img class="float-right pixelated" src="" height="24px" data-bind="attr:{ src: `assets/images/profile/trainer-${$data.trainerSprite}.png` }">
                                </h5>
                                <div class="card-body p-0">
                                    <table class="table table-striped table-hover table-bordered table-sm m-0" style="overflow: visible;">
                                        <tbody>
                                            <tr>
                                                <td class="text-left align-middle">Cost / Hatch:</td>
                                                <td class="text-right" data-bind="template: { name: 'currencyTemplate', data: {'amount': $data.cost.amount, 'currency': $data.cost.currency, 'reducedThreshold': 1e10}}"></td>
                                            </tr>
                                            <tr>
                                                <td class="text-left">Step Efficiency:</td>
                                                <td class="text-right">
                                                    <knockout data-bind="text: `${$data.stepEfficiencyBase.toLocaleString('en-US')}%`">100%</knockout>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-left text-nowrap">Attack Efficiency:</td>
                                                <td class="text-right">
                                                    <knockout data-bind="text: `${$data.attackEfficiencyBase.toLocaleString('en-US')}%`">100%</knockout>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-left text-nowrap">Hatched:</td>
                                                <td class="text-right">
                                                    <knockout data-bind="text: $data.hatched().toLocaleString('en-US')">0</knockout>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-left text-nowrap">Bonus to Efficiency:</td>
                                                <td class="text-right">
                                                    <knockout data-bind="text: `+ ${$data.hatchBonus().toLocaleString('en-US')}%`">0%</knockout>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="p-0">
                                                    <div class="progress">
                                                        <!-- ko if: $data.hatchBonus() < 50 -->
                                                        <div class="progress-bar bg-primary" role="progressbar"
                                                            data-bind="attr:{ style: 'width:' + (($data.hatched() - $data.prevBonus()) / ($data.nextBonus() - $data.prevBonus())) * 100 + '%' }"
                                                            aria-valuemin="0" aria-valuemax="100">
                                                            <span data-bind="text: `${$data.hatchBonus()}%`" class="text-left pl-1">0%</span>
                                                            <span data-bind="text: ($data.hatched() - $data.prevBonus()) + ' / ' + ($data.nextBonus() - $data.prevBonus()) + ' hatches'"></span>
                                                            <span data-bind="text: `${($data.hatchBonus() + 0.1).toFixed(1)}%`" class="text-right pr-1">0.1%</span>
                                                        </div>
                                                        <!-- /ko -->
                                                        <!-- ko if: $data.hatchBonus() >= 50 -->
                                                        <div class="progress-bar bg-primary" role="progressbar" style="width: 100%">
                                                            <span>MAX BONUS!</span>
                                                        </div>
                                                        <!-- /ko -->
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-left align-middle">Sort:</td>
                                                <td class="text-center align-middle">
                                                    <div class="input-group input-group-sm">
                                                        <select autocomplete="off" class="custom-select" data-bind="options: GameHelper.enumSelectOption(SortOptions).filter(o => ![SortOptions.level, SortOptions.attack].includes(o.value)), optionsValue: 'value', optionsText: i => SortOptionConfigs[i.value].text, value: $data.sortOption"></select>
                                                        <div class="input-group-append bg-primary text-light">
                                                            <label class="clickable m-0 px-2" style="font-size: 20px;" data-bind="
                                                                attr: {for: 'hatcheryHelperSortDirection' + $index() },
                                                                text: $data.sortDirection() ? '⥄' : '⥂',
                                                                tooltip: { title: $data.sortDirection() ? 'Descending (highest value first)' : 'Ascending (lowest value first)', trigger: 'hover', placement:'top' }
                                                                ">⥂</label>
                                                            <input class="hidden" type="checkbox"
                                                                data-bind="attr: { id: 'hatcheryHelperSortDirection' + $index() }, checked:  $data.sortDirection" />
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="text-left align-middle">Category:</td>
                                                <td class="text-center align-middle" style="max-width: 1px;">
                                                    <knockout data-bind="template: { name: 'multiSelectDropdownTemplate',
                                                        data: {
                                                            id: `helper-category${$index()}`,
                                                            options: PokemonCategories.categories(),
                                                            optionsText: 'name',
                                                            optionsValue: 'id',
                                                            bindingField: $data.categories,
                                                            buttonText: () => {
                                                                return $data.categories().map(id => PokemonCategories.categories().find(c => c.id === id)?.name()).join('; ') || 'All Categories';
                                                            },
                                                            buttonClass: 'custom-select-sm',
                                                            itemLabel: {
                                                                class: 'small',
                                                                style: (item) => ({ 'background-color': item.color(), color: GameHelper.isColorLight(item.color()) ? 'black' : 'white' })
                                                            },
                                                            showSelectAll: true,
                                                            selectAllText: 'All Categories',
                                                            selectAllClick: () => $data.categories([]),
                                                        }}">
                                                    </knockout>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="text-center">
                                                    <div class="position-relative">
                                                        <div class="form-check">
                                                            <input type="checkbox" class="form-check-input mt-1" data-bind="checked: $data.useHatcheryFilters,
                                                                attr: { id: `hatcheryHelperUseFilters${$index()}` }">
                                                            <label class="form-check-label" data-bind="attr: { for: `hatcheryHelperUseFilters${$index()}` }">Use Hatchery Filters</label>
                                                        </div>
                                                        <div class="position-absolute" style="top:0; right: 0;" data-bind="tooltip: {
                                                            html: true,
                                                            title: 'When this option is enabled Hatchery Helpers will use the filters and settings selected in the Hatchery in addition to their own settings. Disabling this option will allow them to work independently and ignore the Hatchery filters.',
                                                            placement: 'top',
                                                            trigger: 'hover'
                                                        }">ⓘ</div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <td colspan="2">
                                                    <button class="btn btn-block" data-bind="attr: { disabled: !$data.hired() && !App.game.breeding.hatcheryHelpers.canHire() }, css: { 'btn-success': !$data.hired(), 'btn-danger': $data.hired() }, click: () => !$data.hired() ? $data.hire() : $data.fire(), text: !$data.hired() ? 'Hire!' : 'Fire!'">Hire!</button>
                                                </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="breeding-help" class="tab-pane fade col-10 offset-1">
                        <h4><u>Hatchery</u></h4>
                        <p>You can leave your level 100 Pokémon here in the hatchery to gain an egg of the same Pokémon.</p>

                        <p data-bind="text: `Once an egg hatches, your Pokémon will gain a bonus of ${GameConstants.BREEDING_ATTACK_BONUS}% of their base attack and have a higher chance of becoming shiny!` "></p>

                        <p class="text-warning"><i>NOTE: Base attack is the value your Pokémon originally has at level 100, before any breeding buffs.</i></p>

                        <p>Any Proteins applied to Pokémon will give them an additional 1 attack per hatch, but require 20 more steps.</p>
                        <p>Any Calciums applied to Pokémon will give them an additional 1% of their base attack per hatch, but require 20 more steps.</p>
                        <p>Any Carbos applied to Pokémon will reduce the steps required per hatch.</p>

                        <p>There is no limit to breeding, so this will be your main source of attack gain.</p>

                        <h4><u>Queue</u></h4>
                        <p>You will gain access to a queue in the hatchery once you reach the Johto region, and more queue slots for each new region reached after that.</p>

                        <h4><u>Hatchery Helpers</u></h4>
                        <p><i>(unlocked after hatching 100 total Pokémon)</i></p>
                        <p>Hatchery Helpers will help out by automatically breeding your Pokémon for you.</p>
                        <p>The cost displayed is how much you will be charged per hatch.</p>
                        <p>They will only breed Pokémon based on your current Hatchery filters.</p>
                        <p>All of the Helpers have different step efficiencies and will hatch eggs faster or slower depending on their value.</p>
                        <p>They each also have different attack efficiencies, which will determine how much attack you gain compared to manually hatching the Pokémon yourself.</p>
                        <p>These efficiencies will gain a bonus based on how many times you've used the helper to hatch eggs.</p>
                        <p><i>More Hatchery Helpers can be unlocked through shops and hatching more Pokémon</i></p>
                    </div>

                </div>
            </div>
            <div class="modal-footer d-lg-none d-flex">
                <div class="mr-auto">
                    <button type="button" class="btn btn-warning hatchery-warnings"
                        data-bind="visible: !App.game.breeding.hasFreeEggSlot(),
                        tooltip: {
                            title: 'You don\'t have any free egg slots.',
                            trigger: 'hover',
                            placement: 'top',
                            boundary: 'window'
                        }">
                        ⓘ
                    </button>
                    <button type="button" class="btn btn-danger hatchery-warnings"
                        data-bind="visible: !App.game.breeding.hasFreeQueueSlot() && App.game.breeding.queueSlots(),
                        tooltip: {
                            title: 'Your breeding queue is full or disabled.',
                            trigger: 'hover',
                            placement: 'top',
                            boundary: 'window'
                        }">
                        ⓘ
                    </button>
                </div>
                <knockout class="" data-bind="foreach: App.game.breeding.hatcheryHelpers.hired()">
                    <img class="pixelated" src="" height="24px" data-bind="attr:{ src: `assets/images/profile/trainer-${$data.trainerSprite}.png` },
                    tooltip: {
                        title: $data.tooltip(),
                        trigger: 'hover',
                        placement:'top',
                        html: true,
                    }">
                </knockout>
                <button id="breeding-fireall-footer" type="button" class="btn btn-danger" data-bind="attr : {disabled : !App.game.breeding.hatcheryHelpers.hired().length}, click: function(){App.game.breeding.hatcheryHelpers.hired().forEach(function(h){h.fire();})}" >Fire All</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
