<div class="modal fade" id="breedingModal" tabindex="-1" role="dialog"
aria-labelledby="breedingModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
   <div class="modal-content">
       <div class="modal-header">
            <h5 class="modal-title" id="breedingModalLabel" data-bind="tooltip: { title: `You can trade your level 100 pokémon for an egg of the same pokémon. Hatched pokémon will gain a ${GameConstants.BREEDING_ATTACK_BONUS}% bonus of their base attack and have a higher chance of becoming shiny!`, trigger: 'hover', placement:'right' }">Day Care <span class="text-primary">ⓘ</span></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
       </div>
       <div class="modal-body p-0">
           <ul class="nav nav-tabs nav-fill">
                <li class="nav-item"><a class="nav-link active" href="#breeding-pokemon" data-toggle="tab">Pokemon</a></li>
                <li class="nav-item"><a class="nav-link" href="#breeding-eggs" data-toggle="tab">Eggs</a></li>
                <li class="nav-item"><a class="nav-link" href="#breeding-fossils" data-toggle="tab">Fossils</a></li>
            </ul>

            <div class="tab-content p-3">
                <div class="tab-pane active" id="breeding-pokemon">
                    <div data-bind="if: App.game.breeding.hasFreeEggSlot()">
                        <!-- Check if the player has any level 100 Pokemon or if they have any eggs -->
                        <p class="text-danger" data-bind="visible: !App.game.party.hasMaxLevelPokemon()">
                            Unfortunately, you don't have any pokémon of level 100 to breed.
                        </p>
                        <!-- ko if: App.game.party.hasMaxLevelPokemon() -->
                        <div class="text-left">
                            <div class="form-row">
                                <div class="form-group col-md-3 col-6">
                                    <label>Region</label>
                                    <select class="custom-select" onchange="BreedingController.filter.region(+this.value)">
                                        <option value="-2">All</option>
                                        <!-- ko foreach: GameHelper.enumStrings(GameConstants.Region).filter(r => r != 'none' && GameConstants.Region[r] <= player.highestRegion()) -->
                                        <option data-bind="attr: { value: GameConstants.Region[$data] }, text: GameConstants.camelCaseToString($data)">Region</option>
                                        <!-- /ko -->
                                        <option value="-1">None</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3 col-6">
                                    <label>Caught Status</label>
                                    <select class="custom-select" onchange="BreedingController.filter.shinyStatus(+this.value)">
                                        <option value="0">All</option>
                                        <option value="1">Not Shiny</option>
                                        <option value="2">Shiny</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3 col-6">
                                    <label>Type</label>
                                    <select class="custom-select" onchange="BreedingController.filter.type1(+this.value)">
                                        <option value="-2">All</option>
                                        <!-- ko foreach: GameHelper.enumStrings(PokemonType).filter(t => t != 'None') -->
                                        <option data-bind="attr: { value: PokemonType[$data] }, text: $data">Type</option>
                                        <!-- /ko -->
                                        <option value="-1">None</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3 col-6">
                                    <label>Type</label>
                                    <select class="custom-select" onchange="BreedingController.filter.type2(+this.value)">
                                        <option value="-2">All</option>
                                        <!-- ko foreach: GameHelper.enumStrings(PokemonType).filter(t => t != 'None') -->
                                        <option data-bind="attr: { value: PokemonType[$data] }, text: $data">Type</option>
                                        <!-- /ko -->
                                        <option value="-1">None</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" data-bind="foreach: BreedingController.breedableList">
                            <button class="col-sm-4 col-md-3 col-lg-2 pokedexEntry text-nowrap btn"
                            data-bind="style:{background: PokedexHelper.getBackgroundColors($data.name)},
                            click: function() { App.game.breeding.gainPokemonEgg($data);if (!App.game.breeding.hasFreeEggSlot()) {$('#breedingModal').modal('hide');}}">
                                <span style="top: 0; border-top-left-radius: 6px; border-top-right-radius: 6px;" data-bind="text: $data.name">name</span>
                                <div data-bind="if: PokedexHelper.pokemonSeen($data.id)">
                                    <div data-bind="visible: App.game.party.alreadyCaughtPokemon($data.id, true)" style="position: absolute;right: 0px;top: 0px;">✨</div>
                                    <img src="" width="80px" data-bind="attr:{ src: PokedexHelper.getImage($data.id)}">
                                    <span class="attack" style="bottom: 0; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px"
                                    data-bind="text: $data.attack">attack</span>
                                </div>
                            </button>
                        </div>
                        <!-- /ko -->
                    </div>
                    <p class="text-danger" data-bind="visible: !App.game.breeding.hasFreeEggSlot()">
                        Unfortunately, you don't have any free eggslots.
                    </p>
                </div>

                <div class="tab-pane" id="breeding-eggs">
                    <div data-bind="if: App.game.breeding.hasFreeEggSlot()">
                        <p class="text-danger" data-bind="visible: !Object.keys(GameConstants.EggItemType).filter(e=>isNaN(e)).filter(x=>player._itemList[x]()).length">
                            Unfortunately, you don't have any eggs to breed.
                        </p>
                        <!-- ko if: Object.keys(GameConstants.EggItemType).filter(e=>isNaN(e)).filter(x=>player._itemList[x]()).length -->
                        <div class="row">
                            <!-- ko foreach: Object.keys(GameConstants.EggItemType).filter(e=>isNaN(e)).filter(x=>player._itemList[x]()) -->
                                <button class="eggSlot col-sm-4 col-md-3 col-lg-2 pokedexEntry text-nowrap btn"
                                    data-bind="click: function() { ItemList[$data].use(); if (!App.game.breeding.hasFreeEggSlot()) {$('#breedingModal').modal('hide'); } }">
                                    <span style="top: 0; border-top-left-radius: 6px; border-top-right-radius: 6px;" data-bind="text: GameConstants.humanifyString($data)">egg</span>
                                    <img src="" width="80px" data-bind="attr:{ src: `assets/images/breeding/${$data}.png` }">
                                    <span style="bottom: 0; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px"
                                    data-bind="text: 'Amount: ' + player._itemList[$data]()">amount</span>
                                    <knockout style="position: absolute; right: 2px; top: -14px;"
                                    data-bind="template: { name: 'caughtStatusTemplate', data: { status: ItemList[$data].getCaughtStatus() }, if: (ItemList[$data] instanceof CaughtIndicatingItem) }"/>
                                </button>
                            <!-- /ko -->
                        </div>
                        <!-- /ko -->
                    </div>

                    <p class="text-danger" data-bind="visible: !App.game.breeding.hasFreeEggSlot()">
                        Unfortunately, you don't have any free eggslots.
                    </p>
                </div> 

                <div class="tab-pane" id="breeding-fossils">
                    <div data-bind="if: App.game.breeding.hasFreeEggSlot()">
                        <p class="text-danger" data-bind="visible: !Object.keys(GameConstants.FossilToPokemon).filter(f => player.mineInventory.find(i => i.name == f && i.amount())).length">
                            Unfortunately, you don't have any fossils to breed.
                        </p>
                        <!-- ko if: Object.keys(GameConstants.FossilToPokemon).filter(f => player.mineInventory.find(i => i.name == f && i.amount())).length -->
                        <div class="row">
                            <!-- ko foreach: Object.keys(GameConstants.FossilToPokemon).map(f => player.mineInventory.find(i => i.name == f)).filter(f => f ? f.amount() : false) -->
                                <button class="eggSlot col-sm-4 col-md-3 col-lg-2 pokedexEntry text-nowrap btn"
                                data-bind="click: function() { Underground.sellMineItem($data.id); if (!App.game.breeding.hasFreeEggSlot()) {$('#breedingModal').modal('hide'); } }">
                                    <span style="top: 0; border-top-left-radius: 6px; border-top-right-radius: 6px;" data-bind="text: GameConstants.humanifyString($data.name)">fossil</span>
                                    <img src="" width="60%" data-bind="attr:{ src: `assets/images/breeding/${$data.name}.png` }">
                                    <span style="bottom: 0; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px"
                                    data-bind="text: 'Amount: ' + $data.amount()">amount</span>
                                </button>
                            <!-- /ko -->
                        </div>
                        <!-- /ko -->
                    </div>

                    <p class="text-danger" data-bind="visible: !App.game.breeding.hasFreeEggSlot()">
                        Unfortunately, you don't have any free eggslots.
                    </p>
                </div> 
            </div>
       </div>
       <div class="modal-footer">
           <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
       </div>
   </div>
</div>
</div>
