<div class="modal fade" id="breedingModal" tabindex="-1" role="dialog"
aria-labelledby="breedingModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg" role="document">
   <div class="modal-content">
       <div class="modal-header">
           <div style="width: 100%;">
               <img src="assets/images/oak.png">
               <h5 class="modal-title" id="breedingModalLabel">Day Care Old Man</h5>
           </div>
       </div>
       <div class="modal-body">
           <p>
               This is the Pokémon Day Care Center.<br/>
               You can trade your level 100 pokémon for an egg of the same pokémon.<br/>
               Hatched pokémon will increase their attack and have a higher chance of becoming shiny!
           </p>
           <div data-bind="if: player.hasFreeEggSlot()">
               <!-- ko if: Object.keys(GameConstants.EggItemType).filter(e=>isNaN(e)).map(x=>player._itemList[x]()).reduce((x,y)=>x+y) -->
               <p>
                   Pick an egg below to breed:
               </p>
               <div class="row col-lg-10 col-md-12 offset-lg-1 offset-md-0 col-sm-12 offset-sm-0"
                    style="padding-right: 0"
                    data-bind="foreach: Object.keys(GameConstants.EggItemType).filter(e=>isNaN(e)).filter(x=>player._itemList[x]())">
                   <div class="col-md-6 col-sm-10 col-lg-4 offset-sm-1 offset-md-0 offset-md-0 breedingListItem text-nowrap">
                       <button class="btn btn-secondary list-group-item-action"
                               data-bind="click: function() { ItemList[$data].use(); if (!player.hasFreeEggSlot()) {$('#breedingModal').modal('hide'); } }">
                           <img class="smallImage"
                                data-bind="attr:{ src: BreedingHelper.getEggImage(ItemList[$data]) }"
                                src=""/>
                           <span data-bind="text: GameConstants.humanifyString($data) + ' (' + player._itemList[$data]() + ')'" style="margin-left: 15px"></span>
                       </button>
                   </div>
               </div>
               <!-- /ko -->
               <!-- Check if the player has any level 100 Pokemon or if they have any eggs -->
               <p class="text-danger" data-bind="visible: !player.hasMaxLevelPokemon()">
                   Unfortunately, you don't have any pokémon of level 100
               </p>
               <!-- ko if: player.hasMaxLevelPokemon() -->
                 <p>
                     Pick a pokémon below to breed them:
                 </p>
                 <div class="row" data-bind="foreach: player.maxLevelPokemonList()">
                    <button class="col-sm-4 col-md-3 col-lg-2 pokedexEntry text-nowrap btn"
                    data-bind="style:{background: PokedexHelper.getBackgroundColors($data.name)},
                      click: function() { BreedingHelper.gainPokemonEgg($data);if (!player.hasFreeEggSlot()) {$('#breedingModal').modal('hide');}}">
                        <span style="top: 0; border-top-left-radius: 6px; border-top-right-radius: 6px;" data-bind="text: $data.name">name</span>
                        <div data-bind="if: PokedexHelper.pokemonSeen($data.id)">
                            <div data-bind="visible: player.alreadyCaughtPokemonShiny(name)" style="position: absolute;right: 20px;top: 20px;">✨</div>
                            <img src="" width="80px" data-bind="attr:{ src: PokedexHelper.getImage($data.id, $data.name)}">
                            <span class="attack" style="bottom: 0; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px"
                              data-bind="text: $data.attack()">attack</span>
                        </div>
                    </button>
                 </div>
               <!-- /ko -->
           </div>
           <p class="text-danger" data-bind="visible: !player.hasFreeEggSlot()">
               Unfortunately, you don't have any free eggslots
           </p>
       </div>
       <div class="modal-footer">
           <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
       </div>
   </div>
</div>
</div>
