<div class="modal fade" id="bulletinBoardModal" tabindex="-1" role="dialog"
aria-labelledby="bulletinBoardModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable modal-lg" role="document" data-bind="if: BulletinBoard.selectedBulletinBoard()">
    <div class="modal-content">
       <div class="modal-header justify-content-start align-items-center">
            <h5 class="modal-title" id="bulletinBoardModalLabel">Bulletin board</h5>
        </div>
        <div class="modal-body p-0">
            <table class="table m-0">
                <tbody>
                    <!-- ko foreach: GameHelper.chunk(3, BulletinBoard.selectedBulletinBoard().getQuests()) -->
                    <tr>
                        <!-- ko foreach: $data -->
                        <td class="col-md-3">
                            <div class="text-left p-4 bulletin-paper card">
                                <h5 style="padding-right: 20px;">
                                    <knockout data-bind="text: $data.name" style="font-size: 1.5rem; font-weight: bold;">Name</knockout>
                                </h5>
                                <div class="p-0">
                                    <knockout data-bind="text: $data.description" style="font-size: 1.3rem;">Description</knockout>
                                </div>
                                <button class="btn btn-primary absolute-bottom" style="position: absolute; bottom: 30px;" data-bind="click: () => { $data.beginQuest(0, undefined, true); }">Accept</button>
                            </div>
                        </td>
                        <!-- /ko -->
                        <!-- ko if: $data.length < 2 -->
                        <td class="col-md-3"></td>
                        <!-- /ko -->
                        <!-- ko if: $data.length < 3 -->
                        <td class="col-md-3"></td>
                        <!-- /ko -->
                    </tr >
                    <!-- /ko -->
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>
