<div class="modal fade" id="bulletinBoardModal" tabindex="-1" role="dialog"
aria-labelledby="bulletinBoardModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable modal-lg" role="document" data-bind="if: BulletinBoard.selectedBulletinBoard()">
    <div class="modal-content">
       <div class="modal-header justify-content-start align-items-center">
            <h5 class="modal-title" id="bulletinBoardModalLabel">Bulletin Board</h5>
        </div>
        <div class="modal-body p-0">
            <table class="table m-0">
                <tbody>
                    <!-- ko foreach: GameHelper.chunk(3, BulletinBoard.selectedBulletinBoard().getQuests()) -->
                    <tr>
                        <!-- ko foreach: $data -->
                        <td class="col-md-3">
                            <div class="text-left bulletin-paper card">
                                <div class="card-footer">
                                    <h5 class="card-title m-0" data-bind="text: $data.name">Card title</h5>
                                </div>
                                <div class="card-body">
                                    <p class="card-text" data-bind="text: $data.description">Description</p>
                                </div>
                                <div class="card-footer p-0">
                                    <button class="btn btn-primary btn-block" data-bind="visible: !$data.state(), click: () => { $data.beginQuest(0, undefined, true); }">Accept</button>
                                    <button class="btn btn-primary btn-block" data-bind="visible: $data.state() == QuestLineState.started" disabled>Started</button>
                                </div>
                            </div>
                        </td>
                        <!-- /ko -->
                        <!-- ko if: $data.length < 2 -->
                        <td class="col-md-3"></td>
                        <!-- /ko -->
                        <!-- ko if: $data.length < 3 -->
                        <td class="col-md-3"></td>
                        <!-- /ko -->
                    </tr >
                    <!-- /ko -->
                    <!-- ko if: BulletinBoard.selectedBulletinBoard().getQuests().length == 0 -->
                    <tr>
                        <td>No new quests available.</td>
                    </tr>
                    <!-- /ko -->
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
    </div>
</div>
</div>
