<div class="modal fade noselect" id="categoryModal" tabindex="-1" role="dialog" aria-badgeledby="categoryModal">
    <div class="modal-dialog modal-dialog-scrollable modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Categories</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <table class="table table-sm m-0 text-left">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="text-center" width="20%">Color</th>
                            <th width="80%">Name</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody data-bind="sortable: {
                        foreach: PokemonCategories.categories,
                        options: {
                            group: 'pokemonCategories',
                            draggable: '.category-row',
                            handle: '.category-drag-handle',
                            getId: (cat) => cat.id,
                        }}">
                        <tr class="category-row">
                            <td class="category-drag-handle align-middle text-center px-2" style="cursor: grab;">⠿</td>
                            <td class="p-0" data-bind="style: { background: $data.color }">
                                <label style="width:100%; min-height: 28px; padding:0px; margin: 0px;">
                                    <input style="opacity: 0;" type="color" data-bind="value: $data.color" />
                                </label>
                            </td>
                            <td data-bind="contentEditable: $data.name"></td>
                            <td>
                                <div class="btn-group" data-bind="visible: PokemonCategories.categories().length > 1">
                                    <button type="button" class="btn btn-sm py-0 dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false" title="Move Pokémon from this category to another category."></button>
                                    <div class="dropdown-menu pt-0">
                                        <p class="small text-center p-2 mb-0">Move Pokémon To:</p>
                                        <div data-bind="foreach: PokemonCategories.categories()">
                                            <!-- ko if: $data.id !== $parent.id -->
                                            <button class="dropdown-item small" type="button"
                                                data-bind="text: $data.name,
                                                    style: { 'background-color': $data.color(), color: GameHelper.isColorLight($data.color()) ? 'black' : 'white' },
                                                    click: () => PartyController.moveCategoryPokemon($parent.id, $data.id)"></button>
                                            <!-- /ko -->
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <button type="button" class="close text-danger" title="Remove Category" style="opacity: 1;"
                                    data-bind="visible: $data.id > 0, click: () => { PokemonCategories.removeCategory($data.id) }">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                    <tbody>
                        <tr>
                            <td class="bg-primary clickable text-center" colspan="5"
                                onclick="PokemonCategories.addCategory('New', '#333333')">+ New</td>
                        </tr>
                    </tbody>
                </table>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger mr-auto"
                        data-bind="click: async () => { if (await Notifier.confirm({ title: 'Reset Categories', message: 'Are you sure you want to reset all of your categories to defaults?', confirm: 'Reset' })) PokemonCategories.reset(); }">Reset</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
