<div class="modal noselect fade" id="challengeModeModal" tabindex="-1" role="dialog" aria-labelledby="challengeModeModal">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Challenge Modes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <strong>Activate in-game challenge modes!</strong><br/>
                    Challenges can be disabled later, but cannot be re-enabled.
                </p>
                <br/>
                <table class="table" width="100%">
                    <tbody data-bind="foreach: Object.values(App.game.challenges.list)">
                        <tr data-bind="tooltip: {
                            title: $data.description,
                            placement: 'bottom',
                            trigger: 'hover'
                        }">
                            <td class="text-left font-weight-bold" data-bind="text: $data.type"></td>
                            <td class="p-1">
                                <!-- ko if: !$data.active() && player.regionStarters[GameConstants.Region.kanto]() == GameConstants.Starter.None --><button class="btn btn-warning btn-block" data-bind="click: ()=>{$data.activate();}">ACTIVATE</button><!-- /ko -->
                                <!-- ko if: !$data.active() && player.regionStarters[GameConstants.Region.kanto]() != GameConstants.Starter.None --><button class="btn btn-secondary btn-block disabled">DISABLED</button><!-- /ko -->
                                <!-- ko if: $data.active() --><button class="btn btn-success btn-block" data-bind="click: ()=>{$data.disable();}">ACTIVE</button><!-- /ko -->
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br/>
               <button class="btn btn-primary btn-block" data-dismiss="modal">Done!</button>
            </div>
       </div>
    </div>
</div>
