<div class="modal fade noselect" id="changelogModal" tabindex="-1" role="dialog" aria-badgeledby="changelogModal">
    <div class="modal-dialog modal-lg" role="document">
       <div class="modal-content">
           <div class="modal-header">
               <h5>Changelog</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
               </button>
           </div>

           <div class="modal-body p-0">
               <table class="table table-striped table-hover table-bordered table-sm">
                   <thead>
                     <tr>
                       <th>Type</th>
                       <th>Message</th>
                     </tr>
                   </thead>
                   <tbody data-bind="foreach: changelogItems">
                     <tr data-bind="css: { 'table-dark': type.label == 'UPDATE' }">
                       <td class="tight" data-bind="html: type.label, class: 'table-' + type.display"></td>
                       <td class="text-left" data-bind="html: description">-</td>
                     </tr>
                   </tbody>
               </table>
               <br/>
           </div>

           <div class="modal-footer">
               <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
           </div>
       </div>
    </div>
</div>
