<div class="modal fade noselect" id="changelogModal" tabindex="-1" role="dialog" aria-badgeledby="changelogModal">
    <div class="modal-dialog modal-lg" role="document">
       <div class="modal-content">
           <div class="modal-header">
               <h4>Changelog</h4>
           </div>

           <div class="modal-body" style="text-align: left;" data-bind="foreach: changelogItems">
             <span data-bind="html: type + ' ' + description"></span><br/>
           </div>

           <div class="modal-footer">
               <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
           </div>
       </div>
    </div>
</div>
