<div class="modal fade" data-keyboard="false" data-backdrop="static" id="contestWonModal" tabindex="-1" role="dialog"
aria-labelledby="contestWonModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div style="width: 100%;">
                    <svg class="ribbon" xmlns="http://www.w3.org/2000/svg" width="80px" viewBox="0 0 1280 1280" xmlns:v="https://vecta.io/nano"
                        data-bind="attr: {'contest-type': ContestType[ContestRunner.type()]}">
                        <g data-bind="html: ContestHelper.getRibbonImage(ContestRunner.rank(), ContestRunner.type())"></g>
                    </svg>
                    <h5 class="modal-title" id="contestWonModalLabel"
                        data-bind="text: `${ContestRank[ContestRunner.rank()]} Rank Contest Won!`">Modal title</h5>
                </div>
            </div>
            <div class="modal-body">
                <p data-bind="text: `Congratulations! You have been awarded a ${ContestRank[ContestRunner.rank()]} ${ContestRunner.type() != ContestType.Balanced ? ContestType[ContestRunner.type()] : 'Star'} Ribbon!`"></p>
            </div>
            <div class="modal-footer" style="justify-content: center;">
                <button type="button" class="btn btn-success" data-dismiss="modal">Accept</button>
            </div>
        </div>
    </div>
</div>
