<script type="text/html" id="damageDetailTemplate">
  <tr>
      <td>
          <img class="smallImage" data-bind="attr:{ src: PokemonHelper.getImage($data.id) }" src=""/>
      <td class="text-nowrap">
          <span data-bind="text: $data.displayName">Name</span><sup data-bind="visible: App.game.party.alreadyCaughtPokemon($data.id, true)">✨</sup>
      </td>
      <td data-bind="text: Math.round(damage).toLocaleString('en-US')">Damage</td>
      <td data-bind="text: PokemonType[type1]">Type 1</td>
      <td data-bind="text: PokemonType[type2]">Type 2</td>
  </tr>
</script>

<div class="modal fade" id="damageCalculatorModal" tabindex="-1" role="dialog"
aria-labelledby="damageCalculatorModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
    <div class="modal-content">
        <!-- ko if: modalUtils.observableState['damageCalculatorModal'] === 'show' -->
        <div class="modal-header">
            <h5 class="modal-title" id="damageCalculatorModalLabel">Damage Calculator</h5>
            <button type="button" class="btn btn-info"
            style="position: absolute; right: 0px; top: 0px; width: auto; height: 61px; padding: 10px;"
            data-bind="tooltip: { title: `Check how much damage you are doing against a particular Pokémon type, and see a breakdown of where that damage is coming from by your Pokémon types.`, trigger: 'hover', placement:'left' }">
            ?
            </button>
        </div>
        <div class="modal-body p-0">
            <div class="p-1">
                <div class="form-row m-0">
                    <div class="form-group col-3 text-left">
                        <div class="form-check">
                            <input id="damage-calc-include-breeding" class="form-check-input" type="checkbox" autocomplete="off" data-bind="checked: DamageCalculator.includeBreeding"></input>
                            <label for="damage-calc-include-breeding" class="form-check-label">Include Breeding</label>
                        </div>
                        <div class="form-check">
                            <input id="damage-calc-ignore-level" class="form-check-input" type="checkbox" autocomplete="off" data-bind="checked: DamageCalculator.ignoreLevel"></input>
                            <label for="damage-calc-ignore-level" class="form-check-label">Ignore Level</label>
                        </div>
                        <div class="form-check">
                            <input id="damage-calc-use-base" class="form-check-input" type="checkbox" autocomplete="off" data-bind="checked: DamageCalculator.baseAttackOnly"></input>
                            <label for="damage-calc-use-base" class="form-check-label">Base Attack Only</label>
                        </div>
                    </div>
                    <div class="form-group form-row col">
                        <!-- ko if: App.game.challenges.list.regionalAttackDebuff.active() -->
                        <div class="form-group col-lg-3 col-6">
                            <label>Region</label>
                            <select autocomplete="off" class="custom-select" data-bind="value: DamageCalculator.region">
                                <!-- ko foreach: GameHelper.enumStrings(GameConstants.Region).filter(r => r != 'none' && GameConstants.Region[r] <= player.highestRegion()) -->
                                <option data-bind="attr: { value: GameConstants.Region[$data] }, text: GameConstants.camelCaseToString($data)">Region</option>
                                <!-- /ko -->
                                <option value="-1">None</option>
                            </select>
                        </div>
                        <!-- /ko -->
                        <div class="form-group col-lg-3 col-6">
                            <label>Weather</label>
                            <select autocomplete="off" class="custom-select" data-bind="value: DamageCalculator.weather">
                                <!-- ko foreach: GameHelper.enumStrings(WeatherType) -->
                                <option data-bind="attr: { value: WeatherType[$data] }, text: GameConstants.camelCaseToString($data)">Weather</option>
                                <!-- /ko -->
                            </select>
                        </div>
                        <div class="form-group col-lg-3 col-6">
                            <label>Type 1</label>
                            <select autocomplete="off" class="custom-select" data-bind="value: DamageCalculator.type1">
                                <!-- ko foreach: GameHelper.enumStrings(PokemonType) -->
                                <option data-bind="attr: { value: PokemonType[$data] }, text: $data">Type</option>
                                <!-- /ko -->
                            </select>
                        </div>
                        <div class="form-group col-lg-3 col-6">
                            <label>Type 2</label>
                            <select autocomplete="off" class="custom-select" data-bind="value: DamageCalculator.type2">
                                <!-- ko foreach: GameHelper.enumStrings(PokemonType) -->
                                <option data-bind="attr: { value: PokemonType[$data] }, text: $data">Type</option>
                                <!-- /ko -->
                            </select>
                        </div>
                    </div>
                </div>
                <div data-bind="text: `Total Damage: ${Math.round(DamageCalculator.observableTotalDamage()).toLocaleString('en-US')}`"> </div>
                <div class="d-flex">
                    <!-- ko foreach: DamageCalculator.observableTypeDamageArray -->
                    <div class="type-damage-bar"
                        data-bind="style: {'flex-grow': $data,
                                            'background-color': '#' + TypeHelper.typeColorsLocked[$index()]
                                          },
                                    visible: $data > 0,
                                    tooltip: {title: `${PokemonType[$index()]}: ${Math.round($data).toLocaleString('en-US')}`,
                                              trigger: 'hover',
                                              placement:'bottom'
                                            },
                                    click: () => {DamageCalculator.detailType($index())}"
                    ></div>
                    <!-- /ko -->
                </div>
                <div class="form-group text-left mt-3">
                    <label>Type Detail</label>
                    <select autocomplete="off" data-bind="value: DamageCalculator.detailType">
                        <!-- ko foreach: GameHelper.enumStrings(PokemonType) -->
                        <option data-bind="attr: { value: PokemonType[$data] }, text: $data">Type</option>
                        <!-- /ko -->
                    </select>
                    <!-- ko if: DamageCalculator.detailType() != PokemonType.None -->
                    <span class="float-right" data-bind="text: `${PokemonType[DamageCalculator.detailType()]} Damage: ${Math.round(DamageCalculator.observableTypeDamageArray()[DamageCalculator.detailType()]).toLocaleString('en-US')}`"></span>
                    <!-- /ko -->
                </div>
            </div>
            <div data-bind="if: DamageCalculator.detailType() != PokemonType.None">
                <table id="damageCalcTypeDetailTable" class="table table-striped table-hover table-sm m-0">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Name</th>
                            <th>Damage</th>
                            <th>Type 1</th>
                            <th>Type 2</th>
                        </tr>
                    </thead>
                    <tbody data-bind="template: { name: 'damageDetailTemplate', foreach: DamageCalculator.observableTypeDetails }">
                    </tbody>
                </table>
            </div>
       </div>
       <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
       </div>
       <!-- /ko -->
   </div>
</div>
</div>
