<div class="modal" data-keyboard="false" data-backdrop="static" id="developmentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title">Unova is here!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body text-start">
                <p></p>
                <i class="text-warning">Note: The game is still in active development and bugs may happen.</i>
                <hr/>
                <p>Please submit any issues you find on <a href="https://discord.gg/a6DFe4p" target="_blank">Discord</a>
                    or <a href="https://github.com/pokeclicker/pokeclicker/issues" target="_blank">GitHub</a>.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary w-100" data-bs-dismiss="modal">Let's GO!</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function checkDevModal(event) {
        $('#developmentModal').modal('show');
    });
</script>
