<div class="modal" data-keyboard="false" data-backdrop="static" id="developmentModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title">Unova is here!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left">
                <p>The Unova region is now able to be visited,<br/>
                Some things may still not quite be right, so please help us out by checking the following:<br/>
                <ul>
                    <li>Dungeons, Gyms, Towns and Routes all have the appropriate background</li>
                    <li>Correct spelling for Towns, Gym Leaders etc.</li>
                    <li>Dungeons and Gyms HP is high/low enough</li>
                </ul>
                </p>
                <i class="text-warning">Note: The Unova Fossil Pokemon are not able to be obtained currently</i>
                <hr/>
                <p>Please submit any issues you find on <a href="https://discord.gg/a6DFe4p" target="_blank">Discord</a>
                    or <a href="https://github.com/pokeclicker/pokeclicker/issues" target="_blank">GitHub</a>.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Lets GO!</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function checkDevModal(event) {
        //$('#developmentModal').modal('show');
    });
</script>
