<div id="donateModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-sm-center">
                <h4 class="modal-title">Donate</h4>
            </div>
            <div class="modal-body">
                <span>This game is developed freely by community users who love what they see. If you want to help support that effort, you can donate to the project. Donations go into the project directlly by allowing us to spend more time on feature requests and active development. If you like what you see and want to contribute, feel free to use the buttons below.
                </span>
                <br><br>
                <span>Please leave a message after donating, so our team can contact and thank you directly.</span>
                <br><br>

                <div class="row justify-content-sm-center" style="text-align: center">

                    <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <button class="btn btn-success donate-button clickable">€1<br><img
                                src="assets/images/pokemon/1.png">
                        </button>
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="YP9SQ748NN5EW">
                        <input type="hidden" name="submit" alt="PayPal – The safer, easier way to pay online!">
                        <img alt="" border="0" src="" width="1"
                             height="1">
                    </form>

                    <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <button class="btn btn-danger donate-button clickable">€3<br><img
                                src="assets/images/pokemon/4.png">
                        </button>
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="MR8497BXE7P3A">
                        <input type="hidden" name="submit" alt="PayPal – The safer, easier way to pay online!">
                        <img alt="" border="0" src="" width="1"
                             height="1">
                    </form>

                    <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <button data-html="true"
                                title="Don't let the PokéDex order fool you, Charmander is and will always be the best starter. -Isha"
                                class="btn btn-primary donate-button clickable">€5<br><img
                                src="assets/images/pokemon/7.png">

                        </button>
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="VHFSUMCRY8PJU">
                        <input type="hidden" name="submit" alt="PayPal – The safer, easier way to pay online!">
                        <img alt="" border="0" src="" width="1"
                             height="1">
                    </form>
                </div>

                <div class="row justify-content-sm-center" style="text-align: center">
                    <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <button class="btn btn-warning donate-button clickable">€10<br><img
                                src="assets/images/pokemon/25.png">
                        </button>
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="N7NMLXFQDPPC6">
                        <input type="hidden" name="submit" alt="PayPal – The safer, easier way to pay online!">
                        <img alt="" border="0" src="" width="1"
                             height="1">
                    </form>

                    <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <button class="btn donate-button-mew donate-button clickable">€20<br><img
                                src="assets/images/pokemon/151.png"></button>
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="HJHXNGD3H5BH6">
                        <input type="hidden" name="submit" alt="PayPal – The safer, easier way to pay online!">
                        <img alt="" border="0" src="" width="1"
                             height="1">
                    </form>

                    <form target="_blank" action="https://www.paypal.com/cgi-bin/webscr" method="post">
                        <button class="btn btn-default donate-button-unown donate-button clickable">Custom<br><img
                                src="assets/images/pokemon/unown.png"></button>
                        <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="XKQMADJLWZZC8">
                        <input type="hidden" name="submit" alt="PayPal – The safer, easier way to pay online!">
                        <img alt="" border="0" src="" width="1"
                             height="1">
                    </form>

                </div>

                <div class="row justify-content-sm-center" style="text-align: center">
                    <p class="text-muted" style="font-size:8px">*note you don't actually get the Pokémon</p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default clickable" data-dismiss="modal">Close</button>
            </div>

        </div>

    </div>
</div>