<div class="row justify-content-center no-gutters" data-bind="if: App.game.gameState === GameConstants.GameState.dungeon">
    <div class="col no-gutters clickable" style="height: 280px; display: block;"
        data-bind="css: { 'multi-battle': DungeonBattle.isDoubleTrainerBattle }, click: function() { DungeonRunner.handleInteraction() }">
        <h2 class="pageItemTitle mobileBattleTitle" style="display: block;">
            <knockout data-bind="if: DungeonBattle.firstEnemyPokemon() && DungeonBattle.firstEnemyPokemon().health()">
                <knockout data-bind="ifnot: DungeonBattle.isDoubleTrainerBattle">
                    <knockout data-bind="template: { name: 'pokemonNameTemplate', data: { 'pokemon': DungeonBattle.firstEnemyPokemon() } }">Pokémon name</knockout>
                    <!-- ko if: !DungeonBattle.trainer() -->
                    <knockout data-bind="template: { name: 'caughtStatusTemplate', data: {'status': PartyController.getCaughtStatus(DungeonBattle.firstEnemyPokemon().id)}}"></knockout>
                    <knockout style="position: relative; top: -1px;"
                        data-bind="template: { name: 'pokerusStatusTemplate', data: {
                            'pokerus': PartyController.getPokerusStatus(DungeonBattle.firstEnemyPokemon().id),
                            'evs': App.game.party.getPokemon(DungeonBattle.firstEnemyPokemon().id)?.evs() }}">
                    </knockout>
                    <!-- /ko -->
                </knockout>
                <knockout data-bind="if: DungeonBattle.isDoubleTrainerBattle">
                    <span class="multi-battle-title" data-bind="foreach: DungeonBattle.enemyPokemonView">
                        <knockout data-bind="if: $data">
                            <span data-bind="if: $index() > 0">&nbsp;&&nbsp;</span>
                            <span data-bind="template: { name: 'pokemonNameTemplate', data: { 'pokemon': $data } }">Pokémon name</span>
                        </knockout>
                    </span>
                </knockout>
            </knockout>
            <knockout data-bind="if: !DungeonBattle.firstEnemyPokemon() || !DungeonBattle.firstEnemyPokemon().health()">
                &nbsp;
            </knockout>

            <knockout class="left">
                <!-- ko if: DungeonBattle.trainer() -->
                <knockout data-bind="text: DungeonBattle.trainer().name">Trainer name</knockout>
                <!-- /ko -->
            </knockout>

            <!-- ko ifnot: DungeonBattle.trainer() -->
            <knockout class="right" data-bind="css: { 'text-danger': DungeonRunner.timeLeftSeconds() < 20, 'text-primary': DungeonRunner.timeLeftSeconds() >= 20 }">
                <h4><strong data-bind="text: DungeonRunner.timeLeftSeconds() + 's'"></strong></h4>
            </knockout>
            <!-- /ko -->
            <!-- ko if: DungeonBattle.trainer() -->
            <knockout class="right">
                <span data-bind="foreach: new Array(DungeonBattle.defeatedTrainerPokemon())">
                    <img src="assets/images/pokeball/Pokeball.svg" class="pokeball-smallest pokeball-defeated"/>
                </span>
                <span data-bind="foreach: new Array(DungeonBattle.remainingTrainerPokemon())">
                    <img src="assets/images/pokeball/Pokeball.svg" class="pokeball-smallest"/>
                </span>
            </knockout>
            <!-- /ko -->
            <div class="progress timer">
                <div class="progress-bar bg-danger" role="progressbar"
                     data-bind="attr:{ style: 'width:' + DungeonRunner.timeLeftPercentage() + '%' },
                     css: { 'bg-danger': DungeonRunner.timeLeftSeconds() < 20, 'bg-primary': DungeonRunner.timeLeftSeconds() >= 20 }"
                     aria-valuemin="0" aria-valuemax="100">
                     <span data-bind="text: DungeonRunner.timeLeftSeconds() + 's'" style="font-size: 12px;"></span>
                </div>
            </div>
        </h2>

        <!-- ko if: (DungeonRunner.fighting() || DungeonBattle.catching)  -->
        <div data-bind="if: DungeonBattle.firstEnemyPokemon()">
            <div class="trainer" data-bind="if: DungeonBattle.trainer() && !DungeonBattle.trainer().options?.hideTrainer">
                <img data-bind="attr:{ src: DungeonBattle.trainer().image }" onerror="this.src='assets/images/npcs/specialNPCs/Mysterious Trainer.png';"/>
            </div>
            <!-- ko ifnot: DungeonBattle.isDoubleTrainerBattle -->
                <div class="dungeon-enemy">
                    <div data-bind="ifnot: DungeonBattle.catching">
                        <knockout data-bind="template: { name: 'pokemonSpriteTemplate', data: { 'pokemon': DungeonBattle.firstEnemyPokemon() } }">Pokémon sprite</knockout>
                    </div>
                    <div data-bind="if: DungeonBattle.catching" class="catchChance">
                        <img class="pokeball-animated"
                             data-bind="attr:{ src: 'assets/images/pokeball/' + GameConstants.Pokeball[DungeonBattle.pokeball()] + '.svg' }"
                             src=""/>
                        <br>
                        Catch Chance:
                        <knockout data-bind="text: Math.floor(DungeonBattle.catchRateActual()) + '%'">Catch Rate</knockout>
                    </div>
                </div>
                <div class="progress hitpoints dungeonhitpoints" style="height: 20px;">
                    <div class="progress-bar bg-danger" role="progressbar"
                         data-bind="attr:{ style: 'width:' + DungeonBattle.firstEnemyPokemon().healthPercentage() + '%'}, css: { 'healthbar-boss': DungeonRunner.fightingBoss(), 'bg-danger': !DungeonRunner.fightingBoss()}"
                         aria-valuemin="0" aria-valuemax="100">
                         <span data-bind="text: DungeonBattle.firstEnemyPokemon().health().toLocaleString('en-US') + ' / ' + DungeonBattle.firstEnemyPokemon().maxHealth().toLocaleString('en-US')" style="font-size: 12px;"></span>
                    </div>
                </div>
            <!-- /ko -->

            <!-- ko if: DungeonBattle.isDoubleTrainerBattle -->
                <div class="multi-battle-pokemon-list" data-bind="foreach: DungeonBattle.enemyPokemonView">
                    <div class="multi-battle-pokemon-slot" data-bind="css: { clickable: $data && $data.isAlive() && !DungeonBattle.isCatchingPokemon($data) }, click: function() { if ($data && $data.isAlive() && !DungeonBattle.isCatchingPokemon($data)) { DungeonBattle.clickAttack($data); } }, clickBubble: false">
                        <knockout data-bind="if: $data">
                            <knockout data-bind="if: DungeonBattle.isCatchingPokemon($data)">
                                <div class="catchChance" data-bind="with: DungeonBattle.getCatchState($data)">
                                    <img class="pokeball-animated"
                                         data-bind="attr:{ src: 'assets/images/pokeball/' + GameConstants.Pokeball[$data.pokeball] + '.svg' }"
                                         src=""/>
                                    <br>
                                    Catch Chance:
                                    <knockout data-bind="text: Math.floor($data.catchRateActual) + '%'">Catch Rate</knockout>
                                </div>
                            </knockout>
                            <knockout data-bind="ifnot: DungeonBattle.isCatchingPokemon($data)">
                                <div class="multi-battle-pokemon-sprite">
                                    <knockout data-bind="template: { name: 'pokemonSpriteTemplate', data: { 'pokemon': $data } }">Pokémon sprite</knockout>
                                </div>
                            </knockout>
                        </knockout>
                    </div>
                </div>

                <div class="multi-battle-hitpoints-list" data-bind="foreach: DungeonBattle.enemyPokemonView">
                    <div class="multi-battle-hitpoints-slot">
                        <knockout data-bind="if: $data">
                            <div class="progress multi-battle-hitpoints">
                                <div class="progress-bar bg-danger" role="progressbar"
                                        data-bind="attr:{ style: 'width:' + $data.healthPercentage() + '%' }, css: { 'healthbar-boss': DungeonRunner.fightingBoss(), 'bg-danger': !DungeonRunner.fightingBoss() }"
                                        aria-valuemin="0" aria-valuemax="100">
                                    <span data-bind="text: $data.health().toLocaleString('en-US') + ' / ' + $data.maxHealth().toLocaleString('en-US')" style="font-size: 12px;"></span>
                                </div>
                            </div>
                        </knockout>
                    </div>
                </div>
            <!-- /ko -->
        </div>
        <!-- /ko -->
        <!-- ko if: DungeonRunner.map.currentTile().type() === GameConstants.DungeonTileType.chest -->
        <div data-bind="with: DungeonRunner.map.currentTile()">
            <div class="dungeon-chest" style="height: 95px">
                <img data-bind='attr: { src: `assets/images/dungeons/chest-${$data.metadata.tier}.png` }'/>
            </div>
            <button class="btn btn-warning chest-button">
                <p>Open <span data-bind="text: $data.metadata.tier"></span> chest</p>
                <p>(+20% Enemy HP)</p>
            </button>
        </div>
        <!-- /ko -->
        <!-- ko if: (DungeonRunner.map.currentTile().type() === GameConstants.DungeonTileType.boss && !DungeonRunner.fightingBoss()) -->
        <div>
            <button class="btn btn-danger dungeon-button">Start Bossfight</button>
        </div>
        <!-- /ko -->
        <!-- ko if: (DungeonRunner.map.currentTile().type() === GameConstants.DungeonTileType.ladder) -->
        <div>
            <button class="btn btn-warning dungeon-button">Go to next floor</button>
        </div>
        <!-- /ko -->
        <!-- ko if: DungeonRunner.map.currentTile().type() === GameConstants.DungeonTileType.entrance && DungeonRunner.map.playerMoved() && !DungeonGuides.hired() -->
        <div>
            <button class="btn btn-warning dungeon-button">Leave Dungeon</button>
        </div>
        <!-- /ko -->
        <h2 class="pageItemFooter" style="display: block; font-size: 1rem;">
          <table width="100%">
              <tr>
                <td width="50%">
                  <knockout data-bind="text: DungeonRunner.dungeon.name">Dungeon name</knockout>
                  <!--If all Pokémon in the dungeon are caught or caught shiny-->
                  <knockout data-bind="if: DungeonRunner.dungeonCompleted(DungeonRunner.dungeon, false)">
                      <img class="pokeball-smallest"
                           data-bind="attr: { src: `assets/images/pokeball/Pokeball${DungeonRunner.dungeonCompleted(DungeonRunner.dungeon, true) ? '-shiny' : ''}.svg`},
                           tooltip: {
                            trigger: 'hover', placement: 'bottom', title: `You have captured all Pokémon${DungeonRunner.dungeonCompleted(DungeonRunner.dungeon, true) ? ' shiny' : ''} in this dungeon!`
                        }"/>
                  </knockout>

                  <!--Pokérus image-->
                  <knockout data-bind="if: RouteHelper.minPokerusCheck(DungeonRunner.dungeon.allAvailablePokemon())">
                      <img data-bind="attr:{ src: 'assets/images/breeding/pokerus/' + GameConstants.Pokerus[RouteHelper.minPokerus(DungeonRunner.dungeon.allAvailablePokemon())] + '.png' },
                      tooltip: { title: RouteHelper.dungeonPokerusEVs(DungeonRunner.dungeon), trigger: 'hover', placement: 'bottom', html: true }"
                    src=""/>
                  </knockout>

                  <!-- ko if: player.town.dungeon.allAvailableShadowPokemon().length -->
                  <img height="19" src="assets/images/status/shadow.svg" data-bind="
                    css: { 'dungeon-pokemon-locked': player.town.dungeon.allAvailableShadowPokemon().some(p => (App.game.party.getPokemonByName(p)?.shadow ?? GameConstants.ShadowStatus.None) < GameConstants.ShadowStatus.Shadow) },"/>
                  <!-- /ko -->
                </td>
                <td width="50%">
                  <knockout data-bind="text: `${App.game.statistics.dungeonsCleared[GameConstants.getDungeonIndex(DungeonRunner.dungeon.name)]().toLocaleString('en-US')} Clears`"></knockout>
                </td>
              </tr>
              <tr>
                <td width="50%">
                    <knockout data-bind="template: { name: 'pokemonAttackTemplate', data: { 'pokemon': DungeonBattle.firstEnemyPokemon(), 'battle': DungeonBattle } }"></knockout>
                </td>
                <td width="50%" data-bind="css: { 'text-muted': App.game.challenges.list.disableClickAttack.active() }">
                    <span style="display: inline;">Click Attack:
                        <span data-bind="text: App.game.party.calculateClickAttack().toLocaleString('en-US')"></span>
                    </span>
                </td>
              </tr>
          </table>
        </h2>
    </div>
</div>
