<div class="modal fade noselect" id="dungeonInfoModal" tabindex="-1" role="dialog" aria-labelledby="dungeonInfoLabel">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header p-0 border-0">
                <div class="row w-100 m-0">
                    <div class="col-12 p-3 text-center border-bottom border-secondary">
                        <h4 class="modal-title d-inline-block" data-bind="text: DungeonInfo.getName()">name</h4>
                        <button type="button" class="btn btn-danger position-absolute" data-dismiss="modal" style="right:0; top:0; font-size: 18px; font-weight: 700;">×</button>
                    </div>
                    <div class="col-12 p-0">
                        <ul class="nav nav-tabs nav-fill w-100">
                            <li class="nav-item w-lg-50"><a data-toggle="tab" class="nav-link active" href="#pan-dungeon-pokemons">Pokémon</a></li>
                            <li class="nav-item w-lg-50"><a data-toggle="tab" class="nav-link" href="#pan-dungeon-trainers">Trainers</a></li>
                            <li class="nav-item w-lg-50"><a data-toggle="tab" class="nav-link" href="#pan-dungeon-items">Items</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-body pt-0" style="background-color: inherit;">
                <div class="tab-content">
                    <div id="pan-dungeon-pokemons" class="tab-pane fade p-3 show active">
                        <!-- ko if: !DungeonInfo.hasPokemons() -->
                            <h5 class="my-0 mx-1 text-light"">This dungeon haven't Pokemon !</h5>
                        <!-- /ko -->
                        <!-- ko foreach: { data: DungeonInfo.pokemonList(), as: 'pokemons' } -->
                        <!-- ko if: pokemons.data.length -->
                        <div class="bg-primary text-center rounded px-3 py-2 mb-1 d-flex align-items-center" data-toggle="collapse" data-bind="attr: { 'data-target': `#dungeon-${pokemons.id}` }">
                            <h5 class="my-0 mx-1 text-light" data-bind="text: pokemons.category">category</h5>
                        </div>
                        <div class="collapse show" data-bind="attr: { 'id': `dungeon-${pokemons.id}` }">
                            <div class="row justify-content-center w-100 p-0 m-0" data-bind="foreach: pokemons.data">
                                <div class="col-sm-4 col-md-3 col-lg-2 pokedexEntry" data-bind="style:{background: PokedexHelper.getBackgroundColors(name)}">
                                    <span class="id pokedex-top-text" data-bind="text: (id > 0 ? Math.floor(id) + '' : '???').padStart(3, 0)">number</span>
                                    <div data-bind="visible: App.game.party.alreadyCaughtPokemonByName(name)" style="position: absolute;right: 2px;top: -15px;">
                                        <img width="18px" src="" data-bind="attr: { src: `assets/images/pokeball/Pokeball${App.game.party.alreadyCaughtPokemon(id, true) ? '-shiny' : ''}.svg`}"/>
                                    </div>
                                    <!-- ko if: App.game.party.alreadyCaughtPokemonByName(name) -->
                                    <div data-bind="if: App.game.party.getPokemon(id)?.pokerus" style="position: absolute;left: 2px;top: -11px;">
                                        <img width="32px" src="" data-bind="attr: { src: `assets/images/breeding/pokerus/${GameConstants.Pokerus[App.game.party.getPokemon(id)?.pokerus]}.png`},
                                        tooltip: {
                                            title: App.game.party.getPokemon(id)?.pokerus >= GameConstants.Pokerus.Contagious ? `EVs: ${App.game.party.getPokemon(id)?.evs().toLocaleString('en-US')}` : '',
                                            placement: 'bottom',
                                            trigger: 'hover'
                                        }"/>
                                    </div>
                                    <!-- /ko -->
                                    <!-- ko with: EncountersInfoHelper.getPokemonRequirementInformations($data) -->
                                    <div style="position: absolute;left: 2px;bottom: 5px;">
                                        <img width="24px" src="" data-bind="attr: { src: `assets/images/encountersInfo/${image}` },
                                        tooltip: {
                                            title: tooltip,
                                            placement: 'bottom',
                                            trigger: 'hover'
                                        }"/>
                                    </div>
                                    <!-- /ko -->
                                    <!-- ko if: mimic -->
                                    <img style="position: absolute;right: 2px;bottom: 5px;" width="24px" data-bind="attr: { src: `assets/images/dungeons/chest-${mimicTier}.png` },
                                    tooltip: {
                                        title: GameConstants.camelCaseToString(mimicTier),
                                        placement: 'bottom',
                                        trigger: 'hover'
                                    }"/>
                                    <!-- /ko -->
                                    <!-- ko if: shadow -->
                                    <img style="position: absolute; width: 60%; left: 24px; bottom: 5px;" class="dungeon-pokemon-locked" src="" data-bind="attr:{ src: $data.shadowBackground }, visible: !App.game.party.getPokemon(id) || App.game.party.getPokemon(id)?.shadow < GameConstants.ShadowStatus.Shadow,"/>
                                    <img style="position: absolute; top: 24px; right: 0px;" class="shadow-icon" src="assets/images/status/purified.svg" data-bind="visible: App.game.party.getPokemon($data.id)?.shadow == GameConstants.ShadowStatus.Purified"/>
                                    <!-- /ko -->
                                    <img src="" class="pokedex-pokemon-sprite" data-bind="css: { 'pokemon-not-seen': !PokedexHelper.pokemonSeen(id)(), 'pokemon-seen-but-not-caught': !App.game.party.alreadyCaughtPokemonByName(name) && PokedexHelper.pokemonSeen(id)() }, attr:{ src: image }">
                                    <span class="pokedex-bottom-text text-truncate px-1" data-bind="text: PokedexHelper.pokemonSeen(id)() ? PokemonHelper.displayName(name) : '???',
                                    tooltip: {
                                        title: PokemonHelper.displayName(name),
                                        trigger: 'hover',
                                        placement: 'bottom'
                                    }">name</span>
                                    <img style="position: absolute; width: 60%; left: 24px; bottom: 5px;" src="assets/images/breeding/lock.svg" data-bind="
                                    hidden: !(lock),
                                    tooltip: {
                                        title: lockMessage,
                                        placement: 'top',
                                        trigger: 'hover',
                                        boundary: 'window'
                                    }" />
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- /ko -->
                    </div>
                    <div id="pan-dungeon-trainers" class="tab-pane fade p-3">
                        <!-- ko if: !DungeonInfo.hasTrainers() -->
                        <h5 class="my-0 mx-1 text-light"">This dungeon haven't trainers !</h5>
                        <!-- /ko -->
                        <!-- ko foreach: { data: DungeonInfo.trainerList(), as: 'trainers' } -->
                        <!-- ko if: trainers.data.length -->
                        <div class="bg-primary text-center rounded px-3 py-2 mb-1 d-flex align-items-center" data-toggle="collapse" data-bind="attr: { 'data-target': `#dungeon-${trainers.id}` }">
                            <h5 class="my-0 mx-1 text-light" data-bind="text: trainers.category">category</h5>
                        </div>
                        <div class="collapse show" data-bind="attr: { 'id': `dungeon-${trainers.id}` }">
                            <div class="row justify-content-center w-100 p-0 m-0" data-bind="foreach: trainers.data">
                                <div class="col-sm-4 col-md-3 col-lg-2 pokedexEntry">
                                    <div data-toggle="collapse" data-bind="attr: { 'data-target': `#trainer-${id}` }">
                                        <img src="" class="pokedex-pokemon-sprite" data-bind="attr:{ src: image }">
                                        <span class="pokedex-top-text text-truncate px-1" data-bind="text: name,
                                        tooltip: {
                                            title: name,
                                            trigger: 'hover',
                                            placement: 'bottom'
                                        }">name</span>
                                        <img style="position: absolute; top: 24px; right: 0px;" class="shadow-icon" src="assets/images/status/shadow.svg" data-bind="visible: shadow"/>
                                        <img style="position: absolute; width: 60%; left: 24px; top: 5px;" src="assets/images/breeding/lock.svg" data-bind="
                                        hidden: !(lock),
                                        tooltip: {
                                            title: lockMessage,
                                            placement: 'top',
                                            trigger: 'hover',
                                            boundary: 'window'
                                        }" />
                                    </div>
                                    <div class="collapse" data-bind="attr: { 'id': `trainer-${id}` }">
                                        <div class="row justify-content-center w-100 p-0 m-0" data-bind="foreach: team">
                                            <div style="border: 2px solid black;" data-bind="style:{background: PokedexHelper.getBackgroundColors(name)}">
                                                <img src="" class="pokedex-pokemon-sprite" data-bind="attr:{ src: image }">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- /ko -->
                    </div>
                    <div id="pan-dungeon-items" class="tab-pane fade p-3">
                        <!-- ko foreach: { data: DungeonInfo.itemList(), as: 'items' } -->
                        <!-- ko if: items.data.length -->
                        <div class="bg-primary text-center rounded px-3 py-2 mb-1 d-flex align-items-center" data-toggle="collapse" data-bind="attr: { 'data-target': `#dungeon-${items.id}` }">
                            <img width="42px" data-bind="attr: { src: `assets/images/dungeons/chest-${items.id}.png` }" />
                            <h5 class="my-0 mx-1 text-light" data-bind="text: items.category">category</h5>
                        </div>
                        <div class="collapse show" data-bind="attr: { 'id': `dungeon-${items.id}` }">
                            <div class="row justify-content-center w-100 p-0 m-0" data-bind="foreach: items.data">
                                <div class="col-6 col-lg-4 mb-2">
                                    <!-- ko with: EncountersInfoHelper.getItemInformations($data) -->
                                        <div class="btn btn-secondary px-1 py-0 d-flex align-items-center text-left" style="cursor: default;">
                                            <img width="42px" data-bind="attr: { src: image },
                                                style: { 'filter': isPokemonAndNotCaught ? 'brightness(0)' : '' }">
                                            <div class="flex-grow-1 small ml-2" style="min-width: 0;">
                                                <div class="text-truncate" data-bind="text: name"></div>
                                            </div>
                                            <img width="24px" class="lock" src="assets/images/breeding/lock.svg" data-bind="
                                            tooltip: {
                                                title: requirement?.hint() || '',
                                                placement: 'bottom',
                                                trigger: 'hover'
                                            }, visible: requirement && !requirement.isCompleted()" />
                                        </div>
                                    <!-- /ko -->
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                        <!-- /ko -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>