<div class="modal noselect fade" id="dungeonGuidesModal" tabindex="-1" role="dialog" aria-labelledby="dungeonGuidesModal">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style='justify-content: space-around;'>
                <h5 class="modal-title">Hire a Dungeon Guide</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left p-2">
                <ul class="nav nav-tabs nav-fill">
                    <li class="nav-item"><a class="nav-link active" href="#dungeonGuidesModalHireTab" data-toggle="tab">Hire</a></li>
                    <li class="nav-item"><a class="nav-link" href="#dungeonGuidesModalHelpTab" data-toggle="tab">Help</a></li>
                </ul>
                <div class="tab-content">
                    <!-- Stats Pane -->
                    <div id="dungeonGuidesModalHireTab" class="active tab-pane fade col-10 offset-1">
                        <h2>Hire</h2>
                    </div>

                    <!-- Multipliers Pane -->
                    <div id="dungeonGuidesModalHelpTab" class="tab-pane fade col-10 offset-1">
                        <h4><u>Help</u></h4>
                        <p>Dungeon guides will automatically guide you through the dungeon.</p>
                        <p>They will automatically open any chest they come accross, go down ladders and start boss battles.</p>
                        <p>You must pay an upfront cost for however many clears you want to run of the dungeon <span class="text-danger">(non refundable)</span>, they will however give you a discount the more runs you purchase in one go.</p>
                        <p>Make sure you keep enough Dungeon Tokens for the dungeon costs as if you run out, your runs will be over.</p>
                        <p>Some move faster than others, some have a sense where specific dungeon tiles are located and some will avoid specific tiles where possible</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
