<div id="dynamic-background">
    <!-- Sky -->
    <div id="sky1" class="sky sky-0" style="opacity: 1;"></div>
    <div id="sky2" class="sky sky-1" style="opacity: 0;"></div>

    <!-- Sun & Moon -->
    <div id="orbital">
        <div id="sun" style="top: 570.474px; left: 1234.9px;"></div>
        <div id="moon" style="bottom: 595.351px; right: 1212.76px;"></div>
    </div>

    <!-- Ground -->
    <div id="ground1" class="ground ground-0" style="opacity: 1;"></div>
    <div id="ground2" class="ground ground-1" style="opacity: 0;"></div>

    <!-- Clouds -->
    <div class="cloud-container">
        <div id="clouds">
            <div class="cloud1 cloud1-0" id="cloud1One"></div>
        </div>
    </div>
</div>