<div class="modal fade noselect" id="FAQModal" tabindex="-1" role="dialog" aria-badgeledby="FAQModal">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
     <div class="modal-content">
         <div class="modal-header">
             <h5>Frequently Asked Questions</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
         </div>

         <div class="modal-body text-left">
            <p><h5 class="text-primary"><strong>General:</strong></h5></p>
            <p><strong>Where can I play the latest version?</strong><br/>
            <span class="text-muted"><a href="https://www.pokeclicker.com/">https://www.pokeclicker.com/</a></span><br/>
            <span class="text-muted">or download the Windows client:</span><br/>
            <span class="text-muted"><a href="https://github.com/RedSparr0w/Pokeclicker-desktop/releases/latest">https://github.com/RedSparr0w/Pokeclicker-desktop/releases/latest</a></span></p>
            <p><strong>Where is the wiki?</strong><br/>
            <span class="text-muted"><a href="https://pokeclicker.miraheze.org/">https://pokeclicker.miraheze.org/</a></span></p>
            <p><strong>My game isn&#39;t running at full speed when the window isn&#39;t active.</strong><br/>
            <span class="text-muted">This is a setting on browsers that slows down inactive windows,</span><br/>
            <span class="text-muted">You can change the browser flags, but this is <strong>not </strong>recommended,</span><br/>
            <span class="text-muted">Otherwise you can download the Windows client from here:</span><br/>
            <span class="text-muted"><a href="https://github.com/RedSparr0w/Pokeclicker-desktop/releases/latest">https://github.com/RedSparr0w/Pokeclicker-desktop/releases/latest</a></span></p>
            <p><strong>How do I get Dungeon Tokens?</strong><br/>
            <span class="text-muted">Read the in game Tutorial</span><br/>
            <span class="text-muted">Set the &quot;Caught&quot; selector in the top left to Pokérball to capture Pokémon you have already caught.</span></p>
            <p><h5 class="text-primary"><strong>Saves:</strong></h5></p>
            <p><strong>Can I import my save from the previous version?</strong><br/>
            <span class="text-muted">You can only import the shinies you obtained in the previous version.</span><br/>
            <span class="text-muted">They will only appear in your Pokémon list once re-captured<br/>
            (this will not count as capturing a new shiny Pokémon)</span></p>
            <p><strong>Will my progress be carried over on release?</strong><br/>
            <span class="text-muted">Your save file will likely be compatible with the final release.</span></p>
            <p><h5 class="text-primary"><strong>Rare/Shiny Pokémon:</strong></h5></p>
            <p><strong>What are the odds of finding a roaming Pokémon?</strong><br/>
            <span class="text-muted">The chance to encounter a roaming Pokémon is<code>1/8192</code> for the first route of a region, and increases linearly up to <code>1/4096</code> for the last route of a region.</span><br/>
            <span class="text-muted">&quot;first&quot; and &quot;last&quot; here just being the route difficulty/HP, not necessarily the order you reach the route</span></p>
            <p><strong>What are the odds of finding a shiny Pokémon?</strong><br/>
            <span class="text-muted">On a Route <code>1/8192</code><br/>
            In a Dungeon <code>1/4096</code><br/>
            In the Safari Zone <code>1/2048</code><br/>
            Using an Evolution Item <code>1/2048</code><br/>
            From a Shop <code>1/2048</code><br/>
            From Hatching an Egg <code>1/1024</code><br/>
            Wandering on the Farm <code>1/1024</code></span></p>
            <p><strong>Do shiny Pokémon give any bonus to gameplay?</strong><br/>
            <span class="text-muted">Yes, they give an extra 50% bonus to Click Attack compared to the non shiny variant.</span></p>
            <p><strong>If I breed a shiny Pokémon will it still stay shiny?</strong><br/>
            <span class="text-muted">Yes, once a Pokémon is shiny, it will always remain shiny.</span></p>
            <p><strong>If I evolve a shiny Pokémon will the evolution be shiny?</strong><br/>
            <span class="text-muted">No, you will need to obtain the evolutions shiny via a different method.</span></p>
            <p><h5 class="text-primary"><strong>Items:</strong></h5></p>
            <p><strong>What is the small/medium/large restore used for?</strong><br/>
            <span class="text-muted">They can be used in the underground to restore some stamina.</span></p>
            <p><strong>What are berries used for?</strong><br/>
            <span class="text-muted">These items are currently only used in the <strong>Farm</strong> to grow more berries and earn money.</span><br/>
            <span class="text-muted"><strong>Note:</strong> They will eventually have more uses.</span></p>
            <p><strong>Why is the <span class="text-muted">Rare Candy</span> so expensive?</strong><br/>
            <span class="text-muted">They don&#39;t currently have a use, once a use is implemented the price will be adjusted.</span></p>
            <p><strong>How many Oak Item slots are available?</strong><br/>
            <span class="text-muted">There is a maximum of 3 active alots.</span></p>
            <p><h5 class="text-primary"><strong>Gameplay:</strong></h5></p>
            <p><strong>How many regions are playable?</strong><br/>
            <span class="text-muted">Currently Kanto through to Kalos are able to be played.</span></p>
            <p><strong>How do I get to the next region?</strong><br/>
            <span class="text-muted">You must obtain all Pokémon available in the current region.</span><br/>
            <span class="text-muted"><strong>Note:</strong> Once you go to the next region you will not be able to go back to previous regions until you reach the dock.</span></p>
            <p><strong>How do I increase my Click Attack?</strong><br/>
            <span class="text-muted">New Pokémon you capture increase your click attack, shinies also increase your click attack at 50% efficiency.</span></p>
            <p><strong>Can I progress towards more than 1 quest at a time?</strong><br/>
            <span class="text-muted">Yes, you can unlock up to 4 quest slots.</span><br/>
            <span class="text-muted"><code>Quest Level 10:</code> 2 slots.</span><br/>
            <span class="text-muted"><code>Quest Level 15:</code> 3 slots.</span><br/>
            <span class="text-muted"><code>Quest Level 20:</code> 4 slots.</span></p>
            <p><strong>Where is <span class="text-muted">x</span> location?</strong><br/>
            <span class="text-muted"><code>Underground:</code> Route 11.</span><br/>
            <span class="text-muted"><code>Daycare:</code> Route 5, or click <strong>List</strong> on the hatchery.</span><br/>
            <span class="text-muted"><code>Farm:</code> Route 14.</span></p>
            <p><strong>How do I unlock <span class="text-muted">x</span> location?</strong><br/>
            <span class="text-muted"><code>Underground:</code> Buy the <strong>Explorer Kit</strong> from <strong>Cinnabar island</strong>.</span><br/>
            <span class="text-muted"><code>Daycare:</code>  Will be unlocked after reaching <strong>route 5</strong>.</span><br/>
            <span class="text-muted"><code>Farm:</code> Will be unlocked after reaching <strong>route 14</strong> and obtaining <strong>Berries</strong>.</span></p>
            <p><strong>Why should I be breeding Pokémon?</strong><br/>
            <span class="text-muted">Some Pokémon can only be obtained by breeding.<br/>
            When a Pokémon is hatched, it&#39;s attack will increase by 25% of the base amount.<br/>
            Breeding has higher odds of obtaining a shiny Pokémon <code>(1/1024)</code>.</span></p>
            <p><strong>How do I obtain <span class="text-muted">x</span> Pokémon?</strong><br/>
            <span class="text-muted">Check you have completed every <strong>route</strong>.</span><br/>
            <span class="text-muted">Check each <strong>dungeon</strong> has been completed.</span><br/>
            <span class="text-muted">Some Pokémon only come from <strong>eggs</strong>.</span><br/>
            <span class="text-muted">Some can only be obtained by using an <strong>Evolution Stone</strong>.</span><br/>
            <span class="text-muted">Some can only be found in the <strong>Safari Zone</strong> (7 exclusives).</span><br/>
            <span class="text-muted"><strong>Fossil Pokémon</strong> can only be obtained with the correlating <strong>Fossil </strong>from the <strong>Underground</strong>.</span><br/>
            <span class="text-muted">Some can only be purchased from a <strong>Shop</strong>.</span><br/>
            <span class="text-muted"><strong>(Roamers)</strong>Some legendaries will <strong>randomly</strong> appear on <strong>routes</strong>.</span><br/>
            <span class="text-muted"><strong>(Babies)</strong> Breed their evolution.</span><br/>
            <span class="text-muted">Some can only evolve at certain times of the day.</span><br/>
            <span class="text-muted">Some can only evolve in specific locations.</span><br/>
            <span class="text-muted">Some can only appear/evolve in specific weather.</span></p>
            <p><h5 class="text-primary"><strong>Development:</strong></h5></p>
            <p><strong>When will the development version be fully released?</strong><br/>
            <span class="text-muted">There is currently no plans for a &quot;final release&quot;.</span><br/>
            <span class="text-muted">Maybe once all the regions are added that will be version <code>1.0.0</code></span></p>
            <p><strong>When will more regions be added?</strong><br/>
            <span class="text-muted">This is a current priority, but there is no set timelines, it will be ready when it is ready.</span></p>
            <p><strong>Who are the awesome guys/girls developing this game?</strong><br/>
            <span class="text-muted">The original game was developed by @IshaD#1866, who has since decided to stop work on this project,</span><br/>
            <span class="text-muted">Since then lots of people have helped by contributing code via GitHub.</span></p>
            <p><strong>How can I help with development?</strong><br/>
            <span class="text-muted">The GitHub repo is located here:</span><br/>
            <a href="https://github.com/pokeclicker/pokeclicker">https://github.com/pokeclicker/pokeclicker</a><br/>
            <span class="text-muted">Any new issues, suggestions or code contributions are always welcomed.</span><br/>
            <span class="text-muted">You may even earn the @Poké Crew, @Code Contributor or @Developer roles in Discord.</span></p>              
         </div>

         <div class="modal-footer">
             <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
         </div>
     </div>
  </div>
</div>
