<div class="modal fade noselect" id="FAQModal" tabindex="-1" role="dialog" aria-badgeledby="FAQModal">
  <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
     <div class="modal-content">
         <div class="modal-header">
             <h5>Frequently Asked Questions</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
         </div>

         <div class="modal-body text-left">
            <p><h5 class="text-primary"><strong>General:</strong></h5></p>
            <p><strong>Where can I play the latest version?</strong><br/>
            <span class="text-muted"><a href="https://www.pokeclicker.com/" target="_blank">https://www.pokeclicker.com/</a></span><br/>
            <span class="text-muted">or download the Windows client:</span><br/>
            <span class="text-muted"><a href="https://github.com/RedSparr0w/Pokeclicker-desktop/releases/latest" target="_blank">https://github.com/RedSparr0w/Pokeclicker-desktop/releases/latest</a></span></p>
            <p><strong>Where is the wiki?</strong><br/>
            <span class="text-muted"><a href="https://pokeclicker.miraheze.org/" target="_blank">https://pokeclicker.miraheze.org/</a><br/>
            The Start Menu has a Wiki button too.</span></p>
            <p><strong>My game isn&#39;t running at full speed when the window isn&#39;t active.</strong><br/>
            <span class="text-muted">This is a setting on browsers that slows down inactive windows.</span><br/>
            <span class="text-muted">You can change the browser flags, but this is <strong>not </strong>recommended.</span><br/>
            <span class="text-muted">Otherwise you can download the Windows client from here:</span><br/>
            <span class="text-muted"><a href="https://github.com/RedSparr0w/Pokeclicker-desktop/releases/latest" target="_blank">https://github.com/RedSparr0w/Pokeclicker-desktop/releases/latest</a></span></p>
            <p><strong>How do I get Dungeon Tokens?</strong><br/>
            <span class="text-muted">Read the in-game Tutorial.</span><br/>
            <span class="text-muted">Set the &quot;Caught&quot; selector in the top left to Poké Ball to capture Pokémon you have already caught.</span></p>
            <p><h5 class="text-primary"><strong>Saves:</strong></h5></p>
            <p><strong>Can I import my save from the previous version?</strong><br/>
            <span class="text-muted">You can only import the shinies you obtained in the previous version.</span><br/>
            <span class="text-muted">They will only appear in your Pokémon list once re-captured.<br/>
            (this will not count as capturing a new shiny Pokémon)</span></p>
            <p><strong>Will my progress be carried over on release?</strong><br/>
            <span class="text-muted">Your save file will likely be compatible with the final release.</span></p>
            <p><h5 class="text-primary"><strong>Rare/Shiny Pokémon:</strong></h5></p>
            <p><strong>What are the odds of finding a roaming Pokémon?</strong><br/>
            <span class="text-muted">The chance to encounter a roaming Pokémon is <code>1/8192</code> for the first route of a region, and increases linearly up to <code>1/4096</code> for the last route of a region.</span><br/>
            <span class="text-muted">(&quot;first&quot; and &quot;last&quot; here just being the route difficulty/HP, not necessarily the order you reach the route)</span></p>
            <p><strong>What are the odds of finding a shiny Pokémon?</strong><br/>
            <span class="text-muted">On a Route: <code>1/8192</code><br/>
            In a Dungeon: <code>1/4096</code><br/>
            In the Safari Zone: <code>1/2048</code><br/>
            Using an Evolution Item: <code>1/2048</code><br/>
            From a Shop: <code>1/2048</code><br/>
            From Hatching an Egg: <code>1/1024</code><br/>
            Wandering on the Farm: <code>1/1024</code></span></p>
            <p><strong>Do shiny Pokémon give any bonus to gameplay?</strong><br/>
            <span class="text-muted">Yes, they give an extra 50% bonus to Click Attack compared to the non-shiny variant.</span></p>
            <p><strong>If I breed a shiny Pokémon, will it still stay shiny?</strong><br/>
            <span class="text-muted">Yes, once a Pokémon is shiny, it will always remain shiny.</span></p>
            <p><strong>If I evolve a shiny Pokémon, will the evolution be shiny?</strong><br/>
            <span class="text-muted">No, you will need to obtain the evolution's shiny via a different method.</span></p>
            <p><h5 class="text-primary"><strong>Items:</strong></h5></p>
            <p><strong>What is the small/medium/large restore used for?</strong><br/>
            <span class="text-muted">They can be used in the underground to restore some stamina.</span></p>
            <p><strong>What are berries used for?</strong><br/>
            <span class="text-muted">These items are currently only used in the <strong>Farm</strong> to grow more berries and earn money.</span><br/>
            <span class="text-muted"><strong>Note:</strong> They will eventually have more uses.</span></p>
            <p><strong>How many Oak Item slots are available?</strong><br/>
            <span class="text-muted">There is a maximum of 3 active alots.</span></p>
            <p><h5 class="text-primary"><strong>Gameplay:</strong></h5></p>
            <p><strong>How many regions are playable?</strong><br/>
            <span class="text-muted">Currently Kanto through to <span data-bind="text: GameConstants.camelCaseToString(GameConstants.Region[GameConstants.MAX_AVAILABLE_REGION])">...</span> are able to be played.</span></p>
            <p><strong>How do I get to the next region?</strong><br/>
            <span class="text-muted">You must obtain all Pokémon available in the current region.</span><br/>
            <span class="text-muted"><strong>Note:</strong> Once you go to the next region, you will not be able to go back to previous regions until you reach the dock.</span></p>
            <p><strong>How do I increase my Click Attack?</strong><br/>
            <span class="text-muted">New Pokémon you capture increase your click attack; shinies also increase your click attack at 50% efficiency.</span></p>
            <p><strong>How do I unlock the Auto Battle option for Gyms?</strong><br/>
            <span class="text-muted">You must defeat the Gym Leader manually 100 times.</span></p>
            <p><strong>How do I make the dungeons smaller?</strong><br/>
            <span class="text-muted">As you clear the dungeon more times, it will become smaller.<br/>
            At 10, 100, 1,000, etc. clears<br/>
            (to a minimum of 5x5)</span></p>
            <p><strong>How do I unlock Flash in dungeons?</strong><br/>
            <span class="text-muted">You must clear the dungeon 200 times.</span></p>
            <p><strong>Can I progress towards more than 1 quest at a time?</strong><br/>
            <span class="text-muted">Yes, you can unlock up to 4 quest slots.</span><br/>
            <span class="text-muted"><code>Quest Level 5:</code> 2 slots.</span><br/>
            <span class="text-muted"><code>Quest Level 10:</code> 3 slots.</span><br/>
            <span class="text-muted"><code>Quest Level 15:</code> 4 slots.</span></p>
            <p><strong>Where is <span class="text-muted">x</span> location?</strong><br/>
            <span class="text-muted"><code>Underground:</code> Route 11.</span><br/>
            <span class="text-muted"><code>Daycare:</code> Route 5, or click <strong>List</strong> on the hatchery.</span><br/>
            <span class="text-muted"><code>Farm:</code> Route 14.</span></p>
            <p><strong>How do I unlock <span class="text-muted">x</span> location?</strong><br/>
            <span class="text-muted"><code>Underground:</code> Buy the <strong>Explorer Kit</strong> from <strong>Cinnabar Island</strong>.</span><br/>
            <span class="text-muted"><code>Daycare:</code> Will be unlocked after reaching <strong>Route 5</strong>.</span><br/>
            <span class="text-muted"><code>Farm:</code> Will be unlocked after reaching <strong>route 14</strong> and obtaining <strong>Berries</strong>.</span></p>
            <p><strong>Why should I be breeding Pokémon?</strong><br/>
            <span class="text-muted">Some Pokémon can only be obtained by breeding.<br/>
            When a Pokémon is hatched, its attack will increase by 25% of the base amount.<br/>
            Breeding has higher odds of obtaining a shiny Pokémon <code>(1/1024)</code>.</span></p>
            <p><strong>How do I obtain <span class="text-muted">x</span> Pokémon?</strong><br/>
            <span class="text-muted">Check that you have completed every <strong>route</strong>.</span><br/>
            <span class="text-muted">Check that each <strong>dungeon</strong> has been completed.</span><br/>
            <span class="text-muted">Some Pokémon only come from <strong>eggs</strong>.</span><br/>
            <span class="text-muted">Some can only be obtained by using an <strong>Evolution Item</strong>.</span><br/>
            <span class="text-muted">Some can only be found in the <strong>Safari Zone</strong> (5 exclusives).</span><br/>
            <span class="text-muted"><strong>Fossil Pokémon</strong> can only be obtained with the correlating <strong>Fossil </strong>from the <strong>Underground</strong>.</span><br/>
            <span class="text-muted">Some can only be purchased from a <strong>Shop</strong>.</span><br/>
            <span class="text-muted"><strong>(Roamers)</strong> Some legendaries will <strong>randomly</strong> appear on <strong>routes</strong>.</span><br/>
            <span class="text-muted"><strong>(Babies)</strong> Breed their evolution.</span><br/>
            <span class="text-muted">Some can only evolve at certain <strong>times of the day</strong>.</span><br/>
            <span class="text-muted">Some can only evolve in specific <strong>locations</strong>.</span><br/>
            <span class="text-muted">Some can only appear/evolve in specific <strong>weather</strong>.</span></p>
            <strong>What are the EV damage multipliers?</strong>     
            <table class="table table-bordered table-striped">
                <tr>
                    <td><center><strong>EVs</strong></center></td>
                    <td><center><strong>Damage Multiplier</strong></center></td>
                </tr>
                <tr>
                    <td><center><span class="text-muted">50 EVs</span></center></td>
                    <td><center><span class="text-muted">1.5x Damage</span></center></td>
                </tr>
                <tr>
                    <td><center><span class="text-muted">802 EVs</span></center></td>
                    <td><center><span class="text-muted">2x Damage</span></center></td>
                </tr>
                <tr>
                    <td><center><span class="text-muted">40,121 EVs</span></center></td>
                    <td><center><span class="text-muted">3x Damage</span></center></td>
                </tr>
                <tr>
                    <td><center><span class="text-muted">643,300 EVs</span></center></td>
                    <td><center><span class="text-muted">4x Damage</span></center></td>
                </tr>
                <tr>
                    <td><center><span class="text-muted">5,540,000 EVs</span</center>></td>
                    <td><center><span class="text-muted">5x Damage</span></center></td>
                </tr>
            </table>

            <p><h5 class="text-primary"><strong>EVs and Pokérus (BETA)</strong></h5></p>
            <p><strong>What is Pokérus, and what are EVs?</strong><br/>
            <span class="text-muted">Pokérus is a virus your Pokémon can catch. EVs increase the attack of your Pokémon.</span></p>
            <p><strong>When do I unlock EVs?</strong><br/>
            <span class="text-muted">EVs are unlocked after defeating the Distortion World Dungeon in Sinnoh.</span></p>
            <p class="text-danger"><i>NOTE: This is a <strong>beta</strong> feature, so things will likely change in the future; feel free to post any feedback/bugs in the <a href="https://discord.gg/a6DFe4p" target="_blank">Discord</a>.</i></p>
            <p><strong>How do I spread Pokérus?</strong><br/>
            <span class="text-muted">Pokérus is spread by Pokémon that are infected, to other Pokémon in the hatchery (not in the queue) that share a type with the infected Pokémon. Neither Pokémon can be ready to hatch, nor can a Hatchery Helper be used on either Pokémon, in order to spread the virus.</span></p>
            <p><strong>How do I gain EVs?</strong><br/>
            <span class="text-muted">EVs can be gained in a variety of ways, but are primarily gained by capturing (not breeding) Pokémon.</span></p>
            <span class="text-muted">Base Yield: <code>0.1EV</code><br/>
            Evolution Item Yield: <code>1EV</code><br/>
            Wanderer Yield: <code>0.5EV</code><br/>
            Shopmon Yield: <code>1EV</code><br/>
            Safari Yield: <code>1EV</code><br/>
            Shiny Modifier: <code>5×</code><br/>
            Dungeon Modifier: <code>3×</code><br/>
            Dungeon Boss Modifier: <code>10×</code><br/>
            Roamer Modifier: <code>50×</code><br/>
            Repeat Ball Modifier: <code>5×</code><br/>
            Macho Brace Modifier: <code>2×</code><br/>
            Blue Flute Modifier: <code>%</code> based off Achievement Bonus</span></p>
            <p><strong>What is the EV Attack Bonus?</strong><br/>
            <span class="text-muted">The EV Damage Multiplier is multiplicative, and scales linearly until 1.5x (50EVs). The bonus thereafter has diminishing returns relative to the number of EVs gained, but has no limit.</span></p>

            <p><strong>What do the Pokérus status filters mean?</strong><br/>
            <span class="text-muted"><code>None</code>: Pokémon that have not been infected with Pokérus.<br/>
            <span class="text-muted"><img src ='../assets/images/breeding/pokerus/Infected.png'/> <code>Infected</code>: Pokémon has Pokérus, but cannot spread Pokérus or gain EVs until hatching.<br/>
            <span class="text-muted"><img src ='../assets/images/breeding/pokerus/Contagious.png'/> <code>Contagious</code>: Pokémon with less than 50 EVs.<br/>
            <span class="text-muted"><img src ='../assets/images/breeding/pokerus/Resistant.png'/> <code>Resistant</code>: Pokémon with 50 or more EVs. These Pokémon will still be able to spread Pokérus.<br/>

            <p><h5 class="text-primary"><strong>Development:</strong></h5></p>
            <p><strong>When will the development version be fully released?</strong><br/>
            <span class="text-muted">There is currently no plans for a &quot;final release&quot;.</span><br/>
            <span class="text-muted">Maybe once all the regions are added that will be version <code>1.0.0</code>.</span></p>
            <p><strong>When will more regions be added?</strong><br/>
            <span class="text-muted">This is a current priority, but there are no set timelines; it will be ready when it is ready.</span></p>
            <p><strong>Who are the awesome people developing this game?</strong><br/>
            <span class="text-muted">The original game was developed by @IshaD#1866, who has since decided to stop work on this project.</span><br/>
            <span class="text-muted">Since then, lots of people have helped by contributing code via GitHub.</span></p>
            <p><strong>How can I help with development?</strong><br/>
            <span class="text-muted">The GitHub repo is located here:</span><br/>
            <a href="https://github.com/pokeclicker/pokeclicker" target="_blank">https://github.com/pokeclicker/pokeclicker</a><br/>
            <span class="text-muted">Any new issues, suggestions or code contributions are always welcomed.</span><br/>
            <span class="text-muted">You may even earn the @Poké Crew, @Code Contributor or @Developer roles in Discord.</span></p>
         </div>

         <div class="modal-footer">
             <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
         </div>
     </div>
  </div>
</div>
