<div class="modal fade noselect" id="farmModal" tabindex="-1" role="dialog"
     aria-labelledby="farmModalLabel"
     style="cursor:default">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header p-0">
                <ul class="nav nav-tabs nav-fill">
                    <li class="nav-item"><a data-toggle='tab' class='nav-link active' href="#berryFarmView">Farm</a></li>
                    <li class='nav-item'><a data-toggle='tab' class='nav-link' href="#berryDexView">Berrydex</a></li>
                    <li class='nav-item'><a data-toggle='tab' class='nav-link' href="#helpView">Help</a></li>
                    <!-- TODO: HLXII Add Apricorn Tab ? -->
                    <btn class="btn btn-primary">
                        <span data-bind="template: { name: 'currencyTemplate', data: {'amount': App.game.wallet.currencies[GameConstants.Currency.farmPoint](), 'currency': GameConstants.Currency.farmPoint}}"></span>
                    </btn>
                </ul>
            </div>

            <div class="modal-body tab-content p-0">

                <div id="berryFarmView" class="tab-pane fade in active show">
                    <div id="farmView" class="justify-content-center no-select row">
                        <div class="col-12 col-lg-4">


                            <ul class="nav nav-tabs nav-fill">
                                <li class="nav-item"><a data-toggle='tab' class='nav-link active' href="#seeds" data-bind="click: function(){FarmController.berryListVisible(true);}">Berries</a></li>
                                <li class='nav-item'><a data-toggle='tab' class='nav-link' href="#mulches" data-bind="click: function(){FarmController.berryListVisible(false);}">Mulch</a></li>
                            </ul>

                            <div class="tab-content">
                                <div id="seeds" class="tab-pane active">
                                    <ul id="seedList" class="list-group p-0">
                                        <!-- ko foreach: FarmController.getBerryListWithIndex() -->
                                        <li class="list-group-item list-group-item-action seed-list-item p-2"
                                            data-bind="click: function() {FarmController.selectedBerry($data);FarmController.selectedShovel(false);}, css: { 'active': FarmController.selectedBerry() === $data && !FarmController.selectedShovel() }">
                                            <img src="" height="24px"
                                                data-bind="attr:{ src: FarmController.getBerryImage($data) },
                                                css: {'berryLocked': !App.game.farming.unlockedBerries[$data]() }">
                                            <span data-bind="text: App.game.farming.unlockedBerries[$data]() ? BerryType[$data] : '???'"></span>
                                            <span class="float-right" data-bind="text: App.game.farming.berryList[$data]().toLocaleString('en-US')"></span>
                                        </li>
                                        <!-- /ko -->
                                    </ul>

                                    <div class="row justify-content-center align-items-center py-1">
                                        <button class="btn btn-secondary"
                                            onclick="FarmController.navigateLeft()"
                                            data-bind="disable: FarmController.navigateIndex() === 0,
                                                css: { disabled: FarmController.navigateIndex() === 0 }">
                                        <img src="assets/images/arrow.svg" style="transform: scaleX(-1);" height="20">
                                        </button>
                                        <div style="width:48px;" data-bind="text: FarmController.navigateIndex()+1 + '/' + (FarmController.numberOfTabs()+1)"></div>
                                        <button class="btn btn-secondary"
                                            onclick="FarmController.navigateRight()"
                                            data-bind="disable: FarmController.navigateIndex() ===  FarmController.numberOfTabs(),
                                                css: { disabled: FarmController.navigateIndex() ===  FarmController.numberOfTabs() }">
                                        <img src="assets/images/arrow.svg" height="20">
                                        </button>
                                    </div>

                                    <div class="row justify-content-center py-1">
                                        <div class="col-6 pr-0">
                                            <button class="btn btn-primary btn-block" data-bind="click: function(){App.game.farming.plantAll(FarmController.selectedBerry())}">
                                                Plant All
                                            </button>
                                        </div>
                                        <div class="col-6 pl-0">
                                            <button class="btn btn-success btn-block" data-bind="click: function(){App.game.farming.harvestAll()}">
                                                Harvest All
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <div id="mulches" class="tab-pane">
                                    <ul id="mulchList" class="list-group p-0">
                                        <!-- ko foreach: Object.keys(MulchType).filter(value => !isNaN(value) && value != -1) -->
                                        <li class="list-group-item list-group-item-action seed-list-item p-2"
                                            data-bind="click: function() {FarmController.selectedMulch($data);FarmController.selectedShovel(false);}, css: { 'active': FarmController.selectedMulch() == $data && !FarmController.selectedShovel() }">
                                            <img src="" width="24px"
                                                data-bind="attr:{ src: 'assets/images/items/' + MulchType[$data] + '.png' }">
                                            <span data-bind="text: MulchType[$data].replace('_', ' ')"></span>
                                            <span class="float-right" data-bind="text: App.game.farming.mulchList[$data]().toLocaleString('en-US')"></span>
                                        </li>
                                        <!-- /ko -->
                                    </ul>

                                    <div class="row justify-content-center py-1">
                                        <div class="col-12">
                                            <button class="btn btn-primary btn-block" data-bind="click: function(){App.game.farming.mulchAll(FarmController.selectedMulch())}">
                                                Mulch All
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ul id="shovelList" class="list-group">
                                <li class="list-group-item list-group-item-action seed-list-item p-2"
                                    data-bind="click: function() {FarmController.selectedShovel(true);},
                                    css: { 'active': FarmController.selectedShovel() },
                                    tooltip: {title: 'Clear a Plant from a plot.', trigger: 'hover', animation: false}">
                                    <img src="" height="24px"
                                        data-bind="attr:{ src: ItemList['Berry_Shovel'].imagePath }">
                                    <span>Shovel</span>
                                    <span class="float-right" data-bind="text: App.game.farming.shovelAmt().toLocaleString('en-US')"></span>
                                </li>
                            </ul>
                        </div>

                        <div class="col-12 col-lg-8">
                            <!-- ko ifnot: App.game.farming.allPlotsUnlocked() -->
                            <div class="row justify-content-center">
                                <button class="btn btn-success" onclick="App.game.farming.unlockPlot()"
                                        data-bind="css: { disabled: !App.game.farming.canBuyPlot()}"
                                        style="margin-top: 10px;">
                                    <span>Unlock new plot </span>
                                    <span style="display: inline;">
                                        <img alt="Berry" style="height: 24px;"
                                            data-bind="attr:{ src: FarmController.getBerryImage(App.game.farming.unlockBerryIndex()) },css: {'berryLocked': !App.game.farming.unlockedBerries[App.game.farming.unlockBerryIndex()]() }"/>
                                        <span data-bind="text: GameConstants.formatNumber(App.game.farming.calculatePlotPrice())">0</span>
                                    </span>
                                </button>
                            </div>
                            <!-- /ko -->
                            <div id="plotList" data-bind="foreach: App.game.farming.plotList">
                                <div class="plot" data-bind="css: { plotLocked : !$data.isUnlocked }">
                                    <div class="plot-content" data-bind="class: FarmController.calculateCssClass()">
                                        <div class="plotImage">
                                            <img style="width: 100%"
                                            data-bind="class: FarmController.calcMulchClass($data)"
                                            src="assets/images/farm/soil.png">
                                            <div data-bind="ifnot: $data.isEmpty()">
                                                <div class="plotButton"
                                                    data-html=true
                                                    data-bind="click: function(){FarmController.plotClick($index())}, tooltip: {title: FarmController.getTooltipLabel($index()), trigger: 'hover', animation: false}">
                                                    <img width="100%" height="100%"
                                                        style="width: 68.75%; max-height: 100%; image-rendering: pixelated;"
                                                        src=""
                                                        data-bind="attr:{ src: FarmController.getImage($index())}">
                                                </div>
                                            </div>
                                            <div data-bind="if: $data.isEmpty()">
                                                <div class="plotButton"
                                                    data-html=true
                                                    data-bind="click: function(){FarmController.plotClick($index())}, tooltip: {title: FarmController.getTooltipLabel($index()), trigger: 'hover', animation: false}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="berryDexView" class="tab-pane fade">
                    <div>
                        <ul class="row justify-content-center p-0" data-bind="foreach: FarmController.getUnlockedBerryList()"
                            style="max-width: 100%; padding:0; margin:0;">
                            <li class="col-sm-4 col-md-3 col-lg-2 pokedexEntry"
                            data-bind="style:{background: FarmController.getBackgroundColor($data)}">
                                 <span class="id" style="top: 0; border-top-left-radius: 6px; border-top-right-radius: 6px;" data-bind="text: ($data + '').padStart(2, 0)">number</span>
                                     <img src="" height="120px" style="padding: 20px 0px;" data-bind="css: { 'pokemon-not-seen': !App.game.farming.unlockedBerries[$data]() }, attr:{ src: FarmController.getBerryImage($data)}">
                                     <!-- ko if: App.game.farming.unlockedBerries[$data]() -->
                                     <span style="bottom: 0; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px" data-bind="text: BerryType[$data]">name</span>
                                     <a class="overlay" href="#berryDexModal" data-toggle="modal"
                                        data-bind="click: ()=>{App.game.statistics.selectedBerryID($data)}"></a>
                                     <!-- /ko -->
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="helpView" class="tab-pane fade">
                    <h4><u>Farm</u></h4>
                    <p>In the farm you can plant and harvest Berries.</p>
                    <p>Each Berry type takes a certain amount of time to grow. Once fully grown, the Berry plant can be clicked to harvest the Berries.</p>
                    <p>Farm Tokens can be gained by harvesting Berries.</p>
                    <p>After a while, the Berry plant will wither, dropping only a fraction of the Berries.</p>
                    <p>Additional plots can be unlocked by spending Berries.</p>

                    <h4><u>Mutations</u></h4>
                    <p>Berries have the chance to mutate into other Berries based on certain conditions.</p>
                    <p>The Kanto Berry Master will give you daily hints to what these conditions may be.</p>

                    <h4><u>Mulches</u></h4>
                    <p>Mulches can be bought in later regions from Berry Masters. They can be used on plots for different effects:</p>
                    <table class="table table-bordered">
                        <tr>
                            <td>Boost Mulch</td>
                            <td>Increases the growth rate of Berry plants.</td>
                        </tr>
                        <tr>
                            <td>Rich Mulch</td>
                            <td>Increases the number of Berries harvested.</td>
                        </tr>
                        <tr>
                            <td>Surprise Mulch</td>
                            <td>Increases the chances of mutations.</td>
                        </tr>
                        <tr>
                            <td>Amaze Mulch</td>
                            <td>A weaker version of all three affects.</td>
                        </tr>
                    </table>
                    <h4><u>Berry Shovel</u></h4>
                    <p>If you want to remove a Berry plant before it is fully grown, you can use a Berry Shovel to uproot it.</p>
                    <p>Berry Shovels can be bought in later regions from Berry Masters.</p>

                    <h4><u>Berry Trades</u></h4>
                    <p>Berries can be traded with Berry Masters for other items</p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
