<div class="modal fade noselect" id="farmModal" tabindex="-1" role="dialog"
     aria-labelledby="farmModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Farm</h4>
                <!-- ko ifnot: App.game.farming.allPlotsUnlocked() -->
                <button class="btn btn-success" onclick="App.game.farming.unlockPlot()"
                        data-bind="css: { disabled: !App.game.farming.canBuyPlot()}">
                    <span>Unlock new plot </span>
                    <span data-bind="template: { name: 'amountTemplate', data: App.game.farming.calculatePlotPrice()}"></span>
                </button>
                <!-- /ko -->
            </div>
            <div class="modal-body">
                <div id="farmView" class="justify-content-center no-select row">
                    <div class="col-12 col-lg-4">
                        <div class="col-sm-12">
                            <span data-bind="template: { name: 'currencyTemplate', data: {'amount': App.game.wallet.currencies[GameConstants.Currency.farmPoint], 'currency': GameConstants.Currency.farmPoint}}"></span>
                        </div>
                        <ul id="seedList" data-bind="foreach: App.game.farming.berryList" class="list-group"
                            style="margin-bottom: 5px;">
                            <li class="list-group-item list-group-item-action seed-list-item"
                                data-bind="click: function() {FarmController.selectedBerry = $index()}">
                                <img src="" width="24px"
                                     data-bind="attr:{ src: 'assets/images/items/' + BerryType[$index()] + '.png'}">
                                <span data-bind="text: BerryType[$index()]"></span>
                                <span class="seedAmount" data-bind="text: App.game.farming.berryList[$index()]"></span>
                            </li>
                        </ul>

                        <div class="row">
                            <div class="col-lg-12 col-6">
                                <button class="btn btn-primary btn-block" data-bind="click: function(){App.game.farming.plantAll(FarmController.selectedBerry)}">
                                    Plant All
                                </button>
                            </div>
                            <div class="col-lg-12 col-6">
                                <button class="btn btn-success btn-block" data-bind="click: function(){App.game.farming.harvestAll()}">
                                    Harvest All
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-8" style="padding-left: 0">
                        <div id="plotList" data-bind="foreach: App.game.farming.plotList">
                            <div class="plot" data-bind="css :{plotLocked : !$data.isUnlocked}">
                                <div class="plot-content">
                                    <div class="plotImage">
                                        <img style="width: 100%" src="assets/images/farm/soil.png">
                                        <div data-bind="ifnot: $data.isEmpty()">
                                            <div class="plotButton"
                                                 data-bind="click: function(){App.game.farming.harvest($index())}, tooltip: {title: $data.formattedTimeLeft, trigger: 'hover', animation: false}">
                                                <img width="100%" height="100%"
                                                     style="max-width: 100%; max-height: 100%"
                                                     src=""
                                                     data-bind="attr:{ src: FarmController.getImage($index())}">
                                            </div>
                                        </div>
                                        <div data-bind="if: $data.isEmpty()">
                                            <div class="plotButton"
                                                 data-bind="click: function(){App.game.farming.plant($index(), FarmController.selectedBerry)}">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
