<div class="modal fade noselect" id="fossilMasterModal" tabindex="-1" role="dialog"
     aria-labelledby="fossilMasterModalLabel">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4>Fossil Master</h4>
                <button type="button" class="btn btn-primary" data-dismiss="modal">&times;</button>
            </div>
            <div>
                <ul class="nav nav-tabs nav-fill">
                    <li class="nav-item"><a data-toggle='tab' class='nav-link active' href="#fossilMasterTrade">Trades</a></li>
                </ul>
            </div>
            <div class="modal-body tab-content">
                <div id="fossilMasterTrade" class="tab-pane fade in active show">
                    <div class="table-responsive" id="fossilDealsBody">
                        <table class="table table-sm table-hover table-striped m-0 text-left">
                            <thead>
                                <tr>
                                    <th class="text-center">Inv</th>
                                    <th></th>
                                    <th>Fossil Pieces</th>
                                    <th>QP</th>
                                    <th></th>
                                    <th></th>
                                    <th>Pokémon</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody data-bind='foreach: FossilDeal.getDeals(ShopHandler.shopObservable().location)'>
                                <!-- ko foreach: shards -->
                                <tr>
                                    <td data-bind="text: player.getUndergroundItemAmount($data.fossilPieceType.id)"></td>
                                    <td class='vertical-middle'>
                                        <img class='mineInventoryItem' data-bind='attr: {src: $data.fossilPieceType.image }'>
                                    </td>
                                    <td data-bind="text: amount + ' x ' + $data.fossilPieceType.name"></td>
                                    <!-- ko if: $index() === 0 -->
                                    <td class='vertical-middle' data-bind='attr: { rowspan: $parent.fossilpieces.length }, text: $parent.questPointCost'></td>
                                    <!-- TODO: Make the QP symbol appear in the same TD as the QP Cost -->
                                    <td class='vertical-middle' data-bind="attr: { rowspan: $parent.fossilpieces.length }">
                                          <img src='assets/images/currency/questPoint.svg' width="20px'">
                                    </td>
                                    <td class='vertical-middle' data-bind="attr: { rowspan: $parent.fossilpieces.length }">→</td>
                                    <td class='vertical-middle' data-bind="attr: { rowspan: $parent.fossilpieces.length }">
                                          <img class='mineInventoryItem' data-bind="attr: {
                                            src: $parent.item.itemType.image
                                          }">
                                    </td>
                                    <td class='vertical-middle' data-bind='attr: { rowspan: $parent.fossilpieces.length }, text: $parent.item.amount + " × " + $parent.item.itemType.displayName'></td>
                                    <td class='vertical-middle' data-bind="attr: { rowspan: $parent.fossilpieces.length }, text: player.itemList[$parent.item.itemType.name]()"></td>
                                    <td class='vertical-middle' data-bind="attr: { rowspan: $parent.fossilpieces.length }">
                                        <div class="btn-group btn-block" data-bind="let: { tradeAmount: ko.observable(1) }">
                                            <button class='btn btn-success btn-block' data-bind='click: function(){FossilDeal.use(player.town().name, $parentContext.$index(), tradeAmount())}, css: { disabled: !FossilDeal.canUse(player.town().name, $parentContext.$index()) }'>
                                                <knockout data-bind="text: !ItemList[$parent.item.itemType.name].isSoldOut() ? 'Trade' : 'Sold out'"></knockout>
                                            </button>
                                            <button type="button" data-bind="visible: ItemList[$parent.item.itemType.name].maxAmount > 1, text: tradeAmount() + '&nbsp;'" class="btn btn-success dropdown-toggle dropdown-toggle-split active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"'>
                                            </button>
                                            <div class="dropdown-menu" data-bind="foreach: [1, 10, 100]">
                                                <button class="dropdown-item" type="button" data-bind="visible: ItemList[$parents[1].item.itemType.name].maxAmount > 1, click: function(){tradeAmount($data)}, text: $data"></button>
                                            </div>
                                        </div>
                                    </td>
                                    <!-- /ko -->
                                </tr>
                                <!-- /ko -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span>Total Quest Points: <span data-bind="text: App.game.wallet.currencies[GameConstants.Currency.questPoint]().toLocaleString('en-US')">-</span></span>
                   <img src='assets/images/currency/questPoint.svg' width="20px'">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
