<g data-bind='visible: player.region == GameConstants.Region.galar'>

    <g data-bind="visible: player.subregion == SubRegions.getSubRegion(GameConstants.Region.galar, 'South Galar').id">
        <image width="1600" height="960" data-bind="attr: {
            'xlink:href':'assets/images/galar-south.png?v=$VERSION',
            href:'assets/images/galar-south.png?v=$VERSION'
        }"></image>

        <!-- ------ -->
        <!-- ROUTES -->
        <!-- ------ -->

        <!--Route 1-->
        <%- include('templates/mapRoute',
            { route: 1, region: 7
            , width: 5, height: 2
            , x: 49, y: 52
            , rotate: true
            })
        %>

        <!--Route 2-->
        <%- include('templates/mapRoute',
            { route: 2, region: 7
            , width: 7, height: 2
            , x: 52, y: 48
            })
        %>
        <!--Route 2 extention-->
        <%- include('templates/mapRoute',
            { route: 2, region: 7
            , width: 2, height: 1
            , x: 57, y: 47
            , noText: true
            })
        %>

        <!--Rolling Fields-->
        <%- include('templates/mapRoute',
            { route: 3, region: 7
            , width: 4, height: 1
            , x: 42, y: 40, name: "RF"
            })
        %>

        <!--Rolling Fields extention-->
        <%- include('templates/mapRoute',
            { route: 3, region: 7
            , width: 5, height: 2
            , x: 41, y: 38, name: "RF"
            , noText: true
            })
        %>

        <!--Rolling Fields extention-->
        <%- include('templates/mapRoute',
            { route: 3, region: 7
            , width: 1, height: 1
            , x: 46, y: 38, name: "RF"
            , noText: true
            })
        %>

        <!--Rolling Fields extention-->
        <%- include('templates/mapRoute',
            { route: 3, region: 7
            , width: 9, height: 1
            , x: 43, y: 37, name: "RF"
            , noText: true
            })
        %>

        <!--Rolling Fields extention-->
        <%- include('templates/mapRoute',
            { route: 3, region: 7
            , width: 2, height: 1
            , x: 44, y: 36, name: "RF"
            , noText: true
            })
        %>

        <!--Rolling Fields extention-->
        <%- include('templates/mapRoute',
            { route: 3, region: 7
            , width: 1, height: 2
            , x: 44, y: 34, name: "RF"
            , noText: true
            })
        %>

        <!--Rolling Fields extention-->
        <%- include('templates/mapRoute',
            { route: 3, region: 7
            , width: 2, height: 3
            , x: 42, y: 32, name: "RF"
            , noText: true
            })
        %>

        <!--Rolling Fields extention-->
        <%- include('templates/mapRoute',
            { route: 3, region: 7
            , width: 3, height: 4
            , x: 49, y: 33, name: "RF"
            , noText: true
            })
        %>

        <!--Rolling Fields extention-->
        <%- include('templates/mapRoute',
            { route: 3, region: 7
            , width: 2, height: 1
            , x: 50, y: 38, name: "RF"
            , noText: true
            })
        %>

        <!--Rolling Fields extention-->
        <%- include('templates/mapRoute',
            { route: 3, region: 7
            , width: 2, height: 2
            , x: 51, y: 39, name: "RF"
            , noText: true
            })
        %>

        <!--Dappled Grove-->
        <%- include('templates/mapRoute',
            { route: 4, region: 7
            , width: 3, height: 2
            , x: 36, y: 32, name: "DG"
            })
        %>

        <!--Dappled Grove extention-->
        <%- include('templates/mapRoute',
            { route: 4, region: 7
            , width: 2, height: 3
            , x: 36, y: 34, name: "DG"
            , noText: true
            })
        %>

        <!--Dappled Grove extention-->
        <%- include('templates/mapRoute',
            { route: 4, region: 7
            , width: 4, height: 2
            , x: 36, y: 37, name: "DG"
            , noText: true
            })
        %>

        <!--Dappled Grove extention-->
        <%- include('templates/mapRoute',
            { route: 4, region: 7
            , width: 4, height: 1
            , x: 37, y: 39, name: "DG"
            , noText: true
            })
        %>

        <!--Dappled Grove extention-->
        <%- include('templates/mapRoute',
            { route: 4, region: 7
            , width: 1, height: 1
            , x: 40, y: 38, name: "DG"
            , noText: true
            })
        %>

        <!--West Lake Axwell-->
        <%- include('templates/mapRoute',
            { route: 5, region: 7
            , width: 5, height: 5
            , x: 39, y: 27, name: "WLA"
            })
        %>

        <!--West Lake Axwell extention-->
        <%- include('templates/mapRoute',
            { route: 5, region: 7
            , width: 3, height: 2
            , x: 39, y: 32, name: "WLA"
            , noText: true
            })
        %>

        <!--West Lake Axwell extention-->
        <%- include('templates/mapRoute',
            { route: 5, region: 7
            , width: 4, height: 1
            , x: 38, y: 34, name: "WLA"
            , noText: true
            })
        %>

        <!--West Lake Axwell extention-->
        <%- include('templates/mapRoute',
            { route: 5, region: 7
            , width: 6, height: 2
            , x: 38, y: 35, name: "WLA"
            , noText: true
            })
        %>

        <!--West Lake Axwell extention-->
        <%- include('templates/mapRoute',
            { route: 5, region: 7
            , width: 3, height: 1
            , x: 40, y: 37, name: "WLA"
            , noText: true
            })
        %>

        <!--East Lake Axwell-->
        <%- include('templates/mapRoute',
            { route: 6, region: 7
            , width: 6, height: 1
            , x: 44, y: 23, name: "ELA"
            })
        %>

        <!--East Lake Axwell extention-->
        <%- include('templates/mapRoute',
            { route: 6, region: 7
            , width: 8, height: 2
            , x: 44, y: 24, name: "ELA"
            , noText: true
            })
        %>

        <!--East Lake Axwell extention-->
        <%- include('templates/mapRoute',
            { route: 6, region: 7
            , width: 8, height: 3
            , x: 44, y: 26, name: "ELA"
            , noText: true
            })
        %>

        <!--East Lake Axwell extention-->
        <%- include('templates/mapRoute',
            { route: 6, region: 7
            , width: 1, height: 4
            , x: 44, y: 29, name: "ELA"
            , noText: true
            })
        %>

        <!--East Lake Axwell extention-->
        <%- include('templates/mapRoute',
            { route: 6, region: 7
            , width: 1, height: 1
            , x: 46, y: 29, name: "ELA"
            , noText: true
            })
        %>

        <!--East Lake Axwell extention-->
        <%- include('templates/mapRoute',
            { route: 6, region: 7
            , width: 5, height: 4
            , x: 47, y: 29, name: "ELA"
            , noText: true
            })
        %>

        <!--East Lake Axwell extention-->
        <%- include('templates/mapRoute',
            { route: 6, region: 7
            , width: 2, height: 1
            , x: 45, y: 32, name: "ELA"
            , noText: true
            })
        %>

        <!--East Lake Axwell extention-->
        <%- include('templates/mapRoute',
            { route: 6, region: 7
            , width: 5, height: 1
            , x: 44, y: 33, name: "ELA"
            , noText: true
            })
        %>

        <!--East Lake Axwell extention-->
        <%- include('templates/mapRoute',
            { route: 6, region: 7
            , width: 4, height: 2
            , x: 45, y: 34, name: "ELA"
            , noText: true
            })
        %>

        <!--East Lake Axwell extention-->
        <%- include('templates/mapRoute',
            { route: 6, region: 7
            , width: 3, height: 1
            , x: 46, y: 36, name: "ELA"
            , noText: true
            })
        %>

        <!--Giant's Seat-->
        <%- include('templates/mapRoute',
            { route: 7, region: 7
            , width: 3, height: 11
            , x: 57, y: 29, name: "GS"
            })
        %>

        <!--Giant's Seat extension-->
        <%- include('templates/mapRoute',
            { route: 7, region: 7
            , width: 2, height: 1
            , x: 57, y: 40, name: "GS"
            , noText: true
            })
        %>

        <!--South Lake Miloch-->
        <%- include('templates/mapRoute',
            { route: 8, region: 7
            , width: 2, height: 1
            , x: 53, y: 28, name: "SLM"
            })
        %>

        <!--South Lake Miloch extention-->
        <%- include('templates/mapRoute',
            { route: 8, region: 7
            , width: 5, height: 10
            , x: 52, y: 29, name: "SLM"
            , noText: true
            })
        %>

        <!--South Lake Miloch extention-->
        <%- include('templates/mapRoute',
            { route: 8, region: 7
            , width: 4, height: 2
            , x: 53, y: 39, name: "SLM"
            , noText: true
            })
        %>

        <!--North Lake Miloch-->
        <%- include('templates/mapRoute',
            { route: 9, region: 7
            , width: 6, height: 2
            , x: 54, y: 22, name: "NLM"
            })
        %>

        <!--North Lake Miloch extension-->
        <%- include('templates/mapRoute',
            { route: 9, region: 7
            , width: 8, height: 2
            , x: 52, y: 24, name: "NLM"
            , noText: true
            })
        %>

        <!--North Lake Miloch extension-->
        <%- include('templates/mapRoute',
            { route: 9, region: 7
            , width: 9, height: 2
            , x: 51, y: 26, name: "NLM"
            , noText: true
            })
        %>

        <!--North Lake Miloch extension-->
        <%- include('templates/mapRoute',
            { route: 9, region: 7
            , width: 2, height: 1
            , x: 51, y: 28, name: "NLM"
            , noText: true
            })
        %>

        <!--North Lake Miloch extension-->
        <%- include('templates/mapRoute',
            { route: 9, region: 7
            , width: 5, height: 1
            , x: 55, y: 28, name: "NLM"
            , noText: true
            })
        %>

        <!--Axew's Eye-->
        <%- include('templates/mapRoute',
            { route: 10, region: 7
            , width: 1, height: 1
            , x: 45, y: 29, name: "AE"
            , noText: true
            })
        %>

        <!--Axew's Eye extension-->
        <%- include('templates/mapRoute',
            { route: 10, region: 7
            , width: 2, height: 2
            , x: 45, y: 30, name: "AE"
            , noText: true
            })
        %>

        <!--Watchtower Ruins-->
        <%- include('templates/mapRoute',
            { route: 11, region: 7
            , width: 7, height: 1
            , x: 37, y: 23, name: "WR"
            })
        %>

        <!--Watchtower Ruins extention-->
        <%- include('templates/mapRoute',
            { route: 11, region: 7
            , width: 8, height: 3
            , x: 36, y: 24, name: "WR"
            , noText: true
            })
        %>

        <!--Watchtower Ruins extention-->
        <%- include('templates/mapRoute',
            { route: 11, region: 7
            , width: 3, height: 5
            , x: 36, y: 27, name: "WR"
            , noText: true
            })
        %>

        <!--Route 3-->
        <%- include('templates/mapRoute',
            { route: 12, region: 7
            , width: 10, height: 2
            , x: 30, y: 18, name: "3"
            })
        %>

        <!--Route 4-->
        <%- include('templates/mapRoute',
            { route: 13, region: 7
            , width: 2, height: 4
            , x: 30, y: 10, name: "4"
            })
        %>

        <!--Route 5-->
        <%- include('templates/mapRoute',
            { route: 14, region: 7
            , width: 26, height: 2
            , x: 34, y: 8, name: "5"
            })
        %>

        <!--Motostoke Outskirts-->
        <%- include('templates/mapRoute',
            { route: 15, region: 7
            , width: 13, height: 2
            , x: 53, y: 18, name: "MO"
            })
        %>

        <!--Motostoke Riverbank-->
        <%- include('templates/mapRoute',
            { route: 16, region: 7
            , width: 7, height: 2
            , x: 53, y: 16, name: "MR"
            })
        %>

        <!--Motostoke Riverbank extension-->
        <%- include('templates/mapRoute',
            { route: 16, region: 7
            , width: 7, height: 1
            , x: 53, y: 20, name: "MR"
            , noText: true
            })
        %>

        <!--Bridge Field-->
        <%- include('templates/mapRoute',
            { route: 17, region: 7
            , width: 10, height: 2
            , x: 49, y: 13, name: "BF"
            })
        %>

        <!--Bridge Field extension-->
        <%- include('templates/mapRoute',
            { route: 17, region: 7
            , width: 9, height: 1
            , x: 50, y: 15, name: "BF"
            , noText: true
            })
        %>

        <!--Stony Wilderness-->
        <%- include('templates/mapRoute',
            { route: 18, region: 7
            , width: 9, height: 1
            , x: 49, y: 10, name: "SW"
            })
        %>

        <!--Stony Wilderness extension-->
        <%- include('templates/mapRoute',
            { route: 18, region: 7
            , width: 10, height: 2
            , x: 49, y: 11, name: "SW"
            , noText: true
            })
        %>

        <!--Giant's Mirror-->
        <%- include('templates/mapRoute',
            { route: 19, region: 7
            , width: 4, height: 2
            , x: 55, y: 2, name: "GM"
            })
        %>

        <!--Giant's Mirror extension-->
        <%- include('templates/mapRoute',
            { route: 19, region: 7
            , width: 2, height: 4
            , x: 55, y: 4, name: "GM"
            , noText: true
            })
        %>

        <!--Giant's Cap-->
        <%- include('templates/mapRoute',
            { route: 20, region: 7
            , width: 2, height: 6
            , x: 49, y: 2, name: "GC"
            })
        %>

        <!--Lake of Outrage-->
        <%- include('templates/mapRoute',
            { route: 21, region: 7
            , width: 3, height: 7
            , x: 46, y: 0, name: "LoO"
            })
        %>

        <!--Lake of Outrage extension-->
        <%- include('templates/mapRoute',
            { route: 21, region: 7
            , width: 2, height: 1
            , x: 47, y: 7, name: "LoO"
            , noText: true
            })
        %>

        <!--Hammerlocke Hills-->
        <%- include('templates/mapRoute',
            { route: 22, region: 7
            , width: 10, height: 2
            , x: 49, y: 0, name: "HH"
            })
        %>

        <!--Hammerlocke Hills extension-->
        <%- include('templates/mapRoute',
            { route: 22, region: 7
            , width: 4, height: 1
            , x: 51, y: 2, name: "HH"
            , noText: true
            })
        %>

        <!--Route 2 Lakeside-->
        <%- include('templates/mapRoute',
            { route: 27, region: 7
            , width: 4, height: 3
            , x: 53, y: 44, name: "2LS"
            })
        %>

        <!-- ----- -->
        <!-- TOWNS -->
        <!-- ----- -->

        <!--Postwick-->
        <%- include('templates/mapTown',
            { name: "Postwick"
            , x: 44, y: 53.5
            , width: 5, height: 4.5
            , home: true
            })
        %>

        <!--Slumbering Weald-->
        <%- include('templates/mapTown',
            { name: "Slumbering Weald"
            , x: 37, y: 54
            , width: 5, height: 3
            })
        %>

        <!--Wedgehurst-->
        <%- include('templates/mapTown',
            { name: "Wedgehurst"
            , x: 47, y: 47.5
            , width: 5, height: 4.5
            })
        %>

        <!--Professor Magnolia's House-->
        <%- include('templates/mapTown',
            { name: "Professor Magnolia's House"
            , x: 57, y: 43.5
            , width: 5, height: 3.5
            })
        %>

        <!--Motostoke-->
        <%- include('templates/mapTown',
            { name: "Motostoke"
            , x: 44, y: 14
            , width: 5, height: 9
            })
        %>

        <!--Motostoke extension-->
        <%- include('templates/mapTown',
            { name: "Motostoke"
            , x: 40, y: 15.5
            , width: 4, height: 5.5
            })
        %>

        <!--Motostoke extension-->
        <%- include('templates/mapTown',
            { name: "Motostoke"
            , x: 49, y: 17.5
            , width: 4, height: 3.5
            })
        %>

        <!--Turffield-->
        <%- include('templates/mapTown',
            { name: "Turffield"
            , x: 29, y: 5.5
            , width: 5, height: 4.5
            })
        %>

        <!--Hulbury-->
        <%- include('templates/mapTown',
            { name: "Hulbury"
            , x: 60, y: 6.5
            , width: 5, height: 4.5
            })
        %>

        <!-- -------- -->
        <!-- DUNGEONS -->
        <!-- -------- -->


        <!--Galar Mine-->
        <%- include('templates/mapDungeon',
            { name: "Galar Mine"
            , x: 29, y: 14
            , width: 4, height: 4
            })
        %>

        <!--Galar Mine No. 2-->
        <%- include('templates/mapDungeon',
            { name: "Galar Mine No. 2"
            , x: 63, y: 11
            , width: 4, height: 7
            })
        %>

        <!--Dusty Bowl-->
        <%- include('templates/mapDungeon',
            { name: "Dusty Bowl"
            , x: 51, y: 3
            , width: 4, height: 5
            })
        %>

        <!-- ------------------ -->
        <!-- PLACES OF INTEREST -->
        <!-- ------------------ -->
        <%- include('templates/mapPOI',
            { name: "Dock"
            , x: 65, y: 9
            , width: 3, height: 2
            , databind: "click:function(){MapHelper.openShipModal()}, attr: { class: MapHelper.calculateTownCssClass('Hulbury') }"
            })
        %>
    </g>
    <g data-bind="visible: player.subregion == SubRegions.getSubRegion(GameConstants.Region.galar, 'North Galar').id">
        <image width="1600" height="960" data-bind="attr: {
            'xlink:href':'assets/images/galar-north.png?v=$VERSION',
            href:'assets/images/galar-north.png?v=$VERSION'
        }"></image>

        <!-- ------ -->
        <!-- ROUTES -->
        <!-- ------ -->

        <!--Route 6-->
        <%- include('templates/mapRoute',
            { route: 23, region: 7
            , width: 2, height: 9
            , x: 34, y: 49, name: "6"
            })
        %>

        <!--Route 6 extension-->
        <%- include('templates/mapRoute',
            { route: 23, region: 7
            , width: 10, height: 2
            , x: 36, y: 56, name: "6"
            , noText: true
            })
        %>

        <!--Route 7-->
        <%- include('templates/mapRoute',
            { route: 24, region: 7
            , width: 13, height: 2
            , x: 55, y: 56, name: "7"
            })
        %>

        <!--Route 8-->
        <%- include('templates/mapRoute',
            { route: 25, region: 7
            , width: 2, height: 5
            , x: 62, y: 46, name: "8"
            })
        %>

        <!--Route 8 extension-->
        <%- include('templates/mapRoute',
            { route: 25, region: 7
            , width: 2, height: 7
            , x: 60, y: 49, name: "8"
            , noText: true
            })
        %>

        <!--Steamdrift Way-->
        <%- include('templates/mapRoute',
            { route: 26, region: 7
            , width: 2, height: 5
            , x: 62, y: 41, name: "SW"
            })
        %>

        <!--Steamdrift Way extension-->
        <%- include('templates/mapRoute',
            { route: 26, region: 7
            , width: 1, height: 2
            , x: 64, y: 41, name: "SW"
            , noText: true
            })
        %>

        <!--Route 9-->
        <%- include('templates/mapRoute',
            { route: 28, region: 7
            , width: 2, height: 4
            , x: 71, y: 44, name: "9"
            })
        %>

        <!--Circhester Bay-->
        <%- include('templates/mapRoute',
            { route: 29, region: 7
            , width: 2, height: 3
            , x: 71, y: 48, name: "CB"
            })
        %>

        <!--Circhester Bay extension-->
        <%- include('templates/mapRoute',
            { route: 29, region: 7
            , width: 1, height: 2
            , x: 70, y: 49, name: "CB"
            , noText: true
            })
        %>

        <!--Circhester Bay extension-->
        <%- include('templates/mapRoute',
            { route: 29, region: 7
            , width: 2, height: 4
            , x: 70, y: 51, name: "CB"
            , noText: true
            })
        %>

        <!--Outer Spikemuth-->
        <%- include('templates/mapRoute',
            { route: 30, region: 7
            , width: 2, height: 1
            , x: 70, y: 55, name: "OS"
            })
        %>

        <!--Outer Spikemuth extension-->
        <%- include('templates/mapRoute',
            { route: 30, region: 7
            , width: 5, height: 2
            , x: 68, y: 56, name: "OS"
            , noText: true
            })
        %>

        <!--Winter Hill Station-->
        <%- include('templates/mapRoute',
            { route: 31, region: 7
            , width: 10, height: 2
            , x: 46, y: 39, name: "WHS"
            })
        %>

        <!--Winter Hill Station extension-->
        <%- include('templates/mapRoute',
            { route: 31, region: 7
            , width: 2, height: 5
            , x: 54, y: 34, name: "WHS"
            , noText: true
            })
        %>

        <!--Route 10-->
        <%- include('templates/mapRoute',
            { route: 32, region: 7
            , width: 7, height: 2
            , x: 49, y: 32, name: "10"
            })
        %>

        <!--Route 10 extension-->
        <%- include('templates/mapRoute',
            { route: 32, region: 7
            , width: 2, height: 6
            , x: 49, y: 26, name: "10"
            , noText: true
            })
        %>

        <!-- ----- -->
        <!-- TOWNS -->
        <!-- ----- -->

        <!--Hammerlocke-->
        <%- include('templates/mapTown',
            { name: "Hammerlocke"
            , x: 45, y: 48.5
            , width: 7, height: 2
            })
        %>

        <!--Hammerlocke extension-->
        <%- include('templates/mapTown',
            { name: "Hammerlocke"
            , x: 45, y: 50.5
            , width: 11, height: 5.5
            })
        %>

        <!--Hammerlocke-->
        <%- include('templates/mapTown',
            { name: "Hammerlocke"
            , x: 46, y: 56
            , width: 9, height: 3
            })
        %>

        <!--Stow-on-Side-->
        <%- include('templates/mapTown',
            { name: "Stow-on-Side"
            , x: 28, y: 44.5
            , width: 5, height: 4.5
            })
        %>

        <!--Stow-on-Side extension-->
        <%- include('templates/mapTown',
            { name: "Stow-on-Side"
            , x: 33, y: 45
            , width: 4, height: 4
            })
        %>

        <!--Ballonlea-->
        <%- include('templates/mapTown',
            { name: "Ballonlea"
            , x: 26, y: 32.5
            , width: 5, height: 4.5
            })
        %>

        <!--Circhester-->
        <%- include('templates/mapTown',
            { name: "Circhester"
            , x: 65, y: 39.5
            , width: 5, height: 4.5
            })
        %>

        <!--Circhester extension-->
        <%- include('templates/mapTown',
            { name: "Circhester"
            , x: 70, y: 40
            , width: 4, height: 4
            })
        %>

        <!--Spikemuth-->
        <%- include('templates/mapTown',
            { name: "Spikemuth"
            , x: 73, y: 54.5
            , width: 5, height: 4.5
            })
        %>

        <!--Wyndon-->
        <%- include('templates/mapTown',
            { name: "Wyndon"
            , x: 46, y: 21.5
            , width: 5, height: 4.5
            })
        %>

        <!--Wyndon extension-->
        <%- include('templates/mapTown',
            { name: "Wyndon"
            , x: 51, y: 22
            , width: 4, height: 4
            })
        %>

        <!--Wyndon Stadium-->
        <%- include('templates/mapTown',
            { name: "Wyndon Stadium"
            , x: 55, y: 13
            , width: 9, height: 5.5
            })
        %>

        <!--Wyndon Stadium extension-->
        <%- include('templates/mapTown',
            { name: "Wyndon Stadium"
            , x: 58, y: 18.5
            , width: 3, height: 0.5
            })
        %>

        <!-- -------- -->
        <!-- DUNGEONS -->
        <!-- -------- -->

        <!--Glimwood Tangle-->
        <%- include('templates/mapDungeon',
            { name: "Glimwood Tangle"
            , x: 27, y: 37
            , width: 4, height: 1
            })
        %>

        <!--Glimwood Tangle extension-->
        <%- include('templates/mapDungeon',
            { name: "Glimwood Tangle"
            , x: 25, y: 38
            , width: 6, height: 6
            })
        %>

        <!--Rose Tower-->
        <%- include('templates/mapDungeon',
            { name: "Rose Tower"
            , x: 45, y: 2.5
            , width: 3, height: 14
            })
        %>

        <!--Rose Tower extension-->
        <%- include('templates/mapDungeon',
            { name: "Rose Tower"
            , x: 48, y: 2
            , width: 3, height: 15
            })
        %>

        <!--Rose Tower extension-->
        <%- include('templates/mapDungeon',
            { name: "Rose Tower"
            , x: 51, y: 2.5
            , width: 3, height: 14
            })
        %>

        <!-- ------------------ -->
        <!-- PLACES OF INTEREST -->
        <!-- ------------------ -->
        <%- include('templates/mapPOI',
            { name: "Dock"
            , x: 78, y: 57
            , width: 3, height: 2
            , databind: "click:function(){MapHelper.openShipModal()}, attr: { class: MapHelper.calculateTownCssClass('Spikemuth') }"
            })
        %>
    </g>
</g>
