<div class="dropdown clearfix" style="position:absolute; right:0; top:0; z-index: 100;">
    <button class="btn btn-secondary dropdown-toggle float-right" type="button" data-toggle="dropdown">Start
        Menu
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
        <li>
            <a class="dropdown-item" href="#pokedexModal" data-toggle="modal">Pokédex</a>
        </li>
        <li>
            <a class="dropdown-item" href="#badgeCaseModal" data-toggle="modal">Badge Case</a>
        </li>
        <!-- <li>
            <button class="dropdown-item" href="#">Stats</button>
        </li> -->
        <li>
            <a class="dropdown-item" href="#achievementsModal" data-toggle="modal">Achievements</a>
        </li>
        <li>
            <a class="dropdown-item" href="#shardModal" data-toggle="modal">Shards</a>
        </li>
        <li>
            <a class="dropdown-item" href="#showItemsModal" data-toggle="modal">Items</a>
        </li>
        <li>
            <a class="dropdown-item" href="#PrestigeModal" data-toggle="modal">Prestige</a>
        </li>
        <li>
            <a class="dropdown-item" href="#settingsModal" data-toggle="modal">Settings</a>
        </li>
        <li>
            <a class="dropdown-item" href="#saveModal" data-toggle="modal">Save</a>
        </li>
        <li>
            <a class="dropdown-item" href="#changelogModal" data-toggle="modal">Changelog</a>
        </li>
        <li>
            <a class="dropdown-item" href="https://pokeclicker.reddit.com" target="_blank">Subreddit</a>
        </li>
        <li>
            <a class="dropdown-item" href="https://gitreports.com/issue/Ishadijcks/pokeclicker" target="_blank">Report a bug</a>
        </li>

    </ul>
</div>
