<div id="startMenu" class="dropdown clearfix" style="position:absolute; right:0; top:0; z-index: 100;">
    <button class="btn btn-secondary dropdown-toggle float-right" type="button" data-bs-toggle="dropdown">
        Start Menu
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
        <li>
            <a class="dropdown-item" href="#pokedexModal" data-bs-toggle="modal">Pokédex</a>
        </li>
        <li>
            <a class="dropdown-item" href="#showItemsModal" data-bs-toggle="modal">Items</a>
        </li>
        <li data-bind="attr: {  title: App.game.gems.canAccess() ? '' : 'Progress further to unlock...'}">
            <a class="dropdown-item" href="#" data-bind="click:function(){App.game.gems.openGemModal()},
            attr: {class: App.game.gems.canAccess() ? 'dropdown-item' : 'dropdown-item disabled all-pointers'}">Gems</a>
        </li>
        <li>
            <a class="dropdown-item" href="#profileModal" data-bs-toggle="modal">Profile</a>
        </li>
        <li>
            <a class="dropdown-item" href="#badgeCaseModal" data-bs-toggle="modal">Badge Case</a>
        </li>
        <li>
            <a class="dropdown-item" href="#saveModal" data-bs-toggle="modal">Save</a>
        </li>
        <li>
            <a class="dropdown-item" href="#settingsModal" data-bs-toggle="modal">Settings</a>
        </li>
        <li>
            <button class="dropdown-item" href="#statisticsModal" data-bs-toggle="modal">Statistics</button>
        </li>
        <li>
            <a class="dropdown-item" href="#achievementsModal" data-bs-toggle="modal" onclick="AchievementHandler.filterAchievementList(true);">Achievements</a>
        </li>
        <li>
            <a class="dropdown-item" href="#logBookModal" data-bs-toggle="modal">Log Book</a>
        </li>
        <li>
            <a class="dropdown-item" href="#damageCalculatorModal" data-bs-toggle="modal">Damage Calculator</a>
        </li>
        <li>
            <a class="dropdown-item" href="#challengeModeModal" data-bs-toggle="modal">Challenge Modes</a>
        </li>
        <li>
            <a class="dropdown-item" href="#changelogModal" data-bs-toggle="modal">Changelog</a>
        </li>
        <li>
            <a class="dropdown-item" href="#eventsModal" data-bs-toggle="modal">Events</a>
        </li>
        <li>
            <a class="dropdown-item" href="#FAQModal" data-bs-toggle="modal">FAQ</a>
        </li>
        <li>
            <a class="dropdown-item" href="#creditsModal" data-bs-toggle="modal">Credits</a>
        </li>
        <li>
            <a class="dropdown-item" href="https://pokeclicker.reddit.com" target="_blank">Subreddit</a>
        </li>
        <li>
            <a class="dropdown-item" href="https://discord.gg/a6DFe4p" target="_blank">Discord</a>
        </li>
        <li>
            <a class="dropdown-item" href="http://pokeclicker.miraheze.org/" target="_blank">Wiki</a>
        </li>
        <li>
            <a class="dropdown-item" href="https://github.com/pokeclicker/pokeclicker/issues" target="_blank">Report a bug</a>
        </li>

    </ul>
</div>
