<div class="modal fade noselect" id="gemModal" tabindex="-1" role="dialog" aria-badgeledby="gemModal">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
       <div class="modal-content">
            <div class="modal-header">
                <h5 class="mb-0">Gems</h5>
                <button type="button" class="btn btn-info"
                        style="position: absolute; right: 0px; top: 0px; width: auto; height: 55px; padding: 10px;"
                        data-bind="tooltip: { title: 'Use gems to upgrade the type effectiveness of your Pokémon. When you defeat a Pokémon, you get gems based on its type.', trigger: 'hover', placement:'left' }">
                    ?
                </button>

            </div>
            <div class="modal-body p-0">
                <p data-bind="visible: App.game.challenges.list.disableGems.active()" class="bg-danger my-0 sticky-top">
                    Gem bonuses are disabled.
                </p>
                <table class='table table-sm m-0'>
                    <!-- ko foreach: Array(Gems.nTypes) -->
                        <tbody>
                            <tr>
                                <td colspan="4" class="clickable text-left h5" data-toggle="collapse"
                                    data-bind="attr: { 'href': '#collapse-gem-' + $index() }, click: function() { App.game.gems.gemCollapsed[$index()] = !App.game.gems.gemCollapsed[$index()]; }">
                                    <div class="d-flex align-items-center">
                                        <div class="flex-grow-1 font-weight-bold" data-bind="text: PokemonType[$index()]"></div>
                                        <img width="32px" data-bind='attr: { src: Gems.image($index()) }'/>
                                        <knockout data-bind="text: App.game.gems.gemWallet[$index()]().toLocaleString('en-US')"></knockout>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tbody data-bind="class: 'collapse' + (App.game.gems.gemCollapsed[$index()] ? '' : ' show'), attr: { id: 'collapse-gem-' + $index()}">
                            <!-- ko foreach: Array(Gems.nEffects) -->
                                <tr data-bind='if: App.game.gems.isValidUpgrade($parentContext.$index(), $index())'>
                                    <td data-bind='text: GameConstants.TypeEffectiveness[$index()]'></td>
                                    <td width='50%'>
                                        <div class="progress"
                                            data-bind="style: { 'background-color': '#' + TypeHelper.typeColorsLocked[$parentContext.$index()] }">
                                            <div class='progress-bar' role="progressbar"
                                                data-bind="style: { width: (App.game.gems.getGemUpgrade($parentContext.$index(), $index()) * 10) + '%',
                                                                        'background-color': '#' + TypeHelper.typeColors[$parentContext.$index()] }"
                                                aria-valuemin="0" aria-valuemax="100">
                                            </div>
                                            <div class='cell-container' data-bind='foreach: new Array(9)'>
                                                <div class='progress-cell' style='width: 10%'></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td data-bind='text: (GameConstants.TypeEffectivenessValue[GameConstants.TypeEffectiveness[$index()]]
                                        + (App.game.gems.getGemUpgrade($parentContext.$index(), $index()) * GameConstants.GEM_UPGRADE_STEP)).toFixed(1) + "x"'></td>
                                    <td>
                                        <button class='btn btn-block btn-primary'
                                                data-bind='click: function(){App.game.gems.buyGemUpgrade($parentContext.$index(), $index())},
                                                    css: {disabled: !App.game.gems.canBuyGemUpgrade($parentContext.$index(), $index())},
                                                    text: (App.game.gems.hasMaxUpgrade($parentContext.$index(), $index()) ?  "MAXED" : "Buy (" + App.game.gems.getGemUpgradeCost($parentContext.$index(), $index()).toLocaleString("en-US") + ")")'>
                                        </button>
                                    </td>
                                </tr>
                            <!-- /ko -->
                        </tbody>
                    <!-- /ko -->
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
