<div class="modal fade noselect" id="genericTraderModal" tabindex="-1" role="dialog"
     aria-labelledby="genericTraderModalLabel">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 data-bind='text: ShopHandler.shopObservable?.().name'></h4>
                <button type="button" class="btn btn-primary" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body tab-content">
                <div id="genericTraderTrade" class="tab-pane fade in active show">
                    <div class="table-responsive" style="min-height: 250px; text-wrap: nowrap">
                        <table class="table table-striped table-hover table-sm m-0 table-generic-trader" data-bind="
                            css: {
                                'hide-all-cost-inventory': !GenericDeal.getDeals(ShopHandler.shopObservable().traderID)?.().filter(deal => deal.isVisible()).some(deal => deal.costs.some(profit => !profit.hidePlayerInventory)),
                                'hide-all-profit-inventory': !GenericDeal.getDeals(ShopHandler.shopObservable().traderID)?.().filter(deal => deal.isVisible()).some(deal => deal.profits.some(profit => !profit.hidePlayerInventory))
                            }
                        ">
                            <thead>
                            <tr>
                                <th>Cost</th>
                                <th class="cost-inventory">Inventory</th>
                                <th></th>
                                <th>Profit</th>
                                <th class="profit-inventory">Inventory</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody data-bind="foreach: { data: GenericDeal.getDeals(ShopHandler.shopObservable().traderID)?.().filter(deal => deal.isVisible()), as: 'deal' }">
                            <tr data-bind="let: { tradeAmount: ko.observable(1) }">
                                <td class="align-middle text-center cost-section">
                                    <div class="d-flex flex-column pr-2" data-bind="foreach: deal.costs">
                                        <div class="d-flex align-items-center" style="height: 24px; gap: 8px;" data-bind="template: { name: 'traderCostProfitItemTemplate', data: { model: $data, tradeAmount: tradeAmount() } }"></div>
                                    </div>
                                </td>
                                <td class="align-middle text-center cost-inventory">
                                    <div class="d-flex flex-column px-2" data-bind="foreach: deal.costs">
                                        <div class="text-center" style="height: 24px;" data-bind="text: $data.hidePlayerInventory ? '' : GenericDeal.inventoryAmount($data).toLocaleString('en-US')"></div>
                                    </div>
                                </td>
                                <td class="align-middle">
                                    <div class="px-2">→</div>
                                </td>
                                <td class="align-middle">
                                    <div class="d-flex flex-column px-2" data-bind="foreach: deal.profits">
                                        <div class="d-flex align-items-center" style="height: 24px; gap: 8px;" data-bind="template: { name: 'traderCostProfitItemTemplate', data: { model: $data, tradeAmount: tradeAmount() } }"></div>
                                    </div>
                                </td>
                                <td class="align-middle profit-inventory">
                                    <div class="d-flex flex-column px-2" data-bind="foreach: deal.profits">
                                        <div class="text-center" style="height: 24px;" data-bind="text: $data.hidePlayerInventory ? '' : GenericDeal.inventoryAmount($data).toLocaleString('en-US')"></div>
                                    </div>
                                </td>
                                <td class="align-middle">
                                    <!-- ko if: GenericDeal.isLocked(ShopHandler.shopObservable()?.traderID, $index()) -->
                                    <img width="24px" class="lock ml-2" src="assets/images/breeding/lock.svg" data-bind="
                                        tooltip: {
                                            title: deal.requirement?.hint() || '',
                                            placement: 'bottom',
                                            trigger: 'hover'
                                        }
                                    " />
                                    <!-- /ko -->
                                    <!-- ko ifnot: GenericDeal.isLocked(ShopHandler.shopObservable()?.traderID, $index()) -->
                                    <div class="btn-group btn-block pl-2">
                                        <button class='btn btn-success btn-block' data-bind='click: function(){GenericDeal.use(ShopHandler.shopObservable()?.traderID, $index(), tradeAmount())}, attr: { disabled: tradeAmount() > GenericDeal.maxTrades(deal) || !GenericDeal.canUse(ShopHandler.shopObservable()?.traderID, $index()) }'>
                                            <knockout data-bind="text: !GenericDeal.anySoldOut(deal) ? (deal.tradeButtonOverride ?? 'Trade') : 'Sold out'"></knockout>
                                        </button>
                                        <!-- ko if: GenericDeal.maxTrades(deal) > 1 || tradeAmount() > 1 -->
                                        <button type="button" data-bind="text: tradeAmount() + '&nbsp;'" class="btn btn-success dropdown-toggle dropdown-toggle-split active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        </button>
                                        <!-- Until we can fix the PokemonItem gain() function, this should be limited to 1000 -->
                                        <div class="dropdown-menu" data-bind="foreach: [1, 10, 100, 1000]">
                                            <button class="dropdown-item" type="button" data-bind="click: function(){tradeAmount($data)}, text: $data"></button>
                                        </div>
                                        <!-- /ko -->
                                    </div>
                                    <!-- /ko -->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="traderCostProfitItemTemplate">
    <!-- ko if: model.type === 'Gem' -->
    <div><img height="24px" data-bind="attr: {src: Gems.image(model.gemType) }"/></div>
    <div class="text-left" data-bind="text: `${(tradeAmount * model.amount).toLocaleString('en-US')} × ${PokemonType[model.gemType]}`, css: { 'not-enough': tradeAmount * model.amount > App.game.gems.gemWallet[model.gemType]() }"></div>
    <!-- /ko -->

    <!-- ko if: model.type === 'Shard' -->
    <div><img height="24px" data-bind="attr: {src: model.shardItem.image }"/></div>
    <div class="text-left" data-bind="text: `${(tradeAmount * model.amount).toLocaleString('en-US')} × ${model.shardItem.displayName}`, css: { 'not-enough': tradeAmount * model.amount > player.itemList[model.shardItem.name]() }"></div>
    <!-- /ko -->

    <!-- ko if: model.type === 'Berry' -->
    <div><img height="24px" data-bind="attr: {src: FarmController.getBerryImage(model.berryType) }, css: {'berryLocked': !App.game.farming.unlockedBerries[model.berryType]() }"/></div>
    <div class="text-left" data-bind="text: `${(tradeAmount * model.amount).toLocaleString('en-US')} × ${App.game.farming.unlockedBerries[model.berryType]() ? BerryType[model.berryType] : '???'}`, css: { 'not-enough': tradeAmount * model.amount > App.game.farming.berryList[model.berryType]() }"></div>
    <!-- /ko -->

    <!-- ko if: model.type === 'Item' -->
    <div><img height="24px" data-bind="attr: {src: model.item.image }"/></div>
    <div class="text-left" data-bind="text: `${(tradeAmount * model.amount).toLocaleString('en-US')} × ${model.item.displayName}`, css: { 'not-enough': tradeAmount * model.amount > player.itemList[model.item.name]() }"></div>
    <!-- /ko -->

    <!-- ko if: model.type === 'Amount' -->
    <div><img height="24px" data-bind="attr: {src: `assets/images/currency/${GameConstants.Currency[model.currency.currency]}.svg` }"/></div>
    <div class="text-left" data-bind="text: `${(tradeAmount * model.currency.amount * model.amount).toLocaleString('en-US')} × ${GameConstants.camelCaseToString(GameConstants.Currency[model.currency.currency])}`, css: { 'not-enough': tradeAmount * model.currency.amount * model.amount > App.game.wallet.currencies[model.currency.currency]() }"></div>
    <!-- /ko -->
</script>
