<div class="modal" id="keyItemModal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content" style="text-align: center">
            <div class="modal-header">
                <div style="width: 100%;">
                    <img src="assets/images/npcs/Professor Oak.png">
                    <h5 class="modal-title" id="keyItemModalLabel">New key item!</h5>
                </div>
            </div>
            <!-- ko with: App.game.keyItems.itemList.find(k=> k.id == KeyItemController.latestGainedItem()) -->
            <div class="modal-body">
                <h5><strong>Congratulations!</strong></h5>
                <span>You have gained a</span><br>
                <img class="key-item" src="" data-bind="attr:{ title: $data.displayName,  src: 'assets/images/keyitems/' + KeyItemType[KeyItemController.latestGainedItem()] + '.png'}"/><br>
                <span>
                    <strong data-bind="text: $data.displayName">Name</strong>
                </span><br>
                <span data-bind="html: $data.description">Description</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-bind="click: $data.unlockRewardOnClose">Close</button>
            </div>
            <!-- /ko -->
        </div>
    </div>
</div>
