<div id="gymView" data-bind="if: Game.gameState() === GameConstants.GameState.gym">

    <div class="card-header p-0">
        <div id="gymTimer" class="progress">
            <div class="progress-bar" role="progressbar"
                 data-bind="text: GymRunner.timeLeftSeconds(), attr:{ style: 'width:' + GymRunner.timeLeftPercentage() + '%' }"
                 aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
    </div>
    <div class="card-body">
        <div id="gymCountdownView">
          <div class="row" style="display: inline-block; vertical-align: middle;">
            <div class="col-sm-6 offset-sm-3">
              <img style="width:100%" id="gif-go" src="assets/gifs/go.gif">
            </div>
          </div>
          <span style="display: inline-block; vertical-align:middle; height: 100%;"></span>
        </div>
        <div class="col-lg-12" style="display: block;">
            <div class="row">
                <div class="col-sm-4 offset-sm-4">
                    <span data-bind="text: GymBattle.enemyPokemon().name">Pokemon name</span><br>
                    <div class="clickable">
                        <img id="gymEnemy" src=""
                             data-bind="click: function() {GymBattle.clickAttack()}, attr:{ src: 'assets/images/pokemon/' + GymBattle.enemyPokemon().id + '.png' }"/>
                    </div>
                </div>
                <div class="col-sm-3" style="display: grid;">
                    <span data-bind="text: GymBattle.gym.leaderName.replace(/\d/g,'')">Leader</span>
                    <div class="gymPokeballList">
                                        <span data-bind="foreach: new Array(GymBattle.pokemonsUndefeatedComputable())"><img
                                                class="gymPokeball" src="assets/images/gymLeaders/pokeball.png"></span>
                        <span data-bind="foreach: new Array(GymBattle.pokemonsDefeatedComputable())"><img
                                class="gymPokeball gymPokeballDefeated"
                                src="assets/images/gymLeaders/pokeball.png"></span>
                    </div>
                    <div>
                        <img height="56px" id="gymLeader" src=""
                             data-bind="attr:{ src: 'assets/images/gymLeaders/' + GymBattle.gym.leaderName + '.png'}">
                    </div>

                </div>
            </div>
            <div>
                <span data-bind="text: GymBattle.enemyPokemon().health">health</span>
                <span>/</span>
                <span data-bind="text: GymBattle.enemyPokemon().maxHealth">maxHealth</span>
            </div>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar"
                     data-bind="attr:{ style: 'width:' + GymBattle.enemyPokemon().healthPercentage() + '%' }"
                     aria-valuemin="0" aria-valuemax="100">

                </div>
            </div>
        </div>
    </div>
</div>
