
<div class="row justify-content-center no-gutters" data-bind="if: App.game.gameState === GameConstants.GameState.gym">
    <div class="col no-gutters" data-bind="css: { clickable: !GymBattle.gym.optionalArgs.isDoubleBattle, 'multi-battle': GymBattle.gym.optionalArgs.isDoubleBattle }, click: function() { if (!GymBattle.gym.optionalArgs.isDoubleBattle) { GymBattle.clickAttack(); } }" style="height: 280px; display: block;">
        <h2 class="pageItemTitle mobileBattleTitle" style="display: block;">
            <knockout data-bind="ifnot: GymBattle.gym.optionalArgs.isDoubleBattle">
                <knockout data-bind="template: { name: 'pokemonNameTemplate', data: { 'pokemon': GymBattle.firstEnemyPokemon() } }">Pokémon name</knockout>
            </knockout>
            <knockout data-bind="if: GymBattle.gym.optionalArgs.isDoubleBattle">
                <span class="multi-battle-title" data-bind="foreach: GymBattle.enemyPokemonView">
                    <knockout data-bind="if: $data">
                        <span data-bind="if: $index() > 0">&nbsp;&&nbsp;</span>
                        <span data-bind="template: { name: 'pokemonNameTemplate', data: { 'pokemon': $data } }">Pokémon name</span>
                    </knockout>
                </span>
            </knockout>

            <knockout class="right">
                <span data-bind="foreach: new Array(GymBattle.pokemonsDefeatedComputable())">
                    <img src="assets/images/pokeball/Pokeball.svg" class="pokeball-smallest pokeball-defeated"/>
                </span>
                <span data-bind="foreach: new Array(GymBattle.pokemonsUndefeatedComputable())">
                    <img src="assets/images/pokeball/Pokeball.svg" class="pokeball-smallest"/>
                </span>
            </knockout>

            <div class="progress timer">
                <div class="progress-bar bg-danger" role="progressbar"
                     data-bind="attr:{ style: 'width:' + GymRunner.timeLeftPercentage() + '%' },
                     css: { 'bg-danger': GymRunner.timeLeftSeconds() < 10, 'bg-primary': GymRunner.timeLeftSeconds() >= 10 }"
                     aria-valuemin="0" aria-valuemax="100">
                     <span data-bind="text: GymRunner.timeLeftSeconds() + 's'" style="font-size: 12px;"></span>
                </div>
            </div>
        </h2>

        <div id="gymGoContainer" data-bind="if: Settings.getSetting('showGymGoAnimation').observableValue">
          <div class="row" style="display: inline-block; vertical-align: middle;">
            <div class="col-sm-6 offset-sm-3">
              <img style="width:100%" id="gymGo" src="assets/gifs/go.gif">
            </div>
          </div>
        </div>

        <div class="trainer">
            <img data-bind="attr:{ src: GymBattle.gym.imagePath }" onerror="this.src='assets/images/npcs/specialNPCs/Mysterious Trainer.png';"/>
        </div>

        <!-- ko ifnot: GymBattle.gym.optionalArgs.isDoubleBattle -->
            <div>
                <knockout data-bind="template: { name: 'pokemonSpriteTemplate', data: { 'pokemon': GymBattle.firstEnemyPokemon() } }">Pokémon sprite</knockout>
            </div>

            <div class="progress hitpoints trainerhitpoints">
                <div class="progress-bar bg-danger" role="progressbar"
                        data-bind="attr:{ style: 'width:' + GymBattle.firstEnemyPokemon().healthPercentage() + '%' }"
                        aria-valuemin="0" aria-valuemax="100">
                    <span data-bind="text: GymBattle.firstEnemyPokemon().health().toLocaleString('en-US') + ' / ' + GymBattle.firstEnemyPokemon().maxHealth().toLocaleString('en-US')" style="font-size: 12px;"></span>
                </div>
            </div>
        <!-- /ko -->

        <!-- ko if: GymBattle.gym.optionalArgs.isDoubleBattle -->
            <div class="multi-battle-pokemon-list" data-bind="foreach: GymBattle.enemyPokemonView">
                <div class="multi-battle-pokemon-slot" data-bind="css: { clickable: $data }, click: function() { if ($data) { GymBattle.clickAttack($data); } }, clickBubble: false">
                    <knockout data-bind="if: $data">
                        <div class="multi-battle-pokemon-sprite">
                            <knockout data-bind="template: { name: 'pokemonSpriteTemplate', data: { 'pokemon': $data } }">Pokémon sprite</knockout>
                        </div>
                    </knockout>
                </div>
            </div>

            <div class="multi-battle-hitpoints-list" data-bind="foreach: GymBattle.enemyPokemonView">
                <div class="multi-battle-hitpoints-slot">
                    <knockout data-bind="if: $data">
                        <div class="progress multi-battle-hitpoints">
                            <div class="progress-bar bg-danger" role="progressbar"
                                    data-bind="attr:{ style: 'width:' + $data.healthPercentage() + '%' }"
                                    aria-valuemin="0" aria-valuemax="100">
                                <span data-bind="text: $data.health().toLocaleString('en-US') + ' / ' + $data.maxHealth().toLocaleString('en-US')" style="font-size: 12px;"></span>
                            </div>
                        </div>
                    </knockout>
                </div>
            </div>
        <!-- /ko -->

        <button class="btn btn-sm btn-danger stop-auto" data-bind="visible: GymRunner.autoRestart()"
                onclick="GymRunner.autoRestart(false)">
            Stop Auto
        </button>
        <h2 class="pageItemFooter" style="display: block; font-size: 1rem;">
            <table width="100%">
              <tr>
                <td with="50%">
                  <knockout data-bind="text: GymBattle.gym.leaderName.replace(/\d/g,'')"></knockout>
                </td>
                <td width="50%">
                  <knockout data-bind="text: `${(GymRunner.gymObservable()?.clears() ?? 0).toLocaleString('en-US')} Clears`"></knockout>
                </td>
              </tr>
              <tr>
                <td width="50%">
                    <knockout data-bind="template: { name: 'pokemonAttackTemplate', data: { 'pokemon': GymBattle.firstEnemyPokemon(), 'battle': GymBattle } }"></knockout>
                </td>
                <td width="50%" data-bind="css: { 'text-muted': App.game.challenges.list.disableClickAttack.active() }">
                    <span style="display: inline;">Click Attack:
                        <span data-bind="text: App.game.party.calculateClickAttack().toLocaleString('en-US')"></span>
                    </span>
                </td>
              </tr>
          </table>
        </h2>
    </div>
</div>
