<div class="modal fade" data-keyboard="false" data-backdrop="static" id="hallOfFameModal" tabindex="-1" role="dialog"
aria-labelledby="hallOfFameModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
   <div class="modal-content">
       <div class="modal-header">
           <div style="width: 100%;">
               <img src="assets/images/oak.png">
               <h5 class="modal-title" id="hallOfFameModalLabel">Professor Oak</h5>
           </div>
       </div>
       <div class="modal-body">
           <p>
               So, you won! Congratulations!<br/>
               You are the new Pokémon League champion!<br/>
               You have grown up so much since you first left with <span data-bind="text: GameConstants.Starter[player.starter]">starter</span>!<br/>
               <br/>
               There are many more regions to explore,<br/>
               In order to move on you will need to capture all available Pokémon from the current region!
           </p>
       </div>
       <div class="modal-footer">
           <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
       </div>
   </div>
</div>
</div>
