<div class="modal fade" id="hallOfFameModal" tabindex="-1" role="dialog"
aria-labelledby="hallOfFameModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
   <div class="modal-content">
       <div class="modal-header">
           <div style="width: 100%;">
               <img src=""
                    data-bind="attr:{ src: 'assets/images/oak.png'}">
               <h5 class="modal-title" id="hallOfFameModalLabel">Professor Oak</h5>

           </div>
       </div>
       <div class="modal-body">
           <p>
               So, you won! Congratulations!<br/>
               You're the new Pokémon League champion!
               You've grown up so much since you first left with <span data-bind="text: GameConstants.Starter[player.starter]">starter</span>!
               You have worked hard to become the new League Champion!
               <br/><br/>
               You can now <a href='#PrestigeModal' data-toggle='modal'>Prestige</a> if so you wish..
               <br/>(also available from the start menu)
           </p>

       </div>
       <div class="modal-footer">
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
       </div>
   </div>
</div>
</div>
