<div class="modal fade" data-keyboard="false" data-backdrop="static" id="hallOfFameModal" tabindex="-1" role="dialog"
aria-labelledby="hallOfFameModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable" role="document">
   <div class="modal-content">
       <div class="modal-header">
           <div style="width: 100%;">
               <img src="assets/images/npcs/Professor Oak.png">
               <h5 class="modal-title" id="hallOfFameModalLabel">Professor Oak</h5>
           </div>
       </div>
       <div class="modal-body">
           <p>
                <p data-bind="visible: player.region == GameConstants.Region.kanto">
                    So, you won! Congratulations!<br/>
                    You are the new Pokémon League champion!<br/>
                    You have grown up so much since you first left with <span data-bind="text: PokemonHelper.getPokemonById(GameConstants.RegionalStarters[GameConstants.Region.kanto][this.starterPicked]).name">starter</span>!<br/>
                    <br/>
                    There are many more regions to explore!
                </p>
                <p data-bind="visible: player.region == GameConstants.Region.johto">
                    I heard from Professor Elm that you had just conquered the Johto Pokémon League! Congratulations!<br/>
                    You are the new Johto League champion!
                </p>
                <p data-bind="visible: player.region == GameConstants.Region.hoenn">
                    Professor Birch told me that you just beat the Hoenn Pokémon League! Congratulations!<br/>
                    You are the new Hoenn League champion!
                </p>
                <p data-bind="visible: player.region == GameConstants.Region.sinnoh">
                    I heard from Professor Rowan that you had just conquered the Sinnoh Pokémon League! Congratulations!<br/>
                    You are the new Sinnoh League champion!
                </p>
                <p data-bind="visible: player.region == GameConstants.Region.unova">
                    Professor Juniper told me that you also beat the Unova Pokémon League! Congratulations!<br/>
                    You are the new Unova League champion!
                </p>
                <p data-bind="visible: player.region == GameConstants.Region.kalos">
                    Professor Sycamore just told me. You are unstoppable! Congratulations!<br/>
                    You are the new Kalos League champion!
                </p>
                <p data-bind="visible: player.region == GameConstants.Region.alola">
                    Professor Kukui told me that you just beat the Alola Pokémon League! Congratulations!<br/>
                    You are the new Alola League champion!
                </p>
                <p data-bind="visible: player.region == GameConstants.Region.galar">
                    Professor Magnolia told me that you just beat the Galar Pokémon League! Congratulations!<br/>
                    You are the new Galar League champion!
                </p>

                <p data-bind="visible: App.game.challenges.list.requireCompletePokedex.active()">
                    In order to move on you will need to capture all available Pokémon from the current region!
                </p>
           </p>
       </div>
       <div class="modal-footer">
           <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
       </div>
   </div>
</div>
</div>
