<g data-bind='if: player.region == GameConstants.Region.hoenn'>
    <image width="100%" xlink:href="assets/images/hoenn.png"></image>

    <!-- ------ -->
    <!-- ROUTES -->
    <!-- ------ -->

    <!--Route 101-->
    <%- include('templates/mapRoute',
        { route: 101, region: 2
        , height: 23, width: 40
        , x: 280, y: -120
        , textx: 289, texty: -105
        , rotate: true
        })
     %>

    <!--Route 102-->
    <%- include('templates/mapRoute',
        { route: 102, region: 2
        , height: 23, width: 50
        , x: 50, y: 262
        , textx: 62, texty: 279
        })
     %>

    <!--Route 103-->
    <%- include('templates/mapRoute',
        { route: 103, region: 2
        , height: 23, width: 89
        , x: 97, y: 239
        , textx: 130, texty: 256
        })
     %>

    <!--Route 104-->
    <%- include('templates/mapRoute',
        { route: 104, region: 2
        , height: 23, width: 95
        , x: 190, y: -30
        , textx: 243, texty: -14
        , rotate: true
        })
     %>

    <!--Route 105-->
    <%- include('templates/mapRoute',
        { route: 105, region: 2
        , height: 23, width: 65
        , x: 285, y: -31
        , textx: 306, texty: -15
        , rotate: true
        })
     %>

    <!--Route 106-->
    <%- include('templates/mapRoute',
        { route: 106, region: 2
        , height: 24, width: 68
        , x: 8, y: 350
        , textx: 30, texty: 367
        })
     %>

    <!--Route 107-->
    <%- include('templates/mapRoute',
        { route: 107, region: 2
        , height: 24, width: 66
        , x: 76, y: 373
        , textx: 97, texty: 390
        })
     %>

    <!--Route 108-->
    <%- include('templates/mapRoute',
        { route: 108, region: 2
        , height: 24, width: 44
        , x: 142, y: 373
        , textx: 152, texty: 390
        })
     %>

    <!--Route 109-->
    <%- include('templates/mapRoute',
        { route: 109, region: 2
        , height: 24, width: 64
        , x: 333, y: -210
        , textx: 353, texty: -194
        , rotate: true
        })
     %>

    <!--Route 110-->
    <%- include('templates/mapRoute',
        { route: 110, region: 2
        , height: 23, width: 88
        , x: 199, y: -209
        , textx: 229, texty: -193
        , rotate: true
        })
     %>

    <!--Route 111-->
    <%- include('templates/mapRoute',
        { route: 111, region: 2
        , height: 23, width: 131
        , x: 38, y: -209
        , textx: 100, texty: -193
        , rotate: true
        })
     %>

    <!--Route 112-->
    <%- include('templates/mapRoute',
        { route: 112, region: 2
        , height: 46, width: 50
        , x: 136, y: 106
        , textx: 154, texty: 144
        })
     %>

    <!--Route 113-->
    <%- include('templates/mapRoute',
        { route: 113, region: 2
        , height: 23, width: 99
        , x: 87, y: 38
        , textx: 120, texty: 55
        })
     %>

    <!--Route 114-->
    <%- include('templates/mapRoute',
        { route: 114, region: 2
        , height: 24, width: 68
        , x: 38, y: -65
        , textx: 62, texty: -49
        , rotate: true
        })
     %>

    <!--Route 115-->
    <%- include('templates/mapRoute',
        { route: 115, region: 2
        , height: 23, width: 73
        , x: 83, y: -31
        , textx: 108, texty: -15
        , rotate: true
        })
     %>

    <!--Route 116-->
    <%- include('templates/mapRoute',
        { route: 116, region: 2
        , height: 23, width: 68
        , x: 31, y: 150
        , textx: 52, texty: 167
        })
     %>

    <!--Route 117-->
    <%- include('templates/mapRoute',
        { route: 117, region: 2
        , height: 23, width: 61
        , x: 118, y: 172
        , textx: 137, texty: 189
        })
     %>

    <!--Route 118-->
    <%- include('templates/mapRoute',
        { route: 118, region: 2
        , height: 23, width: 43
        , x: 233, y: 172
        , textx: 240, texty: 189
        })
     %>

    <!--Route 119-->
    <%- include('templates/mapRoute',
        { route: 119, region: 2
        , height: 23, width: 134
        , x: 38, y: -276
        , textx: 100, texty: -261
        , rotate: true
        })
     %>

    <!--Route 120-->
    <%- include('templates/mapRoute',
        { route: 120, region: 2
        , height: 23, width: 90
        , x: 38, y: -321
        , textx: 73, texty: -305
        , rotate: true
        })
     %>

    <!--Route 121-->
    <%- include('templates/mapRoute',
        { route: 121, region: 2
        , height: 23, width: 109
        , x: 321, y: 105
        , textx: 365, texty: 123
        })
     %>

    <!--Route 122-->
    <%- include('templates/mapRoute',
        { route: 122, region: 2
        , height: 45, width: 45
        , x: 359, y: 127
        , textx: 369, texty: 143
        })
     %>

    <!--Route 123-->
    <%- include('templates/mapRoute',
        { route: 123, region: 2
        , height: 23, width: 135
        , x: 275, y: 172
        , textx: 325, texty: 189
        })
     %>

    <!--Route 124-->
    <%- include('templates/mapRoute',
        { route: 124, region: 2
        , height: 90, width: 68
        , x: 477, y:83
        , textx: 506, texty: 120
        })
     %>

    <!--Route 125-->
    <%- include('templates/mapRoute',
        { route: 125, region: 2
        , height: 90, width: 68
        , x: 544, y: 83
        , textx: 555, texty: 120
        })
     %>

    <!--Route 126-->
    <%- include('templates/mapRoute',
        { route: 126, region: 2
        , height: 91, width: 68
        , x: 477, y: 172
        , textx: 504, texty: 210
        })
     %>

    <!--Route 127-->
    <%- include('templates/mapRoute',
        { route: 127, region: 2
        , height: 90, width: 68
        , x: 544, y: 172
        , textx: 555, texty: 210
        })
     %>

    <!--Route 128-->
    <%- include('templates/mapRoute',
        { route: 128, region: 2
        , height: 23, width: 67
        , x: 544, y: 261
        , textx: 576, texty: 279
        })
     %>

    <!--Route 129-->
    <%- include('templates/mapRoute',
        { route: 129, region: 2
        , height: 23, width: 48
        , x: 564, y: 284
        , textx: 576, texty: 301
        })
     %>

    <!--Route 130-->
    <%- include('templates/mapRoute',
        { route: 130, region: 2
        , height: 23, width: 64
        , x: 500, y: 284
        , textx: 520, texty: 301
        })
     %>

    <!--Route 131-->
    <%- include('templates/mapRoute',
        { route: 131, region: 2
        , height: 23, width: 67
        , x: 433, y: 284
        , textx: 453, texty: 301
        })
     %>

    <!--Route 132-->
    <%- include('templates/mapRoute',
        { route: 132, region: 2
        , height: 23, width: 67
        , x: 346, y: 284
        , textx: 365, texty: 301
        })
     %>

    <!--Route 133-->
    <%- include('templates/mapRoute',
        { route: 133, region: 2
        , height: 23, width: 69
        , x: 277, y: 284
        , textx: 297, texty: 301
        })
     %>

    <!--Route 134-->
    <%- include('templates/mapRoute',
        { route: 134, region: 2
        , height: 23, width: 66
        , x: 211, y: 284
        , textx: 230, texty: 301
        })
     %>




    <!-- ----- -->
    <!-- TOWNS -->
    <!-- ----- -->

    <!--Littleroot Town-->
    <%- include('templates/mapTown',
        { name: "Littleroot Town"
        , x: 94, y: 323
        , home: true
        , type: "O"
        })
     %>

    <!--Oldale Town-->
    <%- include('templates/mapTown',
        { name: "Oldale Town"
        , x: 94, y: 267
        , type: "O"
        })
     %>

    <!--Petalburg City-->
    <%- include('templates/mapTown',
        { name: "Petalburg City"
        , x: 28, y: 267
        , type: "O"
        })
     %>

    <!--Rustboro City-->
    <%- include('templates/mapTown',
        { name: "Rustboro City"
        , x: 5, y: 160
        , type: "V"
        })
     %>

    <!--Dewford Town-->
    <%- include('templates/mapTown',
        { name: "Dewford Town"
        , x: 50, y: 380
        , type: "O"
        })
     %>

    <!--Slateport City-->
    <%- include('templates/mapTown',
        { name: "Slateport City"
        , x: 184, y: 290
        , type: "V"
        })
     %>

    <!--Mauville City-->
    <%- include('templates/mapTown',
        { name: "Mauville City"
        , x: 175, y: 178
        , type: "H"
        })
     %>

    <!--Verdanturf Town-->
    <%- include('templates/mapTown',
        { name: "Verdanturf Town"
        , x: 95, y: 180
        , type: "O"
        })
     %>

    <!--Fallarbor Town-->
    <%- include('templates/mapTown',
        { name: "Fallarbor Town"
        , x: 62, y: 44
        , type: "O"
        })
     %>

    <!--Lavaridge Town-->
    <%- include('templates/mapTown',
        { name: "Lavaridge Town"
        , x: 119, y: 135
        , type: "O"
        })
     %>

    <!--Fortree City-->
    <%- include('templates/mapTown',
        { name: "Fortree City"
        , x: 273, y: 45
        , type: "O"
        })
     %>

    <!--LilyCove City-->
    <%- include('templates/mapTown',
        { name: "Lilycove City"
        , x: 425, y: 112
        , type: "H"
        })
     %>

    <!--Mossdeep City-->
    <%- include('templates/mapTown',
        { name: "Mossdeep City"
        , x: 540, y: 148
        , type: "H"
        })
     %>

    <!--Sootopolis City-->
    <%- include('templates/mapTown',
        { name: "Sootopolis City"
        , x: 487, y: 232
        , type: "O"
        })
     %>

    <!--Pacifidlog Town-->
    <%- include('templates/mapTown',
        { name: "Pacifidlog Town"
        , x: 408, y: 290
        , type: "O"
        })
     %>

    <!--Ever Grande City-->
    <%- include('templates/mapTown',
        { name: "Ever Grande City"
        , x: 609, y: 269
        , type: "O"
        })
     %>

    <!--Pokemon League Hoenn-->
    <%- include('templates/mapTown',
        { name: "Pokemon League Hoenn"
        , x: 609, y: 218
        , type: "O"
        })
     %>




    <!-- -------- -->
    <!-- DUNGEONS -->
    <!-- -------- -->

    <!--Petalburg Woods-->
    <%- include('templates/mapDungeon',
        { name: "Petalburg Woods"
        , x: 11, y: 217
        })
     %>

    <!--Rusturf Tunnel-->
    <%- include('templates/mapDungeon',
        { name: "Rusturf Tunnel"
        , x: 101, y: 152
        })
     %>

    <!--Granite Cave-->
    <%- include('templates/mapDungeon',
        { name: "Granite Cave"
        , x: 32, y: 377
        })
     %>

    <!--New Mauville-->
    <%- include('templates/mapDungeon',
        { name: "New Mauville"
        , x: 212, y: 200
        })
     %>

    <!--Meteor Falls-->
    <%- include('templates/mapDungeon',
        { name: "Meteor Falls"
        , x: 28, y: 87
        })
     %>

    <!--Fiery Path-->
    <%- include('templates/mapDungeon',
        { name: "Fiery Path"
        , x: 158, y: 109
        })
     %>

    <!--Jagged Pass-->
    <%- include('templates/mapDungeon',
        { name: "Jagged Pass"
        , x: 137, y: 109
        })
     %>

    <!--Mt. Chimney-->
    <%- include('templates/mapDungeon',
        { name: "Mt. Chimney"
        , x: 136, y: 85
        })
     %>

    <!--Mt. Pyre-->
    <%- include('templates/mapDungeon',
        { name: "Mt. Pyre"
        , x: 386, y: 148
        })
     %>

    <!--Shoal Cave-->
    <%- include('templates/mapDungeon',
        { name: "Shoal Cave"
        , x: 587, y: 113
        })
     %>

    <!--Seafloor Cavern-->
    <%- include('templates/mapDungeon',
        { name: "Seafloor Cavern"
        , x: 552, y: 265
        })
     %>

    <!--Sky Pillar-->
    <%- include('templates/mapDungeon',
        { name: "Sky Pillar"
        , x: 465, y: 265
        })
     %>

    <!--Cave of Origin-->
    <%- include('templates/mapDungeon',
        { name: "Cave of Origin"
        , x: 460, y: 197
        })
     %>

    <!--Hoenn Victory Road-->
    <%- include('templates/mapDungeon',
        { name: "Victory Road Hoenn"
        , x: 615, y: 241
        })
     %>




    <!-- ------------------ -->
    <!-- PLACES OF INTEREST -->
    <!-- ------------------ -->

    <%- include('templates/mapPOI',
        { name: "Dock"
        , x: 209, y: 290
        , databind: "click:function(){MapHelper.openShipModal()}, attr: { class: MapHelper.calculateTownCssClass('Slateport City') }"
        })
     %>



</g>
