<g data-bind='visible: player.region == GameConstants.Region.hoenn'>
    <image width="1600" height="960" data-bind="attr: {
        'xlink:href':'assets/images/hoenn.png?v=$VERSION',
        href:'assets/images/hoenn.png?v=$VERSION'
    }"></image>

    <!-- ------ -->
    <!-- ROUTES -->
    <!-- ------ -->

    <!--Route 101-->
    <%- include('templates/mapRoute',
        { route: 101, region: 2
        , width: 3, height: 2.5
        , x: 15, y: 41
        })
    %>

    <!--Route 102-->
    <%- include('templates/mapRoute',
        { route: 102, region: 2
        , width: 6, height: 3
        , x: 8, y: 38
        })
    %>

    <!--Route 103-->
    <%- include('templates/mapRoute',
        { route: 103, region: 2
        , width: 14, height: 3
        , x: 15, y: 34
        })
    %>

    <!--Route 104-->
    <%- include('templates/mapRoute',
        { route: 104, region: 2
        , width: 9, height: 3
        , x: 1, y: 32
        , rotate: true
        })
    %>
    <!--Route 104 extension-->
    <%- include('templates/mapRoute',
        { route: 104, region: 2
        , width: 3, height: 1
        , x: 1, y: 28
        , noText: true
        })
    %>

    <!--Route 105-->
    <%- include('templates/mapRoute',
        { route: 105, region: 2
        , width: 10, height: 3
        , x: 1, y: 41
        , rotate: true
        })
    %>

    <!--Route 106-->
    <%- include('templates/mapRoute',
        { route: 106, region: 2
        , width: 11, height: 3
        , x: 1, y: 51
        })
    %>

    <!--Route 107-->
    <%- include('templates/mapRoute',
        { route: 107, region: 2
        , width: 10, height: 3
        , x: 12, y: 55
        })
    %>

    <!--Route 108-->
    <%- include('templates/mapRoute',
        { route: 108, region: 2
        , width: 10, height: 3
        , x: 22, y: 55
        })
    %>

    <!--Route 109-->
    <%- include('templates/mapRoute',
        { route: 109, region: 2
        , width: 7, height: 3
        , x: 29, y: 48
        , rotate: true
        })
    %>

    <!--Route 110-->
    <%- include('templates/mapRoute',
        { route: 110, region: 2
        , width: 11.5, height: 3
        , x: 29, y: 27
        , rotate: true
        })
    %>

    <!--Route 111-->
    <%- include('templates/mapRoute',
        { route: 111, region: 2
        , width: 18.5, height: 3
        , x: 29, y: 4
        , rotate: true
        })
    %>

    <!--Route 112-->
    <%- include('templates/mapRoute',
        { route: 112, region: 2
        , width: 7, height: 3
        , x: 22, y: 17
        })
    %>

    <!--Route 113-->
    <%- include('templates/mapRoute',
        { route: 113, region: 2
        , width: 14, height: 3
        , x: 15, y: 4
        })
    %>

    <!--Route 114-->
    <%- include('templates/mapRoute',
        { route: 114, region: 2
        , width: 9, height: 3
        , x: 7, y: 4
        , rotate: true
        })
    %>
    <!--Route 114 extension-->
    <%- include('templates/mapRoute',
        { route: 114, region: 2
        , width: 1, height: 3
        , x: 10, y: 4
        , noText: true
        })
    %>

    <!--Route 115-->
    <%- include('templates/mapRoute',
        { route: 115, region: 2
        , width: 5.5, height: 3
        , x: 1, y: 13
        , rotate: true
        })
    %>
    <!--Route 115 extension-->
    <%- include('templates/mapRoute',
        { route: 115, region: 2
        , width: 2, height: 3
        , x: 1, y: 10
        , noText: true
        })
    %>

    <!--Route 116-->
    <%- include('templates/mapRoute',
        { route: 116, region: 2
        , width: 8, height: 3
        , x: 5, y: 21
        })
    %>
    <!--Route 116 extension-->
    <%- include('templates/mapRoute',
        { route: 116, region: 2
        , width: 1, height: 1
        , x: 13, y: 23
        , noText: true
        })
    %>

    <!--Route 117-->
    <%- include('templates/mapRoute',
        { route: 117, region: 2
        , width: 9, height: 3
        , x: 18, y: 24
        })
    %>

    <!--Route 118-->
    <%- include('templates/mapRoute',
        { route: 118, region: 2
        , width: 7, height: 3
        , x: 36, y: 24
        })
    %>

    <!--Route 119-->
    <%- include('templates/mapRoute',
        { route: 119, region: 2
        , width: 20, height: 3
        , x: 40, y: 4
        , rotate: true
        })
    %>

    <!--Route 120-->
    <%- include('templates/mapRoute',
        { route: 120, region: 2
        , width: 13, height: 3
        , x: 47, y: 4
        , rotate: true
        })
    %>

    <!--Route 121-->
    <%- include('templates/mapRoute',
        { route: 121, region: 2
        , width: 15, height: 3
        , x: 50, y: 14
        })
    %>

    <!--Route 122-->
    <%- include('templates/mapRoute',
        { route: 122, region: 2
        , width: 7, height: 3
        , x: 55, y: 17
        , rotate: true
        })
    %>
    <!--Route 122 extension-->
    <%- include('templates/mapRoute',
        { route: 122, region: 2
        , width: 3, height: 1
        , x: 58, y: 17
        , noText: true
        })
    %>
    <!--Route 122 extension-->
    <%- include('templates/mapRoute',
        { route: 122, region: 2
        , width: 3, height: 2
        , x: 58, y: 22
        , noText: true
        })
    %>

    <!--Route 123-->
    <%- include('templates/mapRoute',
        { route: 123, region: 2
        , width: 20, height: 3
        , x: 43, y: 24
        })
    %>

    <!--Route 124-->
    <%- include('templates/mapRoute',
        { route: 124, region: 2
        , width: 9, height: 10
        , x: 74, y:14
        })
    %>
    <!--Route 124 extension-->
    <%- include('templates/mapRoute',
        { route: 124, region: 2
        , width: 5, height: 4
        , x: 78, y: 10
        , noText: true
        })
    %>
    <!--Route 124 extension-->
    <%- include('templates/mapRoute',
        { route: 124, region: 2
        , width: 1, height: 6
        , x: 73, y: 18
        , noText: true
        })
    %>

    <!--Route 125-->
    <%- include('templates/mapRoute',
        { route: 125, region: 2
        , width: 10, height: 3
        , x: 83, y: 10
        })
    %>
    <!--Route 125 extension-->
    <%- include('templates/mapRoute',
        { route: 125, region: 2
        , width: 4, height: 3
        , x: 83, y: 13
        , noText: true
        })
    %>
    <!--Route 125 extension-->
    <%- include('templates/mapRoute',
        { route: 125, region: 2
        , width: 2, height: 3
        , x: 91, y: 13
        , noText: true
        })
    %>
    <!--Route 125 extension-->
    <%- include('templates/mapRoute',
        { route: 125, region: 2
        , width: 5, height: 2.5
        , x: 83, y: 16
        , noText: true
        })
    %>
    <!--Route 125 extension-->
    <%- include('templates/mapRoute',
        { route: 125, region: 2
        , width: 5, height: 3
        , x: 88, y: 16
        , noText: true
        })
    %>

    <!--Route 126-->
    <%- include('templates/mapRoute',
        { route: 126, region: 2
        , width: 8, height: 8
        , x: 75, y: 24
        })
    %>
    <!--Route 126 extension-->
    <%- include('templates/mapRoute',
        { route: 126, region: 2
        , width: 2, height: 3
        , x: 73, y: 24
        , noText: true
        })
    %>
    <!--Route 126 extension-->
    <%- include('templates/mapRoute',
        { route: 126, region: 2
        , width: 2, height: 4
        , x: 73, y: 30
        , noText: true
        })
    %>
    <!--Route 126 extension-->
    <%- include('templates/mapRoute',
        { route: 126, region: 2
        , width: 4, height: 6
        , x: 79, y: 32
        , noText: true
        })
    %>
    <!--Route 126 extension-->
    <%- include('templates/mapRoute',
        { route: 126, region: 2
        , width: 4, height: 2
        , x: 75, y: 36
        , noText: true
        })
    %>

    <!--Route 127-->
    <%- include('templates/mapRoute',
        { route: 127, region: 2
        , width: 7, height: 14
        , x: 83, y: 24
        })
    %>
    <!--Route 127 extension-->
    <%- include('templates/mapRoute',
        { route: 127, region: 2
        , width: 3, height: 3
        , x: 90, y: 24
        , noText: true
        })
    %>
    <!--Route 127 extension-->
    <%- include('templates/mapRoute',
        { route: 127, region: 2
        , width: 2, height: 5
        , x: 90, y: 33
        , noText: true
        })
    %>
    <!--Route 127 extension-->
    <%- include('templates/mapRoute',
        { route: 127, region: 2
        , width: 1, height: 1
        , x: 92, y: 34
        , noText: true
        })
    %>
    <!--Route 127 extension-->
    <%- include('templates/mapRoute',
        { route: 127, region: 2
        , width: 1, height: 2
        , x: 90, y: 27
        , noText: true
        })
    %>

    <!--Route 128-->
    <%- include('templates/mapRoute',
        { route: 128, region: 2
        , width: 5, height: 3
        , x: 87, y: 38
        })
    %>

    <!--Route 129-->
    <%- include('templates/mapRoute',
        { route: 129, region: 2
        , width: 9, height: 3
        , x: 84, y: 41
        })
    %>

    <!--Route 130-->
    <%- include('templates/mapRoute',
        { route: 130, region: 2
        , width: 9, height: 3
        , x: 75, y: 41
        })
    %>

    <!--Route 131-->
    <%- include('templates/mapRoute',
        { route: 131, region: 2
        , width: 9, height: 3
        , x: 66, y: 41
        })
    %>

    <!--Route 132-->
    <%- include('templates/mapRoute',
        { route: 132, region: 2
        , width: 10, height: 3
        , x: 52, y: 41
        })
    %>

    <!--Route 133-->
    <%- include('templates/mapRoute',
        { route: 133, region: 2
        , width: 9, height: 3
        , x: 43, y: 41
        })
    %>

    <!--Route 134-->
    <%- include('templates/mapRoute',
        { route: 134, region: 2
        , width: 10, height: 3
        , x: 33, y: 41
        })
    %>

    <!-- ----- -->
    <!-- TOWNS -->
    <!-- ----- -->

    <!--Littleroot Town-->
    <%- include('templates/mapTown',
        { name: "Littleroot Town"
        , x: 14, y: 43.5
        , width: 5, height: 4.5
        , home: true
        })
    %>

    <!--Oldale Town-->
    <%- include('templates/mapTown',
        { name: "Oldale Town"
        , x: 14, y: 37
        })
    %>

    <!--Petalburg City-->
    <%- include('templates/mapTown',
        { name: "Petalburg City"
        , x: 4, y: 37
        })
    %>

    <!--Rustboro City-->
    <%- include('templates/mapTown',
        { name: "Rustboro City"
        , x: 0, y: 18.5
        , width: 5, height: 9.5
        })
    %>

    <!--Dewford Town-->
    <%- include('templates/mapTown',
        { name: "Dewford Town"
        , x: 8, y: 54
        })
    %>

    <!--Slateport City-->
    <%- include('templates/mapTown',
        { name: "Slateport City"
        , x: 28, y: 38.5
        , width: 5, height: 9.5
        })
    %>

    <!--Mauville City-->
    <%- include('templates/mapTown',
        { name: "Mauville City"
        , x: 27, y: 22.5
        , width: 5, height: 4.5
        })
    %>
    <!--Mauville City extension-->
    <%- include('templates/mapTown',
        { name: "Mauville City"
        , x: 32, y: 23
        , isExtension: true
        })
    %>

    <!--Verdanturf Town-->
    <%- include('templates/mapTown',
        { name: "Verdanturf Town"
        , x: 14, y: 23
        })
    %>

    <!--Mt. Chimney-->
    <%- include('templates/mapTown',
        { name: "Mt. Chimney"
        , x: 21, y: 11
        , width: 8, height: 5
        })
    %>
    <!--Mt. Chimney extension-->
    <%- include('templates/mapTown',
        { name: "Mt. Chimney"
        , x: 22, y: 16
        , width: 7, height: 1
        , isExtension: true
        })
    %>

    <!--Fallarbor Town-->
    <%- include('templates/mapTown',
        { name: "Fallarbor Town"
        , x: 11, y: 3
        })
    %>

    <!--Lavaridge Town-->
    <%- include('templates/mapTown',
        { name: "Lavaridge Town"
        , x: 18, y: 16
        })
    %>

    <!--Fortree City-->
    <%- include('templates/mapTown',
        { name: "Fortree City"
        , x: 43, y: 3
        })
    %>

    <!--Lilycove City-->
    <%- include('templates/mapTown',
        { name: "Lilycove City"
        , x: 65, y: 12.5
        , width: 5, height: 4.5
        })
    %>
    <!--Lilycove City extension-->
    <%- include('templates/mapTown',
        { name: "Lilycove City"
        , x: 70, y: 13
        , isExtension: true
        })
    %>

    <!--Mossdeep City-->
    <%- include('templates/mapTown',
        { name: "Mossdeep City"
        , x: 83, y: 18.5
        , width: 5, height: 4.5
        })
    %>
    <!--Mossdeep City extension-->
    <%- include('templates/mapTown',
        { name: "Mossdeep City"
        , x: 88, y: 19
        , isExtension: true
        })
    %>

    <!--Sootopolis City-->
    <%- include('templates/mapTown',
        { name: "Sootopolis City"
        , x: 75, y: 32
        })
    %>

    <!--Pacifidlog Town-->
    <%- include('templates/mapTown',
        { name: "Pacifidlog Town"
        , x: 62, y: 40
        })
    %>

    <!--Ever Grande City-->
    <%- include('templates/mapTown',
        { name: "Ever Grande City"
        , x: 93, y: 40
        })
    %>

    <!--Pokémon League Hoenn-->
    <%- include('templates/mapTown',
        { name: "Pokémon League Hoenn"
        , x: 91, y: 27
        , width: 9, height: 5.5
        })
    %>
    <!--Pokémon League Hoenn extension-->
    <%- include('templates/mapTown',
        { name: "Pokémon League Hoenn"
        , x: 94, y: 32.5
        , width: 3, height: 0.5
        , isExtension: true
        })
    %>

    <!--Battle Frontier-->
    <%- include('templates/mapTown',
        { name: "Battle Frontier"
        , x: 77, y: 46.5
        , width: 7, height: 4.5
        })
    %>
    <!--Battle Frontier extension-->
    <%- include('templates/mapTown',
        { name: "Battle Frontier"
        , x: 79.5, y: 46
        , width: 2, height: 0.5
        , isExtension: true
        })
    %>

    <!-- -------- -->
    <!-- DUNGEONS -->
    <!-- -------- -->

    <!--Petalburg Woods-->
    <%- include('templates/mapDungeon',
        { name: "Petalburg Woods"
        , x: 1, y: 29
        })
     %>

    <!--Rusturf Tunnel-->
    <%- include('templates/mapDungeon',
        { name: "Rusturf Tunnel"
        , x: 13, y: 20
        , width: 5, height: 3
        })
    %>

    <!--Granite Cave-->
    <%- include('templates/mapDungeon',
        { name: "Granite Cave"
        , x: 4, y: 54
        , width: 4, height: 4
        })
    %>

    <!--Fiery Path-->
    <%- include('templates/mapDungeon',
        { name: "Fiery Path"
        , x: 21, y: 11
        , width: 8, height: 5
        , moveToTown: "Mt. Chimney"
        , invisible: true
        })
    %>

    <!--Mt. Chimney Crater-->
    <%- include('templates/mapDungeon',
        { name: "Mt. Chimney Crater"
        , x: 21, y: 11
        , width: 8, height: 5
        , moveToTown: "Mt. Chimney"
        , invisible: true
        })
    %>

    <!--Jagged Pass-->
    <%- include('templates/mapDungeon',
        { name: "Jagged Pass"
        , x: 21, y: 11
        , width: 8, height: 5
        , moveToTown: "Mt. Chimney"
        , invisible: true
        })
    %>

    <!--Magma Hideout-->
    <%- include('templates/mapDungeon',
        { name: "Magma Hideout"
        , x: 21, y: 11
        , width: 8, height: 5
        , moveToTown: "Mt. Chimney"
        , invisible: true
        })
    %>

    <!--New Mauville-->
    <%- include('templates/mapDungeon',
        { name: "New Mauville"
        , x: 32, y: 27
        })
    %>

    <!--Meteor Falls-->
    <%- include('templates/mapDungeon',
        { name: "Meteor Falls"
        , x: 3, y: 10
        })
    %>

    <!--Weather Institute-->
    <%- include('templates/mapDungeon',
        { name: "Weather Institute"
        , x: 35, y: 5
        , width: 5, height: 4
        })
    %>

    <!--Mt. Pyre-->
    <%- include('templates/mapDungeon',
        { name: "Mt. Pyre"
        , x: 58, y: 18
        , width: 4, height: 4
        })
    %>
    <!--Mt. Pyre extension-->
    <%- include('templates/mapDungeon',
        { name: "Mt. Pyre"
        , x: 62, y: 19
        , width: 1, height: 3
        , isExtension: true
        })
    %>

    <!--Aqua Hideout-->
    <%- include('templates/mapDungeon',
        { name: "Aqua Hideout"
        , x: 74, y: 11
        })
    %>
    <!--Aqua Hideout extension-->
    <%- include('templates/mapDungeon',
        { name: "Aqua Hideout"
        , x: 73, y: 11
        , width: 1, height: 2
        , isExtension: true
        })
    %>

    <!--Shoal Cave-->
    <%- include('templates/mapDungeon',
        { name: "Shoal Cave"
        , x: 87, y: 13
        })
    %>

    <!--Seafloor Cavern-->
    <%- include('templates/mapDungeon',
        { name: "Seafloor Cavern"
        , x: 83, y: 38
        })
    %>

    <!--Sky Pillar-->
    <%- include('templates/mapDungeon',
        { name: "Sky Pillar"
        , x: 72, y: 34
        , width: 3, height: 6
        })
    %>

    <!--Cave of Origin-->
    <%- include('templates/mapDungeon',
        { name: "Cave of Origin"
        , x: 71, y: 27
        })
    %>

    <!--Hoenn Victory Road-->
    <%- include('templates/mapDungeon',
        { name: "Victory Road Hoenn"
        , x: 92, y: 35
        , width: 7, height: 4
        })
    %>
    <!--Hoenn Victory Road extension-->
    <%- include('templates/mapDungeon',
        { name: "Victory Road Hoenn"
        , x: 95, y: 34
        , width: 3, height: 1
        , isExtension: true
        })
    %>

    <!--Sealed Chamber-->
    <%- include('templates/mapDungeon',
        { name: "Sealed Chamber"
        , x: 38, y: 35
        , width: 6, height: 5
        })
    %>




    <!-- ------------------ -->
    <!-- PLACES OF INTEREST -->
    <!-- ------------------ -->

    <%- include('templates/mapPOI',
        { name: "Dock"
        , x: 33, y: 45
        , width: 3, height: 2
        , databind: "click:function(){MapHelper.openShipModal()}, attr: { class: MapHelper.calculateTownCssClass('Slateport City') }"
        })
    %>

    <%- include('templates/mapPOI',
        { name: "Underground Entrance"
        , x: 32, y: 13
        , width: 3, height: 4
        , databind: "click:function(){App.game.underground.openUndergroundModal()}, attr: { class: App.game.underground.canAccess() ? 'completed' : 'locked' }"
        })
    %>

    <%- include('templates/mapPOI',
        { name: "Farm"
        , x: 46, y: 21
        , width: 3, height: 3
        , databind: "click:function(){FarmController.openFarmModal()}, attr: { class: App.game.farming.canAccess() ? 'completed' : 'locked' }"
        })
    %>

    <%- include('templates/mapPOI',
        { name: "Pokémon Day Care"
        , x: 18, y: 27
        , width: 4, height: 4
        , databind: "click:function(){BreedingController.openBreedingModal()}, attr: { class: App.game.breeding.canAccess() ? 'completed' : 'locked' }"
        })
    %>

    <%- include('templates/mapOverlay',
         { name: "Professor Birch's Blimp"
         , x: 19, y: 43
         , width: 6, height: 3
         , databind: "click:function(){MapHelper.moveToTown('Littleroot Town')}, attr:{ class: MapHelper.calculateTownCssClass('Littleroot Town') }"
         , visible:  "MapHelper.ableToTravel() && player.regionStarters[GameConstants.Region.kanto]() != GameConstants.Starter.Special"
         , image: "assets/images/map/blimp_empty.png"
         })
    %>

    <%- include('templates/mapOverlay',
         { name: "Professor Birch's Blimp"
         , x: 19, y: 43
         , width: 6, height: 3
         , databind: "click:function(){MapHelper.moveToTown('Littleroot Town')}, attr:{ class: MapHelper.calculateTownCssClass('Littleroot Town') }"
         , visible:  "MapHelper.ableToTravel() && player.regionStarters[GameConstants.Region.kanto]() == GameConstants.Starter.Special"
         , image: "assets/images/map/blimp_pikachu.png"
         })
    %>

        <%- include('templates/mapOverlay',
            { name: "Roadside Stand"
            , x: 39, y: 27
            , width: 1, height: 1
            , databind: "click:function(){MapHelper.moveToTown('Roadside Stand')}, attr:{ class: MapHelper.calculateTownCssClass('Roadside Stand') }"
            , visible:  "App.game.statistics.routeKills['hoenn'][118]() >= 10"
            , image: "assets/images/map/transparent.png"
            })
        %>

     <%- include('templates/mapOverlay',
         { name: "Kecleon"
        , x: 46, y: 3
         , width: 4, height: 4
         , databind: "click: () => TemporaryBattleList['Kecleon 1'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Kecleon 1'] && TemporaryBattleList['Kecleon 1'].isVisible()"
         , image: "assets/images/map/kecleonoverworld.png"
         })
     %>

     <%- include('templates/mapOverlay',
         { name: "Kecleon"
        , x: 41, y: 10
         , width: 4, height: 4
         , databind: "click: () => TemporaryBattleList['Kecleon 2'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Kecleon 2'] && TemporaryBattleList['Kecleon 2'].isVisible()"
         , image: "assets/images/map/kecleoncamooverworld.png"
         })
     %>

     <%- include('templates/mapOverlay',
         { name: "Kecleon"
        , x: 48, y: 8
         , width: 4, height: 4
         , databind: "click: () => TemporaryBattleList['Kecleon 3'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Kecleon 3'] && TemporaryBattleList['Kecleon 3'].isVisible()"
         , image: "assets/images/map/kecleoncamooverworld.png"
         })
     %>

    <%- include('templates/mapOverlay',
        { name: "Pokémon Trainer May"
        , x: 14.5, y: 31
        , width: 4, height: 4
        , databind: "click: () => TemporaryBattleList['May 1'].protectedOnclick()"
        , visible:  "TemporaryBattleList['May 1'] && TemporaryBattleList['May 1'].isVisible()"
        , image: "assets/images/map/may.png"
        })
    %>

    <%- include('templates/mapOverlay',
        { name: "Pokémon Trainer May"
        , x: 0, y: 25
        , width: 4, height: 4
        , databind: "click: () => TemporaryBattleList['May 2'].protectedOnclick()"
        , visible:  "TemporaryBattleList['May 2'] && TemporaryBattleList['May 2'].isVisible()"
        , image: "assets/images/map/may.png"
        })
    %>

    <%- include('templates/mapOverlay',
        { name: "Pokémon Trainer May"
        , x: 28.5, y: 30
        , width: 4, height: 4
        , databind: "click: () => TemporaryBattleList['May 3'].protectedOnclick()"
        , visible:  "TemporaryBattleList['May 3'] && TemporaryBattleList['May 3'].isVisible()"
        , image: "assets/images/map/may.png"
        })
    %>

    <%- include('templates/mapOverlay',
        { name: "Pokémon Trainer Wally"
        , x: 28, y: 25
        , width: 4, height: 4
        , databind: "click: () => TemporaryBattleList['Wally 1'].protectedOnclick()"
        , visible:  "TemporaryBattleList['Wally 1'] && TemporaryBattleList['Wally 1'].isVisible()"
        , image: "assets/images/map/wally.png"
        })
    %>

    <%- include('templates/mapOverlay',
        { name: "Pokémon Trainer May"
        , x: 40, y: 6
        , width: 4, height: 4
        , databind: "click: () => TemporaryBattleList['May 4'].protectedOnclick()"
        , visible:  "TemporaryBattleList['May 4'] && TemporaryBattleList['May 4'].isVisible()"
        , image: "assets/images/map/may.png"
        })
    %>

    <%- include('templates/mapOverlay',
        { name: "Pokémon Trainer May"
        , x: 70, y: 13
        , width: 4, height: 4
        , databind: "click: () => TemporaryBattleList['May 5'].protectedOnclick()"
        , visible:  "TemporaryBattleList['May 5'] && TemporaryBattleList['May 5'].isVisible()"
        , image: "assets/images/map/may.png"
        })
    %>

     <%- include('templates/mapOverlay',
         { name: "Meta Groudon"
        , x: 14, y: 12
         , width: 5, height: 5
         , databind: "click: () => TemporaryBattleList['Meta Groudon'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Meta Groudon'] && TemporaryBattleList['Meta Groudon'].isVisible()"
         , image: "assets/images/map/Meta Groudon.png"
         })
     %>

     <%- include('templates/mapOverlay',
         { name: "Ash Ketchum"
         , x: 50, y: 10
         , width: 4, height: 4
         , databind: "click: () => TemporaryBattleList['Ash Ketchum Hoenn'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Ash Ketchum Hoenn'] && TemporaryBattleList['Ash Ketchum Hoenn'].isVisible()"
         , image: "assets/images/map/ashketchumoverworld.png"
         })
     %>
</g>
