<!-- Show Items modal-->
<div class="modal" id="showItemsModal" tabindex="-1" role="dialog"
     aria-labelledby="showItemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="text-align: center">
            <ul style="width:100%" class="nav nav-tabs nav-fill">
                <li class="nav-item"><a data-toggle='tab' class='nav-link' href="#items">Evolution stones</a>
                </li>
                <li class='nav-item'><a data-toggle='tab' class='nav-link active' href="#keyItems">Key Items</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="items" class="tab-pane fade">
                    <h3 data-bind="text: GameConstants.humanifyString(ItemHandler.stoneSelected())"></h3>
                    <div class="page-item m-0">
                        <div class="row no-gutters justify-content-sm-center" style="padding:15px;">
                            <div class="row col-lg-6 col-sm-11" data-bind="foreach: Array.from(Array(Object.keys(GameConstants.StoneType).length / 2).keys()).map(x=>GameConstants.StoneType[x])">
                                <div class="col" style="cursor: pointer"
                                        data-bind="css:{'item-selected': ItemHandler.stoneSelected() === $data},
                                            click: function(){ ItemHandler.stoneSelected($data); ItemHandler.pokemonSelected('')}">
                                    <img data-bind="attr: {src: 'assets/images/items/' + $data + '.png'}">
                                    <div data-bind="text: player._itemList[$data]()"></div>
                                </div>
                            </div>
                        </div>


                        <div class="row no-gutters justify-content-sm-center" style="padding:15px">
                            <div class="row col-lg-10 col-md-12 offset-md-0 col-sm-12 offset-sm-0"
                                 style="padding-right: 0"
                                 data-bind="foreach: PokemonHelper.getPokemonsWithEvolution(ItemHandler.stoneSelected())">
                                <div class="col-md-6 col-sm-10 col-lg-4 offset-sm-1 offset-md-0 offset-md-0 breedingListItem"
                                    data-bind="visible: (player.alreadyCaughtPokemon($data.name))">
                                    <button class="btn btn-secondary smallButton list-group-item-action" style="padding-right:15px"
                                            data-bind="click: function() {ItemHandler.pokemonSelected(name)}, css:{ 'pokemon-selected': ItemHandler.pokemonSelected() === name}">
                                        <img class="smallImage" data-bind="attr:{src: 'assets/images/' + (player.alreadyCaughtPokemonShiny($data.name) ? 'shiny' : '') + 'pokemon/' + id +'.png' }"/>
                                        <span data-bind="text: name" style="margin-left: 20px">Name</span>

                                        <span style="float:right; margin-top:8px">
                                            <img class="pokeball-smallest" src="assets/images/pokeball/Pokeball-small.png"
                                                data-bind="visible: player.alreadyCaughtPokemon(EvolutionStone.computeEvolution(
                                                GameConstants.StoneType[ItemHandler.stoneSelected()], name)) && !PokemonHelper.getPokemonByName(name).evolutionByIndex(PokemonHelper.getPokemonByName(name).evoLevel.indexOf(ItemHandler.stoneSelected()), true, true).every(p => player.alreadyCaughtPokemonShiny(p))"/>
                                            <img class="pokeball-smallest" src="assets/images/pokeball/Pokeball-shiny-small.png"
                                                data-bind="visible: PokemonHelper.getPokemonByName(name).evolutionByIndex(PokemonHelper.getPokemonByName(name).evoLevel.indexOf(ItemHandler.stoneSelected()), true, true).every(p => player.alreadyCaughtPokemonShiny(p))"/>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>


                        <div class="btn-group" style="padding:15px;">
                            <button class="btn btn-secondary amount-button list-group-item-action"
                                    data-bind="click: function() {ItemHandler.amountSelected(1)}, css:{ 'pokemon-selected': ItemHandler.amountSelected() === 1}">
                                1
                            </button>
                            <button class="btn btn-secondary amount-button list-group-item-action"
                                    data-bind="click: function() {ItemHandler.amountSelected(10)}, css:{ 'pokemon-selected': ItemHandler.amountSelected() === 10}">
                                10
                            </button>
                            <button class="btn btn-secondary amount-button list-group-item-action"
                                    data-bind="click: function() {ItemHandler.amountSelected(100)}, css:{ 'pokemon-selected': ItemHandler.amountSelected() === 100}">
                                100
                            </button>
                            <button class="btn btn-secondary amount-button list-group-item-action"
                                    data-bind="click: function() {ItemHandler.amountSelected(1000)}, css:{ 'pokemon-selected': ItemHandler.amountSelected() === 1000}">
                                1000
                            </button>
                            <button class="btn btn-secondary amount-button list-group-item-action"
                                    data-bind="click: function() {ItemHandler.amountSelected(Infinity)}, css:{ 'pokemon-selected': ItemHandler.amountSelected() === Infinity}">
                                Maximum
                            </button>
                        </div>
                        <p><i>Stops using evolution stones once a shiny is encountered</i></p>
                        <div class="row no-gutters justify-content-sm-center">
                            <div class="row justify-content-center" style="padding:15px;">
                                <button data-bind="click: function(){ItemHandler.useStones()}" class="btn btn-lg btn-success">Use evolution stones!</button>
                            </div>
                        </div>
                   </div>
                </div>

                <div id="keyItems" class="tab-pane fade in active show">
                    <div style="width: 100%;">
                        <img style="float:right;margin-right:10px;margin-top:10px"
                             data-bind="tooltip: { title: 'An overview of all Key items you have collected so far. Click on a key item to get more information.', trigger: 'hover', placement:'right' }"
                             src="assets/images/questionmark.png">


                    </div>
                    <div class="page-item m-0">

                        <div class="row no-gutters justify-content-sm-center"
                             data-bind="foreach: KeyItemHandler.keyItemList">
                            <div class="col-sm-2">
                                <img class="clickable key-item" src=""
                                     data-bind="attr:{ src: 'assets/images/keyitems/' + $data.name() + '.png'},
                              css: {'oak-item-locked': !player.hasKeyItem($data.name())

                                    },
                             event: {
                                mouseover: function(){KeyItemHandler.hover($data.name())},
                                click: function(){KeyItemHandler.click($data.name())},
                                mouseout : function(){KeyItemHandler.hoverRelease()}
                                }">
                            </div>
                        </div>

                        <div class="card oak-item-info" style="height:90px">
                            <div data-bind="if: KeyItemHandler.inspectedItem() !== null">
                                <div class="row justify-content-sm-center">
                                    <div style="height: 20px" class="col-sm-11">
                                        <b><span data-bind="text: KeyItemHandler.inspectedItem().name()"></span></b>
                                    </div>
                                    <div class="row justify-content-sm-center">
                                        <div class="col-sm-11">
                                            <div data-bind="if: KeyItemHandler.inspectedItem().isUnlocked()">
                                                <p style="margin-top: 5px"
                                                   data-bind="html: KeyItemHandler.inspectedItem().description"></p>
                                            </div>
                                            <div data-bind="ifnot: KeyItemHandler.inspectedItem().isUnlocked()">
                                                <p style="margin-top: 5px">?????</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
