<!-- Show Items modal-->
<div class="modal" id="showItemsModal" tabindex="-1" role="dialog"
     aria-labelledby="showItemModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content" style="text-align: center">
            <div class="modal-header" style='justify-content: space-around;'>
                <h5 class="modal-title">Items</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body p-0">
                <ul class="nav nav-tabs nav-fill">
                    <li class="nav-item"><a data-bs-toggle='tab' class='nav-link active' href="#evoStones">Evolution Items</a></li>
                    <li class="nav-item"><a data-bs-toggle='tab' class='nav-link' href="#itemBag">Item Bag</a></li>
                    <li class='nav-item'><a data-bs-toggle='tab' class='nav-link' href="#keyItems">Key Items</a></li>
                </ul>
                <div class="tab-content">
                    <div id="evoStones" class="tab-pane active p-3">
                        <h3 data-bind="text: ItemList[ItemHandler.stoneSelected()].displayName"></h3>

                        <div class="row justify-content-sm-center">
                            <div class="row col-10" data-bind="foreach: Object.keys(GameConstants.StoneType).filter(stone => isNaN(stone) && stone !== 'None')">
                                <div class="col-2" style="cursor: pointer"
                                        data-bind="css:{'item-selected': ItemHandler.stoneSelected() === $data},
                                            click: function(){ ItemHandler.stoneSelected($data); ItemHandler.pokemonSelected('')},
                                            visible: ItemList[$data].unlockedRegion <= player.highestRegion() || player.amountOfItem($data) > 0">
                                    <img data-bind="attr: {src: ItemList[$data].image }" style="max-width: 32px;">
                                    <div data-bind="text: player._itemList[$data]().toLocaleString('en-US')"></div>
                                </div>
                            </div>
                        </div>

                        <hr/>

                        <div class="row justify-content-sm-center" >
                            <div class="row col-lg-11 offset-md-0"
                                data-bind="foreach: PokemonHelper.getPokemonsWithEvolution(GameConstants.StoneType[ItemHandler.stoneSelected()])">
                                <div class="col-md-6 col-sm-10 col-lg-4 offset-sm-1 offset-md-0 offset-md-0 breedingListItem">
                                    <button class="btn btn-secondary smallButton list-group-item-action" style="padding-right:15px"
                                            data-bind="click: function() {ItemHandler.pokemonSelected(name)}, css:{ 'pokemon-selected': ItemHandler.pokemonSelected() === name}">
                                        <img class="smallImage" data-bind="attr:{src: 'assets/images/' + (App.game.party.alreadyCaughtPokemon($data.id, true) ? 'shiny' : '') + 'pokemon/' + id +'.png' }"/>
                                        <span data-bind="text: name" style="margin-left: 20px">Name</span>

                                        <span style="float:right; margin-top:8px"  data-bind="using: { statuses: PartyController.getStoneEvolutionsCaughtStatus($data.id, GameConstants.StoneType[ItemHandler.stoneSelected()]) }">
                                            <div class="row" data-bind="foreach: statuses">
                                                <div class="col-2" data-bind="template: { name: 'caughtStatusTemplate', data: { 'status': $data } }"></div>
                                            </div>
                                        </span>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <hr/>

                        <div class="row justify-content-center"
                             data-bind="template: { name:'multiOptionTemplate',
                                                    data: { observable: ItemHandler.amountSelected,
                                                            optionValues: [1,10,100,1000,Infinity]
                                                          }
                                                  }">
                        </div>
                        <p><i>Stops using evolution items once a shiny is encountered.</i></p>
                        <p data-bind="visible: PartyController.hasMultipleStoneEvolutionsAvailable(ItemHandler.pokemonSelected(), GameConstants.StoneType[ItemHandler.stoneSelected()])">
                            <i>If the requirements for more than one evolution is fulfilled, a random evolution will be selected.</i>
                        </p>
                        <div class="row g-0 justify-content-sm-center">
                            <div class="row justify-content-center" style="padding:15px;">
                                <button data-bind="click: function(){ItemHandler.useStones()}" class="btn btn-lg btn-success">Use evolution items!</button>
                            </div>
                        </div>
                    </div>

                    <div id="itemBag" class="tab-pane p-3">
                        <div class="row justify-content-sm-center">
                            <div class="row col-10">
                                <div class="btn btn-primary col-2 item-bag-item" data-bind="template: { name: 'otherItemTemplate', data: 'Protein'}, click: () => $('#pokemonSelectorModal').modal('show')"></div>
                            <!-- ko foreach: HeldItem.getHeldItems() -->
                                <div class="btn btn-primary col-2 item-bag-item" data-bind="template: { name: 'otherItemTemplate', data: $data.name}, click: () => { HeldItem.heldItemSelected($data); $('#heldItemModal').modal('show'); }, visible: $data.isUnlocked()"></div>
                            <!-- /ko -->
                            </div>
                        </div>
                    </div>

                    <div id="keyItems" class="tab-pane p-3">
                        <div class="m-0">
                            <div class="row g-0 justify-content-sm-center"
                                data-bind="foreach: App.game.keyItems.itemList">
                                <div class="col-2">
                                    <img class="clickable key-item" src=""
                                        data-bind="attr:{
                                        src: 'assets/images/keyitems/' + KeyItemType[$data.name] + '.png'},
                                css: {'key-item-locked': !App.game.keyItems.hasKeyItem($data.name),
                                'key-item-selected': KeyItemController.inspectedItem() == $data.name
                                },
                                event: {
                                    mouseover: function(){KeyItemController.hover($data.name)},
                                    mouseout : function(){KeyItemController.hoverRelease()}
                                    }">
                                </div>
                            </div>

                            <div class="oak-item-info">
                                <div class="row justify-content-sm-center">
                                    <div class="col-xs-10">
                                        <b><span data-bind="text: App.game.keyItems.itemList[KeyItemController.inspectedItem()].displayName"></span></b>
                                    </div>
                                </div>
                                <div class="row justify-content-sm-center">
                                    <div class="col-xs-10">
                                        <knockout data-bind="if: App.game.keyItems.hasKeyItem(KeyItemController.inspectedItem())">
                                            <p data-bind="html: App.game.keyItems.itemList[KeyItemController.inspectedItem()].description"></p>
                                        </knockout>
                                        <knockout data-bind="ifnot: App.game.keyItems.hasKeyItem(KeyItemController.inspectedItem())">
                                            <p>?????</p>
                                        </knockout>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/html" id="otherItemTemplate">
    <div data-bs-container="body" data-bind="tooltip: {
        title: ItemList[$data] ? `<u>${ItemList[$data].displayName}</u><br/>${ItemList[$data].description || ''}` : '',
        trigger: 'hover',
        placement:'top',
        html: true,
        boundary: document.getElementById('showItemsModal'),
    }">
        <img data-bind="attr: {src: ItemList[$data].image }" style="max-width: 32px;">
        <div data-bind="text: player._itemList[$data]().toLocaleString('en-US')"></div>
    </div>
</script>
