<g data-bind='visible: player.region == GameConstants.Region.johto'>
    <image width="1600" height="960" data-bind="attr: {
        'xlink:href':'assets/images/johto.png?v=$VERSION',
        href:'assets/images/johto.png?v=$VERSION'
    }"></image>

    <!-- ------ -->
    <!-- ROUTES -->
    <!-- ------ -->

    <!--Route 27-->
    <%- include('templates/mapRoute',
        { route: 27, region: 1
        , width: 19, height: 3
        , x: 77, y: 42
        })
     %>

    <!--Route 26-->
    <%- include('templates/mapRoute',
        { route: 26, region: 1
        , width: 20, height: 3
        , x: 93, y: 22
        , rotate: true
        })
     %>

    <!--Route 28-->
    <%- include('templates/mapRoute',
        { route: 28, region: 1
        , width: 12, height: 3
        , x: 81, y: 33
        })
     %>

    <!--Route 29-->
    <%- include('templates/mapRoute',
        { route: 29, region: 1
        , width: 18, height: 3
        , x: 54, y: 42
        })
     %>

    <!--Route 30-->
    <%- include('templates/mapRoute',
        { route: 30, region: 1
        , width: 19, height: 3
        , x: 51, y: 22
        , rotate: true
        })
     %>

    <!--Route 31-->
    <%- include('templates/mapRoute',
        { route: 31, region: 1
        , width: 9, height: 3
        , x: 45, y: 19
        })
     %>

    <!--Route 32-->
    <%- include('templates/mapRoute',
        { route: 32, region: 1
        , width: 18, height: 3
        , x: 42, y: 29
        , rotate: true
        })
     %>
     <!--Extra bit of Route 32-->
     <%- include('templates/mapRoute',
         { route: 32, region: 1
         , width: 3, height: 3
         , x: 42, y: 22
         , noText: true
         , rotate: true
         })
      %>
      <!--Extra bit of Route 32-->
      <%- include('templates/mapRoute',
          { route: 32, region: 1
          , width: 4, height: 3
          , x: 42, y: 51
          , noText: true
          , rotate: true
          })
       %>

    <!--Route 33-->
    <%- include('templates/mapRoute',
        { route: 33, region: 1
        , width: 12, height: 3
        , x: 33, y: 55
        })
     %>

    <!--Route 34-->
    <%- include('templates/mapRoute',
        { route: 34, region: 1
        , width: 11, height: 3
        , x: 24, y: 41
        , rotate: true
        })
     %>

    <!--Route 35-->
    <%- include('templates/mapRoute',
        { route: 35, region: 1
        , width: 7, height: 3
        , x: 24, y: 22
        , rotate: true
        })
     %>

    <!--Route 36-->
    <%- include('templates/mapRoute',
        { route: 36, region: 1
        , width: 17, height: 3
        , x: 24, y: 19
        })
     %>

    <!--Route 37-->
    <%- include('templates/mapRoute',
        { route: 37, region: 1
        , width: 6, height: 3
        , x: 33, y: 13
        , rotate: true
        })
     %>

    <!--Route 38-->
    <%- include('templates/mapRoute',
        { route: 38, region: 1
        , width: 14, height: 3
        , x: 18, y: 10
        })
     %>

    <!--Route 39-->
    <%- include('templates/mapRoute',
        { route: 39, region: 1
        , width: 9, height: 3
        , x: 15, y: 10
        , rotate: true
        })
     %>

    <!--Route 40-->
    <%- include('templates/mapRoute',
        { route: 40, region: 1
        , width: 10, height: 3
        , x: 11, y: 23
        , rotate: true
        })
     %>

    <!--Route 41-->
    <%- include('templates/mapRoute',
        { route: 41, region: 1
        , width: 6, height: 3
        , x: 11, y: 33
        , rotate: true
        })
     %>
     <!--Extra bit of Route 41-->
     <%- include('templates/mapRoute',
        { route: 41, region: 1
        , width: 3, height: 1
        , x: 11, y: 39
        , noText: true
        , rotate: true
        })
    %>
    <!--Extra bit of Route 41-->
    <%- include('templates/mapRoute',
        { route: 41, region: 1
        , width: 6, height: 3
        , x: 8, y: 42
        , noText: true
        })
    %>

    <!--Route 42-->
    <%- include('templates/mapRoute',
        { route: 42, region: 1
        , width: 12, height: 3
        , x: 36, y: 10
        })
     %>
     <!--Extra bit of Route 42-->
     <%- include('templates/mapRoute',
         { route: 42, region: 1
         , width: 4, height: 2
         , x: 48, y: 11
         , noText: true
         })
     %>
     <!--Extra bit of Route 42-->
     <%- include('templates/mapRoute',
         { route: 42, region: 1
         , width: 3, height: 3
         , x: 52, y: 10
         , noText: true
         })
     %>

    <!--Route 43-->
    <%- include('templates/mapRoute',
        { route: 43, region: 1
        , width: 9, height: 3
        , x: 56, y: 0
        , rotate: true
        })
     %>

    <!--Route 44-->
    <%- include('templates/mapRoute',
        { route: 44, region: 1
        , width: 10, height: 3
        , x: 59, y: 10
        })
     %>
     <!--Extra bit of Route 44-->
     <%- include('templates/mapRoute',
         { route: 44, region: 1
         , width: 1, height: 1
         , x: 69, y: 12
         , noText: true
         })
     %>

    <!--Route 45-->
    <%- include('templates/mapRoute',
        { route: 45, region: 1
        , width: 9, height: 3
        , x: 70, y: 18
        , rotate: true
        })
     %>
     <!--Extra bit of Route 45-->
    <%- include('templates/mapRoute',
        { route: 45, region: 1
        , width: 2, height: 3
        , x: 70, y: 12
        , noText: true
        , rotate: true
        })
    %>
    <!--Extra bit of Route 45-->
   <%- include('templates/mapRoute',
       { route: 45, region: 1
       , width: 4, height: 2
       , x: 71, y: 27
       , noText: true
       , rotate: true
       })
   %>

    <!--Route 46-->
    <%- include('templates/mapRoute',
        { route: 46, region: 1
        , width: 12, height: 3
        , x: 65, y: 30
        , rotate: true
        })
    %>
    <!--Extra bit of Route 46-->
    <%- include('templates/mapRoute',
        { route: 46, region: 1
        , width: 2, height: 1
        , x: 68, y: 30
        , noText: true
       })
    %>
    <!--Extra bit of Route 46-->
    <%- include('templates/mapRoute',
        { route: 46, region: 1
        , width: 2, height: 2
        , x: 65, y: 28
        , noText: true
        , rotate: true
        })
    %>

     <!--Route 47-->
    <%- include('templates/mapRoute',
    { route: 47, region: 1
    , width: 7, height: 3
    , x: 1, y: 38
    , rotate: true
    })
    %>

    <!--Route 48-->
    <%- include('templates/mapRoute',
    { route: 48, region: 1
    , width: 13, height: 3
    , x: 1, y: 25
    , rotate: true
    })
    %>




    <!-- ----- -->
    <!-- TOWNS -->
    <!-- ----- -->

    <!--New Bark Town-->
    <%- include('templates/mapTown',
        { name: "New Bark Town"
        , x: 72, y: 40.5
        , width: 5, height: 4.5
        , home: true
        })
     %>

    <!--Cherrygrove City-->
    <%- include('templates/mapTown',
        { name: "Cherrygrove City"
        , x: 50, y: 41
        })
     %>

    <!--Violet City-->
    <%- include('templates/mapTown',
        { name: "Violet City"
        , x: 41, y: 18
        })
     %>

    <!--Azalea Town-->
    <%- include('templates/mapTown',
        { name: "Azalea Town"
        , x: 29, y: 54
        , width: 4, height: 4
        })
     %>

    <!--Goldenrod City-->
    <%- include('templates/mapTown',
        { name: "Goldenrod City"
        , x: 25, y: 31.5
        , width: 5, height: 4.5
        })
     %>

    <!--Goldenrod City Extension-->
    <%- include('templates/mapTown',
        { name: "Goldenrod City"
        , x: 23, y: 36
        , width: 5, height: 5
        , isExtension: true
        })
     %>

    <!--Goldenrod City Extension-->
    <%- include('templates/mapTown',
        { name: "Goldenrod City"
        , x: 22, y: 35
        , width: 3, height: 1
        , isExtension: true
        })
     %>

    <!--Goldenrod City Extension-->
    <%- include('templates/mapTown',
        { name: "Goldenrod City"
        , x: 27, y: 31
        , width: 3, height: 0.5
        , isExtension: true
        })
     %>

    <!--Ecruteak City-->
    <%- include('templates/mapTown',
        { name: "Ecruteak City"
        , x: 32, y: 9
        })
     %>

    <!--Olivine City-->
    <%- include('templates/mapTown',
        { name: "Olivine City"
        , x: 9, y: 18.5
        , width: 5, height: 4.5
        })
     %>
     <!--Olivine City Extension-->
     <%- include('templates/mapTown',
         { name: "Olivine City"
         , x: 14, y: 19
         , isExtension: true
         })
      %>

    <!--Cianwood City-->
    <%- include('templates/mapTown',
        { name: "Cianwood City"
        , x: 4, y: 41
        })
     %>

    <!--Mahogany Town-->
    <%- include('templates/mapTown',
        { name: "Mahogany Town"
        , x: 55, y: 9
        })
     %>

    <!--Blackthorn City-->
    <%- include('templates/mapTown',
        { name: "Blackthorn City"
        , x: 69, y: 14
        })
     %>

    <!--Indigo Plateau 2.0-->
    <%- include('templates/mapTown',
        { name: "Indigo Plateau Johto"
        , x: 90, y: 4
        , width: 9, height: 5.5
        })
     %>

    <!--Indigo Plateau 2.0 Extension-->
    <%- include('templates/mapTown',
        { name: "Indigo Plateau Johto"
        , x: 93, y: 9.5
        , width: 3, height: 9.5
        , isExtension: true
        })
     %>




    <!-- -------- -->
    <!-- DUNGEONS -->
    <!-- -------- -->

    <!--Sprout Tower-->
    <%- include('templates/mapDungeon',
        { name: "Sprout Tower"
        , x: 44, y: 13.5
        , width: 4, height: 4.5
        })
    %>
    <!--Sprout Tower Extension-->
    <%- include('templates/mapDungeon',
        { name: "Sprout Tower"
        , x: 45, y: 18
        , width: 3, height: 1
        , isExtension: true
        })
    %>

    <!--Ruins of Alph-->
    <%- include('templates/mapDungeon',
        { name: "Ruins of Alph"
        , x: 41, y: 25
        , width: 5, height: 4
        })
     %>

    <!--Union Cave-->
    <%- include('templates/mapDungeon',
        { name: "Union Cave"
        , x: 41, y: 47
        , width: 4, height: 4
        })
     %>

    <!--Slowpoke Well-->
    <%- include('templates/mapDungeon',
        { name: "Slowpoke Well"
        , x: 34, y: 52
        })
     %>

    <!--Ilex Forest-->
    <%- include('templates/mapDungeon',
        { name: "Ilex Forest"
        , x: 22, y: 52
        , width: 7, height: 7
        })
     %>

    <!--Burned Tower-->
    <%- include('templates/mapDungeon',
        { name: "Burned Tower"
        , x: 26, y: 2
        , width: 7, height: 7
        })
     %>
     <!--Burned Tower Extension-->
     <%- include('templates/mapDungeon',
         { name: "Burned Tower"
         , x: 26, y: 9
         , width: 6, height: 1
         , isExtension: true
         })
      %>

    <!--Tin Tower-->
    <%- include('templates/mapDungeon',
        { name: "Tin Tower"
        , x: 35, y: 0
        , width: 7, height: 9
        })
     %>
     <!--Tin Tower Extension-->
     <%- include('templates/mapDungeon',
        { name: "Tin Tower"
         , x: 36, y: 9
         , width: 6, height: 1
         , isExtension: true
         })
      %>

    <!--Whirl Islands-->
    <%- include('templates/mapDungeon',
        { name: "Whirl Islands"
        , x: 12, y: 39
        })
     %>

    <!--Mt. Mortar-->
    <%- include('templates/mapDungeon',
        { name: "Mt. Mortar"
        , x: 48, y: 8
        })
     %>
     <!--Mt. Mortar Extension-->
     <%- include('templates/mapDungeon',
         { name: "Mt. Mortar"
         , x: 52, y: 6
         , width: 2, height: 4
         , isExtension: true
         })
      %>

    <!--Team Rocket's Hideout-->
    <%- include('templates/mapDungeon',
        { name: "Team Rocket's Hideout"
        , x: 55, y: 9
        , height: 4
        , moveToTown: "Mahogany Town"
        , invisible: true
        })
    %>

    <!--Radio Tower-->
    <%- include('templates/mapDungeon',
        { name: "Radio Tower"
        , x: 22, y: 29
        , width: 3, height: 6
        })
     %>

    <!--Radio Tower Extension-->
    <%- include('templates/mapDungeon',
        { name: "Radio Tower"
        , x: 25, y: 29
        , width: 2, height: 2.5
        , isExtension: true
        })
     %>

    <!--Ice Path-->
    <%- include('templates/mapDungeon',
        { name: "Ice Path"
        , x: 69, y: 9
        })
     %>
     <!--Ice Path Extension-->
     <%- include('templates/mapDungeon',
         { name: "Ice Path"
         , x: 73, y: 11
         , width: 1, height: 1
         , isExtension: true
         })
      %>

    <!--Dark Cave-->
    <%- include('templates/mapDungeon',
        { name: "Dark Cave"
        , x: 67, y: 27
        })
     %>
     <!--Dark Cave Extension-->
     <%- include('templates/mapDungeon',
         { name: "Dark Cave"
         , x: 70, y: 30
         , width: 1, height: 1
         , isExtension: true
         })
      %>
     <!--Dark Cave Extension-->
     <%- include('templates/mapDungeon',
         { name: "Dark Cave"
         , x: 51, y: 16
         , width: 4, height: 3
         })
      %>

    <!--Tohjo Falls-->
    <%- include('templates/mapDungeon',
        { name: "Tohjo Falls"
        , x: 77, y: 39
        })
    %>

    <!--Victory Road Johto-->
    <%- include('templates/mapDungeon',
        { name: "Victory Road Johto"
        , x: 93, y: 19
        })
     %>

    <!--Mt. Silver-->
    <%- include('templates/mapDungeon',
        { name: "Mt. Silver"
        , x: 74, y: 31
        , width: 7, height: 5
        })
     %>
     <!--Mt. Silver Extension-->
     <%- include('templates/mapDungeon',
         { name: "Mt. Silver"
         , x: 78, y: 36
         , width: 1, height: 1
         , isExtension: true
         })
      %>




    <!-- ------------------ -->
    <!-- PLACES OF INTEREST -->
    <!-- ------------------ -->

    <%- include('templates/mapPOI',
        { name: "Dock"
        , x: 15, y: 23
        , width: 3, height: 4
        , databind: "click:function(){MapHelper.openShipModal()}, attr: { class: MapHelper.calculateTownCssClass('Olivine City') }"
        })
     %>

     <%- include('templates/mapPOI',
        { name: "Underground Entrance"
        , x: 39, y: 29
        , width: 3, height: 4
        , databind: "click:function(){App.game.underground.openUndergroundModal()}, attr: { class: App.game.underground.canAccess() ? 'completed' : 'locked' }"
        })
     %>

     <%- include('templates/mapPOI',
        { name: "Farm"
        , x: 36, y: 14
        , width: 3, height: 3
        , databind: "click:function(){FarmController.openFarmModal()}, attr: { class: App.game.farming.canAccess() ? 'completed' : 'locked' }"
        })
     %>

     <%- include('templates/mapPOI',
        { name: "Pokémon Day Care"
        , x: 28, y: 38
        , width: 4, height: 4
        , databind: "click:function(){BreedingController.openBreedingModal()}, attr: { class: App.game.breeding.canAccess() ? 'completed' : 'locked' }"
        })
     %>

     <%- include('templates/mapOverlay',
         { name: "Professor Elm's Blimp"
         , x: 74, y: 45
         , width: 6, height: 3
         , databind: "click:function(){MapHelper.moveToTown('New Bark Town')}, attr:{ class: MapHelper.calculateTownCssClass('New Bark Town') }"
         , visible:  "MapHelper.ableToTravel() && player.regionStarters[GameConstants.Region.kanto]() != GameConstants.Starter.Special"
         , image: "assets/images/map/blimp_empty.png"
         })
     %>

     <%- include('templates/mapOverlay',
         { name: "Professor Elm's Blimp"
         , x: 74, y: 45
         , width: 6, height: 3
         , databind: "click:function(){MapHelper.moveToTown('New Bark Town')}, attr:{ class: MapHelper.calculateTownCssClass('New Bark Town') }"
         , visible:  "MapHelper.ableToTravel() && player.regionStarters[GameConstants.Region.kanto]() == GameConstants.Starter.Special"
         , image: "assets/images/map/blimp_pikachu.png"
         })
     %>

     <%- include('templates/mapOverlay',
         { name: "Sudowoodo"
         , x: 32.5, y: 17
         , width: 4, height: 4
         , databind: "click: () => TemporaryBattleList['Sudowoodo'].protectedOnclick(), attr: { class: TemporaryBattleList['Sudowoodo'].isUnlocked() ? '' : 'locked' }"
         , visible:  "TemporaryBattleList['Sudowoodo'] && TemporaryBattleList['Sudowoodo'].isVisible()"
         , image: "assets/images/map/sudowoodooverworld.png"
         })
     %>

    <%- include('templates/mapOverlay',
        { name: "Suicune"
        , x: 8, y: 39
        , width: 3, height: 4
        , databind: "click: () => TemporaryBattleList['Suicune 1'].protectedOnclick()"
        , visible:  "TemporaryBattleList['Suicune 1'] && TemporaryBattleList['Suicune 1'].isVisible()"
        , image: "assets/images/map/suicune.png"
        })
    %>

    <%- include('templates/mapOverlay',
        { name: "Eusine"
        , x: 8, y: 39
        , width: 3, height: 4
        , databind: "click: () => TemporaryBattleList.Eusine.protectedOnclick()"
        , visible:  "TemporaryBattleList['Eusine'] && TemporaryBattleList['Eusine'].isVisible()"
        , image: "assets/images/map/eusine.png"
        })
    %>

    <%- include('templates/mapOverlay',
        { name: "Suicune"
        , x: 44, y: 9
        , width: 3, height: 4
        , databind: "click: () => TemporaryBattleList['Suicune 2'].protectedOnclick()"
        , visible:  "TemporaryBattleList['Suicune 2'] && TemporaryBattleList['Suicune 2'].isVisible()"
        , image: "assets/images/map/suicune.png"
        })
    %>

    <%- include('templates/mapOverlay',
    { name: "Red Gyarados"
        , x: 56, y: 0
        , width: 4, height: 4
        , databind: "click: () => TemporaryBattleList['Red Gyarados'].protectedOnclick(), attr: { class: TemporaryBattleList['Red Gyarados'].isUnlocked() ? '' : 'locked' }"
        , visible:  "TemporaryBattleList['Red Gyarados'] && TemporaryBattleList['Red Gyarados'].isVisible()"
        , image: "assets/images/map/redgyaradosoverworld.png"
        })
    %>

     <%- include('templates/mapOverlay',
         { name: "Rival Silver"
         , x: 54, y: 41
         , width: 4, height: 4
         , databind: "click: () => TemporaryBattleList['Silver 1'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Silver 1'] && TemporaryBattleList['Silver 1'].isVisible()"
         , image: "assets/images/map/silver.png"
         })
     %>

     <%- include('templates/mapOverlay',
         { name: "Rival Silver"
         , x: 26, y: 54
         , width: 4, height: 4
         , databind: "click: () => TemporaryBattleList['Silver 2'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Silver 2'] && TemporaryBattleList['Silver 2'].isVisible()"
         , image: "assets/images/map/silver.png"
         })
     %>

     <%- include('templates/mapOverlay',
         { name: "Rival Silver"
         , x: 92.5, y: 14
         , width: 4, height: 4
         , databind: "click: () => TemporaryBattleList['Silver 5'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Silver 5'] && TemporaryBattleList['Silver 5'].isVisible()"
         , image: "assets/images/map/silver.png"
         })
     %>

     <%- include('templates/mapOverlay',
         { name: "Ash Ketchum"
         , x: 0, y: 21
         , width: 4, height: 4
         , databind: "click: () => TemporaryBattleList['Ash Ketchum Johto'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Ash Ketchum Johto'] && TemporaryBattleList['Ash Ketchum Johto'].isVisible()"
         , image: "assets/images/map/ashketchumoverworld.png"
         })
    %>
</g>
