<g transform='translate(-1,-1)' data-bind='if: player.region == GameConstants.Region.johto'>
    <image height="100%" width="100%" xlink:href="assets/images/johto.png"></image>

    <!--
    Town element

        The two numbers following M in the path route are coordinates for the inital point,
        adjust them to move the town element, and replace "TOWN" with the actual town name


    <path d="M 70 108.39 l 8.29 -8.29 h 11.42 l 8.29 8.29 v 11.42 l -8.29 8.29 h -11.42 l -8.29 -8.29 Z"
          fill="#ffffff" stroke="#000000" stroke-miterlimit="10" stroke-width="1.4">
    </path>
    <path class="city" data-town="TOWN"
          data-bind="
          click:function(){MapHelper.moveToTown('TOWN')},
          attr: { class: MapHelper.calculateTownCssClass('TOWN') }"
          d="M 72.8 109.53 l 6.63 -6.63 h 9.14 l 6.63 6.63 v 9.14 l -6.63 6.63 h -9.14 l -6.63 -6.63 Z"
          fill="url(#mx-gradient-f8cecc-1-ea583b-1-s-0)" stroke="#b85450"
          stroke-miterlimit="10" stroke-width="1.4">
    </path>

    -->

    <!--Route 26-->
    <g data-bind="click:function(){ MapHelper.moveToRoute(26, 1); } ">
        <rect data-route='26'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(26,1) }"
              height="31"
              width="135"
              x="512" y="277"></rect>
        <text font-size="13px" x="580" y="300">26</text>
    </g>

    <!--Route 27-->
    <g transform="rotate(90,83.65,263.2)"
       data-bind="click:function(){ MapHelper.moveToRoute(27, 1); } ">
        <rect data-route='27'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(27,1) }"
              height="31"
              width="208"
              x="-110" y="-300"></rect>
        <text font-size="13px" x="0" y="-280">27</text>
    </g>

    <!--Route 28-->
    <g data-bind="click:function(){ MapHelper.moveToRoute(28, 1); } ">
        <rect data-route='28'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(28,1) }"
              height="31"
              width="92"
              x="525" y="216"></rect>
        <text font-size="13px" x="570" y="236">28</text>
    </g>

    <!--Route 29-->
    <g data-bind="click:function(){ MapHelper.moveToRoute(29, 1); } ">
        <rect data-route='29'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(29,1) }"
              height="31"
              width="143"
              x="368" y="277"></rect>
        <text font-size="13px" x="420" y="300">29</text>
    </g>

    <!--Route 30-->
    <g transform="rotate(90,83.65,263.2)"
       data-bind="click:function(){ MapHelper.moveToRoute(30, 1); } ">
        <rect data-route='30'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(30,1) }"
              height="31"
              width="150"
              x="-25" y="-24"></rect>
        <text font-size="13px" x="30" y="-5">30</text>
    </g>

    <!--Route 31-->
    <g data-bind="click:function(){ MapHelper.moveToRoute(31, 1); } ">
        <rect data-route='31'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(31,1) }"
              height="31"
              width="67"
              x="304" y="124"></rect>
        <text font-size="13px" x="330" y="144">31</text>
    </g>

    <!--Route 32-->
    <g transform="rotate(90,83.65,263.2)"
       data-bind="click:function(){ MapHelper.moveToRoute(32, 1); } ">
        <rect data-route='32'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(32,1) }"
              height="31"
              width="217"
              x="-25" y="37"></rect>
        <text font-size="13px" x="65" y="57">32</text>
    </g>

    <!--Route 33-->
    <g data-bind="click:function(){ MapHelper.moveToRoute(33, 1); } ">
        <rect data-route='33'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(33,1) }"
              height="31"
              width="100"
              x="209" y="369"></rect>
        <text font-size="13px" x="250" y="389">33</text>
    </g>

    <!--Route 34-->
    <g transform="rotate(90,83.65,263.2)"
       data-bind="click:function(){ MapHelper.moveToRoute(34, 1); } ">
        <rect data-route='34'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(34,1) }"
              height="31"
              width="127"
              x="92" y="160"></rect>
        <text font-size="13px" x="140" y="180">34</text>
    </g>

    <!--Route 35-->
    <g transform="rotate(90,83.65,263.2)"
       data-bind="click:function(){ MapHelper.moveToRoute(35, 1); } ">
        <rect data-route='35'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(35,1) }"
              height="31"
              width="73"
              x="-25" y="160"></rect>
        <text font-size="13px" x="10" y="180">35</text>
    </g>

    <!--Route 36-->
    <g data-bind="click:function(){ MapHelper.moveToRoute(36, 1); } ">
        <rect data-route='36'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(36,1) }"
              height="31"
              width="131"
              x="156" y="124"></rect>
        <text font-size="13px" x="220" y="144">36</text>
    </g>

    <!--Route 37-->
    <g data-bind="click:function(){ MapHelper.moveToRoute(37, 1); } ">
        <rect data-route='37'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(37,1) }"
              height="38"
              width="31"
              x="216" y="87"></rect>
        <text font-size="13px" x="223" y="114">37</text>
    </g>

    <!--Route 38-->
    <g data-bind="click:function(){ MapHelper.moveToRoute(38, 1); } ">
        <rect data-route='38'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(38,1) }"
              height="31"
              width="95"
              x="124" y="62"></rect>
        <text font-size="13px" x="163" y="82">38</text>
    </g>

    <!--Route 39-->
    <g transform="rotate(90,83.65,263.2)"
       data-bind="click:function(){ MapHelper.moveToRoute(39, 1); } ">
        <rect data-route='39'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(39,1) }"
              height="31"
              width="65"
              x="-117" y="222"></rect>
        <text font-size="13px" x="-90" y="242">39</text>
    </g>

    <!--Route 40-->
    <g transform="rotate(90,83.65,263.2)"
       data-bind="click:function(){ MapHelper.moveToRoute(40, 1); } ">
        <rect data-route='40'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(40,1) }"
              height="31"
              width="70"
              x="-25" y="252"></rect>
        <text font-size="13px" x="10" y="272">40</text>
    </g>

    <!--Route 41-->
    <g transform="rotate(90,83.65,263.2)"
       data-bind="click:function(){ MapHelper.moveToRoute(41, 1); } ">
        <rect data-route='41'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(41,1) }"
              height="31"
              width="84"
              x="45" y="252"></rect>
        <text font-size="13px" x="80" y="272">41</text>
    </g>

    <!--Route 42-->
    <g data-bind="click:function(){ MapHelper.moveToRoute(42, 1); } ">
        <rect data-route='42'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(42,1) }"
              height="31"
              width="136"
              x="242" y="62"></rect>
        <text font-size="13px" x="300" y="82">42</text>
    </g>

    <!--Route 43-->
    <g transform="rotate(90,83.65,263.2)"
       data-bind="click:function(){ MapHelper.moveToRoute(43, 1); } ">
        <rect data-route='43'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(43,1) }"
              height="31"
              width="63"
              x="-180" y="-55"></rect>
        <text font-size="13px" x="-150" y="-35">43</text>
    </g>

    <!--Route 44-->
    <g data-bind="click:function(){ MapHelper.moveToRoute(44, 1); } ">
        <rect data-route='44'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(44,1) }"
              height="31"
              width="99"
              x="397" y="62"></rect>
        <text font-size="13px" x="440" y="82">44</text>
    </g>

    <!--Route 45-->
    <g transform="rotate(90,83.65,263.2)"
       data-bind="click:function(){ MapHelper.moveToRoute(45, 1); } ">
        <rect data-route='45'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(45,1) }"
              height="31"
              width="100"
              x="-62" y="-148"></rect>
        <text font-size="13px" x="-20" y="-128">45</text>
    </g>

    <!--Route 46-->
    <g transform="rotate(90,83.65,263.2)"
       data-bind="click:function(){ MapHelper.moveToRoute(46, 1); } ">
        <rect data-route='46'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(46,1) }"
              height="31"
              width="94"
              x="6" y="-117"></rect>
        <text font-size="13px" x="53" y="-97">46</text>
    </g>

    <!--New Bark Town-->
    <path d="M 496 286.39 l 8.29 -8.29 h 11.42 l 8.29 8.29 v 11.42 l -8.29 8.29 h -11.42 l -8.29 -8.29 Z"
          fill="#ffffff" stroke="#000000" stroke-miterlimit="10" stroke-width="1.4">
    </path>
    <path class="city" data-town="New Bark Town"
          data-bind="
          click:function(){MapHelper.moveToTown('New Bark Town')},
          attr: { class: MapHelper.calculateTownCssClass('New Bark Town') },
          css: { flash: MapHelper.ableToTravel() }"
          d="M 498.8 287.53 l 6.63 -6.63 h 9.14 l 6.63 6.63 v 9.14 l -6.63 6.63 h -9.14 l -6.63 -6.63 Z"
          fill="url(#mx-gradient-f8cecc-1-ea583b-1-s-0)" stroke="#b85450"
          stroke-miterlimit="10" stroke-width="1.4">
    </path>

    <!--Cherrygrove City-->
    <path d="M 340 288.39 l 8.29 -8.29 h 11.42 l 8.29 8.29 v 11.42 l -8.29 8.29 h -11.42 l -8.29 -8.29 Z"
          fill="#ffffff" stroke="#000000" stroke-miterlimit="10" stroke-width="1.4">
    </path>
    <path class="city" data-town="Cherrygrove City"
          data-bind="
          click:function(){MapHelper.moveToTown('Cherrygrove City')},
          attr: { class: MapHelper.calculateTownCssClass('Cherrygrove City') }"
          d="M 342.8 289.53 l 6.63 -6.63 h 9.14 l 6.63 6.63 v 9.14 l -6.63 6.63 h -9.14 l -6.63 -6.63 Z"
          fill="url(#mx-gradient-f8cecc-1-ea583b-1-s-0)" stroke="#b85450"
          stroke-miterlimit="10" stroke-width="1.4">
    </path>

    <!--Violet City-->
    <path d="M 281 133.39 l 8.29 -8.29 h 11.42 l 8.29 8.29 v 11.42 l -8.29 8.29 h -11.42 l -8.29 -8.29 Z"
          fill="#ffffff" stroke="#000000" stroke-miterlimit="10" stroke-width="1.4">
    </path>
    <path class="city" data-town="Violet City"
          data-bind="
          click:function(){MapHelper.moveToTown('Violet City')},
          attr: { class: MapHelper.calculateTownCssClass('Violet City') }"
          d="M 283.8 134.53 l 6.63 -6.63 h 9.14 l 6.63 6.63 v 9.14 l -6.63 6.63 h -9.14 l -6.63 -6.63 Z"
          fill="url(#mx-gradient-f8cecc-1-ea583b-1-s-0)" stroke="#b85450"
          stroke-miterlimit="10" stroke-width="1.4">
    </path>

    <!--Azalea Town-->
    <path d="M 187 378.39 l 8.29 -8.29 h 11.42 l 8.29 8.29 v 11.42 l -8.29 8.29 h -11.42 l -8.29 -8.29 Z"
          fill="#ffffff" stroke="#000000" stroke-miterlimit="10" stroke-width="1.4">
    </path>
    <path class="city" data-town="Azalea Town"
          data-bind="
          click:function(){MapHelper.moveToTown('Azalea Town')},
          attr: { class: MapHelper.calculateTownCssClass('Azalea Town') }"
          d="M 189.8 379.53 l 6.63 -6.63 h 9.14 l 6.63 6.63 v 9.14 l -6.63 6.63 h -9.14 l -6.63 -6.63 Z"
          fill="url(#mx-gradient-f8cecc-1-ea583b-1-s-0)" stroke="#b85450"
          stroke-miterlimit="10" stroke-width="1.4">
    </path>

    <!--Goldenrod City-->
    <path d="M 158 229 l 8.29 -8.29 h 11.42 l 8.29 8.29 v 40 l -8.29 8.29 h -11.42 l -8.29 -8.29 Z"
          fill="#ffffff" stroke="#000000" stroke-miterlimit="10" stroke-width="1.4">
    </path>
    <path class="city" data-town="Goldenrod City"
          data-bind="
          click:function(){MapHelper.moveToTown('Goldenrod City')},
          attr: { class: MapHelper.calculateTownCssClass('Goldenrod City') }"
          d="M 160.8 230.14 l 6.63 -6.63 h 9.14 l 6.63 6.63 v 38 l -6.63 6.63 h -9.14 l -6.63 -6.63 Z"
          fill="url(#mx-gradient-f8cecc-1-ea583b-1-s-0)" stroke="#b85450"
          stroke-miterlimit="10" stroke-width="1.4">
    </path>

    <!--Ecruteak City-->
    <path d="M 218 72 l 8.29 -8.29 h 11.42 l 8.29 8.29 v 11.42 l -8.29 8.29 h -11.42 l -8.29 -8.29 Z"
          fill="#ffffff" stroke="#000000" stroke-miterlimit="10" stroke-width="1.4">
    </path>
    <path class="city" data-town="Ecruteak City"
          data-bind="
          click:function(){MapHelper.moveToTown('Ecruteak City')},
          attr: { class: MapHelper.calculateTownCssClass('Ecruteak City') }"
          d="M 220.8 73 l 6.63 -6.63 h 9.14 l 6.63 6.63 v 9.14 l -6.63 6.63 h -9.14 l -6.63 -6.63 Z"
          fill="url(#mx-gradient-f8cecc-1-ea583b-1-s-0)" stroke="#b85450"
          stroke-miterlimit="10" stroke-width="1.4">
    </path>

    <!--Olivine City-->
    <path d="M 63 135 l 8.29 -8.29 h 45 l 8.29 8.29 v 11.42 l -8.29 8.29 h -45 l -8.29 -8.29 Z"
          fill="#ffffff" stroke="#000000" stroke-miterlimit="10" stroke-width="1.4">
    </path>
    <path class="city" data-town="Olivine City"
          data-bind="
          click:function(){MapHelper.moveToTown('Olivine City')},
          attr: { class: MapHelper.calculateTownCssClass('Olivine City') }"
          d="M 65.4 136.2 l 6.63 -6.63 h 43 l 6.63 6.63 v 9.14 l -6.63 6.63 h -43 l -6.63 -6.63 Z"
          fill="url(#mx-gradient-f8cecc-1-ea583b-1-s-0)" stroke="#b85450"
          stroke-miterlimit="10" stroke-width="1.4">
    </path>

    <!--Cianwood City-->
    <path d="M 34 288 l 8.29 -8.29 h 11.42 l 8.29 8.29 v 11.42 l -8.29 8.29 h -11.42 l -8.29 -8.29 Z"
          fill="#ffffff" stroke="#000000" stroke-miterlimit="10" stroke-width="1.4">
    </path>
    <path class="city" data-town="Cianwood City"
          data-bind="
          click:function(){MapHelper.moveToTown('Cianwood City')},
          attr: { class: MapHelper.calculateTownCssClass('Cianwood City') }"
          d="M 37 289 l 6.63 -6.63 h 9.14 l 6.63 6.63 v 9.14 l -6.63 6.63 h -9.14 l -6.63 -6.63 Z"
          fill="url(#mx-gradient-f8cecc-1-ea583b-1-s-0)" stroke="#b85450"
          stroke-miterlimit="10" stroke-width="1.4">
    </path>

    <!--Mahogany Town-->
    <path d="M 373 72 l 8.29 -8.29 h 11.42 l 8.29 8.29 v 11.42 l -8.29 8.29 h -11.42 l -8.29 -8.29 Z"
          fill="#ffffff" stroke="#000000" stroke-miterlimit="10" stroke-width="1.4">
    </path>
    <path class="city" data-town="Mahogany Town"
          data-bind="
          click:function(){MapHelper.moveToTown('Mahogany Town')},
          attr: { class: MapHelper.calculateTownCssClass('Mahogany Town') }"
          d="M 376 73 l 6.63 -6.63 h 9.14 l 6.63 6.63 v 9.14 l -6.63 6.63 h -9.14 l -6.63 -6.63 Z"
          fill="url(#mx-gradient-f8cecc-1-ea583b-1-s-0)" stroke="#b85450"
          stroke-miterlimit="10" stroke-width="1.4">
    </path>

    <!--Blackthorn City-->
    <path d="M 465 103 l 8.29 -8.29 h 11.42 l 8.29 8.29 v 11.42 l -8.29 8.29 h -11.42 l -8.29 -8.29 Z"
          fill="#ffffff" stroke="#000000" stroke-miterlimit="10" stroke-width="1.4">
    </path>
    <path class="city" data-town="Blackthorn City"
          data-bind="
          click:function(){MapHelper.moveToTown('Blackthorn City')},
          attr: { class: MapHelper.calculateTownCssClass('Blackthorn City') }"
          d="M 468 104 l 6.63 -6.63 h 9.14 l 6.63 6.63 v 9.14 l -6.63 6.63 h -9.14 l -6.63 -6.63 Z"
          fill="url(#mx-gradient-f8cecc-1-ea583b-1-s-0)" stroke="#b85450"
          stroke-miterlimit="10" stroke-width="1.4">
    </path>

    <!--Indigo Plateau 2.0-->
    <path d="M 619 72 l 8.29 -8.29 h 11.42 l 8.29 8.29 v 11.42 l -8.29 8.29 h -11.42 l -8.29 -8.29 Z"
          fill="#ffffff" stroke="#000000" stroke-miterlimit="10" stroke-width="1.4">
    </path>
    <path class="city" data-town="Indigo Plateau 2.0"
          data-bind="
          click:function(){MapHelper.moveToTown('Indigo Plateau 2.0')},
          attr: { class: MapHelper.calculateTownCssClass('Indigo Plateau 2.0') }"
          d="M 622 73 l 6.63 -6.63 h 9.14 l 6.63 6.63 v 9.14 l -6.63 6.63 h -9.14 l -6.63 -6.63 Z"
          fill="url(#mx-gradient-f8cecc-1-ea583b-1-s-0)" stroke="#b85450"
          stroke-miterlimit="10" stroke-width="1.4">
    </path>

    <!--Sprout Tower-->
    <rect fill="#ffffff" height="15.4" stroke="none" width="15.4"
          x="292" y="126"></rect>
    <rect data-bind="
    click:function(){MapHelper.moveToTown('Violet City')},
    attr: { class: MapHelper.calculateTownCssClass('Sprout Tower') }"
          class="city" data-town="Sprout Tower"
          fill="url(#mx-gradient-dae8fc-1-7ea6e0-1-s-0)"
          height="12.6" stroke="#6c8ebf" width="12.6" x="293" y="127"></rect>

    <!--Ruins of Alph-->
    <rect fill="#ffffff" height="15.4" stroke="none" width="15.4"
          x="287" y="180"></rect>
    <rect data-bind="
    click:function(){MapHelper.moveToTown('Ruins of Alph')},
    attr: { class: MapHelper.calculateTownCssClass('Ruins of Alph') }"
          class="city" data-town="Ruins of Alph"
          fill="url(#mx-gradient-dae8fc-1-7ea6e0-1-s-0)"
          height="12.6" stroke="#6c8ebf" width="12.6" x="288" y="181"></rect>

    <!--Union Cave-->
    <rect fill="#ffffff" height="15.4" stroke="none" width="15.4"
          x="287" y="326"></rect>
    <rect data-bind="
    click:function(){MapHelper.moveToTown('Union Cave')},
    attr: { class: MapHelper.calculateTownCssClass('Union Cave') }"
          class="city" data-town="Union Cave"
          fill="url(#mx-gradient-dae8fc-1-7ea6e0-1-s-0)"
          height="12.6" stroke="#6c8ebf" width="12.6" x="288" y="327"></rect>

    <!--Slowpoke Well-->
    <rect fill="#ffffff" height="15.4" stroke="none" width="15.4"
          x="200" y="370"></rect>
    <rect data-bind="
    click:function(){MapHelper.moveToTown('Azalea Town')},
    attr: { class: MapHelper.calculateTownCssClass('Slowpoke Well') }"
          class="city" data-town="Slowpoke Well"
          fill="url(#mx-gradient-dae8fc-1-7ea6e0-1-s-0)"
          height="12.6" stroke="#6c8ebf" width="12.6" x="201" y="371"></rect>

    <!--Ilex Forest-->
    <rect fill="#ffffff" height="15.4" stroke="none" width="15.4"
          x="160" y="370"></rect>
    <rect data-bind="
    click:function(){MapHelper.moveToTown('Ilex Forest')},
    attr: { class: MapHelper.calculateTownCssClass('Ilex Forest') }"
          class="city" data-town="Ilex Forest"
          fill="url(#mx-gradient-dae8fc-1-7ea6e0-1-s-0)"
          height="12.6" stroke="#6c8ebf" width="12.6" x="161" y="371"></rect>

    <!--Burned Tower-->
    <rect fill="#ffffff" height="15.4" stroke="none" width="15.4"
          x="215" y="50"></rect>
    <rect data-bind="
    click:function(){MapHelper.moveToTown('Burned Tower')},
    attr: { class: MapHelper.calculateTownCssClass('Burned Tower') }"
          class="city" data-town="Burned Tower"
          fill="url(#mx-gradient-dae8fc-1-7ea6e0-1-s-0)"
          height="12.6" stroke="#6c8ebf" width="12.6" x="216" y="51"></rect>

    <!--Tin Tower-->
    <rect fill="#ffffff" height="15.4" stroke="none" width="15.4"
          x="235" y="50"></rect>
    <rect data-bind="
    click:function(){MapHelper.moveToTown('Tin Tower')},
    attr: { class: MapHelper.calculateTownCssClass('Tin Tower') }"
          class="city" data-town="Tin Tower"
          fill="url(#mx-gradient-dae8fc-1-7ea6e0-1-s-0)"
          height="12.6" stroke="#6c8ebf" width="12.6" x="236" y="51"></rect>

    <!--Whirl Islands-->
    <rect fill="#ffffff" height="15.4" stroke="none" width="15.4"
          x="72" y="284"></rect>
    <rect data-bind="
    click:function(){MapHelper.moveToTown('Whirl Islands')},
    attr: { class: MapHelper.calculateTownCssClass('Whirl Islands') }"
          class="city" data-town="Whirl Islands"
          fill="url(#mx-gradient-dae8fc-1-7ea6e0-1-s-0)"
          height="12.6" stroke="#6c8ebf" width="12.6" x="73" y="285"></rect>

    <!--Mt Mortar-->
    <rect fill="#ffffff" height="15.4" stroke="none" width="15.4"
          x="325" y="70"></rect>
    <rect data-bind="
    click:function(){MapHelper.moveToTown('Mt Mortar')},
    attr: { class: MapHelper.calculateTownCssClass('Mt Mortar') }"
          class="city" data-town="Mt Mortar"
          fill="url(#mx-gradient-dae8fc-1-7ea6e0-1-s-0)"
          height="12.6" stroke="#6c8ebf" width="12.6" x="326" y="71"></rect>

    <!--Ice Path-->
    <rect fill="#ffffff" height="15.4" stroke="none" width="15.4"
          x="470" y="70"></rect>
    <rect data-bind="
    click:function(){MapHelper.moveToTown('Ice Path')},
    attr: { class: MapHelper.calculateTownCssClass('Ice Path') }"
          class="city" data-town="Ice Path"
          fill="url(#mx-gradient-dae8fc-1-7ea6e0-1-s-0)"
          height="12.6" stroke="#6c8ebf" width="12.6" x="471" y="71"></rect>

    <!--Dark Cave-->
    <rect fill="#ffffff" height="15.4" stroke="none" width="15.4"
          x="465" y="179"></rect>
    <rect data-bind="
    click:function(){MapHelper.moveToTown('Dark Cave')},
    attr: { class: MapHelper.calculateTownCssClass('Dark Cave') }"
          class="city" data-town="Dark Cave"
          fill="url(#mx-gradient-dae8fc-1-7ea6e0-1-s-0)"
          height="12.6" stroke="#6c8ebf" width="12.6" x="466" y="180"></rect>

    <!--Mt Silver-->
    <rect fill="#ffffff" height="15.4" stroke="none" width="15.4"
          x="525" y="224"></rect>
    <rect data-bind="
    click:function(){MapHelper.moveToTown('Mt Silver')},
    attr: { class: MapHelper.calculateTownCssClass('Mt Silver') }"
          class="city" data-town="Mt Silver"
          fill="url(#mx-gradient-dae8fc-1-7ea6e0-1-s-0)"
          height="12.6" stroke="#6c8ebf" width="12.6" x="526" y="225"></rect>

    <!-- Dock -->
    <rect class="city" data-town="Dock"
          fill="url(#mx-gradient-dae8fc-1-7ea6e0-1-s-0)"
          height="12.6" stroke="#6c8ebf" width="12.6" x="98" y="155"
          data-bind="click:function(){MapHelper.openShipModal()},
          attr: { class: MapHelper.calculateTownCssClass('Olivine City') }"></rect>

</g>
