<g transform='translate(-1,-1)' data-bind='if: player.region == GameConstants.Region.johto'>
    <image height="100%" width="100%" xlink:href="assets/images/johto.png"></image>

    <!--Route 26-->
    <g data-bind="click:function(){ MapHelper.moveToRoute(26, 1); } ">
        <rect data-route='26'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(26,1)() }"
              height="31"
              width="133"
              x="532" y="277"></rect>
        <text font-size="13px" x="580" y="300">26</text>
    </g>

    <!--Route 27-->
    <g transform="rotate(90,83.65,263.2)"
       data-bind="click:function(){ MapHelper.moveToRoute(27, 1); } ">
        <rect data-route='27'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(27,1)() }"
              height="31"
              width="185"
              x="-86" y="-300"></rect>
        <text font-size="13px" x="0" y="-280">27</text>
    </g>

    <!--Route 28-->
    <g data-bind="click:function(){ MapHelper.moveToRoute(28, 1); } ">
        <rect data-route='28'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(28,1)() }"
              height="31"
              width="92"
              x="525" y="216"></rect>
        <text font-size="13px" x="570" y="236">28</text>
    </g>

    <!--Route 29-->
    <g data-bind="click:function(){ MapHelper.moveToRoute(29, 1); } ">
        <rect data-route='29'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(29,1)() }"
              height="31"
              width="128"
              x="368" y="277"></rect>
        <text font-size="13px" x="420" y="300">29</text>
    </g>

    <!--Route 30-->
    <g transform="rotate(90,83.65,263.2)"
       data-bind="click:function(){ MapHelper.moveToRoute(30, 1); } ">
        <rect data-route='30'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(30,1)() }"
              height="31"
              width="125"
              x="-25" y="-24"></rect>
        <text font-size="13px" x="30" y="-5">30</text>
    </g>

    <!--Route 31-->
    <g data-bind="click:function(){ MapHelper.moveToRoute(31, 1); } ">
        <rect data-route='31'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(31,1)() }"
              height="31"
              width="63"
              x="309" y="124"></rect>
        <text font-size="13px" x="330" y="144">31</text>
    </g>

    <!--Route 32-->
    <g transform="rotate(90,83.65,263.2)"
       data-bind="click:function(){ MapHelper.moveToRoute(32, 1); } ">
        <rect data-route='32'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(32,1)() }"
              height="31"
              width="217"
              x="-25" y="37"></rect>
        <text font-size="13px" x="65" y="57">32</text>
    </g>

    <!--Route 33-->
    <g data-bind="click:function(){ MapHelper.moveToRoute(33, 1); } ">
        <rect data-route='33'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(33,1)() }"
              height="31"
              width="63"
              x="246" y="369"></rect>
        <text font-size="13px" x="270" y="389">33</text>
    </g>

    <!--Route 34-->
    <g transform="rotate(90,83.65,263.2)"
       data-bind="click:function(){ MapHelper.moveToRoute(34, 1); } ">
        <rect data-route='34'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(34,1)() }"
              height="31"
              width="129"
              x="90" y="160"></rect>
        <text font-size="13px" x="140" y="180">34</text>
    </g>

    <!--Route 35-->
    <g transform="rotate(90,83.65,263.2)"
       data-bind="click:function(){ MapHelper.moveToRoute(35, 1); } ">
        <rect data-route='35'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(35,1)() }"
              height="31"
              width="70"
              x="-25" y="160"></rect>
        <text font-size="13px" x="10" y="180">35</text>
    </g>

    <!--Route 36-->
    <g data-bind="click:function(){ MapHelper.moveToRoute(36, 1); } ">
        <rect data-route='36'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(36,1)() }"
              height="31"
              width="127"
              x="156" y="124"></rect>
        <text font-size="13px" x="220" y="144">36</text>
    </g>

    <!--Route 37-->
    <g data-bind="click:function(){ MapHelper.moveToRoute(37, 1); } ">
        <rect data-route='37'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(37,1)() }"
              height="31"
              width="31"
              x="216" y="94"></rect>
        <text font-size="13px" x="223" y="114">37</text>
    </g>

    <!--Route 38-->
    <g data-bind="click:function(){ MapHelper.moveToRoute(38, 1); } ">
        <rect data-route='38'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(38,1)() }"
              height="31"
              width="93"
              x="124" y="62"></rect>
        <text font-size="13px" x="163" y="82">38</text>
    </g>

    <!--Route 39-->
    <g transform="rotate(90,83.65,263.2)"
       data-bind="click:function(){ MapHelper.moveToRoute(39, 1); } ">
        <rect data-route='39'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(39,1)() }"
              height="31"
              width="65"
              x="-117" y="222"></rect>
        <text font-size="13px" x="-90" y="242">39</text>
    </g>

    <!--Route 40-->
    <g transform="rotate(90,83.65,263.2)"
       data-bind="click:function(){ MapHelper.moveToRoute(40, 1); } ">
        <rect data-route='40'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(40,1)() }"
              height="31"
              width="70"
              x="-25" y="252"></rect>
        <text font-size="13px" x="10" y="272">40</text>
    </g>

    <!--Route 41-->
    <g transform="rotate(90,83.65,263.2)"
       data-bind="click:function(){ MapHelper.moveToRoute(41, 1); } ">
        <rect data-route='41'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(41,1)() }"
              height="31"
              width="84"
              x="45" y="252"></rect>
        <text font-size="13px" x="80" y="272">41</text>
    </g>

    <!--Route 42-->
    <g data-bind="click:function(){ MapHelper.moveToRoute(42, 1); } ">
        <rect data-route='42'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(42,1)() }"
              height="31"
              width="124"
              x="248" y="62"></rect>
        <text font-size="13px" x="300" y="82">42</text>
    </g>

    <!--Route 43-->
    <g transform="rotate(90,83.65,263.2)"
       data-bind="click:function(){ MapHelper.moveToRoute(43, 1); } ">
        <rect data-route='43'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(43,1)() }"
              height="31"
              width="63"
              x="-180" y="-55"></rect>
        <text font-size="13px" x="-150" y="-35">43</text>
    </g>

    <!--Route 44-->
    <g data-bind="click:function(){ MapHelper.moveToRoute(44, 1); } ">
        <rect data-route='44'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(44,1)() }"
              height="31"
              width="93"
              x="403" y="62"></rect>
        <text font-size="13px" x="440" y="82">44</text>
    </g>

    <!--Route 45-->
    <g transform="rotate(90,83.65,263.2)"
       data-bind="click:function(){ MapHelper.moveToRoute(45, 1); } ">
        <rect data-route='45'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(45,1)() }"
              height="31"
              width="94"
              x="-56" y="-148"></rect>
        <text font-size="13px" x="-20" y="-128">45</text>
    </g>

    <!--Route 46-->
    <g transform="rotate(90,83.65,263.2)"
       data-bind="click:function(){ MapHelper.moveToRoute(46, 1); } ">
        <rect data-route='46'
              data-bind="attr: { class: MapHelper.calculateRouteCssClass(46,1)() }"
              height="31"
              width="94"
              x="6" y="-117"></rect>
        <text font-size="13px" x="53" y="-97">46</text>
    </g>
    
</g>