<g data-bind='visible: player.region == GameConstants.Region.kanto'>
    <image width="1600" height="960" xlink:href="assets/images/kanto.png" href="assets/images/kanto.png"></image>

    <!-- ------ -->
    <!-- ROUTES -->
    <!-- ------ -->

    <!--Route 1-->
    <%- include('templates/mapRoute',
        { route: 1, region: 0
        , width: 6.5, height: 3
        , x: 19, y: 33
        , rotate: true
        })
     %>

    <!--Route 2-->
    <%- include('templates/mapRoute',
        { route: 2, region: 0
        , width: 3, height: 3
        , x: 19, y: 26
        , rotate: true
        })
     %>
    <!--Extra bit of Route 2-->
    <%- include('templates/mapRoute',
         { route: 2, region: 0
         , width: 3, height: 1
         , x: 19, y: 22
         , noText: true
         })
      %>
    <!--Extra bit of Route 2-->
    <%- include('templates/mapRoute',
          { route: 2, region: 0
          , width: 3, height: 2
          , x: 19, y: 17
          , noText: true
          })
       %>

    <!--Route 3-->
    <%- include('templates/mapRoute',
        { route: 3, region: 0
        , width: 12, height: 3
        , x: 22, y: 14
        })
     %>
    <!--Extra bit of Route 3-->
    <%- include('templates/mapRoute',
        { route: 3, region: 0
        , width: 4, height: 2
        , x: 34, y: 15
        , noText: true
        })
    %>

    <!--Route 4-->
    <%- include('templates/mapRoute',
        { route: 4, region: 0
        , width: 20, height: 3
        , x: 39, y: 11
        })
     %>
    <!--Extra bit of Route 4-->
    <%- include('templates/mapRoute',
         { route: 4, region: 0
         , width: 4, height: 1
         , x: 35, y: 11
         , noText: true
         })
      %>

    <!--Route 5-->
    <%- include('templates/mapRoute',
        { route: 5, region: 0
        , width: 3, height: 1
        , x: 60, y: 20
        , noText: true
        })
     %>
    <!--Extra bit of Route 5-->
    <%- include('templates/mapRoute',
        { route: 5, region: 0
        , width: 2.5, height: 3
        , x: 60, y: 14
        , rotate: true
        })
    %>

    <!--Route 6-->
    <%- include('templates/mapRoute',
        { route: 6, region: 0
        , width: 7, height: 3
        , x: 60, y: 25
        , rotate: true
        })
     %>

    <!--Route 7-->
    <%- include('templates/mapRoute',
        { route: 7, region: 0
        , width: 9, height: 3
        , x: 50, y: 22
        })
     %>

    <!--Route 8-->
    <%- include('templates/mapRoute',
        { route: 8, region: 0
        , width: 13, height: 3
        , x: 63, y: 22
        })
     %>

    <!--Route 9-->
    <%- include('templates/mapRoute',
        { route: 9, region: 0
        , width: 14, height: 3
        , x: 63, y: 11
        })
     %>

    <!--Route 10-->
    <%- include('templates/mapRoute',
        { route: 10, region: 0
        , width: 4, height: 3
        , x: 77, y: 17
        , rotate: true
        })
     %>
    <!--Extra bit of Route 10-->
    <%- include('templates/mapRoute',
        { route: 10, region: 0
        , width: 2, height: 3
        , x: 77, y: 12
        , noText: true
        , rotate: true
        })
    %>

    <!--Route 11-->
    <%- include('templates/mapRoute',
        { route: 11, region: 0
        , width: 9, height: 3
        , x: 63, y: 33
        })
     %>
    <!--Extra bit of Route 11-->
    <%- include('templates/mapRoute',
        { route: 11, region: 0
        , width: 3, height: 1
        , x: 72, y: 35
        , noText: true
        })
    %>
    <!--Extra bit of Route 11-->
    <%- include('templates/mapRoute',
       { route: 11, region: 0
       , width: 2, height: 3
       , x: 75, y: 33
       , noText: true
       })
   %>

    <!--Route 12-->
    <%- include('templates/mapRoute',
        { route: 12, region: 0
        , width: 8, height: 3
        , x: 77, y: 25
        , rotate: true
        })
     %>

    <!--Route 13-->
    <%- include('templates/mapRoute',
        { route: 13, region: 0
        , width: 11, height: 3
        , x: 77, y: 33
        , rotate: true
        })
     %>

    <!--Route 14-->
    <%- include('templates/mapRoute',
        { route: 14, region: 0
        , width: 10, height: 3
        , x: 67, y: 41
        })
     %>

    <!--Route 15-->
    <%- include('templates/mapRoute',
        { route: 15, region: 0
        , width: 12, height: 3
        , x: 55, y: 45
        })
     %>
    <!--Extra bit of Route 15-->
    <%- include('templates/mapRoute',
        { route: 15, region: 0
        , width: 3, height: 1
        , x: 64, y: 44
        , noText: true
        })
      %>

    <!--Route 16-->
    <%- include('templates/mapRoute',
        { route: 16, region: 0
        , width: 15, height: 3
        , x: 31, y: 22
        })
     %>

    <!--Route 17-->
    <%- include('templates/mapRoute',
        { route: 17, region: 0
        , width: 20, height: 3
        , x: 31, y: 25
        , rotate: true
        })
     %>

    <!--Route 18-->
    <%- include('templates/mapRoute',
        { route: 18, region: 0
        , width: 20, height: 3
        , x: 31, y: 45
        })
     %>

    <!--Route 19-->
    <%- include('templates/mapRoute',
        { route: 19, region: 0
        , width: 16, height: 3
        , x: 39, y: 52
        })
    %>
    <!--Extra bit of Route 19-->
    <%- include('templates/mapRoute',
        { route: 19, region: 0
        , width: 3, height: 4
        , x: 52, y: 48
        , noText: true
        })
     %>
    <!--Extra bit of Route 19-->
    <%- include('templates/mapRoute',
         { route: 19, region: 0
         , width: 4, height: 1
         , x: 35, y: 54
         , noText: true
         })
      %>

    <!--Route 20-->
    <%- include('templates/mapRoute',
        { route: 20, region: 0
        , width: 13, height: 3
        , x: 22, y: 52
        })
     %>

    <!--Route 21-->
    <%- include('templates/mapRoute',
        { route: 21, region: 0
        , width: 7, height: 3
        , x: 19, y: 44
        , rotate: true
        })
     %>

    <!--Route 22-->
    <%- include('templates/mapRoute',
        { route: 22, region: 0
        , width: 8, height: 3
        , x: 10, y: 30
        })
     %>

    <!--Route 23-->
    <%- include('templates/mapRoute',
        { route: 23, region: 0
        , width: 14, height: 3
        , x: 10, y: 16
        , rotate: true
        })
    %>
    <!--Extra bit of Route 23-->
    <%- include('templates/mapRoute',
        { route: 23, region: 0
        , width: 3, height: 3
        , x: 10, y: 8
        , noText: true
        , rotate: true
        })
    %>

    <!--Route 24-->
    <%- include('templates/mapRoute',
        { route: 24, region: 0
        , width: 4, height: 3
        , x: 60, y: 6
        , rotate: true
        })
     %>

    <!--Route 25-->
    <%- include('templates/mapRoute',
        { route: 25, region: 0
        , width: 12, height: 3
        , x: 60, y: 3
        })
     %>




    <!-- ----- -->
    <!-- TOWNS -->
    <!-- ----- -->

    <!--Pallet Town-->
    <%- include('templates/mapTown',
        { name: "Pallet Town"
        , x: 18, y: 39.5
        , width: 5, height: 4.5
        , home: true
        })
     %>

    <!--Viridian City-->
    <%- include('templates/mapTown',
         { name: "Viridian City"
         , x: 18, y: 29
         })
      %>

    <!--Pewter City-->
    <%- include('templates/mapTown',
        { name: "Pewter City"
        , x: 18, y: 13
        })
     %>

    <!--Cerulean City-->
    <%- include('templates/mapTown',
         { name: "Cerulean City"
         , x: 59, y: 10
         })
      %>

    <!--Vermilion City-->
    <%- include('templates/mapTown',
        { name: "Vermilion City"
        , x: 59, y: 32
        })
     %>

    <!--Lavender Town-->
    <%- include('templates/mapTown',
         { name: "Lavender Town"
         , x: 76, y: 21
         })
      %>

    <!--Celadon City-->
    <%- include('templates/mapTown',
        { name: "Celadon City"
        , x: 46, y: 21
        })
     %>

    <!--Saffron City-->
    <%- include('templates/mapTown',
        { name: "Saffron City"
        , x: 59, y: 21
        })
     %>

    <!--Fuchsia City-->
    <%- include('templates/mapTown',
        { name: "Fuchsia City"
        , x: 51, y: 44
        })
     %>

    <!--Cinnabar Island-->
    <%- include('templates/mapTown',
        { name: "Cinnabar Island"
        , x: 18, y: 51
        })
     %>

    <!--Indigo Plateau Kanto-->
    <%- include('templates/mapTown',
        { name: "Indigo Plateau Kanto"
        , x: 6, y: 0
        , width: 11, height: 8
        })
     %>




    <!-- -------- -->
    <!-- DUNGEONS -->
    <!-- -------- -->

    <!--Viridian Forest-->
    <%- include('templates/mapDungeon',
        { name: "Viridian Forest"
        , x: 18, y: 23
        })
     %>

    <!--Digletts Cave-->
    <%- include('templates/mapDungeon',
        { name: "Digletts Cave"
        , x: 18, y: 19
        })
     %>

    <!--Mt. Moon-->
    <%- include('templates/mapDungeon',
        { name: "Mt. Moon"
        , x: 34, y: 12
        , width: 5
        })
     %>

    <!--Rock Tunnel-->
    <%- include('templates/mapDungeon',
        { name: "Rock Tunnel"
        , x: 77, y: 9
        })
     %>

    <!--Power Plant-->
    <%- include('templates/mapDungeon',
        { name: "Power Plant"
        , x: 77, y: 14
        })
     %>

    <!--Pokémon Tower-->
    <%- include('templates/mapDungeon',
        { name: "Pokemon Tower"
        , x: 80, y: 17
        , width: 4, height: 8
        })
    %>
    <!--Pokémon Tower Extension-->
    <%- include('templates/mapDungeon',
        { name: "Pokemon Tower"
        , x: 81, y: 16
        , width: 2, height: 1
        })
    %>

    <!--Seafoam Islands-->
    <%- include('templates/mapDungeon',
        { name: "Seafoam Islands"
        , x: 35, y: 51
        })
     %>

    <!--Pokémon Mansion-->
    <%- include('templates/mapDungeon',
        { name: "Pokemon Mansion"
        , x: 13, y: 50
        , width: 5, height: 5
        })
     %>

    <!--Victory Road-->
    <%- include('templates/mapDungeon',
        { name: "Victory Road"
        , x: 9, y: 11
        , width: 5, height: 5
        })
     %>

    <!--Cerulean Cave-->
    <%- include('templates/mapDungeon',
        { name: "Cerulean Cave"
        , x: 55, y: 8
        , width: 5, height: 2
        })
     %>
    <!--Cerulean Cave Extension-->
    <%- include('templates/mapDungeon',
         { name: "Cerulean Cave"
         , x: 55, y: 10
         , width: 4, height: 1
         })
      %>




    <!-- ------------------ -->
    <!-- PLACES OF INTEREST -->
    <!-- ------------------ -->

    <%- include('templates/mapPOI',
        { name: "Pokemon Day Care"
        , x: 58, y: 16.5
        , width: 5, height: 3.5
        , databind: "click:function(){BreedingController.openBreedingModal()}, attr: { class: App.game.breeding.canAccess() ? 'city unlockedTown' : 'city lockedTown' }"
        })
     %>

    <%- include('templates/mapPOI',
        { name: "Safari Zone"
        , x: 55, y: 40
        , width: 5, height: 5
        , databind: "click:function(){Safari.openModal()}, attr: { class: Safari.canAccess() ? 'city unlockedTown' : 'city lockedTown' }"
        })
     %>

    <%- include('templates/mapPOI',
        { name: "Underground Entrance"
        , x: 72, y: 31
        , width: 3, height: 4
        , databind: "click:function(){App.game.underground.openUndergroundModal()}, attr: { class: App.game.underground.canAccess() ? 'city unlockedTown' : 'city lockedTown' }"
        })
     %>

    <%- include('templates/mapPOI',
        { name: "Farm"
        , x: 64, y: 41
        , width: 3, height: 3
        , databind: "click:function(){FarmController.openFarmModal()}, attr: { class: App.game.farming.canAccess() ? 'city unlockedTown' : 'city lockedTown' }"
        })
     %>

    <%- include('templates/mapPOI',
        { name: "Dock"
        , x: 55, y: 34
        , width: 4, height: 2
        , databind: "click:function(){MapHelper.openShipModal()}, css:{ unlockedTown: player.highestRegion() >= 1}"
        })
     %>

    <%- include('templates/mapOverlay',
         { name: "SS-Anne"
         , x: 50, y: 35
         , width: 8, height: 3
         , databind: "click:function(){MapHelper.openShipModal()}, css:{ unlockedTown: player.highestRegion() >= 1}"
         , visible:  "player.highestRegion() >= 1"
         , image: "assets/images/ship.png"
         })
      %>
</g>