<g data-bind='if: App.game.world.currentRegion == RegionName.kanto'>
    <image width="100%" xlink:href="assets/images/kanto.png"></image>

    <!-- ------ -->
    <!-- ROUTES -->
    <!-- ------ -->

    <!--Route 1-->
    <%- include('templates/mapRoute',
        { route: 1, region: 0
        , height: 28, width: 71
        , x: 226, y: -97
        , textx: 259, texty: -79
        , rotate: true
        })
     %>

    <!--Route 2-->
    <%- include('templates/mapRoute',
        { route: 2, region: 0
        , height: 28, width: 79
        , x: 127, y: -97
        , textx: 184, texty: -79
        , rotate: true
        })
     %>

    <!--Route 3-->
    <%- include('templates/mapRoute',
        { route: 3, region: 0
        , height: 28, width: 112
        , x: 92, y: 100
        , textx: 140, texty: 120
        })
     %>

    <!--Route 4-->
    <%- include('templates/mapRoute',
        { route: 4, region: 0
        , height: 28, width: 170
        , x: 174, y: 72
        , textx: 254, texty: 93
        })
     %>

    <!--Route 5-->
    <%- include('templates/mapRoute',
        { route: 5, region: 0
        , height: 28, width: 53
        , x: 99, y: -365
        , textx: 131, texty: -347
        , rotate: true
        })
     %>

    <!--Route 6-->
    <%- include('templates/mapRoute',
        { route: 6, region: 0
        , height: 28, width: 54
        , x: 180, y: -365
        , textx: 205, texty: -346
        , rotate: true
        })
     %>

    <!--Route 7-->
    <%- include('templates/mapRoute',
        { route: 7, region: 0
        , height: 28, width: 112
        , x: 354, y: 152
        , textx: 395, texty: 173
        })
     %>

    <!--Route 8-->
    <%- include('templates/mapRoute',
        { route: 8, region: 0
        , height: 28, width: 90
        , x: 270, y: 152
        , textx: 304, texty: 172
        })
     %>

    <!--Route 9-->
    <%- include('templates/mapRoute',
        { route: 9, region: 0
        , height: 28, width: 112
        , x: 345, y: 73
        , textx: 395, texty: 93
        })
     %>

    <!--Route 10-->
    <%- include('templates/mapRoute',
        { route: 10, region: 0
        , height: 28, width: 82
        , x: 72, y: -472
        , textx: 125, texty: -454
        , rotate: true
        })
     %>

    <!--Route 11-->
    <%- include('templates/mapRoute',
        { route: 11, region: 0
        , height: 28, width: 99
        , x: 354, y: 232
        , textx: 395, texty: 253
        })
     %>

    <!--Route 12-->
    <%- include('templates/mapRoute',
        { route: 12, region: 0
        , height: 28, width: 54
        , x: 180, y: -472
        , textx: 198, texty: -454
        , rotate: true
        })
     %>

    <!--Route 13-->
    <%- include('templates/mapRoute',
        { route: 13, region: 0
        , height: 28, width: 82
        , x: 232, y: -472
        , textx: 266, texty: -454
        , rotate: true
        })
     %>

    <!--Route 14-->
    <%- include('templates/mapRoute',
        { route: 14, region: 0
        , height: 28, width: 81
        , x: 363, y: 286
        , textx: 393, texty: 306
        })
     %>

    <!--Route 15-->
    <%- include('templates/mapRoute',
        { route: 15, region: 0
        , height: 28, width: 101
        , x: 290, y: 314
        , textx: 338, texty: 333
        })
     %>

    <!--Route 16-->
    <%- include('templates/mapRoute',
        { route: 16, region: 0
        , height: 28, width: 130
        , x: 148, y: 152
        , textx: 200, texty: 172
        })
     %>

    <!--Route 17-->
    <%- include('templates/mapRoute',
        { route: 17, region: 0
        , height: 28, width: 134
        , x: 180, y: -176
        , textx: 241, texty: -158
        , rotate: true
        })
     %>

    <!--Route 18-->
    <%- include('templates/mapRoute',
        { route: 18, region: 0
        , height: 28, width: 145
        , x: 148, y: 314
        , textx: 190, texty: 333
        })
     %>

    <!--Route 19-->
    <%- include('templates/mapRoute',
        { route: 19, region: 0
        , height: 54, width: 28
        , x: 283, y: 341
        , noText: true
        })
     %>
    <!--Extra bit of Route 19 because it goes around a corner-->
    <%- include('templates/mapRoute',
        { route: 19, region: 0
        , height: 28, width: 95
        , x: 188, y: 367
        , textx: 235, texty: 387
        })
     %>

    <!--Route 20-->
    <%- include('templates/mapRoute',
        { route: 20, region: 0
        , height: 28, width: 99
        , x: 90, y: 367
        , textx: 129, texty: 387
        })
     %>

    <!--Route 21-->
    <%- include('templates/mapRoute',
        { route: 21, region: 0
        , height: 28, width: 59
        , x: 309, y: -96
        , textx: 336, texty: -78
        , rotate: true
        })
     %>

    <!--Route 22-->
    <%- include('templates/mapRoute',
        { route: 22, region: 0
        , height: 28, width: 75
        , x: 15, y: 205
        , textx: 39, texty: 225
        })
     %>

    <!--Route 23-->
    <%- include('templates/mapRoute',
        { route: 23, region: 0
        , height: 28, width: 112
        , x: 93, y: -43
        , textx: 147, texty: -25
        , rotate: true
        })
     %>

    <!--Route 24-->
    <%- include('templates/mapRoute',
        { route: 24, region: 0
        , height: 28, width: 28
        , x: 337, y: 45
        , textx: 343, texty: 65
        })
     %>

    <!--Route 25-->
    <%- include('templates/mapRoute',
        { route: 25, region: 0
        , height: 28, width: 83
        , x: 337, y: 18
        , textx: 369, texty: 38
        })
     %>




    <!-- ----- -->
    <!-- TOWNS -->
    <!-- ----- -->

    <!--Pallet Town-->
    <%- include('templates/mapTown',
        { name: "Pallet Town"
        , x: 69, y: 298
        , type: "O"
        , home: true
        })
     %>

     <!--Viridian City-->
     <%- include('templates/mapTown',
         { name: "Viridian City"
         , x: 69, y: 213
         , type: "O"
         })
      %>

    <!--Pewter City-->
    <%- include('templates/mapTown',
        { name: "Pewter City"
        , x: 70, y: 108
        , type: "O"
        })
     %>

     <!--Cerulean City-->
     <%- include('templates/mapTown',
         { name: "Cerulean City"
         , x: 338, y: 80
         , type: "O"
         })
      %>

    <!--Vermillion City-->
    <%- include('templates/mapTown',
        { name: "Vermillion City"
        , x: 337, y: 241
        , type: "O"
        })
     %>

     <!--Lavender Town-->
     <%- include('templates/mapTown',
         { name: "Lavender Town"
         , x: 444, y: 160
         , type: "O"
         })
      %>

    <!--Celadon City-->
    <%- include('templates/mapTown',
        { name: "Celadon City"
        , x: 257, y: 161
        , type: "O"
        })
     %>

    <!--Saffron City-->
    <%- include('templates/mapTown',
        { name: "Saffron City"
        , x: 338, y: 161
        , type: "O"
        })
     %>

    <!--Fuchsia City-->
    <%- include('templates/mapTown',
        { name: "Fuchsia City"
        , x: 284, y: 323
        , type: "O"
        })
     %>

    <!--Cinnabar Island-->
    <%- include('templates/mapTown',
        { name: "Cinnabar Island"
        , x: 68, y: 375
        , type: "O"
        })
     %>

    <!--Indigo Plateau Kanto-->
    <%- include('templates/mapTown',
        { name: "Indigo Plateau Kanto"
        , x: 16, y: 81
        , type: "O"
        })
     %>




    <!-- -------- -->
    <!-- DUNGEONS -->
    <!-- -------- -->

    <!--Viridian Forest-->
    <%- include('templates/mapDungeon',
        { name: "Viridian Forest"
        , x: 76, y: 156
        })
     %>

    <!--Digletts Cave-->
    <%- include('templates/mapDungeon',
        { name: "Digletts Cave"
        , x: 76, y: 133
        })
     %>

    <!--Mt. Moon-->
    <%- include('templates/mapDungeon',
        { name: "Mt. Moon"
        , x: 182, y: 90
        })
     %>

    <!--Rock Tunnel-->
    <%- include('templates/mapDungeon',
        { name: "Rock Tunnel"
        , x: 451, y: 81
        })
     %>

    <!--Power Plant-->
    <%- include('templates/mapDungeon',
        { name: "Power Plant"
        , x: 451, y: 104
        })
     %>

    <!--Pokemon Tower-->
    <%- include('templates/mapDungeon',
        { name: "Pokemon Tower"
        , moveToTown: "Lavender Town"
        , x: 458, y: 168
        })
     %>

    <!--Seafoam Islands-->
    <%- include('templates/mapDungeon',
        { name: "Seafoam Islands"
        , x: 181, y: 375
        })
     %>

    <!--Pokemon Mansion-->
    <%- include('templates/mapDungeon',
        { name: "Pokemon Mansion"
        , moveToTown: "Cinnabar Island"
        , x: 83, y: 381
        })
     %>

    <!--Victory Road-->
    <%- include('templates/mapDungeon',
        { name: "Victory Road"
        , x: 22, y: 110
        })
     %>

    <!--Cerulean Cave-->
    <%- include('templates/mapDungeon',
        { name: "Cerulean Cave"
        , moveToTown: "Cerulean City"
        , x: 349, y: 83
        })
     %>




    <!-- ------------------ -->
    <!-- PLACES OF INTEREST -->
    <!-- ------------------ -->

    <%- include('templates/mapPOI',
        { name: "Pokemon Day Care"
        , x: 345, y: 111
        , databind: "click:function(){BreedingController.openBreedingModal()}, attr: { class: App.game.breeding.canAccess() ? 'city unlockedTown' : 'city lockedTown' }"
        })
     %>

    <%- include('templates/mapPOI',
        { name: "Safari Zone"
        , x: 292, y: 301
        , databind: "click:function(){Safari.openModal()}, attr: { class: Safari.canAccess() ? 'city unlockedTown' : 'city lockedTown' }"
        })
     %>

    <%- include('templates/mapPOI',
        { name: "Underground Entrance"
        , x: 380, y: 241
        , databind: "click:function(){Underground.openUndergroundModal()}, attr: { class: Underground.canAccess() ? 'city unlockedTown' : 'city lockedTown' }"
        })
     %>

    <%- include('templates/mapPOI',
        { name: "Farm"
        , x: 373, y: 294
        , databind: "click:function(){FarmController.openFarmModal()}, attr: { class: App.game.farming.canAccess() ? 'city unlockedTown' : 'city lockedTown' }"
        })
     %>

    <%- include('templates/mapPOI',
        { name: "Dock"
        , x: 325, y: 240
        , databind: "click:function(){MapHelper.openShipModal()}, css:{ unlockedTown: player.highestRegion() >= 1}"
        })
     %>
</g>
