<g data-bind='visible: player.region == GameConstants.Region.kanto'>

    <g data-bind="visible: player.subregion == SubRegions.getSubRegion(GameConstants.Region.kanto, 'Kanto').id">
        <image width="1600" height="960" data-bind="attr: {
            'xlink:href':'assets/images/kanto-kanto.png?v=$VERSION',
            href:'assets/images/kanto-kanto.png?v=$VERSION'
        }"></image>

        <!-- ------ -->
        <!-- ROUTES -->
        <!-- ------ -->

        <!--Route 1-->
        <%- include('templates/mapRoute',
            { route: 1, region: 0
            , width: 7.5, height: 3
            , x: 23, y: 29
            , rotate: true
            })
        %>

        <!--Route 2-->
        <%- include('templates/mapRoute',
            { route: 2, region: 0
            , width: 3, height: 3
            , x: 23, y: 22
            , rotate: true
            })
        %>
        <!--Route 2 extension-->
        <%- include('templates/mapRoute',
            { route: 2, region: 0
            , width: 3, height: 3.5
            , x: 23, y: 14
            , noText: true
            })
        %>

        <!--Route 3-->
        <%- include('templates/mapRoute',
            { route: 3, region: 0
            , width: 15, height: 3
            , x: 30, y: 11
            })
        %>

        <!--Route 4-->
        <%- include('templates/mapRoute',
            { route: 4, region: 0
            , width: 12, height: 3
            , x: 50, y: 10
            })
        %>

        <!--Route 5-->
        <%- include('templates/mapRoute',
            { route: 5, region: 0
            , width: 5, height: 3
            , x: 66, y: 13
            , rotate: true
            })
        %>

        <!--Route 6-->
        <%- include('templates/mapRoute',
            { route: 6, region: 0
            , width: 5, height: 3
            , x: 66, y: 26
            , rotate: true
            })
        %>

        <!--Route 7-->
        <%- include('templates/mapRoute',
            { route: 7, region: 0
            , width: 11, height: 3
            , x: 49, y: 20
            })
        %>

        <!--Route 8-->
        <%- include('templates/mapRoute',
            { route: 8, region: 0
            , width: 14, height: 3
            , x: 71, y: 20
            })
        %>

        <!--Route 9-->
        <%- include('templates/mapRoute',
            { route: 9, region: 0
            , width: 16, height: 3
            , x: 71, y: 9
            })
        %>
        <!--Route 9 extension-->
        <%- include('templates/mapRoute',
            { route: 9, region: 0
            , width: 1, height: 1
            , x: 87, y: 9
            , noText: true
            })
        %>

        <!--Route 10-->
        <%- include('templates/mapRoute',
            { route: 10, region: 0
            , width: 3, height: 1
            , x: 88, y: 9
            , noText: true
            })
        %>
        <!--Route 10 extension-->
        <%- include('templates/mapRoute',
            { route: 10, region: 0
            , width: 3, height: 3
            , x: 88, y: 13
            , rotate: true
            })
        %>
        <!--Route 10 extension-->
        <%- include('templates/mapRoute',
            { route: 10, region: 0
            , width: 1, height: 3
            , x: 88, y: 16
            , noText: true
            })
        %>

        <!--Route 11-->
        <%- include('templates/mapRoute',
            { route: 11, region: 0
            , width: 12, height: 3
            , x: 71, y: 32
            })
        %>
        <!--Route 11 extension-->
        <%- include('templates/mapRoute',
            { route: 11, region: 0
            , width: 3, height: 1.5
            , x: 83, y: 33.5
            , noText: true
            })
        %>
        <!--Route 11 extension-->
        <%- include('templates/mapRoute',
           { route: 11, region: 0
           , width: 2, height: 3
           , x: 86, y: 32
           , noText: true
           })
        %>

        <!--Route 12-->
        <%- include('templates/mapRoute',
            { route: 12, region: 0
            , width: 8, height: 3
            , x: 88, y: 24
            , rotate: true
            })
        %>

        <!--Route 13-->
        <%- include('templates/mapRoute',
            { route: 13, region: 0
            , width: 11, height: 3
            , x: 88, y: 32
            , rotate: true
            })
        %>

        <!--Route 14-->
        <%- include('templates/mapRoute',
            { route: 14, region: 0
            , width: 13, height: 3
            , x: 75, y: 40
            })
        %>

        <!--Route 15-->
        <%- include('templates/mapRoute',
            { route: 15, region: 0
            , width: 23, height: 3
            , x: 52, y: 44
            })
        %>
        <!--Route 15 extension-->
        <%- include('templates/mapRoute',
            { route: 15, region: 0
            , width: 3, height: 1
            , x: 72, y: 43
            , noText: true
            })
        %>

        <!--Route 16-->
        <%- include('templates/mapRoute',
            { route: 16, region: 0
            , width: 6, height: 3
            , x: 34, y: 20
            })
        %>

        <!--Route 17-->
        <%- include('templates/mapRoute',
            { route: 17, region: 0
            , width: 21, height: 3
            , x: 34, y: 23
            , rotate: true
            })
        %>

        <!--Route 18-->
        <%- include('templates/mapRoute',
            { route: 18, region: 0
            , width: 10, height: 3
            , x: 34, y: 44
            })
        %>

        <!--Route 19-->
        <%- include('templates/mapRoute',
            { route: 19, region: 0
            , width: 10, height: 3
            , x: 41, y: 54
            })
        %>
        <!--Route 19 extension-->
        <%- include('templates/mapRoute',
            { route: 19, region: 0
            , width: 3, height: 5
            , x: 48, y: 49
            , noText: true
            })
        %>

        <!--Route 20-->
        <%- include('templates/mapRoute',
            { route: 20, region: 0
            , width: 8, height: 3
            , x: 27, y: 54
            })
        %>

        <!--Route 21-->
        <%- include('templates/mapRoute',
            { route: 21, region: 0
            , width: 12, height: 3
            , x: 23, y: 41
            , rotate: true
            })
        %>

        <!--Route 22-->
        <%- include('templates/mapRoute',
            { route: 22, region: 0
            , width: 16, height: 3
            , x: 7, y: 26
            })
        %>

        <!--Route 23-->
        <%- include('templates/mapRoute',
            { route: 23, region: 0
            , width: 6, height: 3
            , x: 7, y: 20
            , rotate: true
            })
        %>

        <!--Route 24-->
        <%- include('templates/mapRoute',
            { route: 24, region: 0
            , width: 7, height: 3
            , x: 66, y: 2
            , rotate: true
            })
        %>

        <!--Route 25-->
        <%- include('templates/mapRoute',
            { route: 25, region: 0
            , width: 14, height: 3
            , x: 69, y: 2
            })
        %>

        <!-- ----- -->
        <!-- TOWNS -->
        <!-- ----- -->

        <!--Pallet Town-->
        <%- include('templates/mapTown',
            { name: "Pallet Town"
            , x: 22, y: 36.5
            , width: 5, height: 4.5
            , home: true
            })
        %>

        <!--Viridian City-->
        <%- include('templates/mapTown',
            { name: "Viridian City"
            , x: 23, y: 25
            , width: 4, height: 4
            })
        %>
        <!--Viridian City extension-->
        <%- include('templates/mapTown',
            { name: "Viridian City"
            , x: 27, y: 26
            , width: 1, height: 3
            , isExtension: true
            })
        %>

        <!--Pewter City-->
        <%- include('templates/mapTown',
            { name: "Pewter City"
            , x: 22, y: 9
            , width: 8, height: 5
            })
        %>
        <!--Pewter City extension-->
        <%- include('templates/mapTown',
            { name: "Pewter City"
            , x: 23, y: 6
            , width: 7, height: 3
            , isExtension: true
            })
        %>

        <!--Cerulean City-->
        <%- include('templates/mapTown',
            { name: "Cerulean City"
            , x: 62, y: 9
            , width: 9, height: 4
            })
        %>

        <!--Vermilion City-->
        <%- include('templates/mapTown',
            { name: "Vermilion City"
            , x: 61, y: 31
            , width: 10, height: 4
            })
        %>

        <!--Lavender Town-->
        <%- include('templates/mapTown',
            { name: "Lavender Town"
            , x: 85, y: 19
            , width: 4, height: 5
            })
        %>

        <!--Celadon City-->
        <%- include('templates/mapTown',
            { name: "Celadon City"
            , x: 40, y: 14
            , width: 5, height: 9
            })
        %>
        <!--Celadon City extension-->
        <%- include('templates/mapTown',
            { name: "Celadon City"
            , x: 45, y: 15.5
            , width: 4, height: 7.5
            , isExtension: true
            })
        %>
        <!--Celadon City extension-->
        <%- include('templates/mapTown',
            { name: "Celadon City"
            , x: 40, y: 23
            , width: 3, height: 3
            , isExtension: true
            })
        %>

        <!--Saffron City-->
        <%- include('templates/mapTown',
            { name: "Saffron City"
            , x: 66, y: 18
            , width: 5, height: 3.5
            })
        %>
        <!--Saffron City extension-->
        <%- include('templates/mapTown',
            { name: "Saffron City"
            , x: 64, y: 21.5
            , width: 7, height: 4.5
            , isExtension: true
            })
        %>
        <!--Saffron City extension-->
        <%- include('templates/mapTown',
            { name: "Saffron City"
            , x: 60, y: 24
            , width: 4, height: 2
            , isExtension: true
            })
        %>

        <!--Fuchsia City-->
        <%- include('templates/mapTown',
            { name: "Fuchsia City"
            , x: 44, y: 44
            , width: 8, height: 5
            })
        %>

        <!--Cinnabar Island-->
        <%- include('templates/mapTown',
            { name: "Cinnabar Island"
            , x: 22, y: 53
            , width: 5, height: 5
            })
        %>
        <!--Cinnabar Island extension-->
        <%- include('templates/mapTown',
            { name: "Cinnabar Island"
            , x: 15, y: 58
            , width: 8, height: 1
            , isExtension: true
            })
        %>
        <!--Cinnabar Island extension-->
        <%- include('templates/mapTown',
            { name: "Cinnabar Island"
            , x: 15, y: 55
            , width: 7, height: 3
            , isExtension: true
            })
        %>

        <!--Indigo Plateau Kanto-->
        <%- include('templates/mapTown',
            { name: "Indigo Plateau Kanto"
            , x: 3, y: 0
            , width: 11, height: 12
            })
        %>

        <!-- -------- -->
        <!-- DUNGEONS -->
        <!-- -------- -->

        <!--Viridian Forest-->
        <%- include('templates/mapDungeon',
            { name: "Viridian Forest"
            , x: 21, y: 17.5
            , width: 7, height: 4.5
            })
        %>

        <!--Mt. Moon-->
        <%- include('templates/mapDungeon',
            { name: "Mt. Moon"
            , x: 41, y: 8
            })
        %>
        <!--Mt. Moon extension-->
        <%- include('templates/mapDungeon',
            { name: "Mt. Moon"
            , x: 45, y: 8
            , width: 5, height: 6
            , isExtension: true
            })
        %>

        <!--Diglett's Cave Pewter-->
        <%- include('templates/mapDungeon',
            { name: "Diglett\'s Cave"
            , x: 27, y: 14
            , width: 3, height: 3
            })
        %>
        <!--Diglett's Cave Vermilion-->
        <%- include('templates/mapDungeon',
            { name: "Diglett\'s Cave"
            , x: 72, y: 29
            , width: 3, height: 3
            })
        %>

        <!--Rock Tunnel-->
        <%- include('templates/mapDungeon',
            { name: "Rock Tunnel"
            , x: 87, y: 10
            })
        %>

        <!--Rocket Game Corner-->
        <%- include('templates/mapDungeon',
            { name: "Rocket Game Corner"
            , x: 43, y: 23
            , width: 6, height: 3
            })
        %>

        <!--Pokémon Tower-->
        <%- include('templates/mapDungeon',
            { name: "Pokémon Tower"
            , x: 89, y: 16
            , width: 4, height: 8
            })
        %>

        <!--Power Plant-->
        <%- include('templates/mapDungeon',
            { name: "Power Plant"
            , x: 93, y: 14
            , height: 4
            })
        %>
        <!--Power Plant extension-->
        <%- include('templates/mapDungeon',
            { name: "Power Plant"
            , x: 91, y: 14
            , width: 2, height: 2
            , isExtension: true
            })
        %>

        <!--Silph Co.-->
        <%- include('templates/mapDungeon',
            { name: "Silph Co."
            , x: 60, y: 14
            , width: 6, height: 7.5
            })
        %>
        <!--Silph Co. extenstion-->
        <%- include('templates/mapDungeon',
            { name: "Silph Co."
            , x: 60, y: 21.5
            , width: 4, height: 2.5
            , isExtension: true
            })
        %>

        <!--Seafoam Islands-->
        <%- include('templates/mapDungeon',
            { name: "Seafoam Islands"
            , x: 37, y: 54
            })
        %>
        <!--Seafoam Islands extension-->
        <%- include('templates/mapDungeon',
            { name: "Seafoam Islands"
            , x: 35, y: 54
            , width: 2, height: 4
            , isExtension: true
            })
        %>

        <!--Pokémon Mansion-->
        <%- include('templates/mapDungeon',
            { name: "Pokémon Mansion"
            , x: 15, y: 50
            , width: 7, height: 5
            })
        %>

        <!--Victory Road-->
        <%- include('templates/mapDungeon',
            { name: "Victory Road"
            , x: 6, y: 12
            , width: 5, height: 8
            })
        %>

        <!--Cerulean Cave-->
        <%- include('templates/mapDungeon',
            { name: "Cerulean Cave"
            , x: 61, y: 5
            })
        %>

        <!-- ------------------ -->
        <!-- PLACES OF INTEREST -->
        <!-- ------------------ -->

        <%- include('templates/mapPOI',
            { name: "Pokémon Day Care"
            , x: 69, y: 13
            , width: 4, height: 3.5
            , databind: "click:function(){BreedingController.openBreedingModal()}, attr: { class: App.game.breeding.canAccess() ? 'completed' : 'locked' }"
            })
        %>

        <%- include('templates/mapPOI',
            { name: "Safari Zone"
            , x: 47, y: 39
            , width: 6, height: 5
            , databind: "click:function(){Safari.startSafari()}, attr: { class: Safari.canAccess() ? 'completed' : 'locked' }"
            })
        %>

        <%- include('templates/mapPOI',
            { name: "Underground Entrance"
            , x: 83, y: 30
            , width: 3, height: 4
            , databind: "click:function(){App.game.underground.openUndergroundModal()}, attr: { class: App.game.underground.canAccess() ? 'completed' : 'locked' }"
            })
        %>

        <%- include('templates/mapPOI',
            { name: "Farm"
            , x: 72, y: 40
            , width: 3, height: 3
            , databind: "click:function(){FarmController.openFarmModal()}, attr: { class: App.game.farming.canAccess() ? 'completed' : 'locked' }"
            })
        %>

        <%- include('templates/mapPOI',
            { name: "Dock"
            , x: 61, y: 35
            , width: 3, height: 2
            , databind: "click:function(){MapHelper.openShipModal()}, attr:{ class: player.highestRegion() >= 1 ? 'completed' : 'locked'}"
            })
        %>

        <%- include('templates/mapOverlay',
            { name: "S. S. Anne"
            , x: 58, y: 35
            , width: 8, height: 3
            , databind: "click:function(){MapHelper.openShipModal()}, attr:{ class: player.highestRegion() >= 1 ? 'completed' : 'locked'}"
            , visible:  "player.highestRegion() >= 1"
            , image: "assets/images/ship.png"
            })
        %>

        <%- include('templates/mapOverlay',
            { name: "Professor Oak's Blimp"
            , x: 27, y: 37
            , width: 6, height: 3
            , databind: "click:function(){MapHelper.moveToTown('Pallet Town')}, attr:{ class: MapHelper.calculateTownCssClass('Pallet Town') }"
            , visible:  "MapHelper.ableToTravel() && player.regionStarters[GameConstants.Region.kanto]() != GameConstants.Starter.Special"
            , image: "assets/images/map/blimp_empty.png"
            })
        %>

        <%- include('templates/mapOverlay',
            { name: "Professor Oak's Blimp"
            , x: 27, y: 37
            , width: 6, height: 3
            , databind: "click:function(){MapHelper.moveToTown('Pallet Town')}, attr:{ class: MapHelper.calculateTownCssClass('Pallet Town') }"
            , visible:  "MapHelper.ableToTravel() && player.regionStarters[GameConstants.Region.kanto]() == GameConstants.Starter.Special"
            , image: "assets/images/map/blimp_pikachu.png"
            })
        %>

        <%- include('templates/mapOverlay',
            { name: "Route 3 Pokémon Center"
            , x: 40, y: 10
            , width: 1, height: 1
            , databind: "click:function(){MapHelper.moveToTown('Route 3 Pokémon Center')}, attr:{ class: MapHelper.calculateTownCssClass('Route 3 Pokémon Center') }"
            , visible:  "App.game.statistics.routeKills['kanto'][3]() >= 10"
            , image: "assets/images/map/transparent.png"
            })
        %>

        <%- include('templates/mapOverlay',
            { name: "Professor Oak"
            , x: 27, y: 37
            , width: 4, height: 4
            , databind: "click:function(){MapHelper.moveToTown('Pallet Town')}, attr:{ class: MapHelper.calculateTownCssClass('Pallet Town') }"
            , visible:  "!MapHelper.ableToTravel() && player.highestRegion() == 0 && App.game.statistics.gymsDefeated[GameConstants.getGymIndex('Champion Blue')]() >= 1"
            , image: "assets/images/map/professor_oak.png"
            })
        %>

        <%- include('templates/mapOverlay',
            { name: "Rival Blue"
            , x: 17, y: 24
            , width: 4, height: 4
            , databind: "click: () => TemporaryBattleList['Blue 1'].protectedOnclick()"
            , visible:  "TemporaryBattleList['Blue 1'] && TemporaryBattleList['Blue 1'].isVisible()"
            , image: "assets/images/map/blue.png"
            })
        %>

        <%- include('templates/mapOverlay',
            { name: "Rival Blue"
            , x: 65.5, y: 5
            , width: 4, height: 4
            , databind: "click: () => TemporaryBattleList['Blue 2'].protectedOnclick()"
            , visible:  "TemporaryBattleList['Blue 2'] && TemporaryBattleList['Blue 2'].isVisible()"
            , image: "assets/images/map/blue.png"
            })
        %>

        <%- include('templates/mapOverlay',
            { name: "Rival Blue"
            , x: 62, y: 34
            , width: 4, height: 4
            , databind: "click: () => TemporaryBattleList['Blue 3'].protectedOnclick()"
            , visible:  "TemporaryBattleList['Blue 3'] && TemporaryBattleList['Blue 3'].isVisible()"
            , image: "assets/images/map/blue.png"
            })
        %>

        <%- include('templates/mapOverlay',
            { name: "Rival Blue"
            , x: 17, y: 24
            , width: 4, height: 4
            , databind: "click: () => TemporaryBattleList['Blue 6'].protectedOnclick()"
            , visible:  "TemporaryBattleList['Blue 6'] && TemporaryBattleList['Blue 6'].isVisible()"
            , image: "assets/images/map/blue.png"
            })
        %>

      <%- include('templates/mapOverlay',
            { name: "Ash Ketchum"
            , x: 18, y: 33
            , width: 4, height: 4
            , databind: "click: () => TemporaryBattleList['Ash Ketchum Kanto'].protectedOnclick()"
            , visible:  "TemporaryBattleList['Ash Ketchum Kanto'] && TemporaryBattleList['Ash Ketchum Kanto'].isVisible()"
            , image: "assets/images/map/ashketchumoverworld.png"
            })
        %>

        <%- include('templates/mapOverlay',
            { name: "Suicune"
            , x: 66, y: 34
            , width: 3, height: 4
            , databind: "click: () => TemporaryBattleList['Suicune 3'].protectedOnclick(), attr: { class: TemporaryBattleList['Suicune 3'].isUnlocked() ? '' : 'locked' }"
            , visible:  "TemporaryBattleList['Suicune 3'] && TemporaryBattleList['Suicune 3'].isVisible()"
            , image: "assets/images/map/suicune.png"
            })
        %>

        <%- include('templates/mapOverlay',
            { name: "Suicune"
            , x: 75, y: 43
            , width: 3, height: 4
            , databind: "click: () => TemporaryBattleList['Suicune 4'].protectedOnclick()"
            , visible:  "TemporaryBattleList['Suicune 4'] && TemporaryBattleList['Suicune 4'].isVisible()"
            , image: "assets/images/map/suicune.png"
            })
        %>

        <%- include('templates/mapOverlay',
            { name: "Suicune"
            , x: 80, y: 1
            , width: 3, height: 4
            , databind: "click: () => TemporaryBattleList['Suicune 5'].protectedOnclick()"
            , visible:  "TemporaryBattleList['Suicune 5'] && TemporaryBattleList['Suicune 5'].isVisible()"
            , image: "assets/images/map/suicune.png"
            })
        %>

        <%- include('templates/mapOverlay',
            { name: "Suicune"
            , x: 80, y: 1
            , width: 3, height: 4
            , databind: "click: () => TemporaryBattleList['Suicune 6'].protectedOnclick()"
            , visible:  "TemporaryBattleList['Suicune 6'] && TemporaryBattleList['Suicune 6'].isVisible()"
            , image: "assets/images/map/suicune.png"
            })
        %>

        <%- include('templates/mapOverlay',
            { name: "Snorlax"
            , x: 36, y: 19
            , width: 4, height: 4
            , databind: "click: () => TemporaryBattleList['Snorlax route 16'].protectedOnclick(), attr: { class: TemporaryBattleList['Snorlax route 16'].isUnlocked() ? '' : 'locked' }"
            , visible:  "TemporaryBattleList['Snorlax route 16'] && TemporaryBattleList['Snorlax route 16'].isVisible()"
            , image: "assets/images/map/snorlaxoverworld.png"
            })
        %>

        <%- include('templates/mapOverlay',
        { name: "Snorlax"
            , x: 87, y: 32
            , width: 4, height: 4
            , databind: "click: () => TemporaryBattleList['Snorlax route 12'].protectedOnclick(), attr: { class: TemporaryBattleList['Snorlax route 12'].isUnlocked() ? '' : 'locked' }"
            , visible:  "TemporaryBattleList['Snorlax route 12'] && TemporaryBattleList['Snorlax route 12'].isVisible()"
            , image: "assets/images/map/snorlaxoverworld.png"
            })
        %>
    %>
    </g>

    <g data-bind="visible: player.subregion == SubRegions.getSubRegion(GameConstants.Region.kanto, 'Sevii Islands 123').id">
        <image width="1600" height="960" data-bind="attr: {
            'xlink:href':'assets/images/kanto-sevii123.png?v=$VERSION',
            href:'assets/images/kanto-sevii123.png?v=$VERSION'
        }"></image>

        <!-- ------ -->
        <!-- ROUTES -->
        <!-- ------ -->

        <!--Treasure Beach-->
        <%- include('templates/mapRoute',
            { route: 26, region: 0
            , width: 6, height: 3
            , x: 7, y: 33
            , name: "T.B."
            , rotate: true
            })
        %>

        <!--Kindle Road-->
        <%- include('templates/mapRoute',
            { route: 27, region: 0
            , width: 26, height: 3
            , x: 11, y: 7
            , name: "Kindle Road"
            , rotate: true
            })
        %>

        <!--Cape Brink-->
        <%- include('templates/mapRoute',
            { route: 28, region: 0
            , width: 4, height: 3
            , x: 41, y: 29
            , name: "C.B."
            , rotate: true
            })
        %>

        <!--Bond Bridge-->
        <%- include('templates/mapRoute',
            { route: 29, region: 0
            , width: 12, height: 3
            , x: 64, y: 43
            , name: "B.B."
            })
        %>

        <!-- ----- -->
        <!-- TOWNS -->
        <!-- ----- -->

        <!--One Island-->
        <%- include('templates/mapTown',
            { name: "One Island"
            , x: 7, y: 29
            , width: 4, height: 4
            })
        %>

        <!--Mt. Ember-->
        <%- include('templates/mapTown',
            { name: "Mt. Ember"
            , x: 9, y: 1
            , width: 7, height: 6
            })
        %>

        <!--Two Island-->
        <%- include('templates/mapTown',
            { name: "Two Island"
            , x: 40, y: 33
            , width: 4, height: 4
            })
        %>

        <!--Three Island-->
        <%- include('templates/mapTown',
            { name: "Three Island"
            , x: 76, y: 43
            , width: 4, height: 4
            })
        %>

        <!--Professor Ivy's Lab-->
        <%- include('templates/mapTown',
            { name: "Professor Ivy\'s Lab"
            , x: 95, y: 32.5
            , width: 4, height: 3.5
            })
        %>
        <!--Professor Ivy's Lab extension-->
        <%- include('templates/mapTown',
            { name: "Professor Ivy\'s Lab"
            , x: 97.3, y: 36
            , width: 1.5, height: 0.4
            , isExtension: true
            })
        %>


        <!--Client Island-->
        <%- include('templates/mapOverlay',
            { x: 72, y: 6
            , width: 16, height: 16
            , databind: "style: {'pointer-events': 'none'}"
            , visible:  "App.isUsingClient && App.game.statistics.gymsDefeated[GameConstants.getGymIndex('Cinnabar Island')]() >= 1"
            , image: "assets/images/map/client_island.png"
            })
        %>
        <!--Client Island extension-->
        <%- include('templates/mapOverlay',
            { name: "Client Island"
            , x: 76, y: 12
            , width: 7, height: 4
            , databind: "click:function(){MapHelper.moveToTown('Client Island')}, attr:{ class: MapHelper.calculateTownCssClass('Client Island') }"
            , visible:  "App.isUsingClient && App.game.statistics.gymsDefeated[GameConstants.getGymIndex('Cinnabar Island')]() >= 1"
            , image: "assets/images/map/transparent.png"
            , connectedToTown: "Client Island"
            })
        %>
        <!--Client Island extension-->
        <%- include('templates/mapOverlay',
            { name: "Client Island"
            , x: 77, y: 16
            , width: 5, height: 1
            , databind: "click:function(){MapHelper.moveToTown('Client Island')}, attr:{ class: MapHelper.calculateTownCssClass('Client Island') }"
            , visible:  "App.isUsingClient && App.game.statistics.gymsDefeated[GameConstants.getGymIndex('Cinnabar Island')]() >= 1"
            , image: "assets/images/map/transparent.png"
            , isExtension: true
            })
        %>
        <!--Client Island extension-->
        <%- include('templates/mapOverlay',
            { name: "Client Island"
            , x: 77, y: 11
            , width: 6, height: 1
            , databind: "click:function(){MapHelper.moveToTown('Client Island')}, attr:{ class: MapHelper.calculateTownCssClass('Client Island') }"
            , visible:  "App.isUsingClient && App.game.statistics.gymsDefeated[GameConstants.getGymIndex('Cinnabar Island')]() >= 1"
            , image: "assets/images/map/transparent.png"
            , isExtension: true
            })
        %>
        <!--Client Island extension-->
        <%- include('templates/mapOverlay',
            { name: "Client Island"
            , x: 78, y: 10
            , width: 3, height: 1
            , databind: "click:function(){MapHelper.moveToTown('Client Island')}, attr:{ class: MapHelper.calculateTownCssClass('Client Island') }"
            , visible:  "App.isUsingClient && App.game.statistics.gymsDefeated[GameConstants.getGymIndex('Cinnabar Island')]() >= 1"
            , image: "assets/images/map/transparent.png"
            , isExtension: true
            })
        %>

        <!-- -------- -->
        <!-- DUNGEONS -->
        <!-- -------- -->

        <!--Mt. Ember Summit-->
        <%- include('templates/mapDungeon',
            { name: "Mt. Ember Summit"
            , x: 9, y: 1
            , width: 7, height: 6
            ,invisible: true
            })
        %>

        <!--Berry Forest-->
        <%- include('templates/mapDungeon',
            { name: "Berry Forest"
            , x: 56, y: 41
            , width: 8, height: 5
            })
        %>
        <!--Berry Forest extension-->
        <%- include('templates/mapDungeon',
            { name: "Berry Forest"
            , x: 55, y: 41
            , width: 1, height: 3
            , isExtension: true
            })
        %>
        <!--Berry Forest extension-->
        <%- include('templates/mapDungeon',
            { name: "Berry Forest"
            , x: 56, y: 40
            , width: 7, height: 1
            , isExtension: true
            })
        %>

        <!-- ------------------ -->
        <!-- PLACES OF INTEREST -->
        <!-- ------------------ -->

        <!--Dock-->
        <%- include('templates/mapPOI',
            { name: "Dock"
            , x: 4, y: 31
            , width: 3, height: 2
            , databind: "click:function(){MapHelper.openShipModal()}, attr: { class: MapHelper.calculateTownCssClass('One Island') }"
            })
        %>
    </g>

    <g data-bind="visible: player.subregion == SubRegions.getSubRegion(GameConstants.Region.kanto, 'Sevii Islands 4567').id">
        <image width="1600" height="960" data-bind="attr: {
            'xlink:href':'assets/images/kanto-sevii4567.png?v=$VERSION',
            href:'assets/images/kanto-sevii4567.png?v=$VERSION'
        }"></image>

        <!-- ------ -->
        <!-- ROUTES -->
        <!-- ------ -->

        <!--Five Isle Meadow-->
        <%- include('templates/mapRoute',
            { route: 30, region: 0
            , width: 3, height: 6.5
            , x: 73, y: 21
            , name: "FIM"
            })
        %>

        <!--Five Isle Meadow extension-->
        <%- include('templates/mapRoute',
            { route: 30, region: 0
            , width: 2, height: 3
            , x: 71, y: 21
            , noText: true
            })
        %>

        <!--Five Isle Meadow extension-->
        <%- include('templates/mapRoute',
            { route: 30, region: 0
            , width: 4, height: 3
            , x: 73, y: 31
            , noText: true
            })
        %>

        <!--Memorial Pillar-->
        <%- include('templates/mapRoute',
            { route: 31, region: 0
            , width: 3, height: 8
            , x: 77, y: 31
            , name: "MP"
            })
        %>

        <!--Water Labyrinth-->
        <%- include('templates/mapRoute',
            { route: 32, region: 0
            , width: 8, height: 3
            , x: 59, y: 18
            , name: "WL"
            })
        %>

        <!--Water Labyrinth extension-->
        <%- include('templates/mapRoute',
            { route: 32, region: 0
            , width: 3, height: 2
            , x: 67, y: 18
            , noText: true
            })
        %>

        <!--Resort Gorgeous-->
        <%- include('templates/mapRoute',
            { route: 33, region: 0
            , width: 11, height: 3
            , x: 67, y: 15
            , name: "RG"
            })
        %>

        <!--Water Path-->
        <%- include('templates/mapRoute',
            { route: 34, region: 0
            , width: 3, height: 15
            , x: 57, y: 37
            , name: "WP"
            })
        %>

        <!--Water Path extension-->
        <%- include('templates/mapRoute',
            { route: 34, region: 0
            , width: 2, height: 3
            , x: 55, y: 44
            , noText: true
            })
        %>

        <!--Water Path extension-->
        <%- include('templates/mapRoute',
            { route: 34, region: 0
            , width: 1, height: 2
            , x: 56, y: 50
            , noText: true
            })
        %>

        <!--Green Path-->
        <%- include('templates/mapRoute',
            { route: 35, region: 0
            , width: 6, height: 3
            , x: 45, y: 37
            , name: "GP"
            })
        %>

        <!--Green Path extension-->
        <%- include('templates/mapRoute',
            { route: 35, region: 0
            , width: 1, height: 3
            , x: 56, y: 37
            , noText: true
            })
        %>

        <!--Outcast Island-->
        <%- include('templates/mapRoute',
            { route: 36, region: 0
            , width: 3, height: 8
            , x: 45, y: 29
            , name: "OI"
            })
        %>

        <!--Ruin Valley-->
        <%- include('templates/mapRoute',
            { route: 37, region: 0
            , width: 7, height: 2
            , x: 49, y: 50
            , name: "RV"
            })
        %>

        <!--Ruin Valley extension-->
        <%- include('templates/mapRoute',
            { route: 37, region: 0
            , width: 2, height: 5
            , x: 49, y: 52
            , noText: true
            })
        %>

        <!--Ruin Valley extension-->
        <%- include('templates/mapRoute',
            { route: 37, region: 0
            , width: 5, height: 2
            , x: 51, y: 55
            , noText: true
            })
        %>

        <!--Ruin Valley extension-->
        <%- include('templates/mapRoute',
            { route: 37, region: 0
            , width: 2, height: 3
            , x: 54, y: 52
            , noText: true
            })
        %>

        <!--Canyon Entrance-->
        <%- include('templates/mapRoute',
            { route: 38, region: 0
            , width: 3, height: 10
            , x: 24, y: 31
            , name: "CE"
            })
        %>

        <!--Canyon Entrance extension-->
        <%- include('templates/mapRoute',
            { route: 38, region: 0
            , width: 1, height: 3
            , x: 27, y: 38
            , noText: true
            })
        %>

        <!--Sevault Canyon-->
        <%- include('templates/mapRoute',
            { route: 39, region: 0
            , width: 3, height: 12
            , x: 28, y: 38
            , name: "SC"
            })
        %>

        <!--Valencia Island-->
        <%- include('templates/mapRoute',
            { route: 40, region: 0
            , width: 2, height: 4
            , x: 3, y: 9
            , name: "VI"
            })
        %>
        <!--Valencia Island extension-->
        <%- include('templates/mapRoute',
            { route: 40, region: 0
            , width: 2, height: 3
            , x: 4, y: 6
            , noText: true
            })
        %>
        <!--Valencia Island extension-->
        <%- include('templates/mapRoute',
            { route: 40, region: 0
            , width: 1, height: 2
            , x: 3, y: 7
            , noText: true
            })
        %>

        <!--Pinkan Forest-->
        <%- include('templates/mapRoute',
            { route: 41, region: 0
            , width: 5, height: 13
            , x: 45, y: 3
            , name: "PF"
            })
        %>
        <!--Pinkan Forest extension-->
        <%- include('templates/mapRoute',
            { route: 41, region: 0
            , width: 6, height: 1
            , x: 39, y: 3
            , noText: true
            })
        %>
        <!--Pinkan Forest extension-->
        <%- include('templates/mapRoute',
            { route: 41, region: 0
            , width: 4, height: 1
            , x: 43, y: 2
            , noText: true
            })
        %>
        <!--Pinkan Forest extension-->
        <%- include('templates/mapRoute',
            { route: 41, region: 0
            , width: 1, height: 3
            , x: 50, y: 8
            , noText: true
            })
        %>
        <!--Pinkan Forest extension-->
        <%- include('templates/mapRoute',
            { route: 41, region: 0
            , width: 3, height: 3
            , x: 42, y: 11
            , noText: true
            })
        %>
        <!--Pinkan Forest extension-->
        <%- include('templates/mapRoute',
            { route: 41, region: 0
            , width: 2, height: 1
            , x: 43, y: 10
            , noText: true
            })
        %>
        <!--Pinkan Forest extension-->
        <%- include('templates/mapRoute',
            { route: 41, region: 0
            , width: 1, height: 2
            , x: 44, y: 14
            , noText: true
            })
        %>
        <!--Pinkan Forest extension-->
        <%- include('templates/mapRoute',
            { route: 41, region: 0
            , width: 6, height: 1
            , x: 42, y: 16
            , noText: true
            })
        %>

        <!--Pinkan Plains-->
        <%- include('templates/mapRoute',
            { route: 42, region: 0
            , width: 3, height: 5
            , x: 39, y: 9
            , name: "PP"
            })
        %>
        <!--Pinkan Plains extension-->
        <%- include('templates/mapRoute',
            { route: 42, region: 0
            , width: 3, height: 1
            , x: 42, y: 9
            , noText: true
            })
        %>
        <!--Pinkan Plains extension-->
        <%- include('templates/mapRoute',
            { route: 42, region: 0
            , width: 1, height: 1
            , x: 42, y: 10
            , noText: true
            })
        %>
        <!--Pinkan Plains extension-->
        <%- include('templates/mapRoute',
            { route: 42, region: 0
            , width: 1, height: 1
            , x: 39, y: 14
            , noText: true
            })
        %>
        <!--Pinkan Plains extension-->
        <%- include('templates/mapRoute',
            { route: 42, region: 0
            , width: 7, height: 1
            , x: 33, y: 15
            , noText: true
            })
        %>
        <!--Pinkan Plains extension-->
        <%- include('templates/mapRoute',
            { route: 42, region: 0
            , width: 1, height: 2
            , x: 34, y: 7
            , noText: true
            })
        %>
        <!--Pinkan Plains extension-->
        <%- include('templates/mapRoute',
            { route: 42, region: 0
            , width: 5, height: 1.5
            , x: 34, y: 9
            , noText: true
            })
        %>

        <!-- ----- -->
        <!-- TOWNS -->
        <!-- ----- -->

        <!--Four Island-->
        <%- include('templates/mapTown',
            { name: "Four Island"
            , x: 20, y: 13
            , width: 4, height: 3
            })
        %>

        <!--Four Island extension-->
        <%- include('templates/mapTown',
            { name: "Four Island"
            , x: 20, y: 11
            , width: 3, height: 1
            , isExtension: true
            })
        %>

        <!--Five Island-->
        <%- include('templates/mapTown',
            { name: "Five Island"
            , x: 67, y: 20
            , width: 4, height: 4
            })
        %>

        <!--Rocket Warehouse-->
        <%- include('templates/mapTown',
            { name: "Rocket Warehouse"
            , x: 72, y: 27.5
            , width: 4, height: 3.5
            })
        %>

        <!--Six Island-->
        <%- include('templates/mapTown',
            { name: "Six Island"
            , x: 51, y: 43
            , width: 4, height: 4
            })
        %>

        <!--Dotted Hole-->
        <%- include('templates/mapTown',
            { name: "Dotted Hole"
            , x: 51, y: 52
            , width: 3, height: 3
            })
        %>

        <!--Seven Island-->
        <%- include('templates/mapTown',
            { name: "Seven Island"
            , x: 24, y: 26
            , width: 4, height: 4
            })
        %>

        <!--Mikan Island-->
        <%- include('templates/mapTown',
            { name: "Mikan Island"
            , x: 4, y: 50.5
            , width: 4, height: 5.5
            })
        %>

        <!--Navel Island-->
        <%- include('templates/mapTown',
            { name: "Navel Island"
            , x: 89, y: 8
            , width: 2, height: 4
            })
        %>

        <!--Trovita Island-->
        <%- include('templates/mapTown',
            { name: "Trovita Island"
            , x: 58, y: 4
            , width: 4, height: 4
            })
        %>

        <!--Kumquat Island-->
        <%- include('templates/mapTown',
            { name: "Kumquat Island"
            , x: 6, y: 23
            , width: 6, height: 10
            })
        %>

        <!--Pummelo Island-->
            <%- include('templates/mapTown',
            { name: "Pummelo Island"
            , x: 88, y: 51
            , width: 7, height: 4
            })
        %>

        <!--Valencia Pokémon Center-->
        <%- include('templates/mapTown',
            { name: "Valencia Pokémon Center"
            , x: 3, y: 2.5
            , width: 4, height: 3.5
            })
        %>

        <!--Pinkan Pokémon Reserve-->
        <%- include('templates/mapTown',
            { name: "Pinkan Pokémon Reserve"
            , x: 33, y: 10.5
            , width: 6, height: 4.5
            })
        %>

        <!-- -------- -->
        <!-- DUNGEONS -->
        <!-- -------- -->

        <!--Icefall Cave-->
        <%- include('templates/mapDungeon',
            { name: "Icefall Cave"
            , x: 23, y: 10
            , width: 3, height: 3
            })
        %>

        <!--Icefall Cave extension-->
        <%- include('templates/mapDungeon',
            { name: "Icefall Cave"
            , x: 20, y: 10
            , width: 3, height: 2
            , isExtension: true
            })
        %>

        <!--Lost Cave-->
        <%- include('templates/mapDungeon',
            { name: "Lost Cave"
            , x: 79, y: 15
            , width: 3, height: 3
            })
        %>

        <!--Lost Cave extension-->
        <%- include('templates/mapDungeon',
            { name: "Lost Cave"
            , x: 89, y: 12
            , width: 3, height: 2
            })
        %>

        <!--Altering Cave-->
        <%- include('templates/mapDungeon',
            { name: "Altering Cave"
            , x: 44, y: 26
            , width: 5, height: 3
            })
        %>

        <!--Altering Cave extension-->
        <%- include('templates/mapDungeon',
            { name: "Altering Cave"
            , x: 40, y: 14
            , width: 4, height: 2
            })
        %>

        <!--Altering Cave extension-->
        <%- include('templates/mapDungeon',
            { name: "Altering Cave"
            , x: 40, y: 16
            , width: 2, height: 1
            , isExtension: true
            })
        %>

        <!--Pattern Bush-->
        <%- include('templates/mapDungeon',
            { name: "Pattern Bush"
            , x: 51, y: 36
            , width: 5, height: 4
            })
        %>

        <!--Tanoby Ruins-->
        <%- include('templates/mapDungeon',
            { name: "Tanoby Ruins"
            , x: 19, y: 50
            , width: 20, height: 4
            })
        %>

        <!--Sunburst Island-->
        <%- include('templates/mapDungeon',
            { name: "Sunburst Island"
            , x: 76, y: 39
            , width: 5, height: 3
            })
        %>

        <!--Sunburst Island extension-->
        <%- include('templates/mapDungeon',
            { name: "Sunburst Island"
            , x: 76, y: 42
            , width: 2, height: 1
            , isExtension: true
            })
        %>

        <!--Pinkan Mountain-->
        <%- include('templates/mapDungeon',
            { name: "Pinkan Mountain"
            , x: 35, y: 4
            , width: 10, height: 5
            })
        %>

        <!-- ------------------ -->
        <!-- PLACES OF INTEREST -->
        <!-- ------------------ -->

        <!--Dock-->
        <%- include('templates/mapPOI',
            { name: "Dock"
            , x: 63, y: 22
            , width: 3, height: 2
            , databind: "click:function(){MapHelper.openShipModal()}, attr: { class: MapHelper.calculateTownCssClass('Five Island') }"
            })
        %>

        <%- include('templates/mapOverlay',
            { name: "Ash Ketchum"
            , x: 38, y: 3
            , width: 4, height: 4
            , databind: "click: () => TemporaryBattleList['Ash Ketchum Pinkan'].protectedOnclick()"
            , visible:  "TemporaryBattleList['Ash Ketchum Pinkan'] && TemporaryBattleList['Ash Ketchum Pinkan'].isVisible()"
            , image: "assets/images/map/ashketchumoverworld.png"
            })
        %>
    </g>

</g>
