<div class="modal noselect fade" id="logBookModal" tabindex="-1" role="dialog" aria-labelledby="logBookModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style='justify-content: space-around;'>
                <h5 class="modal-title">Log Book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <table class="table table-striped table-hover table-bordered table-sm m-0">
                    <thead>
                      <tr>
                        <th>Type</th>
                        <th>Message</th>
                        <th>Date</th>
                      </tr>
                    </thead>
                    <tbody data-bind="foreach: App.game.logbook.logs">
                      <tr>
                        <td class="tight" data-bind="html:type.label, class: 'table-' + type.display"></td>
                        <td class="text-left" data-bind="text:description">-</td>
                        <td class="text-left"><code data-bind="text:new Date(date).toLocaleString()">-</code></td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
