<div class="modal noselect fade" id="logBookModal" tabindex="-1" role="dialog" aria-labelledby="logBookModalLabel">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style='justify-content: space-around;'>
                <h5 class="modal-title">Log Book</h5>
                <button class="btn btn-secondary" type="button" data-toggle="collapse" style="margin-left: 25px;"
                        data-target="#log-book-filter" aria-expanded="false" aria-controls="breeding-filter">
                    Filters
                </button>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body p-0">
                <div class="form-row collapse" id="log-book-filter" style="width: 100%" data-bind="foreach: Object.keys(App.game.logbook.filters)">
                      <button class="btn col" data-bind="text: $data.replace(/_/g, ' '), css: { [`btn-outline-${LogBookTypes[$data].display}`]: !App.game.logbook.filters[$data](), [`btn-${LogBookTypes[$data].display}`]: App.game.logbook.filters[$data]() }, click: () => App.game.logbook.filters[$data](!App.game.logbook.filters[$data]())" onclick="this.blur()">filter</button>
                </div>
                <table class="table table-striped table-hover table-bordered table-sm m-0">
                    <thead>
                      <tr>
                        <th>Type</th>
                        <th style="width:65%">Message</th>
                        <th>Date</th>
                      </tr>
                    </thead>
                    <tbody data-bind="foreach: App.game.logbook.filteredLogs()">
                      <tr>
                        <td class="tight" data-bind="text: type.label, class: 'table-' + type.display"></td>
                        <td class="text-left" data-bind="text: description">-</td>
                        <td class="text-left"><code data-bind="text: new Date(date).toLocaleString()">-</code></td>
                      </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
