<div class="modal" data-keyboard="false" data-backdrop="static" id="mobileWarningModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header bg-info">
                <h5 class="modal-title">Mobile Device Detected</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p></p>
                <i class="text-warning">
                    Please Note:<br />
                    You may experience performance issues playing on mobile, especially on older models.
                    <br /><br />
                    While it is possible to play on a phone or tablet, please be aware that the controls and features are designed with a mouse and keyboard in mind and may not work as well on a mobile device.
                    <br /><br />
                    For the best gameplay experience we highly recommend playing on a PC browser or our desktop client by <b><a href="https://github.com/RedSparr0w/Pokeclicker-desktop/releases/latest" target="_blank"> downloading here</a></b>.<br />
                    Thank you!
                </i>
                <hr />
                <i>
                    If you encounter any issues while playing on mobile, non-related to performance, please submit them on <a href="https://discord.gg/a6DFe4p" target="_blank">Discord</a>
                    or <a href="https://github.com/pokeclicker/pokeclicker/issues" target="_blank">GitHub</a>.
                </i>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Let's GO!</button>
            </div>
        </div>
    </div>
</div>
