<div class="modal fade noselect" id="npc-modal" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body text-center">
        <u><h5 class="npc-name">NPC Name</h5></u><br/>
        <img class="npc-image" src=""/>
        <div class="npc-dialog"></div>
        <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>