<div class="modal fade noselect" id="npc-modal" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-body text-center" data-bind="with: NPCController.selectedNPC">
        <u><h5 class="npc-name" data-bind="text: $data.name"></h5></u>
        <img class="npc-image" data-bind="visible: $data.options.image, attr: { src: $data.options.image }" />
        <div class="npc-dialog" data-bind="html: $data.dialogHTML"></div>
        <!-- ko ifnot: $data.type == NPCType.Gift -->
        <button type="button" class="btn btn-primary btn-block" data-dismiss="modal">Close</button>
        <!-- /ko -->
        <!-- ko if: $data.type == NPCType.Gift -->
        <img class="npc-gift-image mb-4" data-bind="visible: $data.giftImage, attr: { src: $data.giftImage }" />
        <div class="d-flex">
          <button type="button" class="btn btn-success col mr-1" data-dismiss="modal"
            data-bind="click: () => $data.acceptGift()">Accept</button>
          <button type="button" class="btn btn-primary col ml-1" data-dismiss="modal">Close</button>
        </div>
        <!-- /ko -->
      </div>
    </div>
  </div>
</div>
