<div class="card border-secondary mb-3" id="oakItemsContainer"
data-bind="visible: App.game.oakItems.canAccess()">
    <div class="card-header p-0" data-toggle="collapse" href="#oakItemsBody">
        <div>
            <span style="text-align:center" data-bind="text: 'Oak Items Equipped: ' + App.game.oakItems.activeCount() + '/' + App.game.oakItems.maxActiveCount()"></span>
        </div>
        <button type="button" class="btn btn-info" style="position: absolute; right: 0px; top: 0px; width: auto; height: 41px; padding: 4px;"
            data-bind="tooltip: { title: 'Activate Oak items to gain unique bonuses. When an Oak item has gained enough experience you can level it up with money to boost its effect.', trigger: 'hover', placement:'left' }">?</button>
    </div>
    <div id="oakItemsBody" class="card-body show">
        <div class="row" data-bind="foreach: App.game.oakItems.itemList">
            <div class="col-xs-4 col-3 col-md-3 p-2">
                <button class="p-0 btn"
                    data-bind="css: {
                       'btn-primary': $data.isActive,
                       'btn-outline-secondary': !$data.isActive
                     }">
                    <img class="clickable" src=""
                         data-bind="attr:{ src: 'assets/images/oakitems/' + OakItems.OakItem[$data.name] + '.png'},
                          css: {
                            'oak-item-locked': !App.game.oakItems.isUnlocked($data.name),
                            'flash': $data.hasEnoughExp()
                          },
                          event: {
                            mouseover: function(){OakItemController.hover($data.name)},
                            click: function(){OakItemController.click($data.name)},
                            mouseout : function(){OakItemController.hoverRelease()}
                          }">
                  </button>
            </div>
        </div>
        <hr/>
        <div class="oak-item-info">
            <div class="text-center">
                <strong><h5 data-bind="text: GameConstants.humanifyString(OakItems.OakItem[OakItemController.inspectedItem])"></h5></strong>
            </div>

            <!-- ko if: App.game.oakItems.isUnlocked(OakItemController.inspectedItem) -->
            <div class="text-center">
                <p data-bind="text: App.game.oakItems.itemList[OakItemController.inspectedItem].description"></p>
            </div>
            <div class="row justify-content-sm-center">
                <div class="col-sm-11 col-md-8">
                    <div class="progress"
                         data-bind="value: '$data.normalizedExp'">
                        <div class="progress-bar bg-success" role="progressbar"
                             data-bind="
                               attr:{
                                 style: 'width:' + (App.game.oakItems.itemList[OakItemController.inspectedItem].isMaxLevel() ? 100 : App.game.oakItems.itemList[OakItemController.inspectedItem].expPercentage) + '%'
                               },
                               css: {
                                 'bg-success': !App.game.oakItems.itemList[OakItemController.inspectedItem].isMaxLevel(),
                                 'bg-primary': App.game.oakItems.itemList[OakItemController.inspectedItem].isMaxLevel(),
                               }"
                             aria-valuemin="0" aria-valuemax="100">
                            <span data-bind="hidden: App.game.oakItems.itemList[OakItemController.inspectedItem].hasEnoughExp() || App.game.oakItems.itemList[OakItemController.inspectedItem].isMaxLevel(), html: App.game.oakItems.itemList[OakItemController.inspectedItem].progressString"></span>
                            <div data-bind="if:App.game.oakItems.itemList[OakItemController.inspectedItem].hasEnoughExp() || App.game.oakItems.itemList[OakItemController.inspectedItem].isMaxLevel(),
                                        disable: !App.game.oakItems.itemList[OakItemController.inspectedItem].canBuy()">
                                <!-- ko if: App.game.oakItems.itemList[OakItemController.inspectedItem].isMaxLevel() -->
                                <div class="btn-default">Max level!</div>
                                <!-- /ko -->

                                <!-- ko ifnot: App.game.oakItems.itemList[OakItemController.inspectedItem].isMaxLevel() -->
                                <div class="btn-default"
                                     data-bind="
                                      click: function(){
                                        App.game.oakItems.itemList[OakItemController.inspectedItem].buy();
                                      },
                                        html: 'Upgrade (' + App.game.oakItems.itemList[OakItemController.inspectedItem].calculateCost().amount.toLocaleString('en-US') + ' <img src=assets/images/currency/money.png height=14px/>)'">
                                    Upgrade!
                                </div>
                                    <!-- /ko -->
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-6">
                    Lvl. <span data-bind="text: App.game.oakItems.itemList[OakItemController.inspectedItem].level"></span>
                </div>
                <div class="col-6">
                    <!-- ko if: OakItemController.inspectedItem === OakItems.OakItem.Magic_Ball -->
                    Bonus: <span data-bind="text: App.game.oakItems.itemList[OakItemController.inspectedItem].calculateBonusIfActive()"></span>%
                    <!-- /ko -->
                    <!-- ko ifnot: OakItemController.inspectedItem === OakItems.OakItem.Magic_Ball -->
                    Bonus: <span data-bind="text: App.game.oakItems.itemList[OakItemController.inspectedItem].calculateBonusIfActive()"></span>x
                    <!-- /ko -->
                </div>
            </div>
            <!-- /ko -->
            <!-- ko ifnot: App.game.oakItems.isUnlocked(OakItemController.inspectedItem) -->
            <div style="min-height:80px; vertical-align: center">
                Capture <span data-bind="text: App.game.oakItems.itemList[OakItemController.inspectedItem].unlockReq - App.game.party.caughtPokemon.length"></span> more unique Pokémon to
                unlock!
            </div>
            <!-- /ko -->
        </div>
    </div>

</div>
