<div id="oakItemsContainer" class="card sortable border-secondary mb-3" data-bind="visible: App.game.oakItems.canAccess() && !(Settings.getSetting('hideChallengeRelatedModules').observableValue() && App.game.challenges.list.disableOakItems.active())">
    <div class="card-header p-0" data-toggle="collapse" href="#oakItemsBody">
        <span style="text-align:center">Oak Items</span>
    </div>
    <button class='btn btn-sm btn-primary' style="position: absolute; right: 0px; top: 0px; width: auto; height: 41px;" href="#oakItemsModal" data-toggle="modal">
        List
    </button>

    <div id="oakItemsBody" class="card-body show p-2">
        <div class="" style="display: grid; grid-template-columns: repeat(auto-fit, minmax(20px, 1fr)); gap: 1rem;">
            <!-- ko foreach: App.game.oakItems.itemList.filter(item => item.isActive) -->
            <div class="d-flex flex-column align-items-center" style="gap: 0.25rem">
                <div class="card clickable" style="aspect-ratio: 1 / 1; max-height: 60px;" href="#oakItemsModal" data-toggle="modal" data-bind=",
                    event: { contextmenu: () => App.game.oakItems.deactivate($data.name) },
                    tooltip: {
                        title: `<u>${$data.displayName}</u><br>${$data.description}<br><br>Level: ${$data.level} / ${$data.maxLevel}<br>Bonus: ${$data.formatBonus()}`,
                        html: true,
                        trigger: 'hover',
                        placement: 'bottom'
                    }
                ">
                    <div class="card-body p-0 d-flex flex-column justify-content-center align-items-center">
                        <img class="w-100" data-bind="attr: { src: `assets/images/oakitems/${OakItemType[$data.name]}.png` }">
                    </div>
                </div>

                <!-- ko ifnot: $data.isMaxLevel -->
                <div class="progress w-100">
                    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" data-bind="
                        css: {
                            'bg-warning': $data.experiencePercentage < 1,
                            'bg-success': $data.experiencePercentage >= 1
                        },
                        style: {
                            width: $data.normalizedExperiencePercentage.toLocaleString('en-US', { style: 'percent' })
                        }
                    ">
                        <!-- ko if: $data.experiencePercentage < 1 -->
                        <span>
                            <knockout data-bind="text: $data.normalizedExperience.toLocaleString('en-US')"></knockout> / <knockout data-bind="text: ($data.getExperienceForLevel($data.level + 1) - $data.getExperienceForLevel()).toLocaleString('en-US')"></knockout>
                        </span>
                        <!-- /ko -->
                        <!-- ko if: $data.experiencePercentage >= 1 -->
                        <span class="clickable" href="#oakItemDetailModal" data-toggle="modal" data-bind="
                            click: () => {
                                App.game.oakItems.selectedOakItem($data.name);
                            }
                        ">
                            Upgrade
                        </span>
                        <!-- /ko -->
                    </div>
                </div>
                <!-- /ko -->

                <!-- ko if: $data.isMaxLevel -->
                <div class="progress w-100">
                    <div class="progress-bar bg-primary" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span>
                            MAXED
                        </span>
                    </div>
                </div>
                <!-- /ko -->
            </div>
            <!-- /ko -->

            <!-- ko foreach: new Array(App.game.oakItems.maxActiveCount() - App.game.oakItems.itemList.filter(item => item.isActive).length).fill(0) -->
            <div>
                <div class="card clickable" style="aspect-ratio: 1 / 1; max-height: 60px;" href="#oakItemsModal" data-toggle="modal">
                    <div class="card-body p-0 d-flex justify-content-center align-items-center">
                        <code>Empty</code>
                    </div>
                </div>
            </div>
            <!-- /ko -->

            <!-- ko foreach: App.game.oakItems.unlockRequirements.filter(requirement => !requirement.isCompleted()) -->
            <div>
                <div class="card" style="aspect-ratio: 1 / 1; max-height: 60px;" data-bind="
                    tooltip: {
                        title: $data.hint(),
                        placement: 'bottom',
                        trigger: 'hover'
                    }
                ">
                    <div class="card-body p-0 d-flex justify-content-center align-items-center">
                        <img width="24px" class="lock" src="assets/images/breeding/lock.svg" />
                    </div>
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>

    <div class="card-header p-0" data-toggle="collapse" data-target=".multi-collapse" aria-controls="oakItemLoadout-small oakItemLoadout-big">
        <span style="text-align:center">Loadouts</span>
    </div>
    <div id="oakItemLoadout-small" class="collapse multi-collapse hide">
        <div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(30px, 1fr))">
            <!-- ko foreach: App.game.oakItemLoadouts.loadouts -->
            <button class="btn btn-primary" data-bind="
                text: $index(),
                click: () => App.game.oakItemLoadouts.activateLoadout($index()),
                tooltip: {
                    title: $data.htmlTooltip,
                    html: true,
                    trigger: 'hover',
                    placement: 'bottom'
                }
            "></button>
            <!-- /ko -->
        </div>
    </div>

    <div id="oakItemLoadout-big" class="collapse multi-collapse show">
        <div>
            <table class="table table-bordered table-striped m-0">
                <tbody>
                <!-- ko foreach: App.game.oakItemLoadouts.loadouts.filter(value => value.loadout().length > 0) -->
                <tr class="clickable" data-bind="click: () => App.game.oakItemLoadouts.activateLoadout($index())">
                    <td class="vertical-middle text-left font-weight-bold tight p-1" data-bind="text: $data.name"></td>
                    <!-- ko foreach: $data.loadout -->
                    <td class="vertical-middle text-center tight p-1">
                        <img height="32" data-bind="attr: { src: `assets/images/oakitems/${OakItemType[$data]}.png` }">
                    </td>
                    <!-- /ko -->

                    <!-- ko foreach: new Array(App.game.oakItems.maxActiveCount() - $data.loadout().length).fill(0) -->
                    <td></td>
                    <!-- /ko -->
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>




<!--    <div id="oakItemsBody" class="card-body show p-0">-->
<!--      <table class="table table-bordered table-striped m-0">-->
<!--        &lt;!&ndash;-->
<!--        <thead>-->
<!--          <tr>-->
<!--            <td class="clickable table-primary p-0" colspan="2" href="#oakItemsModal" data-toggle="modal">-->
<!--              Open menu-->
<!--            </td>-->
<!--          <tr>-->
<!--        </thead>-->
<!--        &ndash;&gt;-->
<!--        <tbody data-bind="foreach: App.game.oakItems.itemList">-->
<!--          <tr data-bind="if: $data.isActive, tooltip: { html: true, title: $data.tooltip, trigger: 'hover', placement:'bottom' }">-->
<!--            <td class="tight p-1">-->
<!--              <img class="clickable" href="#oakItemsModal" data-toggle="modal" src="" data-bind="attr:{ src: 'assets/images/oakitems/' + OakItemType[$data.name] + '.png'}" width="32px">-->
<!--            </td>-->
<!--            <td class="p-0">-->
<!--              <div class="progress" style="height: 40px;">-->
<!--                  <div class="progress-bar bg-primary" role="progressbar"-->
<!--                      data-bind="attr:{ style: 'width:' + ($data.isMaxLevel() ? 100 : $data.expPercentage) + '%' },-->
<!--                         css: {-->
<!--                           'bg-success': $data.hasEnoughExp() && !$data.isMaxLevel(),-->
<!--                           'bg-primary': !$data.hasEnoughExp() || $data.isMaxLevel(),-->
<!--                         }"-->
<!--                      aria-valuemin="0" aria-valuemax="100">-->
<!--                      &lt;!&ndash; ko if: !$data.hasEnoughExp() && !$data.isMaxLevel() &ndash;&gt;-->
<!--                      <span data-bind="text: $data.progressString" style="font-size: 15px;"></span>-->
<!--                      &lt;!&ndash; /ko &ndash;&gt;-->
<!--                      &lt;!&ndash; ko if: $data.hasEnoughExp() && !$data.isMaxLevel() &ndash;&gt;-->
<!--                      <span class="clickable" data-bind="html: 'Upgrade (' + $data.calculateCost().amount.toLocaleString('en-US') + ' <img src=assets/images/currency/' + GameConstants.Currency[$data.calculateCost().currency] + '.svg height=18px/>)',-->
<!--                        click: function(){ $data.buy(); }" style="font-size: 15px;">-->
<!--                        Upgrade-->
<!--                      </span>-->
<!--                      &lt;!&ndash; /ko &ndash;&gt;-->
<!--                      &lt;!&ndash; ko if: $data.isMaxLevel() &ndash;&gt;-->
<!--                      <span style="font-size: 15px;">MAX LEVEL!</span>-->
<!--                      &lt;!&ndash; /ko &ndash;&gt;-->
<!--                  </div>-->
<!--              </div>-->
<!--            </td>-->
<!--          </tr>-->
<!--        </tbody>-->
<!--        &lt;!&ndash; ko if: App.game.oakItems.hasAvailableSlot() && !App.game.challenges.list.disableOakItems.active() &ndash;&gt;-->
<!--        <tfoot>-->
<!--          <tr>-->
<!--            <td class="clickable table-warning text-light" colspan="2" href="#oakItemsModal" data-toggle="modal">-->
<!--              Equip another Oak Item!-->
<!--            </td>-->
<!--          </tr>-->
<!--        </tfoot>-->
<!--        &lt;!&ndash; /ko &ndash;&gt;-->
<!--        &lt;!&ndash; ko if: App.game.challenges.list.disableOakItems.active() &ndash;&gt;-->
<!--        <tfoot>-->
<!--          <tr>-->
<!--            <td class="clickable table-danger text-light" colspan="2" href="#oakItemsModal" data-toggle="modal">-->
<!--              Oak Items are disabled.-->
<!--            </td>-->
<!--          </tr>-->
<!--        </tfoot>-->
<!--        &lt;!&ndash; /ko &ndash;&gt;-->
<!--      </table>-->
<!--    </div>-->
<!--    &lt;!&ndash; ko if: !App.game.challenges.list.disableOakItems.active() &ndash;&gt;-->
<!--    <div id="oakItemLoadout">-->
<!--      <table class="table table-bordered table-striped m-0">-->
<!--        <tr data-bind="foreach: App.game.oakItemLoadouts.loadouts">-->
<!--          <td class="p-1 tight">-->
<!--            <button class='btn btn-block btn-primary' style="height: 100%;"-->
<!--              data-bind='click: function(){ App.game.oakItemLoadouts.activateLoadout($index()) }, text: $index() + 1, tooltip: { title: $data.name(), trigger: "hover", placement: "bottom" }'>-->
<!--              1-->
<!--            </button>-->
<!--          </td>-->
<!--        </tr>-->
<!--      </table>-->
<!--    </div>-->
<!--    &lt;!&ndash; /ko &ndash;&gt;-->
</div>
