<div class="modal fade noselect" id="oakItemsModal" tabindex="-1" role="dialog" aria-badgeledby="oakItemsModal">
  <div class="modal-dialog modal-dialog-scrollable modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header p-0">
        <ul class="nav nav-tabs">
            <li class="nav-item"><a data-toggle='tab' class='p-2 nav-link active' href="#oakItemSelector">Selector</a></li>
            <li class='nav-item'><a data-toggle='tab' class='p-2 nav-link' href="#oakItemLoadouts">Loadouts</a></li>
        </ul>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div data-bind="visible: App.game.challenges.list.disableOakItems.active()" class="modal-body bg-danger my-0 py-0">
        Oak Items are disabled.
      </div>
      <div class="modal-body tab-content">
          <div id="oakItemSelector" class="tab-pane fade in active show">
            <div class="modal-header">
              <h5 style="position: left" data-bind="text: 'Oak Items Equipped: ' + App.game.oakItems.activeCount() + '/' + App.game.oakItems.maxActiveCount()">Oak Items</h5>
            </div>
            <ul class="row justify-content-center p-0 my-0"
              data-bind="foreach: App.game.oakItems.itemList"
              style="list-style-type: none;">
                <!-- ko if: $index() % 4 == 0 -->
                <div class="w-100"></div>
                <!-- /ko -->
                <li class="col p-1">
                    <button class="p-0 btn"
                        data-bind="css: {
                           'btn-primary': $data.isActive,
                           'btn-outline-secondary': !$data.isActive
                         }">
                        <img class="clickable" style="width: 80%;" src=""
                             data-bind="attr:{ src: 'assets/images/oakitems/' + OakItemType[$data.name] + '.png'},
                              css: {
                                'oak-item-locked': !App.game.oakItems.isUnlocked($data.name)
                              },
                              event: {
                                mouseover: function(){OakItemController.hover($data.name)},
                                click: function(){OakItemController.click($data.name);},
                              }">
                    </button>
                </li>
            </ul>
          </div>
          <div id="oakItemLoadouts" class="tab-pane fade">
            <div class="modal-header p-1">
              <select name="loadoutSelector" autocomplete="off" class="custom-select"
                onchange="App.game.oakItemLoadouts.selectedLoadout(this.value)">
                <!-- ko foreach: App.game.oakItemLoadouts.loadouts -->
                <option data-bind="text: $data.name, value: $index(), attr:{ selected: App.game.oakItemLoadouts.selectedLoadout() == $data.value}"></option>
                <!-- /ko -->
              </select>
            </div>
            <div class="form-row p-0" id="loadoutNameEdit">
                <div class="form-group col-12">
                    <label>Name</label>
                    <input autocomplete="off" class="form-control" placeholder="name" data-bind="textInput: App.game.oakItemLoadouts.getSelectedLoadout().name"/>
                </div>
            </div>
            <ul class="row justify-content-center p-0 my-0"
              data-bind="foreach: App.game.oakItems.itemList"
              style="list-style-type: none;">
                  <!-- ko if: $index() % 4 == 0 -->
                  <div class="w-100"></div>
                  <!-- /ko -->
                  <li class="col p-1">
                    <button class="p-0 btn"
                        data-bind="css: {
                          'btn-primary': App.game.oakItemLoadouts.hasItem($index())(),
                          'btn-outline-secondary': !App.game.oakItemLoadouts.hasItem($index())(),
                        }">
                        <img class="clickable" style="width: 80%;" src=""
                            data-bind="attr:{ src: 'assets/images/oakitems/' + OakItemType[$data.name] + '.png'},
                              css: {
                                'oak-item-locked': !App.game.oakItems.isUnlocked($data.name)
                              },
                              event: {
                                mouseover: function(){OakItemController.hover($data.name)},
                                click: function(){App.game.oakItemLoadouts.toggleItem($data.name);},
                              }">
                      </button>
                  </li>
            </ul>
          </div>
      </div>
      <div class="modal-footer p-0">
        <table class="table table-bordered text-center m-0">
          <thead>
            <th colspan="2">
              <strong data-bind="text: GameConstants.humanifyString(OakItemType[OakItemController.inspectedItem])"></strong>
            </th>
          </thead>
          <tbody>
            <!-- ko if: App.game.oakItems.isUnlocked(OakItemController.inspectedItem) -->
            <tr>
              <td colspan="2" data-bind="text: App.game.oakItems.itemList[OakItemController.inspectedItem].description"></td>
            </tr>
            <tr>
              <td colspan="2" class="p-0">
                <div class="progress" style="height: 40px;">
                    <div class="progress-bar bg-primary" role="progressbar"
                        data-bind="attr:{ style: 'width:' + (App.game.oakItems.itemList[OakItemController.inspectedItem].isMaxLevel() ? 100 : App.game.oakItems.itemList[OakItemController.inspectedItem].expPercentage) + '%' },
                            css: {
                              'bg-success': App.game.oakItems.itemList[OakItemController.inspectedItem].hasEnoughExp() && !App.game.oakItems.itemList[OakItemController.inspectedItem].isMaxLevel(),
                              'bg-primary': !App.game.oakItems.itemList[OakItemController.inspectedItem].hasEnoughExp() || App.game.oakItems.itemList[OakItemController.inspectedItem].isMaxLevel(),
                            }"
                        aria-valuemin="0" aria-valuemax="100">
                        <!-- ko if: !App.game.oakItems.itemList[OakItemController.inspectedItem].hasEnoughExp() && !App.game.oakItems.itemList[OakItemController.inspectedItem].isMaxLevel() -->
                        <span data-bind="text: App.game.oakItems.itemList[OakItemController.inspectedItem].progressString" style="font-size: 15px;"></span>
                        <!-- /ko -->
                        <!-- ko if: App.game.oakItems.itemList[OakItemController.inspectedItem].hasEnoughExp() && !App.game.oakItems.itemList[OakItemController.inspectedItem].isMaxLevel() -->
                        <span class="clickable" data-bind="html: 'Upgrade (' + App.game.oakItems.itemList[OakItemController.inspectedItem].calculateCost().amount.toLocaleString('en-US') + ' <img src=assets/images/currency/' + GameConstants.Currency[App.game.oakItems.itemList[OakItemController.inspectedItem].calculateCost().currency] + '.svg height=18px/>)',
                          click: function(){ App.game.oakItems.itemList[OakItemController.inspectedItem].buy(); }" style="font-size: 15px;">
                          Upgrade
                        </span>
                        <!-- /ko -->
                        <!-- ko if: App.game.oakItems.itemList[OakItemController.inspectedItem].isMaxLevel() -->
                        <span style="font-size: 15px;">MAX LEVEL!</span>
                        <!-- /ko -->
                    </div>
                </div>
              </td>
            </tr>
            <tr>
              <td class="table-dark" style="width: 50%">
                Level: <span data-bind="text: App.game.oakItems.itemList[OakItemController.inspectedItem].level"></span>
              </td>
              <td class="table-dark" style="width: 50%">
                Bonus: <span data-bind="text: App.game.oakItems.itemList[OakItemController.inspectedItem].bonusText"></span>
              </td>
            </tr>
            <!-- /ko -->
            <!-- ko ifnot: App.game.oakItems.isUnlocked(OakItemController.inspectedItem) -->
            <tr>
              <td colspan="2">Locked!<br/><span data-bind="text: App.game.oakItems.itemList[OakItemController.inspectedItem].hint()"></span></td>
            </tr>
            <tr>

            </tr>
            <!-- /ko -->
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
