<div class="modal fade" id="partyListModal" tabindex="-1" role="dialog"
aria-labelledby="partyListModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
   <div class="modal-content">
       <div class="modal-header justify-content-start align-items-center">
            <h5 class="modal-title" id="partyListModalLabel">Party</h5>
            <button class="btn btn-secondary" type="button" data-toggle="collapse" style="margin-left: 25px;"
                    data-target="#party-filter" aria-expanded="false" aria-controls="party-filter">
                Filters
            </button>
            <button class="btn btn-secondary" type="button" data-toggle="collapse" style="margin-left: 25px;"
                    data-target="#party-sort" aria-expanded="false" aria-controls="party-sort">
                Sort
            </button>
       </div>
       <div class="modal-body p-0">
            <div class="tab-content p-3">
                <div class="tab-pane active" id="party-pokemon">

                    <div data-bind="template: { name: 'partyFilterTemplate', data: {'name': 'party'} }"></div>
                    <div>
                        <ul class="row justify-content-center p-0" data-bind="foreach: App.game.party.caughtPokemon">
                            <li class="eggSlot col-sm-4 col-md-3 col-lg-2 pokedexEntry text-nowrap" data-bind="visible: LabController.visible($data), style:{background: PokedexHelper.getBackgroundColors($data.name)}">
                                <span style="top: 0; border-top-left-radius: 6px; border-top-right-radius: 6px;" data-bind="text: $data.name">name</span>
                                <div data-bind="visible: App.game.party.alreadyCaughtPokemon($data.id, true)" style="position: absolute;right: 0px;top: 0px;">✨</div>
                                <img src="" width="80px" data-bind="attr:{ src: PokedexHelper.getImage($data.id)}">
                                <span style="bottom: 0; border-bottom-left-radius: 6px; border-bottom-right-radius: 6px" data-bind="text: BreedingController.getDisplayValue($data)">value</span>
                                <a class="overlay" href="#breed" data-bind="click: function() { LabController.handleClick($data); }"></a>
                                <div class="pokemonCategory dropdown">
                                    <button data-toggle="dropdown" data-bind="class: `category-${$data.category + 1}`"></button>
                                    <div class="dropdown-menu p-0">
                                        <!-- ko foreach: PokemonCategories.categories -->
                                        <a class="dropdown-item category" href="#" data-bind="text: $data.name, click: () => { $parent.category = $index() }">Category</a>
                                        <!-- /ko -->
                                        <a class="dropdown-item bg-dark py-1" href="#categoryModal" data-toggle="modal"><i>Edit</i></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
       </div>
       <div class="modal-footer">
           <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
       </div>
   </div>
</div>
</div>
