<div class="modal" id="pickStarterModal" tabindex="-1" role="dialog"
aria-labelledby="pickStarterModalLabel" aria-hidden="true"
data-backdrop="static" data-keyboard="false">
<div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
   <div class="modal-content">
       <div class="modal-header">
           <div style="width: 100%;">
               <img src="assets/images/npcs/Professor Oak.png">
               <h5 class="modal-title" id="pickStarterModalLabel">Professor Oak</h5>
           </div>
       </div>
       <div class="modal-body">
           <p>Pick a starter for your next region</p>
           <div class="row justify-content-center">
               <div class="col-lg-8">
                   <div id="starterSelection" class="row" data-bind="foreach: GameConstants.RegionalStarters[player.region]">
                       <div class="col">
                           <input class="image-starter" type="image"
                                  data-bind="
                                    attr: { src: 'assets/images/pokemon/' + $data + '.png' },
                                    click: () => { player.pickStarter($index()); $('#pickStarterModal').modal('hide'); }
                                    ">
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </div>
</div>
</div>
