<div class="modal" id="pickStarterTutorialModal" tabindex="-1" role="dialog"
aria-labelledby="pickStarterTutorialModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
   <div class="modal-content">
       <div class="modal-header">
           <div style="width: 100%;">
               <img src="assets/images/npcs/Professor Oak.png">
               <h5 class="modal-title" id="pickStarterTutorialModalLabel">Professor Oak</h5>
           </div>
       </div>
       <div class="modal-body">
           <p id="pickStarterTutorialModalText">Oh No! We got ambushed by these Pokémon!<br>
               I can only hold off two! Pick the one you want to fight!</p>
           <div class="row justify-content-center">
               <div class="col-lg-8">
                   <div id="starterSelection" class="row">
                       <div class="col">
                           <input class="image-starter" type="image"
                                  src="assets/images/pokemon/1.png"
                                  onclick="StartSequenceRunner.pickStarter(GameConstants.Starter.Grass);">
                       </div>
                       <div class="col">
                           <input class="image-starter" type="image"
                                  src="assets/images/pokemon/4.png"
                                  onclick="StartSequenceRunner.pickStarter(GameConstants.Starter.Fire);">
                       </div>
                       <div class="col">
                           <input class="image-starter" type="image"
                                  src="assets/images/pokemon/7.png"
                                  onclick="StartSequenceRunner.pickStarter(GameConstants.Starter.Water);">
                       </div>
                   </div>
               </div>
           </div>
           <p>You can click on it to inflict damage</p>
       </div>
   </div>
</div>
</div>
