<div class="modal fade noselect" id="pokedexModal" tabindex="-1" role="dialog"
aria-labelledby="pokedexModalLabel">
    <div class="modal-dialog modal-dialog-scrollable modal-xl pokedex-modal" role="document">
        <div class="modal-content">

            <div class="modal-header p-lg-0 border-lg-0 position-relative">
                <h4 class="d-lg-none d-block" style="margin-bottom: 0">Pokédex</h4>
                <div class="row w-100 m-0 py-1 d-lg-flex d-none">
                    <div class="col-3">
                        <div class="pokedex-border-bottom pt-2">
                            <h4>Filters and Settings</h4>
                        </div>
                    </div>
                    <div class="col-9">
                        <!-- ko if: PokedexHelper.filteredList().length == 0 -->
                        <div class="pokedex-border-bottom pt-2">
                            <h4>No Pokémon found</h4>
                        </div>
                        <!-- /ko -->

                        <!-- ko if: PokedexHelper.filteredList().length != 0 -->
                        <div class="pokedex-border-bottom pt-2">
                            <h4 data-bind="text: `Showing ${PokedexHelper.filteredList().length.toLocaleString('en-US')} Pokémon`"></h4>
                        </div>
                        <!-- /ko -->
                    </div>
                </div>
                <button type="button" class="btn btn-danger position-absolute" data-dismiss="modal" style="right:0; top:0; font-size: 18px; font-weight: 700;">×</button>
            </div>

            <!-- ko let: { categoryModeEnabled: PokemonCategories.categoryAssignEnabled, categoryModeSelected: PokemonCategories.categoryAssignSelected } -->
            <div class="modal-body pt-0 overflow-hidden" style="background-color: inherit;">
                <div class="row">
                    <div class="col-12 d-lg-none d-block">
                        <button class="w-100 my-1 btn btn-secondary" type="button" data-toggle="collapse"
                                data-target="#pokedex-filter-container" aria-expanded="false" aria-controls="pokedex-filter-container">
                            Filters and Settings
                        </button>
                    </div>
                    <!-- Filters and Settings -->
                    <div class="col-lg-3 col-12 collapse dont-collapse-lg" id="pokedex-filter-container" style="background-color: inherit; top: 0; z-index: 100;">
                        <div class="pokedex-border-bottom pt-2 d-lg-none d-block">
                            <h4>Filters and Settings</h4>
                        </div>
                        <div class="scrolling-div-pokedex" style="margin-bottom: 0.5rem;">
                            <div class="container-fluid py-3">
                                <div class="form-row text-left">
                                    <!--Name or ID-->
                                    <div class="form-group col-lg-12 col-12">
                                        <label>Name or ID</label>
                                        <input id="nameIDFilter" class="form-control" placeholder="Bulbasaur or 1" value=""
                                        oninput="PokedexHelper.formatSearch(this.value)">
                                    </div>

                                    <!--Types-->
                                    <div class="form-group col-lg-6 col-6">
                                        <label>Types</label>
                                        <select id="pokedex-filter-type1" class="custom-select" style="margin-right: 8px"
                                                data-bind="options: PokedexFilters.type1.options,
                                                        optionsValue: 'value',
                                                        optionsText: 'text',
                                                        value: PokedexFilters.type1.value">
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-6 col-6">
                                        <label> </label>
                                        <select id="pokedex-filter-type2" class="custom-select"
                                                data-bind="options: PokedexFilters.type2.options,
                                                        optionsValue: 'value',
                                                        optionsText: 'text',
                                                        value: PokedexFilters.type2.value">
                                        </select>
                                    </div>

                                    <!--Region-->
                                    <div class="form-group col-lg-6 col-6">
                                        <label>Region</label>
                                        <select id="pokedex-filter-region" class="custom-select" style="margin-right: 8px"
                                                data-bind="options: PokedexFilters.region.options.filter(r => r.value <= player.highestRegion()),
                                                        optionsValue: 'value',
                                                        optionsText: 'text',
                                                        value: PokedexFilters.region.value">
                                        </select>
                                    </div>

                                    <!-- Category -->
                                    <div class="form-group col-lg-6 col-6">
                                        <label for="pokedex-filter-category">Category</label>
                                        <div class="dropdown show">
                                            <button type="button" class="text-left custom-select col-12 btn btn-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                data-bind="text: PokedexFilters.category.value() == -1 ? 'All'
                                                    : PokedexFilters.category.value() == -2 ? 'Categorized'
                                                    : PokemonCategories.categories().find(c => c.id == PokedexFilters.category.value()).name()">
                                                Categories
                                            </button>
                                            <div class="border-secondary dropdown-menu col-12 category-dropdown">
                                                <div class="dropdown-item dropdown-text" data-bind="click : function(){ Settings.setSettingByName('pokedexCategoryFilter', -1) }">
                                                    All
                                                </div>
                                                <div class="dropdown-item dropdown-text" data-bind="click : function(){ Settings.setSettingByName('pokedexCategoryFilter', -2) }">
                                                    Categorized
                                                </div>
                                                <div class="dropdown-divider"></div>
                                                <!-- ko foreach : PokemonCategories.categories -->
                                                <div class="dropdown-item" data-bind="text : $data.name(), style: { color: GameHelper.isColorLight($data.color()) ? 'black' : 'white', background: $data.color() },
                                                    click : function(){ Settings.setSettingByName('pokedexCategoryFilter', $data.id) }">
                                                </div>
                                                <!-- /ko-->
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item dropdown-text" href="#categoryModal" data-toggle="modal">
                                                    <i>Edit categories</i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group col-lg-6 col-6">
                                        <label for="pokedex-filter-shiny-caught">Caught Status</label>
                                        <select id="pokedex-filter-shiny-caught" autocomplete="off" class="custom-select"
                                            data-bind="options: PokedexFilters.caughtShiny.options,
                                                    optionsValue: 'value',
                                                    optionsText: 'text',
                                                    value: PokedexFilters.caughtShiny.value">
                                        </select>
                                    </div>

                                    <div class="form-group col-lg-6 col-6">
                                        <label for="pokedex-filter-pokerus-status">Pokerus Status</label>
                                        <select id="pokedex-filter-pokerus-status" autocomplete="off" class="custom-select"
                                            data-bind="options: PokedexFilters.statusPokerus.options,
                                                    optionsValue: 'value',
                                                    optionsText: 'text',
                                                    value: PokedexFilters.statusPokerus.value">
                                        </select>
                                    </div>

                                    <!-- Mega Evolution -->
                                    <!-- ko if: player.highestRegion() >= GameConstants.Region.kalos -->
                                    <div class="form-group col-lg-12 col-12">
                                        <label for="pokedex-filter-unique-transformation">Unique Forms</label>
                                        <select id="pokedex-filter-unique-transformation" autocomplete="off" class="custom-select"
                                            data-bind="options: PokedexFilters.uniqueTransformation.options,
                                                optionsValue: 'value',
                                                optionsText: 'text',
                                                value: PokedexFilters.uniqueTransformation.value">
                                        </select>
                                    </div>
                                    <!-- /ko -->

                                    <!--Rare Hold Item-->
                                    <div class="col-12">
                                        <div class="form-group my-2">
                                            <span>Rare Hold Item</span>
                                            <span class="mx-1"
                                                data-bind="tooltip: {
                                                    title: 'Filters Pokémon with a chance to drop an item',
                                                    trigger: 'hover',
                                                    boundary: 'window'
                                                }" data-original-title="" title="">ⓘ</span>
                                            <label class="form-check-label toggler-wrapper style-1 float-right">
                                                <input class="form-check-input" type="checkbox" id="pokedex-filter-held-item"
                                                    data-bind="checked: PokedexFilters.heldItem.value">
                                                <div class="toggler-slider">
                                                    <div class="toggler-knob"></div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>

                                    <!--Hide alternate forms-->
                                    <div class="col-12">
                                        <div class="form-group my-2">
                                            <span>Hide alternate forms</span>
                                            <label class="form-check-label toggler-wrapper style-1 float-right">
                                                <input class="form-check-input" type="checkbox" id="pokedex-filter-hide-alternate"
                                                    data-bind="checked: PokedexFilters.hideAlternate.value">
                                                <div class="toggler-slider">
                                                    <div class="toggler-knob"></div>
                                                </div>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <hr style="border-color:grey;">
                                    </div>

                                    <!--Hide shiny images-->
                                    <div class="col-12">
                                        <div class="form-group my-2">
                                            <!-- ko let: { partyHideShinySprites: Settings.getSetting('partyHideShinySprites') } -->
                                            <span data-bind="text: partyHideShinySprites.displayName">Hide party shiny sprites</span>
                                            <label class="form-check-label toggler-wrapper style-1 float-right">
                                                <input class="form-check-input" type="checkbox" id="pokedex-hide-shiny-sprites-checkbox"
                                                    value="false" data-bind="checked: partyHideShinySprites.observableValue"
                                                    onchange="Settings.setSettingByName('partyHideShinySprites', this.checked)">
                                                <div class="toggler-slider">
                                                    <div class="toggler-knob"></div>
                                                </div>
                                            </label>
                                            <!-- /ko -->
                                        </div>
                                    </div>

                                    <!--Show shadow images-->
                                    <div class="col-12">
                                        <div class="form-group my-2">
                                            <!-- ko let: { partyShowShadowSprites: Settings.getSetting('partyShowPurifiedShadowSprites') } -->
                                            <span data-bind="text: partyShowShadowSprites.displayName">Show party shadow sprites</span>
                                            <label class="form-check-label toggler-wrapper style-1 float-right">
                                                <input class="form-check-input" type="checkbox" id="pokedex-show-shadow-sprites-checkbox"
                                                    value="false" data-bind="checked: partyShowShadowSprites.observableValue"
                                                    onchange="Settings.setSettingByName('partyShowPurifiedShadowSprites', this.checked)">
                                                <div class="toggler-slider" data-bind="tooltip: {
                                                    html: true,
                                                    title: `Display all purified Pokémon with their shadow sprites.`,
                                                    trigger: 'hover',
                                                }">
                                                    <div class="toggler-knob"></div>
                                                </div>
                                            </label>
                                            <!-- /ko -->
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <hr style="border-color:grey;">
                                    </div>

                                    <!-- Category Mode -->
                                    <div class="col-12">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-primary btn-block" data-bind="
                                                click: () => categoryModeEnabled(!categoryModeEnabled()),
                                                text: categoryModeEnabled() ? 'Disable Category Mode' : 'Enable Category Mode',
                                                tooltip: {
                                                    title: 'Use Category Mode to quickly assign and remove Pokémon from categories. Select a category then click the desired Pokémon to add or remove.',
                                                    placement: 'top',
                                                    trigger: 'hover'
                                                }">
                                                Enable Category Mode
                                            </button>
                                        </div>
                                    </div>
                                    <!-- ko if: categoryModeEnabled() -->
                                    <div class="col-12">
                                        <div class="form-group mb-1">
                                            <label>Selected Category</label>
                                            <div class="dropdown show">
                                                <button type="button" class="text-left custom-select col-12 btn btn-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                                                    data-bind="text: PokemonCategories.categories().find(c => c.id == categoryModeSelected()).name()">
                                                    Select A Category
                                                </button>
                                                <div class="border-secondary dropdown-menu col-12 category-dropdown" data-bind="foreach: PokemonCategories.categories">
                                                    <div class="dropdown-item" data-bind="text : $data.name(),
                                                        style: { color: GameHelper.isColorLight($data.color()) ? 'black' : 'white', background: $data.color() },
                                                        click: () => categoryModeSelected($data.id)">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <button type="button" class="btn btn-success btn-block" data-bind="tooltip: {
                                            title: 'Add all Pokémon matching the current filters to this category.',
                                            placement: 'bottom',
                                            trigger: 'hover'
                                        },
                                        click: () => PartyController.addCategory(PokedexHelper.filteredListPartyPokemon(), categoryModeSelected())">Add All</button>
                                    </div>
                                    <div class="form-group col-6">
                                        <button type="button" class="btn btn-danger btn-block" data-bind="tooltip: {
                                            title: 'Remove all Pokémon matching the current filters from this category.',
                                            placement: 'bottom',
                                            trigger: 'hover'
                                        },
                                        disable: categoryModeSelected() === 0,
                                        click: () => PartyController.removeCategory(PokedexHelper.filteredListPartyPokemon(), categoryModeSelected())">Remove All</button>
                                    </div>
                                    <!-- /ko -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Pokemon List -->
                    <div class="col-lg-9 col-12 pokemon-list" id="pokedex-pokemon-list-container">
                        <!-- ko if: PokedexHelper.filteredList().length == 0 -->
                        <div class="pokedex-border-bottom pt-2 d-lg-none d-block">
                            <h4>No Pokémon found</h4>
                        </div>
                        <!-- /ko -->

                        <!-- ko if: PokedexHelper.filteredList().length != 0 -->
                        <div class="pokedex-border-bottom pt-2 d-lg-none d-block">
                            <h4 data-bind="text: `Showing ${PokedexHelper.filteredList().length.toLocaleString('en-US')} Pokémon`"></h4>
                        </div>
                        <!-- /ko -->
                        <div class="scrolling-div-pokedex">
                            <!-- ko if: PokedexHelper.filteredList().length == 0 -->
                            <div class="mt-1">
                                <span>Missing a Pokémon but don't see it here? Be sure to completely explore the region!</span>
                            </div>
                            <!-- /ko -->
                            <knockout data-bind="let: { lazyPokedexList: lazyLoad('lazyPokedexList', $element, PokedexHelper.filteredList, { pageSize: 60, reset: PokedexHelper.resetPokedexFlag }) }">
                                <!-- ko if: DisplayObservables.modalState.pokedexModal !== 'hidden' -->
                                <ul class="row justify-content-center w-100 p-0 m-0" data-bind="foreach: lazyPokedexList, childrenComplete: () => { lazyLoadCallback('lazyPokedexList'); }">
                                    <li class="col-sm-4 col-md-3 col-lg-2 pokedexEntry" data-bind="style:{background: PokedexHelper.getBackgroundColors($data.name)},
                                        css: { 'category-highlight': categoryModeEnabled() && App.game.party.getPokemon($data.id)?.category.includes(categoryModeSelected()) }">
                                        <span class="id pokedex-top-text" data-bind="text: ($data.id > 0 ? Math.floor($data.id) + '' : '???').padStart(3, 0)">number</span>
                                        <div data-bind="visible: App.game.party.alreadyCaughtPokemonByName(name)" style="position: absolute;right: 2px;top: -15px;">
                                            <img width="18px" src="" data-bind="attr: { src: `assets/images/pokeball/Pokeball${App.game.party.alreadyCaughtPokemon($data.id, true) ? '-shiny' : ''}.svg`}"/>
                                        </div>
                                        <!-- ko if: App.game.party.alreadyCaughtPokemonByName(name) -->
                                            <div data-bind="if: App.game.party.getPokemon($data.id)?.pokerus" style="position: absolute;left: 2px;top: -11px;">
                                                <img width="32px" src="" data-bind="attr: { src: `assets/images/breeding/pokerus/${GameConstants.Pokerus[App.game.party.getPokemon($data.id)?.pokerus]}.png`}"/>
                                            </div>
                                            <!-- ko if: PokemonHelper.hasMegaEvolution($data.name) -->
                                            <knockout data-bind="foreach: PokemonHelper.getMegaStones($data.name).filter(s => player.hasMegaStone(s.megaStone))">
                                                <img width="20px" style="position: absolute; top: 4px;"
                                                    data-bind="attr: { src: $data.image }, style: { right: `${1 + 17 * $index()}px` }"/>
                                            </knockout>
                                            <!-- /ko -->
                                            <img style="position: absolute; top: 24px; right: 0px;" class="shadow-icon" src="assets/images/status/shadow.svg" data-bind="visible: App.game.party.getPokemon($data.id).shadow == GameConstants.ShadowStatus.Shadow"/>
                                            <img style="position: absolute; top: 24px; right: 0px;" class="shadow-icon" src="assets/images/status/purified.svg" data-bind="visible: App.game.party.getPokemon($data.id).shadow == GameConstants.ShadowStatus.Purified"/>
                                        <!-- /ko -->
                                        <img src="" class="pokedex-pokemon-sprite" data-bind="css: { 'pokemon-not-seen': !PokedexHelper.pokemonSeen($data.id)(), 'pokemon-seen-but-not-caught': !App.game.party.alreadyCaughtPokemonByName(name) && PokedexHelper.pokemonSeen($data.id)() }, attr:{ src: PokemonHelper.getImage($data.id)}">
                                        <!-- ko if: PokedexHelper.pokemonSeen($data.id) -->
                                            <a class="overlay" href="#pokemonStatisticsModal" data-toggle="modal" data-bind="
                                                click: (_, event) => {
                                                    if (categoryModeEnabled()) {
                                                        App.game.party.getPokemon($data.id)?.toggleCategory(categoryModeSelected());
                                                        event.stopPropagation(); // prevent statistics modal from opening
                                                    } else {
                                                        App.game.statistics.selectedPokemonID($data.id);
                                                    }
                                                },
                                                tooltip: {
                                                    html: true,
                                                    title: categoryModeEnabled() ? '' : `<u>Information:</u>
                                                        <br/>Base Attack: <strong>${$data.attack}</strong>
                                                        <br/>Catch Rate: <strong>${PokemonFactory.catchRateHelper($data.catchRate, true)}%</strong>
                                                        <br/>Hatch Steps: <strong>${App.game.party.getPokemon($data.id)?.getEggSteps().toLocaleString('en-US') || 'Unknown'}</strong>` +
                                                        (App.game.party.getPokemon($data.id)?.pokerus >= GameConstants.Pokerus.Contagious ?
                                                            `<br/>EVs: <strong>${App.game.party.getPokemon($data.id).evs().toLocaleString('en-US')}</strong>
                                                            <br/>EV bonus: <strong>×${App.game.party.getPokemon($data.id).calculateEVAttackBonus().toLocaleString('en-US')}</strong>`
                                                            : '') +
                                                        (PokemonHelper.hasMegaEvolution($data.name) ?
                                                            pokemonMap[$data.name].evolutions.flatMap(e => e.restrictions).filter(r => r instanceof MegaEvolveRequirement && player.hasMegaStone(r.megaStone))
                                                                .map(r => `<br/><u>${GameConstants.humanifyString(GameConstants.MegaStoneType[r.megaStone])}</u><br/>${r.hint()}`).join('')
                                                            : ''),
                                                    trigger: 'hover',
                                                    placement:'bottom'
                                                }"></a>

                                            <span class="pokedex-bottom-text text-truncate px-1" data-bind="text: PokemonHelper.displayName($data.name),
                                                tooltip: {
                                                    title: categoryModeEnabled() ? '' : PokemonHelper.displayName($data.name),
                                                    trigger: 'hover',
                                                    placement: 'bottom'
                                                }">name</span>

                                            <!-- Category Button -->
                                            <!-- ko if: App.game.party.alreadyCaughtPokemonByName($data.name) -->
                                            <div class="pokemonCategory dropdown" data-bind="let: { pokemon: App.game.party.getPokemon($data.id) }">
                                                <div data-toggle="dropdown" style="height: 15px;">
                                                    <!-- Limit category display to 12 for UI purposes -->
                                                    <div class="d-flex position-relative category-display" data-bind="foreach: pokemon.category.slice(0, 12)">
                                                        <button data-bind="class: `category-${$data + 1}`"></button>
                                                    </div>
                                                </div>
                                                <div class="border-secondary dropdown-menu multiselect-dropdown category-dropdown px-2">
                                                    <div class="form-check d-flex align-items-center", data-bind="with: PokemonCategories.categories().find(c => c.id === 0), as: 'pokemonCategory'">
                                                        <input type="checkbox" class="form-check-input mt-0" style="cursor: pointer;"
                                                            data-bind="attr: { id: `${$parent.id}-category0` },
                                                                checked: pokemon.isUncategorized,
                                                                disable: pokemon.isUncategorized,
                                                                click: () => { pokemon.resetCategory(); return true; }">
                                                        <label class="form-check-label text-truncate w-100 p-1" style="max-width: 200px; cursor: pointer;"
                                                            data-bind="
                                                                text: pokemonCategory.name,
                                                                attr: { for: `${$parent.id}-category0` },
                                                                style: { color: GameHelper.isColorLight(pokemonCategory.color()) ? 'black' : 'white', background: pokemonCategory.color, 'text-shadow': `0 0 6px ${GameHelper.isColorLight(pokemonCategory.color()) ? 'white' : 'black'}` }"
                                                            onclick="event.stopPropagation();"></label>
                                                    </div>
                                                    <div class="dropdown-divider"></div>
                                                    <!-- ko foreach: { data: PokemonCategories.playerCategories, as: 'pokemonCategory' } -->
                                                    <div class="form-check d-flex align-items-center">
                                                        <input type="checkbox" class="form-check-input mt-0" style="cursor: pointer;"
                                                            data-bind="
                                                                attr: { id: `${$parent.id}-category${pokemonCategory.id}` },
                                                                checked: pokemon._category,
                                                                checkedValue: pokemonCategory.id">
                                                        <label class="form-check-label text-truncate w-100 p-1" style="max-width: 200px; cursor: pointer;"
                                                            data-bind="
                                                                text: pokemonCategory.name,
                                                                attr: { for: `${$parent.id}-category${pokemonCategory.id}` },
                                                                style: { color: GameHelper.isColorLight(pokemonCategory.color()) ? 'black' : 'white', background: pokemonCategory.color, 'text-shadow': `0 0 6px ${GameHelper.isColorLight(pokemonCategory.color()) ? 'white' : 'black'}` }"
                                                            onclick="event.stopPropagation();"></label>
                                                    </div>
                                                    <!-- /ko -->
                                                    <div class="dropdown-divider"></div>
                                                    <a class="dropdown-item dropdown-text" href="#categoryModal" data-toggle="modal">
                                                        <i>Edit categories</i>
                                                    </a>
                                                </div>
                                            </div>
                                            <!-- /ko -->
                                        <!-- /ko -->
                                    </li>
                                </ul>
                                <!-- /ko -->
                            </knockout>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /ko -->
            <!--
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
            -->
        </div>
    </div>
</div>
