<div class="modal noselect fade" id="pokemonVitaminModal" tabindex="-1" role="dialog" aria-labelledby="pokemonVitaminModal">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- ko if: modalUtils.observableState['pokemonVitaminModal'] === 'show' -->
            <div class="modal-header bg-dark text-light" style='justify-content: space-around;'>
                <h5 class="modal-title text-light">Select a Pokémon</h5>&nbsp; <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <img data-bind="attr: { src: VitaminController.getImage() }" width="40%" />
                <br />
                <div class="sticky-top bg-dark text-light">
                    <!-- ko if: App.game.challenges.list.disableVitamins.active() -->
                    <span class="btn btn-block btn-danger btn-static m-0">Vitamins are disabled.</span>
                    <!-- /ko -->
                    <div class="btn-group btn-block m-0" role="group" data-bind="
                        tooltip: {
                            title: ItemList[GameConstants.VitaminType[VitaminController.currentlySelected()]] ? `<u>${ItemList[GameConstants.VitaminType[VitaminController.currentlySelected()]].displayName}</u><br/>${ItemList[GameConstants.VitaminType[VitaminController.currentlySelected()]].description || ''}` : '',
                            trigger: 'hover',
                            placement:'top',
                            html: true,
                            boundary: document.getElementById('pokemonVitaminModal'),
                        }">
                        <button class="btn btn-sm btn-info" data-bind="click: () => VitaminController.currentlySelected((VitaminController.currentlySelected() + GameHelper.enumLength(GameConstants.VitaminType) - 1) % GameHelper.enumLength(GameConstants.VitaminType))">&lt;</button>
                        <button class="btn btn-block btn-secondary btn-static" data-bind="text: `${GameConstants.VitaminType[VitaminController.currentlySelected()]}: ${player.itemList[GameConstants.VitaminType[VitaminController.currentlySelected()]]().toLocaleString('en-US')}`"></button>
                        <button class="btn btn-sm btn-info" data-bind="click: () => VitaminController.currentlySelected((VitaminController.currentlySelected() + 1) % GameHelper.enumLength(GameConstants.VitaminType))">&gt;</button>
                        <button type="button" class="btn btn-sm btn-primary" data-bind="text: VitaminController.add() ? 'Give' : 'Take'" onclick="VitaminController.add(!VitaminController.add())" title="Add/Remove" data-toggle="tooltip" data-html="true" data-content="Left/right click to cycle amount
              <br/>Click on Pokémon to use" data-placement="right" data-trigger="hover"></button>
                        <button type="button" class="btn btn-sm btn-primary" data-bind="text: VitaminController.multiplier[VitaminController.multiplierIndex()]" onclick="VitaminController.incrementMultiplier()" oncontextmenu="VitaminController.decrementMultiplier(); return false" title="Multiplier" data-toggle="tooltip" data-html="true" data-content="Left/right click to cycle amount
              <br/>Click on Pokémon to use" data-placement="right" data-trigger="hover"></button>
                    </div>
                    <div class="input-group" data-bind="with: Settings.getSetting('vitaminSort')">
                        <select autocomplete="off" class="custom-select" onchange="Settings.setSettingByName(this.name, SortOptions[SortOptions[this.value]])" data-bind="foreach: $data.options, attr: {name}, selectedOptions: [$data.observableValue()]">
                            <option data-bind="text: $data.text, value: $data.value"></option>
                        </select>
                        <div class="input-group-append bg-primary text-light">
                            <label for="vitaminSortDirection" class="clickable m-0 pl-2 pr-2" style="font-size: 22px;" data-bind="
                            text: Settings.getSetting('vitaminSortDirection').observableValue() ? '⥄' : '⥂',
                            tooltip: { title: Settings.getSetting('vitaminSortDirection').observableValue() ? 'Descending (highest value first)' : 'Ascending (lowest value first)', trigger: 'hover', placement:'top' }
                            ">⥂</label>
                            <input id="vitaminSortDirection" style="vertical-align: middle" class="hidden" type="checkbox" data-bind="checked: Settings.getSetting('vitaminSortDirection').observableValue()" onchange="Settings.setSettingByName('vitaminSortDirection', this.checked)" />
                        </div>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" id="hide-max-protein-pokemons" class="form-check-input" data-bind="checked: Settings.getSetting('vitaminHideMaxedPokemon').observableValue()" onchange="Settings.setSettingByName('vitaminHideMaxedPokemon', this.checked)" />
                        <label for="hide-max-protein-pokemons" class="form-check-label">Hide Pokémon with max vitamins</label>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" id="hide-shiny-pokemons" class="form-check-input" data-bind="checked: Settings.getSetting('vitaminHideShinyPokemon').observableValue()" onchange="Settings.setSettingByName('vitaminHideShinyPokemon', this.checked)" />
                        <label for="hide-shiny-pokemons" class="form-check-label">Hide shiny Pokémon</label>
                    </div>
                    <div class="form-row m-0" id="protein-filter">
                        <div class="form-group col-md-6 col-6 p-0">
                            <label for="protein-search">Search</label>
                            <input id="protein-search" autocomplete="off" class="form-control" placeholder="Search here" data-bind="textInput: Settings.getSetting('vitaminSearchFilter').observableValue" />
                        </div>
                        <div class="form-group col-md-3 col-3 p-0">
                            <label for="protein-region-filter">Region</label>
                            <select id="protein-region-filter" name="vitaminRegionFilter" autocomplete="off" class="custom-select" onchange="Settings.setSettingByName(this.name, +this.value)">
                                <!-- ko foreach: Settings.getSetting('vitaminRegionFilter').options.filter(r => r.value <= player.highestRegion()) -->
                                <option data-bind="attr: { value: $data.value, selected: Settings.getSetting('vitaminRegionFilter').value === $data.value }, text: $data.text">Region</option>
                                <!-- /ko -->
                            </select>
                        </div>
                        <div class="form-group col-md-3 col-3 p-0">
                            <label for="protein-type-filter">Type</label>
                            <select id="protein-type-filter" name="vitaminTypeFilter" autocomplete="off" class="custom-select" onchange="Settings.setSettingByName(this.name, +this.value)">
                                <!-- ko foreach: Settings.getSetting('vitaminTypeFilter').options -->
                                <option data-bind="attr: { value: $data.value, selected: Settings.getSetting('vitaminTypeFilter').value === $data.value }, text: $data.text">Type</option>
                                <!-- /ko -->
                            </select>
                        </div>
                    </div>
                </div>
                <i data-bind="text: VitaminController.add() ? 'Left click to give, Right click to take' : 'Left/Right click to take'">Left click to give, Right click to take</i>
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered table-sm m-0">
                        <thead>
                            <tr class="text-light">
                                <th class="text-left bg-dark align-middle">Pokémon</th>
                                <th class="text-center bg-dark align-middle">Vitamins Used</th>
                                <th class="text-center bg-dark align-middle" data-bind="text: `${GameConstants.VitaminType[VitaminController.currentlySelected()]} Used`">X Used</th>
                                <th class="text-center bg-dark align-middle">Attack Bonus</th>
                                <th class="text-center bg-dark align-middle">Egg Steps</th>
                                <th class="text-center bg-dark align-middle">Breeding Efficiency</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: PartyController.getvitaminSortedList()">
                            <tr class="clickable" data-bind="
                                click: () => VitaminController.add() ? $data.useVitamin(VitaminController.currentlySelected(), VitaminController.getMultiplier()) : $data.removeVitamin(VitaminController.currentlySelected(), VitaminController.getMultiplier());,
                                event: { contextmenu: () => { $data.removeVitamin(VitaminController.currentlySelected(), VitaminController.getMultiplier()); return false; } },
                                hidden: $data.hideFromProteinList()">
                                <td class="text-left">
                                    <knockout data-bind="text: $data.displayName"></knockout>
                                    <sup data-bind="visible: $data.shiny">✨</sup>
                                </td>
                                <td class="text-center tight" data-bind="text: $data.totalVitaminsUsed().toLocaleString('en-US')">-</td>
                                <td class="text-center tight" data-bind="text: $data.vitaminsUsed[VitaminController.currentlySelected()]().toLocaleString('en-US')">-</td>
                                <td class="text-center tight" data-bind="text: $data.getBreedingAttackBonus().toLocaleString('en-US')">-</td>
                                <td class="text-center tight" data-bind="text: $data.getEggSteps().toLocaleString('en-US')">-</td>
                                <td class="text-center tight" data-bind="text: ((($data.getBreedingAttackBonus() * (Settings.getSetting('breedingIncludeEVBonus').observableValue() ? $data.calculateEVAttackBonus() : 1)) / $data.getEggSteps()) * GameConstants.EGG_CYCLE_MULTIPLIER).toLocaleString('en-US', { maximumSignificantDigits: 2 })">-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /ko -->
            <span class="bg-dark text-light text-right align-right p-1" data-bind="text:`Showing ${PartyController.getvitaminSortedList().filter(p => !p.hideFromProteinList()).length.toLocaleString('en-US')} Pokémon`"></span>
        </div>
    </div>
</div>