<div class="modal noselect fade" id="pokemonStatisticsModal" tabindex="-1" role="dialog" aria-labelledby="pokemonStatisticsModal">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content" data-bind="with: App.game.statistics.selectedPokemonID()">
            <div class="modal-header bg-dark text-light" style='justify-content: space-around;'>
                <h5 class="modal-title text-muted" data-bind="text: `#${pokemonMap[$data].id.toString().padStart(3,0)}&nbsp;&nbsp;`"></h5>
                <h5 class="modal-title text-light" data-bind="text: pokemonMap[$data].name">Pokemon Statistics</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <img data-bind="attr:{ src: 'assets/images/' + (App.game.party.alreadyCaughtPokemon($data, true) ? 'shiny' : '') + 'pokemon/' + $data + '.png' }" src=""/>
                <table class="table table-striped table-hover table-bordered table-sm m-0">
                  <thead>
                    <tr class="text-light">
                      <th class="text-left bg-dark">Type</th>
                      <th class="text-left bg-dark">Amount</th>
                    </tr>
                  </thead>
                  <tbody">
                    <tr>
                      <td class="text-left">Base Attack</td>
                      <td class="text-left tight"><code data-bind="text: pokemonMap[$data].attack.toLocaleString('en-US')">-</code></td>
                    </tr>
                    <tr>
                      <td class="text-left">Current Attack</td>
                      <td class="text-left tight"><code data-bind="text: (App.game.party.getPokemon($data)?.attack || 0).toLocaleString('en-US')">-</code></td>
                    </tr>
                    <tr>
                      <td class="text-left">Catch Rate</td>
                      <td class="text-left tight"><code data-bind="text: PokemonFactory.catchRateHelper(pokemonMap[$data].catchRate, true) + '%'">-</code></td>
                    </tr>
                    <tr>
                      <td class="text-left">Hatch Steps</td>
                      <td class="text-left tight"><code data-bind="text: App.game.breeding.getSteps(pokemonMap[$data].eggCycles).toLocaleString('en-US')">-</code></td>
                    </tr>
                    <tr data-bind="if: ItemList[pokemonMap[$data].heldItem]">
                      <td class="text-left">Rare Hold Item</td>
                      <td class="text-left tight"><code data-bind="text: GameConstants.humanifyString(ItemList[pokemonMap[$data].heldItem].name())"></code></td>
                    </tr>
                  </tbody>
                  <thead>
                    <tr class="text-light">
                      <th class="text-left bg-dark">Statistic</th>
                      <th class="text-left bg-dark">Amount</th>
                    </tr>
                  </thead>
                  <tbody">
                    <tr>
                      <td class="text-left">Hatched</td>
                      <td class="text-left tight"><code data-bind="text: ((App.game.party.getPokemon($data)?.attackBonus / 25) || 0).toLocaleString('en-US')">-</code></td>
                    </tr>
                    <tr>
                      <td class="text-left">Encountered</td>
                      <td class="text-left tight"><code data-bind="text: App.game.statistics.pokemonEncountered[$data]().toLocaleString('en-US')">-</code></td>
                    </tr>
                    <tr>
                      <td class="text-left">Defeated</td>
                      <td class="text-left tight"><code data-bind="text: App.game.statistics.pokemonDefeated[$data]().toLocaleString('en-US')">-</code></td>
                    </tr>
                    <tr>
                      <td class="text-left">Captured</td>
                      <td class="text-left tight"><code data-bind="text: App.game.statistics.pokemonCaptured[$data]().toLocaleString('en-US')">-</code></td>
                    </tr>
                    <tr>
                      <td class="text-left">Shinies Encountered</td>
                      <td class="text-left tight"><code data-bind="text: App.game.statistics.shinyPokemonEncountered[$data]().toLocaleString('en-US')">-</code></td>
                    </tr>
                    <tr>
                      <td class="text-left">Shinies Defeated</td>
                      <td class="text-left tight"><code data-bind="text: App.game.statistics.shinyPokemonDefeated[$data]().toLocaleString('en-US')">-</code></td>
                    </tr>
                    <tr>
                      <td class="text-left">Shinies Captured</td>
                      <td class="text-left tight"><code data-bind="text: App.game.statistics.shinyPokemonCaptured[$data]().toLocaleString('en-US')">-</code></td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
