<div class="modal fade" id="pokeballSelectorAdvModal" tabindex="-1" role="dialog"
  aria-labelledby="PokeballSelectorAdvModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="pokeballSelectorAdvModalLabel">Poké Ball Selector Configuration</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0">
        <button class="btn btn-primary" onclick="App.game.pokeballFilters.createFilter()">
            Create New Filter
        </button>
        <div id="pokeballFilterConfigs" data-bind="foreach: [...App.game.pokeballFilters.list()].reverse()">
            <div class="pokeballFilter">
                <div class="pokeballFilterHeader" >
                    <div class="pokeballFilterActionButtons">
                        <button class="close bg-danger text-white deleteButton" data-bind="click: () => App.game.pokeballFilters.deleteFilter($data)">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="pokeballFilterName" data-toggle="collapse" data-bind="attr: { href: `#pokeball-filter-options-${$index()}` }">
                        <input class="form-control" data-bind="textInput: $data._name"></span>
                    </div>
                    <img class="pokeball-small"
                        data-bind="
                            attr: {
                                src: 'assets/images/pokeball/' + GameConstants.Pokeball[$data.ball()] + '.svg'},
                                tooltip: {
                                    title: $data.ball() === -1 ? 'None' : ItemList[GameConstants.Pokeball[$data.ball()]].displayName,
                                    trigger: 'hover',
                                    animation: false,
                                    placement: 'bottom'
                                },
                            }"
                    />
                </div>
                <div class="collapse pokeballFilterBody" data-bind="attr: { id: `pokeball-filter-options-${$index()}`}">
                    <table>
                        <tbody class="pokeballFilterOptions">
                            <!-- ko foreach: Object.values($data.options) -->
                                <tr data-bind="template: {
                                    name: $data instanceof BooleanSetting ? 'pokeballFilterSlider' : 'pokeballFilterMultipleChoice',
                                    data: { setting: $data, key: $index() },
                                }"></tr>
                            <!-- /ko -->
                            <!-- ko foreach: Object.keys(PokeballFilterOptions.settingsMap).filter(k => !(k in $data.options)) -->
                                <tr>
                                    <td data-bind="text: $data"></td>
                                    <td>
                                        <button class="btn btn-success" data-bind="click: () => App.game.pokeballFilters.addFilterOption($parent, $data)">
                                            Add
                                        </button>
                                    </td>
                                </tr>
                            <!-- /ko -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script type="text/html" id="pokeballFilterSlider">
    <td class="p-2">
        <label class="m-0" data-bind="attr: { for: `checkbox-${setting.name}-${key}` }, text: `${setting.displayName}:`">
            setting name
        </label>
    </td>
    <td class="p-2">
        <label class="form-check-label toggler-wrapper style-1 m-auto">
            <input class="clickable" type="checkbox"
                data-bind="checked: setting.observableValue, attr: { id: `checkbox-${setting.name}-${key}` }">
            <div class="toggler-slider">
                <div class="toggler-knob"></div>
            </div>
        </label>
    </td>
</script>

<script type="text/html" id="pokeballFilterMultipleChoice">
    <td class="p-2" data-bind="text: `${setting.displayName}:`">setting name</td>
    <td class="p-0">
        <select class="form-control" data-bind="
            options: setting.options,
            optionsValue: 'value',
            optionsText: 'text',
            value: setting.observableValue
        "></select>
    </td>
</script>
