<div class="card border-secondary mb-3" id="pokemonListContainer"
     data-bind="visible: player.starter != GameConstants.Starter.None">
    <div class="card-header p-0" data-toggle="collapse" href="#pokemonListBody">
        <span>Pokémon List</span>
    </div>
    <div id="pokemonListBody" class="card-body p-0 show">
        <div data-bind="template: { name: 'PartySortSettingTemplate', data: Settings.getSetting('partySort')}"></div>

        <table id="pokemonList" class="table table-striped table-hover table-sm">
            <thead>

            <tr>
                <th>Name</th>
                <th>Atk</th>
                <th>Lvl</th>
            </tr>
            </thead>
            <tbody data-bind="template: { name: 'pokemonListTemplate', foreach: PartyController.getSortedList()() }">

            </tbody>
        </table>
    </div>
</div>

<script type="text/html" id="PartySortSettingTemplate">
    <div class="row no-gutters" style="align-items: center">
        <div class="col-2">Sort:</div>
        <select class="col-9" onchange="Settings.setSettingByName(this.name, SortOptions[SortOptions[this.value]])"
                data-bind="foreach: $data.options, attr: {name}">
            <option data-bind="text: $data.text, value: $data.value, attr:{ selected: $parent.observableValue() == $data.value}"></option>
        </select>
        <div class="col-1">
            <label for="partySortDirection" class="clickable" style="font-size: 24px;" data-bind="text: Settings.getSetting('partySortDirection').observableValue() ? '⥄' : '⥂'">⥂</label>
            <input id="partySortDirection" style="vertical-align: middle" class="hidden" type='checkbox'
                   data-bind="checked: Settings.getSetting('partySortDirection').observableValue()"
                   onchange="Settings.setSettingByName('partySortDirection', this.checked)"/>
        </div>
    </div>
</script>
