<div class="modal noselect fade" id="pokemonStatisticsModal" tabindex="-1" role="dialog" aria-labelledby="pokemonStatisticsModal">
  <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal modal-sm" role="document">
    <div class="modal-content" data-bind="with: App.game.statistics.selectedPokemonID()">
      <div class="modal-header bg-dark text-light" style='justify-content: space-around;'>
        <h5 class="modal-title text-muted"
          data-bind="text: `#${pokemonMap[$data].id <= 0 ? '???' : Math.floor(pokemonMap[$data].id).toString().padStart(3,0)}&nbsp;&nbsp;`">
        </h5>
        <h5 class="modal-title text-light" data-bind="text: PokemonHelper.displayName(pokemonMap[$data].name)">Pokémon Statistics</h5>&nbsp;
        <h5 class="modal-title text-light ml-1" data-bind="if: App.game.party.getPokemon(pokemonMap[$data].id)">
          <img width="18px" src=""
            data-bind="attr: { src: `assets/images/pokeball/Pokeball${App.game.party.alreadyCaughtPokemon(pokemonMap[$data].id, true) ? '-shiny' : ''}.svg` }" />
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-0 pb-1">
        <div class="row m-0 mt-1">
          <div class="col">
            <img data-bind="attr:{ src: PokemonHelper.getImage(pokemonMap[$data].id) }" src=""/>
            <div class="position-absolute" style="top: 0px; right: 15px;"
              data-bind="if: App.game.party.getPokemon(pokemonMap[$data].id)?.pokerus">
              <img width="40px" src=""
                data-bind="attr: { src: `assets/images/breeding/pokerus/${GameConstants.Pokerus[App.game.party.getPokemon(pokemonMap[$data].id)?.pokerus]}.png`}" />
            </div>
          </div>
        </div>
        <div class="row m-0 mt-2">
          <div class="col-12 col-lg-6">
            <table class="table table-striped table-hover table-bordered table-sm m-0 mb-2">
              <thead>
                <tr class="bg-secondary">
                  <th colspan="2">Pokémon Stats</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-left">Type</td>
                  <td class="text-left tight">
                    <span class="badge text-light px-1" data-bind="visible: pokemonMap[$data].type[0] >= 0,
                                style: { 'background-color': TypeColor[pokemonMap[$data].type[0]] }">
                      <small><strong
                          data-bind="text: PokemonType[pokemonMap[$data].type[0]].toUpperCase()"></strong></small>
                    </span>
                    <span class="badge text-light px-1" data-bind="if: pokemonMap[$data].type[1] >= 0,
                                style: { 'background-color': TypeColor[pokemonMap[$data].type[1]] }">
                      <small><strong
                          data-bind="text: PokemonType[pokemonMap[$data].type[1]].toUpperCase()"></strong></small>
                    </span>
                  </td>
                </tr>
                <tr>
                  <td class="text-left">Base Attack</td>
                  <td class="text-left tight"><code
                      data-bind="text: pokemonMap[$data].attack.toLocaleString('en-US')">-</code></td>
                </tr>
                <tr>
                  <td class="text-left">Current Attack</td>
                  <td class="text-left tight"><code
                      data-bind="text: (App.game.party.getPokemon($data) ? App.game.party.getPokemon($data).attack : 0).toLocaleString('en-US')">-</code>
                  </td>
                </tr>
                <!-- ko if : App.game.party.getPokemon($data) && App.game.party.getPokemon($data).level != 100 -->
                <tr>
                  <td class="text-left">Attack at level 100</td>
                  <td class="text-left tight"><code
                      data-bind="text: App.game.party.getPokemon($data).calculateAttack(true).toLocaleString('en-US')">-</code>
                  </td>
                </tr>
                <!-- /ko -->
                <!-- ko if: App.game.party.getPokemon($data)?.pokerus -->
                <tr>
                  <td class="text-left">EVs</td>
                  <td class="text-left tight">
                    <code>
                      <span data-bind="text: App.game.party.getPokemon($data).calculateEVs().toLocaleString('en-US')">-</span>
                    </code>
                  </td>
                </tr>
                <tr>
                  <td class="text-left">EV bonus</td>
                  <td class="text-left tight"><code
                      data-bind="text: '×' + App.game.party.getPokemon($data).calculateEVAttackBonus().toLocaleString('en-US')">-</code>
                  </td>
                </tr>
                <!-- /ko -->
                <tr>
                  <td class="text-left">Catch Rate</td>
                  <td class="text-left tight"><code
                      data-bind="text: PokemonFactory.catchRateHelper(pokemonMap[$data].catchRate, true) + '%'">-</code>
                  </td>
                </tr>
                <tr>
                  <td class="text-left">Hatch Steps</td>
                  <td class="text-left tight"><code
                      data-bind="text: App.game.party.getPokemon($data)?.getEggSteps().toLocaleString('en-US') || 'Unknown'">-</code>
                  </td>
                </tr>
                <!-- ko if: App.game.party.alreadyCaughtPokemon($data) -->
                <tr>
                  <td class="text-left">Breeding Efficiency</td>
                  <td class="text-left tight"><code
                      data-bind="text: SortOptionConfigs[SortOptions.breedingEfficiency].getValue(App.game.party.getPokemon(pokemonMap[$data].id)).toLocaleString('en-US', { maximumSignificantDigits: 2 })"></code>
                  </td>
                </tr>
                <!-- /ko -->
                <!-- ko if: BagHandler.displayName(pokemonMap[$data].heldItem) -->
                <tr>
                  <td class="text-left align-middle">Rare Hold Item</td>
                  <td class="text-left tight text-wrap"><code
                      data-bind="text: BagHandler.displayName(pokemonMap[$data].heldItem)"></code></td>
                </tr>
                <!-- /ko -->
                <tr>
                  <td class="text-left align-middle">Gender Ratio</td>
                  <td class="text-justify tight">
                    <!-- ko if: pokemonMap[$data].gender.type === GameConstants.Genders.Genderless -->
                    <code>Genderless</code>
                    <!-- /ko -->
                    <!-- ko if: pokemonMap[$data].gender.type != GameConstants.Genders.Genderless -->
                    <code
                      data-bind="text: '♂: ' + PokedexHelper.getGenderRatioData(pokemonMap[$data]).male + '%'"></code>
                    <br />
                    <code
                      data-bind="text: '♀: ' + PokedexHelper.getGenderRatioData(pokemonMap[$data]).female + '%'"></code>
                    <!-- /ko -->
                  </td>
                </tr>
                <!-- ko if: App.game.party.alreadyCaughtPokemon($data) -->
                <tr>
                  <td class="text-left align-middle">Held Item</td>
                  <td class="text-left tight text-wrap"><code
                      data-bind="text: App.game.party.getPokemon($data).heldItem()?.displayName || '-'"></code></td>
                </tr>
                <tr>
                  <td colspan="2" class="text-left tight">
                    <input type="text" class="form-control" placeholder="Nickname"
                      data-bind="value: App.game.party.getPokemon($data).nickname" />
                  </td>
                </tr>
                <!-- ko if: pokemonMap[$data].gender.visualDifference -->
                <tr>
                  <td class="text-left align-middle">Display Gender</td>
                  <td class="text-left tight">
                    <label class="form-check-label toggler-wrapper style-1 gender-toggle float-left">
                      <input class="form-check-input" type="checkbox" id="" value="false"
                        data-bind="checked: App.game.party.getPokemon($data).defaultFemaleSprite">
                      <div class="toggler-slider">
                        <div class="toggler-knob"></div>
                      </div>
                    </label>
                  </td>
                </tr>
                <!-- /ko -->
                <!-- ko if: App.game.party.getPokemon($data)?.shiny -->
                <tr>
                  <td class="text-left align-middle text-nowrap">Hide Shiny Sprite</td>
                  <td class="text-left tight">
                    <label class="form-check-label toggler-wrapper style-1 float-left">
                      <input class="form-check-input" type="checkbox" id="" value="false"
                        data-bind="checked: App.game.party.getPokemon($data).hideShinyImage">
                      <div class="toggler-slider" data-bind="tooltip: {
                        html: true,
                        title: Settings.getSetting('partyHideShinySprites').observableValue() ?
                            `<strong><u>${Settings.getSetting('partyHideShinySprites').displayName}</u></strong> is currently overriding this setting.` : '',
                        trigger: 'hover',
                      }">
                        <div class="toggler-knob"></div>
                      </div>
                    </label>
                  </td>
                </tr>
                <!-- /ko -->
                <!-- ko if: App.game.party.getPokemon($data)?.shadow == GameConstants.ShadowStatus.Purified -->
                <tr>
                  <td class="text-left align-middle text-nowrap">Show Shadow</td>
                  <td class="text-left tight">
                    <label class="form-check-label toggler-wrapper style-1 float-left">
                      <input class="form-check-input" type="checkbox" id="" value="false"
                        data-bind="checked: App.game.party.getPokemon($data).showShadowImage">
                      <div class="toggler-slider">
                        <div class="toggler-knob"></div>
                      </div>
                    </label>
                  </td>
                </tr>
                <!-- /ko -->
                <!-- /ko -->
              </tbody>
            </table>
          </div>
          <div class="col col-lg-6">
            <table class="table table-striped table-hover table-bordered table-sm m-0 mb-2">
              <thead>
                <tr class="bg-secondary">
                  <th colspan="2">Statistics</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-left align-middle">Encountered</td>
                  <td class="text-left align-middle tight position-relative">
                    <code
                      data-bind="text: App.game.statistics.pokemonEncountered[$data]().toLocaleString('en-US')">-</code>
                    <!-- Gender Statistics -->
                    <!-- ko if: pokemonMap[$data].gender.type == GameConstants.Genders.MaleFemale && pokemonMap[$data].gender.femaleRatio != 0 && pokemonMap[$data].gender.femaleRatio != 1 -->
                    <knockout data-bind="template: {
                                  name: 'pokemonGenderStatisticTemplate',
                                  data: {
                                      'maleStat': App.game.statistics.malePokemonEncountered[$data](),
                                      'femaleStat': App.game.statistics.femalePokemonEncountered[$data](),
                                  }
                              }">Pokémon gender statistic</knockout>
                    <!-- /ko -->
                  </td>
                </tr>
                <tr>
                  <td class="text-left align-middle">Defeated</td>
                  <td class="text-left align-middle tight position-relative">
                    <code
                      data-bind="text: App.game.statistics.pokemonDefeated[$data]().toLocaleString('en-US')">-</code>
                    <!-- Gender Statistics -->
                    <!-- ko if: pokemonMap[$data].gender.type == GameConstants.Genders.MaleFemale && pokemonMap[$data].gender.femaleRatio != 0 && pokemonMap[$data].gender.femaleRatio != 1 -->
                    <knockout data-bind="template: {
                                  name: 'pokemonGenderStatisticTemplate',
                                  data: {
                                      'maleStat': App.game.statistics.malePokemonDefeated[$data](),
                                      'femaleStat': App.game.statistics.femalePokemonDefeated[$data](),
                                  }
                              }">Pokémon gender statistic</knockout>
                    <!-- /ko -->
                  </td>
                </tr>
                <tr>
                  <td class="text-left align-middle">Captured</td>
                  <td class="text-left align-middle tight position-relative">
                    <code
                      data-bind="text: App.game.statistics.pokemonCaptured[$data]().toLocaleString('en-US')">-</code>
                    <!-- Gender Statistics -->
                    <!-- ko if: pokemonMap[$data].gender.type == GameConstants.Genders.MaleFemale && pokemonMap[$data].gender.femaleRatio != 0 && pokemonMap[$data].gender.femaleRatio != 1 -->
                    <knockout data-bind="template: {
                                  name: 'pokemonGenderStatisticTemplate',
                                  data: {
                                      'maleStat': App.game.statistics.malePokemonCaptured[$data](),
                                      'femaleStat': App.game.statistics.femalePokemonCaptured[$data](),
                                  }
                              }">Pokémon gender statistic</knockout>
                    <!-- /ko -->
                  </td>
                </tr>
                <tr>
                  <td class="text-left align-middle">Hatched</td>
                  <td class="text-left align-middle tight position-relative">
                    <code data-bind="text: App.game.statistics.pokemonHatched[$data]().toLocaleString('en-US')">-</code>
                    <!-- Gender Statistics -->
                    <!-- ko if: pokemonMap[$data].gender.type == GameConstants.Genders.MaleFemale && pokemonMap[$data].gender.femaleRatio != 0 && pokemonMap[$data].gender.femaleRatio != 1 -->
                    <knockout data-bind="template: {
                                  name: 'pokemonGenderStatisticTemplate',
                                  data: {
                                      'maleStat': App.game.statistics.malePokemonHatched[$data](),
                                      'femaleStat': App.game.statistics.femalePokemonHatched[$data](),
                                  }
                              }">Pokémon gender statistic</knockout>
                    <!-- /ko -->
                  </td>
                </tr>
                <tr>
                  <td class="text-left align-middle">Shinies Encountered</td>
                  <td class="text-left align-middle tight position-relative">
                    <code
                      data-bind="text: App.game.statistics.shinyPokemonEncountered[$data]().toLocaleString('en-US')">-</code>
                    <!-- Gender Statistics -->
                    <!-- ko if: pokemonMap[$data].gender.type == GameConstants.Genders.MaleFemale && pokemonMap[$data].gender.femaleRatio != 0 && pokemonMap[$data].gender.femaleRatio != 1 -->
                    <knockout data-bind="template: {
                                  name: 'pokemonGenderStatisticTemplate',
                                  data: {
                                      'maleStat': App.game.statistics.shinyMalePokemonEncountered[$data](),
                                      'femaleStat': App.game.statistics.shinyFemalePokemonEncountered[$data](),
                                  }
                              }">Pokémon gender statistic</knockout>
                    <!-- /ko -->
                  </td>
                </tr>
                <tr>
                  <td class="text-left align-middle">Shinies Defeated</td>
                  <td class="text-left align-middle tight position-relative">
                    <code
                      data-bind="text: App.game.statistics.shinyPokemonDefeated[$data]().toLocaleString('en-US')">-</code>
                    <!-- Gender Statistics -->
                    <!-- ko if: pokemonMap[$data].gender.type == GameConstants.Genders.MaleFemale && pokemonMap[$data].gender.femaleRatio != 0 && pokemonMap[$data].gender.femaleRatio != 1 -->
                    <knockout data-bind="template: {
                                  name: 'pokemonGenderStatisticTemplate',
                                  data: {
                                      'maleStat': App.game.statistics.shinyMalePokemonDefeated[$data](),
                                      'femaleStat': App.game.statistics.shinyFemalePokemonDefeated[$data](),
                                  }
                              }">Pokémon gender statistic</knockout>
                    <!-- /ko -->
                  </td>
                </tr>
                <tr>
                  <td class="text-left align-middle">Shinies Captured</td>
                  <td class="text-left align-middle tight position-relative">
                    <code
                      data-bind="text: App.game.statistics.shinyPokemonCaptured[$data]().toLocaleString('en-US')">-</code>
                    <!-- Gender Statistics -->
                    <!-- ko if: pokemonMap[$data].gender.type == GameConstants.Genders.MaleFemale && pokemonMap[$data].gender.femaleRatio != 0 && pokemonMap[$data].gender.femaleRatio != 1 -->
                    <knockout data-bind="template: {
                                  name: 'pokemonGenderStatisticTemplate',
                                  data: {
                                      'maleStat': App.game.statistics.shinyMalePokemonCaptured[$data](),
                                      'femaleStat': App.game.statistics.shinyFemalePokemonCaptured[$data](),
                                  }
                              }">Pokémon gender statistic</knockout>
                    <!-- /ko -->
                  </td>
                </tr>
                <tr>
                  <td class="text-left align-middle">Shinies Hatched</td>
                  <td class="text-left align-middle tight position-relative">
                    <code
                      data-bind="text: App.game.statistics.shinyPokemonHatched[$data]().toLocaleString('en-US')">-</code>
                    <!-- Gender Statistics -->
                    <!-- ko if: pokemonMap[$data].gender.type == GameConstants.Genders.MaleFemale && pokemonMap[$data].gender.femaleRatio != 0 && pokemonMap[$data].gender.femaleRatio != 1 -->
                    <knockout data-bind="template: {
                                  name: 'pokemonGenderStatisticTemplate',
                                  data: {
                                      'maleStat': App.game.statistics.shinyMalePokemonHatched[$data](),
                                      'femaleStat': App.game.statistics.shinyFemalePokemonHatched[$data](),
                                  }
                              }">Pokémon gender statistic</knockout>
                    <!-- /ko -->
                  </td>
                </tr>
              </tbody>
            </table>

            <!-- ko if: !App.game.challenges.list.disableVitamins.active() && App.game.party.alreadyCaughtPokemon($data) -->
            <table class="table table-striped table-hover table-bordered table-sm m-0 mb-2">
              <thead>
                <tr class="bg-secondary">
                  <th colspan="2">Vitamins</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="text-left">Vitamins Used</td>
                  <td class="text-left tight"><code
                      data-bind="text: (App.game.party.getPokemon($data) ? App.game.party.getPokemon($data).totalVitaminsUsed() : 0).toLocaleString('en-US')">-</code>
                  </td>
                </tr>
                <!-- ko foreach: GameHelper.enumNumbers(GameConstants.VitaminType) -->
                <tr>
                  <td class="text-left" data-bind="text: `${GameConstants.VitaminType[$data]}`">X Used</td>
                  <td class="text-left tight"><code
                      data-bind="text: (App.game.party.getPokemon($parent) ? App.game.party.getPokemon($parent).vitaminsUsed[$data]() : 0).toLocaleString('en-US')">-</code>
                  </td>
                </tr>
                <!-- /ko -->
              </tbody>
            </table>
            <!-- /ko -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
