<script type="text/html" id="PartySortSettingTemplate">
    <div class="row no-gutters" style="align-items: center">
        <div class="input-group">
            <select
                class="custom-select"
                onchange="Settings.setSettingByName(this.name, SortOptions[SortOptions[this.value]])"
                data-bind="foreach: $data.options, attr: {name}"
            >
                <option data-bind="text: $data.text, value: $data.value, attr:{ selected: $parent.observableValue() == $data.value}"></option>
            </select>
            <div class="input-group-append bg-primary text-light">
                <label
                    for="partySortDirection"
                    class="clickable m-0 pl-2 pr-2"
                    style="font-size: 22px;"
                    data-bind="
                        text: Settings.getSetting('partySortDirection').observableValue() ? '⥄' : '⥂',
                        tooltip: { title: Settings.getSetting('partySortDirection').observableValue() ? 'Descending (highest value first)' : 'Ascending (lowest value first)', trigger: 'hover', placement:'top' }"
                >⥂</label>
                <input
                    id="partySortDirection"
                    style="vertical-align: middle"
                    class="hidden"
                    type="checkbox"
                    data-bind="checked: Settings.getSetting('partySortDirection').observableValue()"
                    onchange="Settings.setSettingByName('partySortDirection', this.checked)"
                />
            </div>
        </div>
    </div>
</script>
<div id="pokemonListContainer" class="card sortable border-secondary mb-3" data-bind="visible: player.regionStarters[GameConstants.Region.kanto]() != GameConstants.Starter.None">
    <div class="card-header p-0" data-toggle="collapse" href="#pokemonListBody">
        <span>Pokémon List</span>
    </div>
    <div id="pokemonListBody" class="card-body p-0 show">
        <div class="table-responsive d-flex flex-column" data-bind="resizable: { setting: 'pokemonList' }">
            <div class="flex-grow-1 flex-shrink-1 text-left" style="overflow: auto;">
                <div data-bind="template: { name: 'PartySortSettingTemplate', data: Settings.getSetting('partySort')}"></div>
                <div data-bind="let: {
                    lazyPokemonList: lazyLoad('lazyPokemonList', $element, PartyController.getSortedList, { pageSize: 20, reset: () => (DisplayObservables.collapseState.pokemonListBody === 'hidden'), pause: () => DisplayObservables.collapseState.pokemonListBody !== 'show' }),
                    showAtkLabel: player.highestRegion() == GameConstants.Region.kanto,
                }">
                    <!-- ko if: DisplayObservables.collapseState.pokemonListBody !== 'hidden' -->
                        <!-- ko foreach: lazyPokemonList, childrenComplete: () => { lazyLoadCallback('lazyPokemonList'); } -->
                            <div class="d-flex align-items-center small px-1 border-bottom pokemon-row clickable" href="#pokemonStatisticsModal" data-toggle="modal"
                                data-bind="hidden: $data.breeding, click: () => { App.game.statistics.selectedPokemonID($data.id) }">
                                <img data-bind="attr: { src: PokemonHelper.getImage($data.id) }" style="max-height: 52px;" src="" alt="" />
                                <div class="flex-grow-1">
                                    <div class="d-flex align-items-center">
                                        <div>
                                            <knockout data-bind="text: displayName"></knockout>
                                            <sup data-bind="visible: $data.shiny">✨</sup>
                                        </div>

                                        <div class="ml-auto text-right text-nowrap">
                                            <knockout class="text-muted small">Lv</knockout>
                                            <knockout data-bind="text: level"></knockout>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="text-muted">
                                            <small class="attack-label" data-bind="visible: showAtkLabel">Atk</small>
                                            <knockout title="Attack Power" data-bind="text: attack.toLocaleString('en-US')"></knockout>
                                        </div>
                                        <div class="ml-auto text-right d-flex align-items-center">
                                            <!-- ko foreach: PokemonHelper.getMegaStones($data.name).filter(s => player.hasMegaStone(s.megaStone)) -->
                                            <img width="18" data-bind="attr: { src: $data.image },
                                                tooltip: {
                                                    title: pokemonMap[$parent.name].evolutions.flatMap(e => e.restrictions)
                                                        .find(r => r instanceof MegaEvolveRequirement && r.megaStone == $data.megaStone)?.hint() ?? '',
                                                    trigger: 'hover',
                                                    placement: 'bottom'
                                            }"/>
                                            <!-- /ko -->
                                            <img class="shadow-icon" src="assets/images/status/shadow.svg" title="Shadow" data-bind="visible: $data.shadow == GameConstants.ShadowStatus.Shadow"/>
                                            <img class="shadow-icon" src="assets/images/status/purified.svg" title="Purified" data-bind="visible: $data.shadow == GameConstants.ShadowStatus.Purified"/>
                                            <img class="ml-1" width="28" data-bind="visible: $data.pokerus, attr: { src: `assets/images/breeding/pokerus/${GameConstants.Pokerus[$data.pokerus]}.png`}" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <!-- /ko -->
                    <!-- /ko -->
                </div>
            </div>

            <!-- Reserved space for resize drag handle -->
            <div class="card-footer py-2"></div>
        </div>
    </div>
</div>
