<div class="modal noselect fade" id="pokemonSelectorModal" tabindex="-1" role="dialog" aria-labelledby="pokemonSelectorModal">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
        <div class="modal-content">
            <!-- ko if: modalUtils.observableState['pokemonSelectorModal'] === 'show' -->
            <div class="modal-header bg-dark text-light" style='justify-content: space-around;'>
                <h5 class="modal-title text-light">Select a Pokémon</h5>&nbsp;
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                <img src="assets/images/items/vitamin/Protein.png" width="40%"/>
                <br/>
                <div class="sticky-top bg-dark text-light">
                  <!-- ko if: App.game.challenges.list.disableProteins.active() -->
                  <span class="btn btn-block btn-danger btn-static m-0">
                    Proteins are disabled.
                  </span>
                  <!-- /ko -->
                  <div class="btn-group btn-block m-0" role="group" aria-label="Basic example">
                    <button class="btn btn-block btn-secondary btn-static" data-bind="text: 'Proteins: ' + player.itemList.Protein().toLocaleString('en-US')"></button>
                    <button type="button" class="btn btn-sm btn-primary"
                      data-bind="text: VitaminController.multiplier[VitaminController.multiplierIndex()]"
                      onclick="VitaminController.incrementMultiplier()"
                      oncontextmenu="VitaminController.decrementMultiplier(); return false"
                      title="Multiplier"
                      data-toggle="popover"
                      data-html="true"
                      data-content="Left/right click to cycle amount<br/>Click on Pokémon to use"
                      data-placement="right"
                      data-trigger="hover">
                    </button>
                  </div>
                  <div class="input-group" data-bind="with: Settings.getSetting('proteinSort')">
                      <select autocomplete="off" class="custom-select" onchange="Settings.setSettingByName(this.name, SortOptions[SortOptions[this.value]])"
                          data-bind="foreach: $data.options, attr: {name}, selectedOptions: [$data.observableValue()]">
                          <option data-bind="text: $data.text, value: $data.value"></option>
                      </select>
                      <div class="input-group-append bg-primary text-light">
                          <label for="proteinSortDirection" class="clickable m-0 pl-2 pr-2" style="font-size: 22px;" data-bind="
                            text: Settings.getSetting('proteinSortDirection').observableValue() ? '⥄' : '⥂',
                            tooltip: { title: Settings.getSetting('proteinSortDirection').observableValue() ? 'Descending (highest value first)' : 'Ascending (lowest value first)', trigger: 'hover', placement:'top', html: true }
                            ">⥂</label>
                          <input id="proteinSortDirection" style="vertical-align: middle" class="hidden" type='checkbox'
                              data-bind="checked: Settings.getSetting('proteinSortDirection').observableValue()"
                              onchange="Settings.setSettingByName('proteinSortDirection', this.checked)"/>
                      </div>
                  </div>
				  <div class="form-check">
					  <input type="checkbox" id="hide-max-protein-pokemons" class="form-check-input"
						  data-bind="checked: Settings.getSetting('proteinHideMaxedPokemon').observableValue()"
						  onchange="Settings.setSettingByName('proteinHideMaxedPokemon', this.checked)"/>
					  <label for="hide-max-protein-pokemons" class="form-check-label">Hide Pokémon with max protein</label>
				  </div>
          <div class="form-check">
					  <input type="checkbox" id="hide-shiny-pokemons" class="form-check-input"
						  data-bind="checked: Settings.getSetting('proteinHideShinyPokemon').observableValue()"
						  onchange="Settings.setSettingByName('proteinHideShinyPokemon', this.checked)"/>
					  <label for="hide-shiny-pokemons" class="form-check-label">Hide shiny Pokémon</label>
          </div>
          <div class="form-row m-0" id="protein-filter">
            <div class="form-group col-md-6 col-6 p-0">
                <label for="protein-search">Search</label>
                <input id="protein-search" autocomplete="off" class="form-control" placeholder="Search here"
                    data-bind="textInput: Settings.getSetting('proteinSearchFilter').observableValue"
                />
            </div>
            <div class="form-group col-md-3 col-3 p-0">
                <label for="protein-region-filter">Region</label>
                <select id="protein-region-filter" name="proteinRegionFilter" autocomplete="off" class="custom-select" onchange="Settings.setSettingByName(this.name, +this.value)">
                    <!-- ko foreach: Settings.getSetting('proteinRegionFilter').options.filter(r => r.value <= player.highestRegion()) -->
                    <option data-bind="attr: { value: $data.value, selected: Settings.getSetting('proteinRegionFilter').value === $data.value }, text: $data.text">Region</option>
                    <!-- /ko -->
                </select>
            </div>
            <div class="form-group col-md-3 col-3 p-0">
                <label for="protein-type-filter">Type</label>
                <select id="protein-type-filter" name="proteinTypeFilter" autocomplete="off" class="custom-select" onchange="Settings.setSettingByName(this.name, +this.value)">
                    <!-- ko foreach: Settings.getSetting('proteinTypeFilter').options -->
                    <option data-bind="attr: { value: $data.value, selected: Settings.getSetting('proteinTypeFilter').value === $data.value }, text: $data.text">Type</option>
                    <!-- /ko -->
                </select>
            </div>
          </div>
              </div>
                <table class="table table-striped table-hover table-bordered table-sm m-0">
                  <thead>
                    <tr class="text-light">
                      <th class="text-left bg-dark align-middle">Pokémon</th>
                      <th class="text-center bg-dark align-middle">Proteins Used</th>
                      <th class="text-center bg-dark align-middle">Attack Bonus</th>
                    </tr>
                  </thead>
                  <tbody data-bind="foreach: PartyController.getProteinSortedList()">
                    <tr class="clickable" data-bind="click: () => $data.useProtein(VitaminController.getMultiplier()), hidden: $data.hideFromProteinList()">
                      <td class="text-left"><knockout data-bind="text: $data.name"></knockout><sup data-bind="visible: $data.shiny">✨</sup></td>
                      <td class="text-center tight" data-bind="text: $data.proteinsUsed().toLocaleString('en-US')">-</td>
                      <td class="text-center tight" data-bind="text: Math.floor($data.baseAttack * (GameConstants.BREEDING_ATTACK_BONUS / 100) + $data.proteinsUsed()).toLocaleString('en-US')">-</td>
                    </tr>
                  </tbody>
                </table>
            </div>
            <!-- /ko -->
            <span class="bg-dark text-light text-right align-right p-1"  data-bind="text:`Showing ${PartyController.getProteinSortedList().filter(p => !p.hideFromProteinList()).length} Pokémon`"></span>
        </div>
    </div>
</div>
