
<div class="card border-secondary mb-3 pokemon-list-container" id="pokemonListContainer"
     data-bind="visible: player.starter != GameConstants.Starter.None">
    <div class="card-header p-0" data-toggle="collapse" href="#pokemonListBody">
      <span>Pokémon List</span>
    </div>
    <div id="pokemonListBody" class="card-body p-0 show">
        <div class="input-group input-group-sm">
            <div class="input-group-prepend">
              <span class="input-group-text">Sort:</span>
            </div>
            <select class="form-control" data-bind="options: GameConstants.SortOptions,
                                                    optionsText: 'text',
                                                    optionsValue: 'value',
                                                    value: player._sortOption,
                                                    optionsCaption: 'Sort By...'" title="">
            </select>
            <div class="input-group-append">
              <label for="reverse_sort" class="input-group-text">
                <input id="reverse_sort" class="clickable" type='checkbox' data-bind="checked: player._sortDescending" title=""/>&nbsp;Reverse
              </label>
            </div>
       </div>
        <table id="pokemonList" class="table table-striped table-hover table-sm">
            <thead>
            <tr>
                <th>Name</th>
                <th>Atk</th>
                <th>Lvl</th>
            </tr>
            </thead>
            <tbody data-bind="template: { name: 'pokemonListTemplate', foreach: player.sortedPokemonList()()}">

            </tbody>
        </table>
    </div>
</div>
