<div aria-labelledby="myModalLabel" class="modal fade noselect" id="labModal" role="dialog"
style="cursor:default" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header p-0">
                <ul class="nav nav-tabs nav-fill w-100">
                    <li class="nav-item"><a data-toggle='tab' class='nav-link active' href="#lab">Lab</a></li>
                    <li class='nav-item'><a data-toggle='tab' class='nav-link' href="#research">Research</a></li>
                    <li class='nav-item'><a data-toggle='tab' class='nav-link' href="#labHelp">Help</a></li>
                </ul>
            </div>

            <div class="modal-body tab-content p-0">
                <div id="lab" class="tab-pane fade in active show">
                    TODO: HLXII - Setup Lab tab
                </div>
                <div id="research" class="tab-pane fade">
                    TODO: HLXII - Setup Research tab
                </div>
                <div id="labHelp" class="tab-pane fade">
                    TODO: HLXII - Add help text
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
