<div class="modal noselect fade" id="PrestigeModal" tabindex="-1" role="dialog" aria-labelledby="PrestigeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">

                Header
            </div>
            <div class="modal-body" id="prestige-modal-body">
                <table class="prestige-table">
                    <tr>
                        <td><div class="prestige-upgrade">0</div></td>
                        <td><div class="prestige-upgrade">0</div></td>
                        <td><div class="prestige-upgrade prestige-easy">1</div></td>
                        <td><div class="prestige-upgrade prestige-easy">2</div></td>
                        <td><div class="prestige-upgrade prestige-easy">3</div></td>
                        <td><div class="prestige-upgrade">0</div></td>
                        <td><div class="prestige-upgrade">0</div></td>
                    </tr>
                    <tr>
                        <td><div class="prestige-upgrade">0</div></td>
                        <td><div class="prestige-upgrade prestige-easy">4</div></td>
                        <td><div class="prestige-upgrade prestige-hard">5</div></td>
                        <td><div class="prestige-upgrade prestige-hard">6</div></td>
                        <td><div class="prestige-upgrade prestige-hard">7</div></td>
                        <td><div class="prestige-upgrade prestige-easy">8</div></td>
                        <td><div class="prestige-upgrade">0</div></td>
                    </tr>
                    <tr>
                        <td><div class="prestige-upgrade prestige-easy">9</div></td>
                        <td><div class="prestige-upgrade prestige-hard">10</div></td>
                        <td><div class="prestige-upgrade prestige-hard">11</div></td>
                        <td><div class="prestige-upgrade prestige-easy">12</div></td>
                        <td><div class="prestige-upgrade prestige-hard">13</div></td>
                        <td><div class="prestige-upgrade prestige-hard">14</div></td>
                        <td><div class="prestige-upgrade prestige-easy">15</div></td>
                    </tr>
                    <tr>
                        <td><div class="prestige-upgrade prestige-easy">16</div></td>
                        <td><div class="prestige-upgrade prestige-easy">17</div></td>
                        <td><div class="prestige-upgrade prestige-easy">18</div></td>
                        <td><div class="prestige-upgrade prestige-medium">19</div></td>
                        <td><div class="prestige-upgrade prestige-easy">20</div></td>
                        <td><div class="prestige-upgrade prestige-easy">21</div></td>
                        <td><div class="prestige-upgrade prestige-easy">22</div></td>
                    </tr>
                    <tr>
                        <td><div class="prestige-upgrade prestige-easy">23</div></td>
                        <td><div class="prestige-upgrade prestige-medium">24</div></td>
                        <td><div class="prestige-upgrade prestige-medium">25</div></td>
                        <td><div class="prestige-upgrade prestige-easy">26</div></td>
                        <td><div class="prestige-upgrade prestige-medium">27</div></td>
                        <td><div class="prestige-upgrade prestige-medium">28</div></td>
                        <td><div class="prestige-upgrade prestige-easy">29</div></td>
                    </tr>
                    <tr>
                        <td><div class="prestige-upgrade">0</div></td>
                        <td><div class="prestige-upgrade prestige-easy">30</div></td>
                        <td><div class="prestige-upgrade prestige-medium">31</div></td>
                        <td><div class="prestige-upgrade prestige-medium">32</div></td>
                        <td><div class="prestige-upgrade prestige-medium">33</div></td>
                        <td><div class="prestige-upgrade prestige-easy">34</div></td>
                        <td><div class="prestige-upgrade">0</div></td>
                    </tr>
                    <tr>
                        <td><div class="prestige-upgrade">0</div></td>
                        <td><div class="prestige-upgrade">0</div></td>
                        <td><div class="prestige-upgrade prestige-easy">35</div></td>
                        <td><div class="prestige-upgrade prestige-easy">36</div></td>
                        <td><div class="prestige-upgrade prestige-easy">37</div></td>
                        <td><div class="prestige-upgrade">0</div></td>
                        <td><div class="prestige-upgrade">0</div></td>
                    </tr>
                    </table>

            </div>

            <div class="modal-footer">
                Footer
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>