<div class="modal noselect fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModal">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header" style='justify-content: space-around;'>
                <h5 class="modal-title">Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left p-2">
                <div class="form-row p-0" id="profileEdit">
                    <div class="form-group col-6">
                        <label>Name</label>
                        <input autocomplete="off" class="form-control" oninput="App.game.profile.name(this.value)" placeholder="name" data-bind="value: App.game.profile.name()"/>
                    </div>
                    <div class="form-group col-6">
                        <label>Pokémon</label>
                        <select autocomplete="off" class="custom-select" onchange="App.game.profile.pokemon(+this.value), App.game.profile.pokemonShiny(false), App.game.profile.pokemonFemale(false)">
                            <!-- ko foreach: App.game.party.caughtPokemon.sort((a, b) => a.id - b.id) -->
                            <option data-bind="attr: { value: $data.id, selected: App.game.profile.pokemon() === $data.id }, text: '#'+($data.id > 0 ? Math.floor($data.id) + '' : '???').padStart(3, 0)+' '+$data.displayName">Pokemon</option>
                            <!-- /ko -->
                        </select>
                    </div>
                    
                    <div class="form-group col-6">
                        <label>Shiny</label>
                        <label class="form-check-label toggler-wrapper style-1 float-right">
                            <input class="form-check-input" type="checkbox" id="profile-shiny-toggle"
                                data-bind="checked: App.game.profile.pokemonShiny, enable: App.game.party.alreadyCaughtPokemon(App.game.profile.pokemon(), true)">
                            <div class="toggler-slider" data-bind="tooltip: { title: !App.game.party.alreadyCaughtPokemon(App.game.profile.pokemon(), true) ? `Shiny ${PokemonHelper.getPokemonById(App.game.profile.pokemon()).name} is not unlocked yet` : '', trigger: 'hover' }">
                                <div class="toggler-knob" data-bind="css: { 'checkbox-disabled': !App.game.party.alreadyCaughtPokemon(App.game.profile.pokemon(), true) }"></div>
                            </div>
                        </label>
                    </div>
                    <!-- ko if: PokemonHelper.getPokemonById(App.game.profile.pokemon()).gender.visualDifference -->
                    <div class="form-group col-6">
                        <label>Gender</label>
                        <label class="form-check-label toggler-wrapper style-1 float-right"
                            data-bind="css: { 'gender-toggle': PokemonHelper.getPokemonById(App.game.profile.pokemon()).gender.visualDifference }">
                            <input class="form-check-input" type="checkbox" id="profile-female-toggle"
                                data-bind="checked: App.game.profile.pokemonFemale, enable: PokemonHelper.getPokemonById(App.game.profile.pokemon()).gender.visualDifference">
                            <div class="toggler-slider">
                                <div class="toggler-knob"></div>
                            </div>
                        </label>
                    </div>
                    <!-- /ko -->
                    <div class="form-group col-12">
                        <label>Text Color</label>
                        <p class="p-0" data-bind="style: { background: App.game.profile.textColor() }">
                          <label style="width:100%; min-height: 28px; padding:0px; margin: 0px;"><input style="opacity: 0;" type="color" data-bind="value: App.game.profile.textColor"/></label>
                        </p>
                    </div>
                    <div class="form-group col-6">
                        <a class="btn btn-block btn-primary text-left" href="#profileTrainerModal" data-toggle="modal">Trainer <img style="position:absolute; right: 10px;" data-bind="attr: { src: `assets/images/profile/trainer-${App.game.profile.trainer() || 0}.png` }"/></a>
                    </div>
                    <div class="form-group col-6">
                        <a class="btn btn-block btn-primary text-left" href="#profileBackgroundModal" data-toggle="modal">Background <knockout style="position:absolute; right: 10px;" data-bind="text: `#${App.game.profile.background()}`"></knockout></a>
                    </div>
                </div>
                <div id="profile-trainer-card"></div>
            </div>
        </div>
    </div>
</div>
