<div class="modal noselect fade" id="profileBackgroundModal" tabindex="-1" role="dialog" aria-labelledby="profileBackgroundModalLabel">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header" style='justify-content: space-around;'>
                <h5 class="modal-title">Select a Background</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- ko foreach: new Array(Profile.MAX_BACKGROUND).fill(0) -->
                <button style="position: relative; height: 160px; width: 100%;"
                    data-dismiss='modal'
                    data-bind='click: () => {
                        App.game.profile.background($index());
                        $("#profileBackgroundModal").modal("hide");
                    },
                    class: `btn trainer-card trainer-bg-${$index()}`'>
                </button>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>
