<div class="modal noselect fade" id="profileTrainerModal" tabindex="-1" role="dialog" aria-labelledby="profileTrainerModalLabel">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header" style='justify-content: space-around;'>
                <h5 class="modal-title">Select a Trainer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- ko foreach: new Array(Profile.MAX_TRAINER).fill(0) -->
                <button style="position: relative;" class='btn'
                    data-dismiss='modal'
                    data-bind='click: () => {
                        App.game.profile.trainer($index());
                        $("#profileTrainerModal").modal("hide");
                    },'>
                    <img data-bind="attr: { src: `assets/images/profile/trainer-${$index()}.png` }"/>
                </button>
                <!-- /ko -->
            </div>
        </div>
    </div>
</div>
