<div class="modal noselect fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="profileModal">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header" style='justify-content: space-around;'>
                <h5 class="modal-title">Profile</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-left p-2">
                <div class="form-row p-0" id="breeding-filter">
                    <div class="form-group col-12">
                        <label>Name</label>
                        <input autocomplete="off" class="form-control" oninput="App.game.profile.name(this.value)" placeholder="name" data-bind="value: App.game.profile.name()"/>
                    </div>
                    <div class="form-group col-12">
                        <label>Pokemon</label>
                        <select autocomplete="off" class="custom-select" onchange="App.game.profile.pokemon(+this.value)">
                            <!-- ko foreach: App.game.party.caughtPokemon -->
                            <option data-bind="attr: { value: $data.id, selected: App.game.profile.pokemon() === $data.id }, text: $data.name">Pokemon</option>
                            <!-- /ko -->
                        </select>
                    </div>
                    <div class="form-group col-12">
                        <label>Text Color</label>
                        <p class="p-0" data-bind="style: { background: App.game.profile.textColor() }">
                          <label style="width:100%; min-height: 28px; padding:0px; margin: 0px;"><input style="opacity: 0;" type="color" data-bind="value: App.game.profile.textColor"/></label>
                        </p>
                    </div>
                    <div class="form-group col-12">
                        <a class="btn btn-block btn-primary text-left" href="#profileTrainerModal" data-toggle="modal">Trainer <img style="position:absolute; right: 10px;" data-bind="attr: { src: `assets/images/profile/trainer-${App.game.profile.trainer() || 0}.png` }"/></a>
                    </div>
                    <div class="form-group col-12">
                        <a class="btn btn-block btn-primary text-left" href="#profileBackgroundModal" data-toggle="modal">Background <knockout style="position:absolute; right: 10px;" data-bind="text: `#${App.game.profile.background()}`"></knockout></a>
                    </div>
                </div>
                <div id="profile-trainer-card"></div>
            </div>
        </div>
    </div>
</div>
