<div class="modal fade noselect" id="purifyChamberModal" tabindex="-1" role="dialog"
aria-labelledby="purifyChamberModalLabel">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Purify Chamber</h5>
            </div>
            <div class="modal-body">
                <select id="purify-chamber-selector" class="custom-select" onchange="App.game.purifyChamber.selectedPokemon(value)" style="margin-right: 8px"
                        data-bind="options: App.game.party.caughtPokemon.filter((p) => p.shadow == GameConstants.ShadowStatus.Shadow),
                               optionsText: 'pokemon',
                               value: App.game.purifyChamber.selectedPokemon"
                >
                </select>
                <img data-bind="if: App.game.purifyChamber.selectedPokemon(), attr: { src: App.game.purifyChamber.selectedPokemon() ? PokemonHelper.getImage(App.game.purifyChamber.selectedPokemon().id) : '' }"/>
                <button data-bind="if: App.game.purifyChamber.canPurify()" class="btn btn-primary" onclick="App.game.purifyChamber.purify()">Purify</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
