<div id="questDisplayContainer" class="card sortable border-secondary mb-3">
    <!-- ko if: App.game.quests.isDailyQuestsUnlocked() -->
        <div class="card-header p-0" data-toggle="collapse" href="#questDisplayBody">
            <span data-bind='text: "Quests (" + App.game.quests.currentQuests().length + "/" + App.game.quests.questSlots() + ")"'></span>
        </div>
        <button class="btn btn-sm btn-primary" style="position: absolute; right: 0px; top: 0px; width: auto; height: 41px;"
                data-bind="click: function(){$('#QuestModal').modal('show')}">
            List
        </button>
    <!-- /ko -->

    <div id="questDisplayBody" class="card-body p-0 show">
        <!-- ko if: App.game.quests.currentQuests().length == 0 && App.game.quests.isDailyQuestsUnlocked() -->
            <span class="pt-2 pb-2">No active quest</span>
        <!-- /ko -->
        <table width="100%">
            <!-- List of player quests -->
            <tbody data-bind="foreach: App.game.quests.currentQuests()">
                <tr class="text-center">
                    <td colspan="2" data-bind="text: $data.description"></td>
                </tr>
                <tr>
                    <td width="70%" class="p-0">
                        <div class="progress p-0">
                            <div class="progress-bar bg-primary" role="progressbar"
                                data-bind="attr:{ style: 'width:' + ($data.progress() * 100) + '%'}"
                                aria-valuemin="0" aria-valuemax="100">
                                <span data-bind="text: $data.progressText">0 / 1000</span>
                            </div>
                        </div>
                    </td>
                    <td width="30%" class="p-0">
                        <!-- ko ifnot: $data.isCompleted() -->
                        <button class="btn btn-danger btn-sm btn-block p-0" data-bind="click: () => { App.game.quests.quitQuest($data.index, $data.progress() > 0) }">
                            Quit
                        </button>
                        <!-- /ko -->
                        <!-- ko if: $data.isCompleted() -->
                        <button class="btn btn-success btn-sm btn-block p-0" data-bind="click: () => { App.game.quests.claimQuest($data.index) }">
                            Claim
                        </button>
                        <!-- /ko -->
                    </td>
                </tr>
            </tbody>
            <!-- List of quest line quests -->
            <tbody id="questLines" data-bind="foreach: App.game.quests.questLines()">
                <!-- ko if: $data.state() == QuestLineState.started -->
                    <tr>
                        <td colspan="2">
                            <div class="card-header">
                                <knockout data-bind="text: $data.name"></knockout>
                                <knockout class="info text-primary" data-bind="tooltip: { title: $data.description, trigger: 'hover', placement:'left' }">ⓘ</knockout>
                            </div>
                        </td>
                    </tr>
                    <tr class="text-center">
                        <td colspan="2" data-bind="text: $data.curQuestObject().description"></td>
                    </tr>
                    <!-- ko ifnot: $data.curQuestObject().quests -->
                    <tr>
                        <td colspan="2" class="p-0">
                            <div class="progress p-0">
                                <div class="progress-bar bg-success" role="progressbar"
                                    data-bind="attr:{ style: 'width:' + ($data.curQuestObject().progress() * 100) + '%'}"
                                    aria-valuemin="0" aria-valuemax="100">
                                    <span data-bind="text: ko.pureComputed(function(){return $data.curQuestObject().progressText()})">0/1000</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <!-- /ko -->
                    <!-- ko if: $data.curQuestObject().quests -->
                        <!-- ko foreach: $data.curQuestObject().quests -->
                            <!-- ko if: $data.description-->
                                <tr class="text-center font-italic">
                                    <td colspan="2" data-bind="text: $data.description"></td>
                                </tr>
                            <!-- /ko -->
                            <tr>
                                <td colspan="2">
                                    <div class="progress p-0">
                                        <div class="progress-bar bg-success" role="progressbar"
                                            data-bind="attr:{ style: 'width:' + ($data.progress() * 100) + '%'}"
                                            aria-valuemin="0" aria-valuemax="100">
                                            <span data-bind="text: ko.pureComputed(function(){return $data.progressText()})">0/1000</span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        <!-- /ko -->
                    <!-- /ko -->
                <!-- /ko -->
            </tbody>
        </table>
  </div>
</div>
