<div class="card border-secondary mb-3" id="questDisplayContainer" >

    <div class="card-header p-0" data-toggle="collapse" href="#questDisplayBody">
      <span data-bind='text: !player.tutorialComplete() ? "Tutorial Quest" : "Quests (" + player.currentQuests().length + "/" + QuestHelper.questSlots()() + ")"'></span>
    </div>
    <button class='btn btn-sm btn-primary' style="position: absolute; right: 0px; top: 0px; width: auto; height: 41px;"
            data-bind='visible: player.tutorialComplete(), click: function(){$("#QuestModal").modal("show")}'>
        List
    </button>

    <div id="questDisplayBody" class="card-body p-0 show">
      <!-- List of quests -->
      <div data-bind="foreach: player.currentQuests">
          <div class="card border-bottom-0">
              <table width="100%">
                  <tr class="text-center">
                      <td colspan="2" data-bind="text: QuestHelper.questList()[$data.index].description"></td>
                  </tr>
                  <tr>
                      <td class="p-2">
                          <div class="progress p-0">
                              <div class="progress-bar bg-success" role="progressbar"
                                  data-bind="attr:{ style: 'width:' + (QuestHelper.questList()[$data.index].progress() * 100) + '%'}"
                                  aria-valuemin="0" aria-valuemax="100">
                                  <span data-bind="text: QuestHelper.questList()[$data.index].progressText">0/1000</span>
                              </div>
                          </div>
                      </td>
                      <td width="30%" class="p-2">
                          <button class="btn btn-sm btn-block p-0"
                                  data-bind='
                                      click: function(){QuestHelper.questList()[$data.index].endQuest();},
                                      text: QuestHelper.questList()[$data.index].isCompleted() ? "Claim" : "Quit",
                                      css: {
                                        "btn-success": QuestHelper.questList()[$data.index].isCompleted(),
                                        "btn-danger": !QuestHelper.questList()[$data.index].isCompleted(),
                                      }'>
                          </button>
                      </td>
                  </tr>
              </table>
          </div>
      </div>
      <!-- ko if: player.currentQuests().length == 0 -->
        <span class="pt-2 pb-2">No active quest</span>
      <!-- /ko -->
      <div data-bind='if: (!player.tutorialComplete()) && (QuestLineHelper.tutorial.totalQuests > 0) && (QuestLineHelper.tutorial.curQuest() < QuestLineHelper.tutorial.totalQuests)'>
          <div class="card border-bottom-0">
              <table>
                  <tr class="text-center">
                      <td data-bind="text: QuestLineHelper.tutorial.curQuestObject().description"></td>
                  </tr>
                  <tr>
                      <td class="p-2">
                          <div class="progress p-0">
                              <div class="progress-bar bg-success" role="progressbar"
                                  data-bind="attr:{ style: 'width:' + (QuestLineHelper.tutorial.curQuestObject().progress() * 100) + '%'}"
                                  aria-valuemin="0" aria-valuemax="100">
                                  <span data-bind="text: ko.pureComputed(function(){return QuestLineHelper.tutorial.curQuestObject().progressText()})">0/1000</span>
                              </div>
                          </div>
                      </td>
                  </tr>
              </table>
          </div>
      </div>
  </div>
</div>
