<div class="modal noselect fade" id="questDetailsModal" tabindex="-1" role="dialog" aria-labelledby="questDetailsModalLabel">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header align-items-center">
                <h4 class="m-0" data-bind="text: App.game.quests.selectedQuestName()"></h4>
            </div>
            <div class="modal-body p-0 p-md-2 p-lg-3">
                <table class="table table-striped table-bordered table-hover table-sm m-0">
                    <tbody data-bind="with: App.game.quests.getQuestLine(App.game.quests.selectedQuestName())">
                    <!-- ko foreach: $data.quests() -->
                    <tr data-bind="css: { 'bg-info': ($parent.state() === QuestLineState.started || $parent.state() === QuestLineState.suspended) && $index() === $parent.curQuest() }">
                        <td class="vertical-middle"><div class="px-2" data-bind="text: $index() + 1"></div></td>
                        <td class="vertical-middle text-left">
                            <div class="px-2" data-bind="text: ($index() <= $parent.curQuest() || $parent.state() === QuestLineState.ended) && $parent.state() !== QuestLineState.inactive ? $data.description : '???'"></div>
                        </td>
                        <td class="vertical-middle">
                            <div class="px-2 text-nowrap">
                                <span class="text-success" data-bind="if: $parent.state() === QuestLineState.ended || $index() < $parent.curQuest()">Completed</span>
                                <span class="text-danger" data-bind="if: $parent.state() === QuestLineState.inactive">Locked</span>
                                <span data-bind="if: $parent.state() === QuestLineState.started && $index() === $parent.curQuest()">In progress</span>
                                <span class="text-danger" data-bind="if: $parent.state() === QuestLineState.started && $index() > $parent.curQuest()">Locked</span>
                                <span data-bind="if: $parent.state() === QuestLineState.suspended && $index() === $parent.curQuest()">Paused</span>
                                <span class="text-danger" data-bind="if: $parent.state() === QuestLineState.suspended && $index() > $parent.curQuest()">Locked</span>
                            </div>
                        </td>
                    </tr>
                    <!-- /ko -->
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
