<div class="modal fade" id="receiveBadgeModal" tabindex="-1" role="dialog"
aria-labelledby="receiveBadgeModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
   <div class="modal-content">
       <div class="modal-header">
           <div style="width: 100%;">
               <img src=""
                    data-bind="attr:{ src: 'assets/images/gymLeaders/' + GymRunner.gymObservable().leaderName + '.png'}">
               <h5 class="modal-title" id="receiveBadgeModalLabel"
                   data-bind="text: GymRunner.gymObservable().leaderName">Modal title</h5>

           </div>
       </div>
       <div class="modal-body">
           <p data-bind="text: GymRunner.gymObservable().defeatMessage"></p>
           <img src="" width="56px"
                data-bind="attr:{ src: 'assets/images/badges/' + GymRunner.gymObservable().leaderName + '.png'}">

       </div>
       <div data-bind="if: !(GymRunner.gymObservable() instanceof Champion)">
           <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
           </div>
       </div>
       <div data-bind="if: GymRunner.gymObservable() instanceof Champion">
           <div class="modal-footer">
               <button type="button" class="btn btn-secondary" data-dismiss="modal"
                       onclick="$('#hallOfFameModal').modal('show')">
                   Next
               </button>
           </div>
       </div>

   </div>
</div>
</div>