<div class="modal fade" data-keyboard="false" data-backdrop="static" id="receiveBadgeModal" tabindex="-1" role="dialog"
aria-labelledby="receiveBadgeModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable" role="document">
   <div class="modal-content">
       <div class="modal-header">
           <div style="width: 100%;">
               <img src="" onerror="this.src='assets/images/trainers/Mysterious Trainer.png'"
                    data-bind="attr:{ src: 'assets/images/gymLeaders/' + GymRunner.gymObservable().leaderName + '.png'}">
               <h5 class="modal-title" id="receiveBadgeModalLabel"
                   data-bind="text: GymRunner.gymObservable().leaderName.replace(/\d/g,'')">Modal title</h5>

           </div>
       </div>
       <div class="modal-body">
           <p data-bind="html: GymRunner.gymObservable().defeatMessage"></p>
           <!-- ko if: !BadgeEnums[GymRunner.gymObservable().badgeReward].startsWith('Elite') -->
           <img src="" width="56px" data-bind="attr:{ src: 'assets/images/badges/' + BadgeEnums[GymRunner.gymObservable().badgeReward] + '.png'}" onerror="this.src='assets/images/badges/Unknown.png'">
           <!-- /ko -->

       </div>
       <div data-bind="ifnot: GymRunner.gymObservable().flags.champion">
           <div class="modal-footer">
               <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
           </div>
       </div>
       <div data-bind="if: GymRunner.gymObservable().flags.champion">
           <div class="modal-footer">
               <button type="button" class="btn btn-primary" data-dismiss="modal"
                       onclick="$('#hallOfFameModal').modal('show')">
                   Next
               </button>
           </div>
       </div>

   </div>
</div>
</div>
