<div aria-labelledby="safariModal" class="modal fade noselect" id="safariModal" role="dialog" style="cursor:default" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="controls" data-bind="visible: Safari.inProgress() && !Safari.inBattle()">
                <div style="width:120px">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 411 411">
                        <g>
                          <path fill="whitesmoke" d="M382 137h-89c-11 0-19-8-19-19V29c0-16-13-29-29-29h-79c-16 0-29 13-29 29v89c0 11-8 19-19 19H29c-16 0-29 13-29 29v79c0 16 13 29 29 29h89c11 0 19 8 19 19v89c0 16 13 29 29 29h79c16 0 29-13 29-29v-89c0-11 8-19 19-19h89c16 0 29-13 29-29v-79c0-16-13-29-29-29zM93 244c0 2-2 3-4 2l-52-38c-2-1-2-4 0-5l52-38c2-1 4 0 4 3v76zm72-155l38-52c1-2 4-2 5 0l38 52c1 2 0 4-2 4h-76c-3 0-4-2-3-4zm81 233l-38 52c-1 2-4 2-5 0l-38-52c-1-2 0-4 3-4h76c2 0 3 2 2 4zm-40-69a47 47 0 110-94 47 47 0 010 94zm168-45l-52 38c-2 1-4 0-4-2v-76c0-3 2-4 4-3l52 38c2 1 2 4 0 5z"/>
                          <path fill="transparent" d="M135 1h142v137H135z"   onmousedown="GameController.simulateKey('ArrowUp')" onmouseout="GameController.simulateKey('ArrowUp', 'up')" onmouseup="GameController.simulateKey('ArrowUp', 'up')" ontouchstart="GameController.simulateKey('ArrowUp')"/><!-- up -->
                          <path fill="transparent" d="M1 137h142v137H1z"     onmousedown="GameController.simulateKey('ArrowLeft')" onmouseout="GameController.simulateKey('ArrowLeft', 'up')" onmouseup="GameController.simulateKey('ArrowLeft', 'up')" ontouchstart="GameController.simulateKey('ArrowLeft')"/><!-- left -->
                          <path fill="transparent" d="M135 273h142v137H135z" onmousedown="GameController.simulateKey('ArrowDown')" onmouseout="GameController.simulateKey('ArrowDown', 'up')" onmouseup="GameController.simulateKey('ArrowDown', 'up')" ontouchstart="GameController.simulateKey('ArrowDown')"/><!-- down -->
                          <path fill="transparent" d="M268 137h142v137H268z" onmousedown="GameController.simulateKey('ArrowRight')" onmouseout="GameController.simulateKey('ArrowRight', 'up')" onmouseup="GameController.simulateKey('ArrowRight', 'up')" ontouchstart="GameController.simulateKey('ArrowRight')"/><!-- right -->
                        </g>
                    </svg>
                </div>
            </div>
            <div class="modal-header">
                <h4 style='text-align:center' class="modal-title">
                    Safari Zone
                    <span data-bind="if: Safari.completed(false, player.region)">
                        <img class="pokeball-smallest"
                            data-bind='attr:{
                                title:"You have captured all of the Safari Pokémon" + (Safari.completed(true, player.region) ? " shiny" : "") + "!",
                                src:"assets/images/pokeball/Pokeball" + (Safari.completed(true, player.region) ? "-shiny" : "") + ".svg"
                            }'
                        />
                    </span>
                </h4>
                <div class='col-6' data-bind="tooltip : Safari.safariProgressTooltip()">
                    <div>Lvl. <knockout data-bind='text: Safari.safariLevel()'></knockout></div>
                    <div class="progress" style='height: 5px'>
                        <div class="progress-bar bg-info" role="progressbar"
                             data-bind="attr:{ style: 'width:' + Safari.percentToNextSafariLevel() + '%' }"
                             aria-valuemin="0" aria-valuemax="100">
                        </div>
                    </div>
                </div>
                <button class='btn btn-danger modalClose' onclick='Safari.closeModal()'>Leave</button>
            </div>

            <div class="modal-body p-0">
                <!-- Tab Titles -->
                <ul style="width:100%" class="nav nav-tabs nav-fill">
                    <li class="nav-item">
                        <a data-toggle='tab' class='nav-link active' href="#safariExplore">Explore</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href="#safariHelp" data-bind="attr: {'data-toggle': Safari.inBattle() ? '' : 'tab'}">Help</a>
                    </li>
                </ul>

                <!-- Tab Contents -->
                <div class=tab-content>

                    <!-- Main tab -->
                    <div  id="safariExplore" class="tab-pane fade in active show">
                        <div class="modal-body p-0">

                            <div id="safariEntrance" data-bind="if: !Safari.inProgress()">
                                <button id="paySafariButton" class="btn btn-block" onclick="Safari.payEntranceFee()"
                                    data-bind="class: Safari.canPay() ? 'btn-primary' : 'disabled btn-danger'">
                                    Pay Entrance Fee <knockout id='safariEntranceCost' data-bind="template: { name: 'currencyTemplate', data: {'amount': Safari.cost().amount, 'currency': Safari.cost().currency}}"></knockout>
                                </button>
                                <img class='fit-width' src="assets/images/safari/area1.png" />
                            </div>

                            <div style="position: relative; overflow-x: hidden;">
                                <div id="safariBody"
                                    class='container-fluid'
                                    data-bind="visible: Safari.inProgress()">
                                </div>
                                <!-- ko foreach: Safari.pokemonGrid -->
                                    <div class="pokemonSprite walkDown" data-bind="css: { shiny: $data.shiny },
                                    style: {
                                        backgroundImage: `${$data.shiny ? 'url(\'assets/images/dynamic-background/pokemon/sparkle.png\'), ' : ''}url('assets/images/dynamic-background/pokemon/${Math.floor($data.id).toString().padStart(3, '0')}${$data.shiny ? 's' : ''}.png')`,
                                        top: `${32 * $data.y - 8}px`,
                                        left: `${32 * $data.x - 4}px`,
                                    }"></div>
                                <!-- /ko -->
                                <!-- ko foreach: Safari.itemGrid -->
                                    <div class="safari-item" data-bind="
                                    style: {
                                        top: `${32 * $data.y}px`,
                                        left: `${32 * $data.x}px`,
                                    }"></div>
                                <!-- /ko -->
                            </div>
                        </div>
                    </div>


                    <!-- Help tab -->
                    <div  id="safariHelp" class="tab-pane fade">
                        <div class="modal-body" style="width: 80%;margin: auto;">
                            <div id="safariHelpText">
                                <p>The Safari Zone uses a different method of encountering and capturing Pokémon, and it contains several unique Pokémon.</p>
                                <p>After paying the entrance fee, you will be able to walk around in the Safari Zone. To encounter Pokémon, you must either walk in the tall grass or walk into Pokémon that randomly appear on the map.</p>
                                <p>As you perform actions, you will gain Safari XP and increase your Safari Level. If you catch a Pokémon, there is a chance an item will appear on the map.</p>
                                <p>
                                    When you have encountered a Pokémon, you will be given 4 options:
                                    <table class="table table-bordered table-sm" style="color: inherit;">
                                        <tr>
                                            <td class="align-middle"><b>Ball</b></td>
                                            <td>This will throw a Poké Ball and give you a chance of capturing the Pokémon. Provides 10 Safari XP.</td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><b>Rock</b></td>
                                            <td>Throwing a Rock will make the Pokémon angry, and more likely to flee, but easier to catch. Provides 10 Safari XP.</td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><b>Bait</b></td>
                                            <td>Throwing any kind of Bait will make the Pokémon eat, and less likely to flee, but harder to catch. Berry Baits change the base rates of the Pokémon, with Razz lowering flee rate, and Nanab increasing catch rate. Only one Berry effect can be present at a time. Provides 5 Safari XP.</td>
                                        </tr>
                                        <tr>
                                            <td class="align-middle"><b>Run</b></td>
                                            <td>This will end the encounter.</td>
                                        </tr>
                                    </table>
                                </p>
                                <p>Catching a Pokémon will provide 50 Safari XP.</p>
                                <p>Picking up an item will provide 10 Safari XP.</p>
                                <p>After your turn of the encounter, if it did not result in the encounter ending, the wild Pokémon will have a chance of running away.</p>
                                <p>Your safari exploration will end when you have run out of Poké Balls. You can freely leave and re-enter without having to pay the fee again as long as you still have Poké Balls remaining.</p>
                                <p>Safari Level will increase the effectiveness of Rocks and Bait, the catch chance, the Egg Steps gained from walking, and the odds that an item will spawn when a Pokémon is caught.</p>
                                <p>Some items are not available until a certain Safari Level is reached.</p>
                                <p>
                                    Every 10 Safari Levels, the animation will speed up by the following values:
                                    <ul style="list-style-type: none;">
                                        <li><b>Level 10:</b> 11% faster.</li>
                                        <li><b>Level 20:</b> 33% faster.</li>
                                        <li><b>Level 30:</b> 75% faster.</li>
                                        <li><b>Level 40:</b> 122% faster.</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
