<div class="modal fade noselect" id="safariBattleModal" tabindex="-1" role="dialog" aria-badgeledby="safariBattleModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
       <div class="modal-content">
           <div class="modal-body p-0">
              <div class="battle-view">
                <div class="row justify-content-center no-gutters" data-bind="if: Safari.inBattle">
                  <div class="col no-gutters clickable" data-bind="click: function() {BattleFrontierBattle.clickAttack()}" style="height: 280px; display: block;">
                      <h2 class="pageItemTitle" style="display: block;">

                          <knockout class="left">
                          </knockout>

                          <knockout>
                                <knockout data-bind="template: { name: 'pokemonNameTemplate', data: { 'pokemon': SafariBattle.enemy } }">Pokémon name</knockout>
                                <knockout data-bind="template: { name: 'caughtStatusTemplate', data: {'status': PartyController.getCaughtStatus(SafariBattle.enemy.id)}}"></knockout>
                          </knockout>

                          <knockout class="right">
                          </knockout>
                      </h2>

                      <div>
                          <knockout data-bind="template: { name: 'pokemonSpriteTemplate', data: { 'pokemon': SafariBattle.enemy } }">Pokémon sprite</knockout>
                      </div>

                      <h2 class="pageItemFooter" style="display: block;">

                          <knockout class="left" data-bind="text: `Catch chance: ${SafariBattle.enemy.catchFactor.toFixed(2)} %`">
                          </knockout>
                            &nbsp;
                          <knockout class="right" data-bind="text: `Escape chance: ${SafariBattle.enemy.escapeFactor.toFixed(2)} %`">
                          </knockout>
                      </h2>
                  </div>
                </div>
              </div>
           </div>

           <div class="modal-footer p-0 bg-dark text-light">
                <div class="message" data-bind='html: SafariBattle.text'></div>
                <div class="row" style="width: 100%;">
                    <button type="button" class="btn btn-primary btn-block col-6 m-0" onclick="this.blur();SafariBattle.throwBall()" data-bind='disable: SafariBattle.busy(), text: "Ball (" + Safari.balls() + ")"'>Ball (30)</button>
                    <div class="btn-group btn-block col-6 m-0 dropup" style="padding:0px;" data-bind="let: { baitType: ko.observable(BaitType.Bait) }">
                        <button type="button" class='btn btn-primary btn-block' onclick="this.blur();" data-bind='{ click: function(){SafariBattle.throwBait(baitType());}, disable: BaitList[BaitType[baitType()]].amount() <= 0 || SafariBattle.busy() }'>
                            <div style="display:inline"><img width=16px data-bind="attr: { src: BaitList[BaitType[baitType()]].image }"></div>
                            <span data-bind="text: BaitList[BaitType[baitType()]].btnName">Bait (∞)</span>
                        </button>
                        <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split active" data-bind="text: '&nbsp;'" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" data-bind="foreach: GameHelper.enumNumbers(BaitType)">
                            <button class="dropdown-item" type="button" data-bind="click: function(){baitType($data)}, text: BaitList[BaitType[$data]].btnName"></button>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary btn-block col-6 m-0" onclick="this.blur();SafariBattle.throwRock()" data-bind="disable: SafariBattle.busy()">Rock (∞)</button>
                    <button type="button" class="btn btn-primary btn-block col-6 m-0" onclick="this.blur();SafariBattle.run()" data-bind="disable: SafariBattle.busy()">Run</button>
                </div>
           </div>
       </div>
    </div>
</div>
