<div aria-labelledby="safariModal" class="modal fade noselect" id="safariModal" role="dialog" style="cursor:default" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="controls" data-bind="visible: Safari.inProgress() && !Safari.inBattle()">
                <div style="width:120px">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 411 411">
                        <g>
                          <path fill="whitesmoke" d="M382 137h-89c-11 0-19-8-19-19V29c0-16-13-29-29-29h-79c-16 0-29 13-29 29v89c0 11-8 19-19 19H29c-16 0-29 13-29 29v79c0 16 13 29 29 29h89c11 0 19 8 19 19v89c0 16 13 29 29 29h79c16 0 29-13 29-29v-89c0-11 8-19 19-19h89c16 0 29-13 29-29v-79c0-16-13-29-29-29zM93 244c0 2-2 3-4 2l-52-38c-2-1-2-4 0-5l52-38c2-1 4 0 4 3v76zm72-155l38-52c1-2 4-2 5 0l38 52c1 2 0 4-2 4h-76c-3 0-4-2-3-4zm81 233l-38 52c-1 2-4 2-5 0l-38-52c-1-2 0-4 3-4h76c2 0 3 2 2 4zm-40-69a47 47 0 110-94 47 47 0 010 94zm168-45l-52 38c-2 1-4 0-4-2v-76c0-3 2-4 4-3l52 38c2 1 2 4 0 5z"/>
                          <path fill="transparent" d="M135 1h142v137H135z"   onmousedown="GameController.simulateKey(38)" onmouseout="GameController.simulateKey(38, 'up')" onmouseup="GameController.simulateKey(38, 'up')" ontouchstart="GameController.simulateKey(38)"/><!-- up -->
                          <path fill="transparent" d="M1 137h142v137H1z"     onmousedown="GameController.simulateKey(37)" onmouseout="GameController.simulateKey(37, 'up')" onmouseup="GameController.simulateKey(37, 'up')" ontouchstart="GameController.simulateKey(37)"/><!-- left -->
                          <path fill="transparent" d="M135 273h142v137H135z" onmousedown="GameController.simulateKey(40)" onmouseout="GameController.simulateKey(40, 'up')" onmouseup="GameController.simulateKey(40, 'up')" ontouchstart="GameController.simulateKey(40)"/><!-- down -->
                          <path fill="transparent" d="M268 137h142v137H268z" onmousedown="GameController.simulateKey(39)" onmouseout="GameController.simulateKey(39, 'up')" onmouseup="GameController.simulateKey(39, 'up')" ontouchstart="GameController.simulateKey(39)"/><!-- right -->
                        </g>
                    </svg>
                </div>
            </div>
            <div class="modal-header">
                <h4 style='text-align:center' class="modal-title">
                    Safari Zone
                    <span data-bind="if: Safari.completed()">
                        <img class="pokeball-smallest"
                            data-bind='attr:{
                                title:"You have captured all of the Safari Pokémon" + (Safari.completed(true) ? " shiny" : "") + "!",
                                src:"assets/images/pokeball/Pokeball" + (Safari.completed(true) ? "-shiny" : "") + "-small.png"
                            }'
                        />
                    </span>
                </h4>
                <button class='btn btn-danger modalClose' onclick='Safari.closeModal()'>Leave</button>
            </div>

            <div class="modal-body p-0">
                <!-- Tab Titles -->
                <ul style="width:100%" class="nav nav-tabs nav-fill">
                    <li class="nav-item">
                        <a data-toggle='tab' class='nav-link active' href="#safariExplore">Explore</a>
                    </li>
                    <li class='nav-item'>
                        <a class='nav-link' href="#safariHelp" data-bind="attr: {'data-toggle': Safari.inBattle() ? '' : 'tab'}">Help</a>
                    </li>
                </ul>

                <!-- Tab Contents -->
                <div class=tab-content>

                    <!-- Main tab -->
                    <div  id="safariExplore" class="tab-pane fade in active show">
                        <div class="modal-body p-0">

                            <div id="safariEntrance" data-bind="if: !Safari.inProgress()">
                                <button id="paySafariButton" class="btn btn-block" onclick="Safari.payEntranceFee()"
                                    data-bind="class: Safari.canPay() ? 'btn-primary' : 'disabled btn-danger'">
                                    Pay Entrance Fee <knockout id='safariEntranceCost' data-bind="template: { name: 'currencyTemplate', data: {'amount': Safari.cost().amount, 'currency': Safari.cost().currency}}"></knockout>
                                </button>
                                <img class='fit-width' src="assets/images/safari/area1.png" />
                            </div>

                            <div id="safariBody"
                                class='container-fluid'
                                data-bind="visible: Safari.inProgress()">
                            </div>
                        </div>
                    </div>


                    <!-- Help tab -->
                    <div  id="safariHelp" class="tab-pane fade">
                        <div class="modal-body" style="width: 80%;margin: auto;">
                            <div id="safariHelpText">
                                <p>The safari zone contains several unique Pokémon, and a different method of encountering and capturing Pokémon.</p>
                                <p>After paying the entrance fee, you will be able to walk around in the safari zone. To encounter Pokémon, you must walk in tall grass.</p>
                                <p>
                                    When you have encountered a Pokémon, you will be given 4 options:
                                    <ul>
                                        <li>Ball: This will throw a pokeball and give you a chance of capturing the Pokémon</li>
                                        <li>Rock: Throwing a rock will make the Pokémon more likely to flee, but easier to catch</li>
                                        <li>Bait: Throwing bait will make the Pokémon less likely to flee, but harder to catch</li>
                                        <li>Run: This will end the encounter</li>
                                    </ul>
                                </p>
                                <p>After your turn of the encounter, if it did not result in the encounter ending, the wild Pokémon will have a chance of running away.</p>
                                <p>Your safari exploration will end when you have run out of pokeballs.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
