<div class="d-flex align-items-center justify-content-center background-night py-4" id="saveSelector">
    <div class="justify-content-center container row">
        <div class="col-6">
            <img style="width: 100%" src="assets/images/pokeclickerlogo.png" />
        </div>
        <div class="col-12 d-flex align-items-center justify-content-center my-3">
            <a href="https://discord.gg/EUafCck2">
                <img alt="Join our Discord!" src="https://img.shields.io/discord/868760540216958996?color=7289DA&label=Discord&logo=discord&logoColor=7289DA&style=for-the-badge" />
            </a>
            &nbsp;
            <a href="https://github.com/zocke1r/pokeclicker">
                <img alt="Visit our GitHub!" src="https://img.shields.io/github/package-json/v/zocke1r/pokeclicker/develop?label=GitHub&logo=github&style=for-the-badge" />
            </a>
            &nbsp;
            <a href="https://pokeclicker.miraheze.org/wiki/Home_Page">
                <img alt="Checkout the Wiki!" src="https://img.shields.io/badge/wiki-link-blue?logo=wikimedia-commons&style=for-the-badge" />
            </a>
        </div>
    </div>
</div>
