<div class="d-flex align-items-center justify-content-center background-night py-4" id="saveSelector">
    <div class="justify-content-center container row">
        <div class="col-6">
            <img style="width:100%" src="assets/images/pokeclickerlogo.png">
        </div>
        <div class="col-12 d-flex align-items-center justify-content-center my-3 flex-column flex-md-row">
            <a class="mb-1 mr-md-1" href="https://discord.gg/a6DFe4p" target="_blank">
                <img alt="Join our Discord!" src="https://img.shields.io/discord/450412847017754644?color=7289DA&label=Discord&logo=discord&logoColor=7289DA&style=for-the-badge">
            </a>
            <a class="mb-1 mr-md-1" href="https://github.com/pokeclicker/pokeclicker" target="_blank">
                <img alt="Visit our GitHub!" src="https://img.shields.io/github/package-json/v/pokeclicker/pokeclicker/master?label=GitHub&logo=github&style=for-the-badge">
            </a>
            <a class="mb-1 mr-md-1" href="https://pokeclicker.miraheze.org/wiki/Home_Page" target="_blank">
                <img alt="Check out the Wiki!" src="https://img.shields.io/badge/wiki-link-blue?logo=wikimedia-commons&style=for-the-badge">
            </a>
        </div>
        <div id="use-our-client-message" style="color: white; display: none;">
            To help reduce server load, please download our desktop client <b><a href="https://github.com/RedSparr0w/Pokeclicker-desktop/releases/latest" target="_blank">here</a></b>.
            You can even find a Pokémon exclusive to the client when you reach the Sevii Islands!<br/><br/>
        </div>
        <div class="save-container justify-content-center container row"></div>

        <div class="new-import-buttons justify-content-center container row">
            <label class="btn btn-success col-md-4 col-xs-12 mx-1" onclick="Save.key = Rand.string(6); document.querySelector('#saveSelector').remove(); App.start();">New Save</label>
            <label for="import-save" class="btn btn-warning col-md-4 col-xs-12 mx-1" onclick="Save.key = Rand.string(6);">Import Save</label>
        </div>

    </div>

    <div class="dropdown-menu py-0" id="saveSelectorContextMenu">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>

<template id="trainerCardTemplate">
    <div class="trainer-card-container mb-3 col-lg-4 col-md-6 col-sm-12 xol-xs-12">
        <div class="trainer-card clickable card font-weight-bold">
            <div class="card-body">
                <h5 class="align-middle font-weight-bold">
                    <img class="trainer-image"/>
                    <span class="trainer-name"></span>
                </h5>
                <table class="table table-sm table-borderless col-8">
                    <tbody>
                        <tr>
                            <td>Badges:</td>
                            <td class="trainer-badges text-right">0</td>
                        </tr>
                        <tr>
                            <td>Pokédex:</td>
                            <td class="trainer-pokedex text-right">0</td>
                        </tr>
                        <tr>
                            <td>Time:</td>
                            <td class="trainer-time text-right">0</td>
                        </tr>
                    </tbody>
                </table>
                <img class="trainer-pokemon-image" />
                <small class="trainer-version">v0.0.0</small>
                <div class="challenge-badges"></div>
            </div>
        </div>
    </div>
</template>
