<div class="modal noselect fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header" style='justify-content: space-around;'>
                <h5 class="modal-title">Settings</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body p-0">
                <ul class="nav nav-tabs nav-fill">
                    <li class="nav-item"><a class="nav-link active" href="#settings-display" data-toggle="tab">Display</a></li>
                    <li class="nav-item"><a class="nav-link" href="#settings-game" data-toggle="tab">Gameplay</a></li>
                    <li class="nav-item"><a class="nav-link" href="#settings-sound" data-toggle="tab">Sound</a></li>
                    <li class="nav-item"><a class="nav-link" href="#settings-notifications" data-toggle="tab">Notifications</a></li>
                    <li class="nav-item"><a class="nav-link" href="#settings-hotkeys" data-toggle="tab">Hotkeys</a></li>
                    <li class="nav-item"><a class="nav-link" href="#settings-other" data-toggle="tab">Other</a></li>
                    <!-- ko if: DiscordRichPresence.clientVersion -->
                        <li class="nav-item"><a class="nav-link" href="#settings-discord" data-toggle="tab">Discord</a></li>
                    <!-- /ko -->
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="settings-display">
                        <table class="table table-striped table-hover m-0">
                            <!-- <thead>
                              <tr>
                                <th>Setting</th>
                                <th>Option</th>
                              </tr>
                            </thead> -->
                            <thead>
                                <tr><th colspan="2">General</th></tr>
                            </thead>
                            <tbody>
                                <tr data-bind="template: { name: 'MultipleChoiceSettingTemplate', data: Settings.getSetting('translation.language')}"></tr>
                                <tr data-bind="template: { name: 'MultipleChoiceSettingTemplate', data: Settings.getSetting('gameDisplayStyle')}"></tr>
                                <tr data-bind="template: { name: 'MultipleChoiceSettingTemplate', data: Settings.getSetting('theme')}"></tr>
                                <tr data-bind="template: { name: 'MultipleChoiceSettingTemplate', data: Settings.getSetting('backgroundImage')}"></tr>
                            </tbody>
                            <thead>
                                <tr><th colspan="2">Currency</th></tr>
                            </thead>
                            <tbody>
                                <tr data-bind="template: { name: 'BooleanSettingTemplate', data: Settings.getSetting('showCurrencyGainedAnimation')}"></tr>
                                <tr data-bind="template: { name: 'BooleanSettingTemplate', data: Settings.getSetting('showCurrencyLostAnimation')}"></tr>
                                <tr data-bind="template: { name: 'BooleanSettingTemplate', data: Settings.getSetting('currencyMainDisplayReduced')}"></tr>
                                <tr data-bind="template: { name: 'BooleanSettingTemplate', data: Settings.getSetting('currencyMainDisplayExtended')}"></tr>
                            </tbody>
                            <thead>
                                <tr><th colspan="2">Hatchery</th></tr>
                            </thead>
                            <tbody>
                                <tr data-bind="template: { name: 'MultipleChoiceSettingTemplate', data: Settings.getSetting('breedingDisplay')}"></tr>
                                <tr data-bind="template: { name: 'MultipleChoiceSettingTemplate', data: Settings.getSetting('eggAnimation')}"></tr>
                                <tr data-bind="template: { name: 'MultipleChoiceSettingTemplate', data: Settings.getSetting('hideHatchery')}"></tr>
                            </tbody>
                            <thead>
                                <tr><th colspan="2">Farm</th></tr>
                            </thead>
                            <tbody>
                                <tr data-bind="template: { name: 'BooleanSettingTemplate', data: Settings.getSetting('showFarmModule')}"></tr>
                                <tr data-bind="template: { name: 'BooleanSettingTemplate', data: Settings.getSetting('showFarmModuleControls')}"></tr>
                                <tr data-bind="template: { name: 'MultipleChoiceSettingTemplate', data: Settings.getSetting('farmDisplay')}"></tr>
                                <tr data-bind="template: { name: 'BooleanSettingTemplate', data: Settings.getSetting('farmBoostDisplay')}"></tr>
                                <tr data-bind="template: { name: 'MultipleChoiceSettingTemplate', data: Settings.getSetting('berryDexMode')}"></tr>
                                <tr data-bind="template: { name: 'MultipleChoiceSettingTemplate', data: Settings.getSetting('sizeUnits')}"></tr>
                            </tbody>
                            <thead>
                                <tr><th colspan="2">Underground</th></tr>
                            </thead>
                            <tbody>
                                <tr data-bind="template: { name: 'BooleanSettingTemplate', data: Settings.getSetting('showUndergroundModule')}"></tr>
                                <tr data-bind="template: { name: 'BooleanSettingTemplate', data: Settings.getSetting('showUndergroundModuleMineControls')}"></tr>
                                <tr data-bind="template: { name: 'BooleanSettingTemplate', data: Settings.getSetting('showUndergroundModuleDailyTrades')}"></tr>
                            </tbody>
                            <thead>
                                <tr><th colspan="2">Other</th></tr>
                            </thead>
                            <tbody>
                                <tr data-bind="visible: Object.values(App.game.challenges.list).filter(c => c.active()).length > 0, template: { name: 'BooleanSettingTemplate', data: Settings.getSetting('hideChallengeRelatedModules')}"></tr>
                                <tr data-bind="template: { name: 'BooleanSettingTemplate', data: Settings.getSetting('showGymGoAnimation')}"></tr>
                                <tr data-bind="template: { name: 'BooleanSettingTemplate', data: Settings.getSetting('showMuteButton')}"></tr>
                            </tbody>
                            <thead>
                                <tr><th colspan="2">Map Colors</th></tr>
                            </thead>
                            <tbody>
                                <tr data-bind="template: { name: 'ColorChoiceSettingTemplate', data: Settings.getSetting('--locked')}"></tr>
                                <tr data-bind="template: { name: 'ColorChoiceSettingTemplate', data: Settings.getSetting('--incomplete')}"></tr>
                                <tr data-bind="template: { name: 'ColorChoiceSettingTemplate', data: Settings.getSetting('--questAtLocation')}"></tr>
                                <tr data-bind="template: { name: 'ColorChoiceSettingTemplate', data: Settings.getSetting('--uncaughtPokemon')}"></tr>
                                <!-- ko if: Settings.getSetting('--uncaughtShadowPokemon').isUnlocked() -->
                                <tr data-bind="template: { name: 'ColorChoiceSettingTemplate', data: Settings.getSetting('--uncaughtShadowPokemon')}"></tr>
                                <!-- /ko -->
                                <tr data-bind="template: { name: 'ColorChoiceSettingTemplate', data: Settings.getSetting('--uncaughtShinyPokemonAndMissingAchievement')}"></tr>
                                <tr data-bind="template: { name: 'ColorChoiceSettingTemplate', data: Settings.getSetting('--uncaughtShinyPokemon')}"></tr>
                                <tr data-bind="template: { name: 'ColorChoiceSettingTemplate', data: Settings.getSetting('--missingAchievement')}"></tr>
                                <!-- ko if: Settings.getSetting('--missingResistant').isUnlocked() -->
                                <tr data-bind="template: { name: 'ColorChoiceSettingTemplate', data: Settings.getSetting('--missingResistant')}"></tr>
                                <!-- /ko -->
                                <tr data-bind="template: { name: 'ColorChoiceSettingTemplate', data: Settings.getSetting('--completed')}"></tr>
                                <tr>
                                    <td colspan="2">
                                        <button type="button" class="btn btn-primary" data-bind="click: () => {
                                            Settings.list.filter(s => s.name.startsWith('moduleHeight.')).forEach((setting) => {
                                                const resizeId = setting.name.split('.')[1];
                                                document.querySelector(`[data-resize-id='${resizeId}']`).style.height = `${setting.defaultValue}px`;
                                            })
                                        }">Reset Resizable Modules</button>
                                    </td>
                                </tr>
                            </thead>
                        </table>
                    </div>

                    <div class="tab-pane" id="settings-game">
                        <table class="table table-striped table-hover m-0">
                            <tbody>
                                <tr data-bind="template: { name: 'MultipleChoiceSettingTemplate', data: Settings.getSetting('shopButtons')}"></tr>
                                <tr data-bind="template: { name: 'BooleanSettingTemplate', data: Settings.getSetting('resetShopAmountOnPurchase')}"></tr>
                                <tr data-bind="template: { name: 'BooleanSettingTemplate', data: Settings.getSetting('hideQuestsOnFull')}"></tr>
                                <tr data-bind="template: { name: 'BooleanSettingTemplate', data: Settings.getSetting('confirmLeaveDungeon')}"></tr>
                                <tr data-bind="template: { name: 'BooleanSettingTemplate', data: Settings.getSetting('confirmBeformeMulchingAllPlots')}"></tr>
                                <tr data-bind="template: { name: 'BooleanSettingTemplate', data: Settings.getSetting('breedingQueueClearConfirmation')}"></tr>
                                <tr data-bind="template: { name: 'BooleanSettingTemplate', data: Settings.getSetting('confirmChangeHeldItem')}"></tr>
                                <tr data-bind="template: { name: 'BooleanSettingTemplate', data: Settings.getSetting('disableRightClickMenu')}"></tr>
                                <tr data-bind="template: { name: 'BooleanSettingTemplate', data: Settings.getSetting('catchFilters.initialEnabled')}"></tr>
                                <tr data-bind="template: { name: 'BooleanSettingTemplate', data: Settings.getSetting('catchFilters.invertPriorityOrder')}"></tr>
                                <tr data-bind="template: { name: 'BooleanSettingTemplate', data: Settings.getSetting('breedingEfficiencyAllModifiers')}"></tr>
                                <tr data-bind="template: { name: 'BooleanSettingTemplate', data: Settings.getSetting('useWebWorkerForGameTicks')}"></tr>
                                <tr data-bind="template: { name: 'BooleanSettingTemplate', data: Settings.getSetting('disableOfflineProgress')}"></tr>
                                <tr data-bind="template: { name: 'BooleanSettingTemplate', data: Settings.getSetting('disableBlinking')}"></tr>
                                <tr data-bind="with: Settings.getSetting('disableAutoSave')">
                                    <td class="p-2">
                                        <label class="m-0" data-bind="attr: { for: 'checkbox-' + $data.name }, text: `${$data.displayName}:`"></label>
                                    </td>
                                    <td class="p-2">
                                        <input class="clickable" type="checkbox"
                                            data-bind="checked: $data.observableValue(), attr: {name, id: 'checkbox-' + $data.name }"
                                            onchange="(() => {
                                                if (!this.checked) {
                                                    Settings.setSettingByName('disableAutoSave', false);
                                                    return;
                                                }

                                                Notifier.confirm({
                                                    title: 'Disable Auto Save?',
                                                    message: 'Disabling auto save will require you to manually save the game before exiting or any progress will be lost!\r\n\r\nProceed at your own risk.',
                                                    type: NotificationConstants.NotificationOption.danger,
                                                    confirm: 'Yes'
                                                }).then(confirmed => {
                                                    if (confirmed) {
                                                        Settings.setSettingByName('disableAutoSave', true);
                                                    } else {
                                                        this.checked = false;
                                                    }
                                                });
                                            })()"/>
                                    </td>
                                </tr>
                                <tr data-bind="visible: player.highestRegion() > 0, with: Settings.getSetting('breedingQueueSizeSetting')">
                                    <td class="p-2" data-bind="text: `${$data.displayName}:`">setting name</td>
                                    <td class="p-0">
                                        <input type="text" class="form-control"
                                            data-bind="attr: { name: $data.name, id: `setting-${$data.name}` }, value: $data.observableValue, tooltip: {
                                                title: `Restrict your hatchery queue to a specific size or disable entirely. Enter a value between 1 and your current max size (${App.game.breeding.queueSlots()}), zero (0) to disable the queue entirely, or -1 for no limit.`,
                                                trigger: 'hover'
                                            }"
                                            onchange="(() => {
                                                const val = Number.isNaN(parseInt(this.value)) ? -1 : +this.value;
                                                this.value = val < -1 ? -1 : Math.min(val, App.game.breeding.queueSlots());
                                            })(), Settings.setSettingByName(this.name, +this.value)
                                        ">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane" id="settings-sound">
                        <div data-bind="template: {name: 'RangeSettingTemplate', data: Settings.getSetting('sound.volume')}"></div>
                        <!-- ko foreach: Object.keys(NotificationConstants.NotificationSound) -->
                        <span class="btn btn-block btn-dark clickable mt-1" data-toggle="collapse" data-bind="text: $data, attr: { href: '#settingsSound' + $data }"></span>
                        <div class="collapse show" data-bind="attr: { id: 'settingsSound' + $data }">
                            <table class="table table-striped table-hover m-0">
                                <tbody>
                                <!-- ko foreach: Object.values(NotificationConstants.NotificationSound[$data]) -->
                                    <tr data-bind="template: { name: 'SoundSettingTemplate', data: { sound, setting: Settings.getSetting(`sound.${$data.name}`) } }"></tr>
                                <!-- /ko -->
                                </tbody>
                            </table>
                        </div>
                        <!-- /ko -->
                    </div>

                    <div class="tab-pane" id="settings-notifications">
                        <!-- ko foreach: Object.keys(NotificationConstants.NotificationSetting) -->
                        <span class="btn btn-block btn-dark clickable mt-1" data-toggle="collapse" data-bind="text: $data, attr: { href: '#settingsNotification' + $data }"></span>
                        <div class="collapse show" data-bind="attr: { id: 'settingsNotification' + $data }">
                            <table class="table table-striped table-hover m-0">
                                <tbody>
                                <!-- ko foreach: Object.values(NotificationConstants.NotificationSetting[$data]) -->
                                    <tr data-bind="template: { name: 'NotificationSettingTemplate', data: $data }"></tr>
                                <!-- /ko -->
                                </tbody>
                            </table>
                        </div>
                        <!-- /ko -->
                    </div>

                    <div class="tab-pane" id="settings-hotkeys">
                        <table class="table table-striped table-hover m-0">
                            <thead>
                                <tr><th colspan="2">Modals</th></tr>
                            </thead>
                            <tbody>
                                <tr data-bind="template: { name: 'KeyChoiceSettingTemplate', data: Settings.getSetting('hotkey.farm')}"></tr>
                                <tr data-bind="template: { name: 'KeyChoiceSettingTemplate', data: Settings.getSetting('hotkey.hatchery')}"></tr>
                                <tr data-bind="template: { name: 'KeyChoiceSettingTemplate', data: Settings.getSetting('hotkey.underground')}"></tr>
                                <tr data-bind="template: { name: 'KeyChoiceSettingTemplate', data: Settings.getSetting('hotkey.shop')}"></tr>
                                <tr data-bind="template: { name: 'KeyChoiceSettingTemplate', data: Settings.getSetting('hotkey.oakItems')}"></tr>
                                <tr data-bind="template: { name: 'KeyChoiceSettingTemplate', data: Settings.getSetting('hotkey.pokeballSelection')}"></tr>
                                <tr data-bind="template: { name: 'KeyChoiceSettingTemplate', data: Settings.getSetting('hotkey.dailyQuests')}"></tr>
                            </tbody>
                            <thead>
                                <tr><th colspan="2">Farm</th></tr>
                            </thead>
                            <tbody>
                                <tr data-bind="template: { name: 'KeyChoiceSettingTemplate', data: Settings.getSetting('hotkey.farm.toggleShovel')}"></tr>
                                <tr data-bind="template: { name: 'KeyChoiceSettingTemplate', data: Settings.getSetting('hotkey.farm.togglePlotSafeLock')}"></tr>
                            </tbody>
                            <thead>
                                <tr><th colspan="2">Underground</th></tr>
                            </thead>
                            <tbody>
                                <tr data-bind="template: { name: 'KeyChoiceSettingTemplate', data: Settings.getSetting('hotkey.underground.hammer')}"></tr>
                                <tr data-bind="template: { name: 'KeyChoiceSettingTemplate', data: Settings.getSetting('hotkey.underground.chisel')}"></tr>
                                <tr data-bind="template: { name: 'KeyChoiceSettingTemplate', data: Settings.getSetting('hotkey.underground.survey')}"></tr>
                                <tr data-bind="template: { name: 'KeyChoiceSettingTemplate', data: Settings.getSetting('hotkey.underground.bomb')}"></tr>
                                <tr>
                                    <td class="p-2">
                                        <knockout data-bind="text: App.translation.get('hotkey.underground.useRestore', 'settings', { defaultValue: 'Use Restore'})"></knockout><span>:</span>
                                    </td>
                                    <td class="p-0" data-bind="tooltip: {
                                        title: 'Each number refers to a specific Restore',
                                        trigger: 'hover',
                                    }">
                                        <kbd class="btn-block" style="padding: 10px 0;" ><code>Number Keys</code></kbd>
                                    </td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr><th colspan="2">Oak Items</th></tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="p-2">
                                        <knockout data-bind="text: App.translation.get('hotkey.oakItems.toggle', 'settings', { defaultValue: 'Toggle Oak Item'})"></knockout><span>:</span>
                                    </td>
                                    <td class="p-0" data-bind="tooltip: {
                                        title: 'Each number refers to a specific Oak Item',
                                        trigger: 'hover',
                                    }">
                                        <kbd class="btn-block" style="padding: 10px 0;" ><code>Number Keys</code></kbd>
                                    </td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr><th colspan="2">Poké Ball Selector</th></tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="p-2">
                                        <knockout data-bind="text: App.translation.get('hotkey.pokeballSelector.select', 'settings', { defaultValue: 'Select Poké Ball Type'})"></knockout><span>:</span>
                                    </td>
                                    <td class="p-0" data-bind="tooltip: {
                                        title: 'Each number refers to a specific Poké Ball',
                                        trigger: 'hover',
                                    }">
                                        <kbd class="btn-block" style="padding: 10px 0;" ><code>Number Keys</code></kbd>
                                    </td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr><th colspan="2">Dungeon</th></tr>
                            </thead>
                            <tbody>
                                <tr data-bind="template: { name: 'KeyChoiceSettingTemplate', data: Settings.getSetting('hotkey.dungeon.up')}"></tr>
                                <tr data-bind="template: { name: 'KeyChoiceSettingTemplate', data: Settings.getSetting('hotkey.dungeon.left')}"></tr>
                                <tr data-bind="template: { name: 'KeyChoiceSettingTemplate', data: Settings.getSetting('hotkey.dungeon.down')}"></tr>
                                <tr data-bind="template: { name: 'KeyChoiceSettingTemplate', data: Settings.getSetting('hotkey.dungeon.right')}"></tr>
                                <tr data-bind="template: { name: 'KeyChoiceSettingTemplate', data: Settings.getSetting('hotkey.dungeon.interact')}"></tr>
                            </tbody>
                            <thead>
                                <tr><th colspan="2">Town</th></tr>
                            </thead>
                            <tbody>
                                <tr data-bind="template: { name: 'KeyChoiceSettingTemplate', data: Settings.getSetting('hotkey.town.start')}"></tr>
                                <tr>
                                    <td class="p-2">
                                        <knockout data-bind="text: App.translation.get('hotkey.town.accessContent', 'settings', { defaultValue: 'Access the towns content'})"></knockout><span>:</span>
                                    </td>
                                    <td class="p-0" data-bind="tooltip: {
                                        title: 'Can access anything from Gyms to NPCs. Each number is a button.',
                                        trigger: 'hover',
                                    }">
                                        <kbd class="btn-block" style="padding: 10px 0;" ><code>Number Keys</code></kbd>
                                    </td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr><th colspan="2">Shop</th></tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="p-2">
                                        <knockout data-bind="text: App.translation.get('hotkey.shop.selectItem', 'settings', { defaultValue: 'Select item'})"></knockout><span>:</span>
                                    </td>
                                    <td class="p-0" data-bind="tooltip: {
                                        title: 'Each number selects an item in the shop.',
                                        trigger: 'hover',
                                    }">
                                        <kbd class="btn-block" style="padding: 10px 0;" ><code>Number Keys</code></kbd>
                                    </td>
                                </tr>
                                <tr data-bind="template: { name: 'KeyChoiceSettingTemplate', data: Settings.getSetting('hotkey.shop.buy')}"></tr>
                                <tr data-bind="template: { name: 'KeyChoiceSettingTemplate', data: Settings.getSetting('hotkey.shop.max')}"></tr>
                                <tr data-bind="template: { name: 'KeyChoiceSettingTemplate', data: Settings.getSetting('hotkey.shop.reset')}"></tr>
                                <tr data-bind="template: { name: 'KeyChoiceSettingTemplate', data: Settings.getSetting('hotkey.shop.increase')}"></tr>
                            </tbody>
                            <thead>
                                <tr><th colspan="2">Ship</th></tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="p-2">
                                        <knockout data-bind="text: App.translation.get('hotkey.ship.selectRegion', 'settings', { defaultValue: 'Select region'})"></knockout><span>:</span>
                                    </td>
                                    <td class="p-0" data-bind="tooltip: {
                                        title: 'Each number selects a region.',
                                        trigger: 'hover',
                                    }">
                                        <kbd class="btn-block" style="padding: 10px 0;" ><code>Number Keys</code></kbd>
                                    </td>
                                </tr>
                            </tbody>
                            <thead>
                                <tr><th colspan="2">Safari</th></tr>
                            </thead>
                            <tbody>
                                <tr data-bind="template: { name: 'KeyChoiceSettingTemplate', data: Settings.getSetting('hotkey.safari.ball')}"></tr>
                                <tr data-bind="template: { name: 'KeyChoiceSettingTemplate', data: Settings.getSetting('hotkey.safari.bait')}"></tr>
                                <tr data-bind="template: { name: 'KeyChoiceSettingTemplate', data: Settings.getSetting('hotkey.safari.rock')}"></tr>
                                <tr data-bind="template: { name: 'KeyChoiceSettingTemplate', data: Settings.getSetting('hotkey.safari.run')}"></tr>
                            </tbody>
                            <thead>
                                <tr><th colspan="2">Other</th></tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="p-2">
                                        <knockout data-bind="text: App.translation.get('hotkey.changeRoutes', 'settings', { defaultValue: 'Change Routes'})"></knockout><span>:</span>
                                    </td>
                                    <td class="p-0" data-bind="tooltip: {
                                        title: 'Change routes based on route order',
                                        trigger: 'hover',
                                    }">
                                        <kbd class="btn-block" style="padding: 10px 0;" ><code>- or +</code></kbd>
                                    </td>
                                </tr>
                                <tr data-bind="template: { name: 'KeyChoiceSettingTemplate', data: Settings.getSetting('hotkey.forceSave')}"></tr>
                                <tr data-bind="template: { name: 'KeyChoiceSettingTemplate', data: Settings.getSetting('hotkey.downloadSave')}"></tr>
                                <tr data-bind="template: { name: 'KeyChoiceSettingTemplate', data: Settings.getSetting('hotkey.mute')}"></tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="tab-pane" id="settings-other">
                        <table class="table table-striped table-hover m-0">
                            <tbody>
                                <tr data-bind="template: { name: 'MultipleChoiceSettingTemplate', data: Settings.getSetting('saveReminder')}"></tr>
                                <tr data-bind="template: { name: 'BooleanSettingTemplate', data: Settings.getSetting('disableAutoDownloadBackupSaveOnUpdate')}"></tr>
								<tr data-bind="with : Settings.getSetting('saveFilename')">
									<td class="p-2" data-bind="text : `${$data.displayName}:`">setting name</td>
									<td class="p-0">
										<input type="text" class="form-control"
                                            data-bind="attr : {name : $data.name, id : `setting-${$data.name}`, placeholder : $data.defaultValue}, textInput : $data.observableValue, tooltip : {title: 'Special tags {name}, {version} and {date} are automatically filled', trigger: 'hover'}"
                                            onchange="Settings.setSettingByName('saveFilename', this.value)"/>
									</td>
								</tr>
                            </tbody>
                        </table>
                        <div class="btn-group btn-block">
                            <button type="button" class="btn btn-primary" onclick="Settings.saveDefault();">Save As Default Settings</button>
                            <button type="button" class="btn btn-warning" onclick="Settings.loadDefault();">Load From Default Settings</button>
                            <button type="button" class="btn btn-danger" onclick="Settings.resetDefault();">Reset Default Settings</button>
                        </div>
                    </div>

                    <div class="tab-pane" id="settings-discord">
                        <table class="table table-striped table-hover m-0"><tbody>
                            <tr>
                            <td colspan="2">
                                <span>Enable Discord rich presence</span>
                                <label class="form-check-label toggler-wrapper style-1 float-right">
                                <input class="clickable" type="checkbox" data-bind="checked: Settings.getSetting('discord-rp.enabled').observableValue()" onchange="Settings.setSettingByName(this.name, this.checked)" name="discord-rp.enabled">
                                <div class="toggler-slider">
                                    <div class="toggler-knob"></div>
                                </div>
                                </label>
                            </td>
                            </tr>
                            <tr>
                            <td colspan="2">
                                <span>Show current session play time (max 24 hours)</span>
                                <label class="form-check-label toggler-wrapper style-1 float-right">
                                <input class="clickable" type="checkbox" data-bind="checked: Settings.getSetting('discord-rp.timer').observableValue()" onchange="Settings.setSettingByName(this.name, this.checked)" name="discord-rp.timer">
                                <div class="toggler-slider">
                                    <div class="toggler-knob"></div>
                                </div>
                                </label>
                            </td>
                            </tr>
                            <tr>
                            <td colspan="2">
                                <span>Reset timer on area change</span>
                                <label class="form-check-label toggler-wrapper style-1 float-right">
                                <input class="clickable" type="checkbox" data-bind="checked: Settings.getSetting('discord-rp.timer-reset').observableValue()" onchange="Settings.setSettingByName(this.name, this.checked)" name="discord-rp.timer-reset">
                                <div class="toggler-slider">
                                    <div class="toggler-knob"></div>
                                </div>
                                </label>
                            </td>
                            </tr>
                            <tr data-bind="template: { name: 'MultipleChoiceSettingTemplate', data: Settings.getSetting('discord-rp.large-image')}"></tr>
                            <tr data-bind="template: { name: 'MultipleChoiceSettingTemplate', data: Settings.getSetting('discord-rp.small-image')}"></tr>
                            <tr>
                            <td class="p-2">Line 1 text:</td>
                            <td class="p-0">
                                <input class="form-control" onblur="DiscordRichPresence.focusedElement = this" oninput="Settings.setSettingByName(this.name, this.value)" id="discord-rp.line-1" name="discord-rp.line-1" data-bind="value: Settings.getSetting('discord-rp.line-1').observableValue()" placeholder="Shinies: {caught_shiny}/{caught} {sparkle}">
                            </td>
                            </tr>
                            <tr>
                            <td class="p-2">Line 2 text:</td>
                            <td class="p-0">
                                <input class="form-control" onblur="DiscordRichPresence.focusedElement = this" oninput="Settings.setSettingByName(this.name, this.value)" id="discord-rp.line-2" name="discord-rp.line-2" data-bind="value: Settings.getSetting('discord-rp.line-2').observableValue()" placeholder="Total Attack: {attack}">
                            </td>
                            </tr>
                        </tbody></table>
                        <span>Options:<br/>
                            <code data-bind="foreach: DiscordRichPresence.outputOptions">
                                <a href="#" data-bind="click: () => { if (DiscordRichPresence.focusedElement.name) { Settings.setSettingByName(DiscordRichPresence.focusedElement.name, DiscordRichPresence.focusedElement.value += ` {${$data.key}}`) }}, text: `{${$data.key}}`"></a>
                            </code>
                        </span>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script type="text/html" id="MultipleChoiceSettingTemplate">
    <td class="p-2" data-bind="text: `${$data.displayName}:`">setting name</td>
    <td class="p-0">
        <select class="form-control" onchange="Settings.setSettingByName(this.name, this.value)" data-bind="foreach: $data.getValidOptions(), attr: {name}">
            <option data-bind="text: $data.text, value: $data.value, attr:{ selected: $parent.observableValue() == $data.value}"></option>
        </select>
    </td>
</script>

<script type="text/html" id="BooleanSettingTemplate">
    <td class="p-2">
        <label class="m-0" data-bind="attr: { for: 'checkbox-' + $data.name }, text: `${$data.displayName}:`">
            setting name
        </label>
    </td>
    <td class="p-2">
        <input class="clickable" type="checkbox"
            data-bind="checked: $data.observableValue(), attr: {name, id: 'checkbox-' + $data.name }"
            onchange="Settings.setSettingByName(this.name, this.checked)"/>
    </td>
</script>

<script type="text/html" id="BooleanSettingSliderTemplate">
    <td class="p-2">
        <label class="m-0" data-bind="attr: { for: 'checkbox-' + $data.name }, text: `${$data.displayName}:`">
            setting name
        </label>
    </td>
    <td class="p-2">
        <label class="form-check-label toggler-wrapper style-1 m-auto">
            <input class="clickable" type="checkbox"
                data-bind="checked: $data.observableValue(), attr: {name, id: 'checkbox-' + $data.name }"
                onchange="Settings.setSettingByName(this.name, this.checked)"/>
            <div class="toggler-slider">
                <div class="toggler-knob"></div>
            </div>
        </label>
    </td>
</script>

<script type="text/html" id="SoundSettingTemplate">
    <td class="p-2">
        <label class="m-0" data-bind="attr: { for: 'checkbox-' + $data.setting.name }, text: `${$data.setting.displayName}:`">
            setting name
        </label>
    </td>
    <td class="p-1 tight">
        <button class="btn btn-info btn-sm" data-bind="click: () => $data.sound.play()"><i class="play-button"></i></button>
    </td>
    <td class="p-2 tight">
        <label class="form-check-label toggler-wrapper style-1 m-auto">
            <input class="clickable" type="checkbox"
                data-bind="checked: $data.setting.observableValue(), attr: {name: $data.setting.name, id: 'checkbox-' + $data.setting.name }"
                onchange="Settings.setSettingByName(this.name, this.checked)"/>
            <div class="toggler-slider">
                <div class="toggler-knob"></div>
            </div>
        </label>
    </td>
</script>

<script type="text/html" id="NotificationSettingTemplate">
    <td class="p-2">
        <label class="m-0" data-bind="attr: { for: 'checkbox-game-' + $data.name }, text: `${$data.displayName}:`">
            setting name
        </label>
    </td>
    <td class="p-2 tight" data-bind="tooltip: {
        title: 'In game notifications',
        trigger: 'hover',
    }">
        <!-- ko if: $data.inGameNotification != undefined -->
        <label data-bind="attr: { for: 'checkbox-game-' + $data.inGameNotification.name }">🎮</label>
        <input class="clickable" type="checkbox"
            data-bind="checked: $data.inGameNotification.observableValue(), attr: { name: $data.inGameNotification.name, id: 'checkbox-game-' + $data.inGameNotification.name }"
            onchange="Settings.setSettingByName(this.name, this.checked)"/>
        <!-- /ko -->
        <!-- ko if: $data.inGameNotification == undefined -->
        <label>🎮</label>
        <input type="checkbox" checked disabled/>
        <!-- /ko -->
    </td>
    <td class="p-2 tight" data-bind="tooltip: {
        title: 'Desktop notifications, these can be seen even if the game is not in focus',
        trigger: 'hover',
    }">
        <label data-bind="attr: { for: 'checkbox-desktop-' + $data.desktopNotification.name }">🖥️</label>
        <input class="clickable" type="checkbox"
            data-bind="checked: $data.desktopNotification.observableValue(), attr: { name: $data.desktopNotification.name, id: 'checkbox-desktop-' + $data.desktopNotification.name }",
            onchange="Settings.setSettingByName(this.name, this.checked)"/>
    </td>
</script>

<script type="text/html" id="RangeSettingTemplate">
    <label data-bind="text: `${$data.displayName}: ${$data.observableValue()}`, attr: { for: `setting-${$data.name}` }">setting name</label>
    <input type="range" class="custom-range pl-3 pr-3"
            data-bind="attr: { name: $data.name, id: `setting-${$data.name}`, min: $data.minValue, max: $data.maxValue, step: $data.step},
                       value: $data.observableValue"
            oninput="Settings.setSettingByName(this.name, this.value)">
</script>

<script type="text/html" id="ColorChoiceSettingTemplate">
    <td class="p-2" data-bind="text: `${$data.displayName}:`">setting name</td>
    <td class="p-0" data-bind="style: { background: $data.observableValue },
    tooltip: {
        title: 'Set to white for transparent',
        trigger: 'hover',
    }">
        <label style="width:100%; min-height: 36px; padding:0px; margin: 0px;"><input style="opacity: 0;" type="color" data-bind="value: $data.observableValue"/></label>
    </td>
</script>

<script type="text/html" id="KeyChoiceSettingTemplate">
    <td class="p-2">
        <knockout data-bind="text: `${$data.displayName}:`">setting name</knockout>
    </td>
    <td class="p-0" data-bind="tooltip: {
        title: 'Click here to set a new key',
        trigger: 'hover',
    }">

        <kbd contenteditable="true" spellcheck="false"
            class="btn-block"
            style="padding: 10px 0;"
            data-bind="event: {
                keydown: (s, e) => {
                    const key = GameController.convertKey(e.key);
                    switch(key) {
                        case 'Backspace':
                        case 'Escape':
                            s.set('None');
                            break;
                        case 'Shift':
                        case 'Ctrl':
                        case 'Alt':
                        case 'Meta':
                            return;
                        default:
                            s.set(key);
                    }
                    e.currentTarget.blur();
                    e.stopPropagation();
                    return false;
                },
                click: (s, e) => {
                    e.currentTarget.innerHTML = `<code>${s.prefix}</code>...<code>${s.suffix}</code>`;
                },
                blur: (s, e) => {
                    e.currentTarget.innerHTML = `<code>${s.prefix}</code>${s.observableValue()}<code>${s.suffix}</code>`;
                }
            }"><code data-bind="text: $data.prefix"></code><ko data-bind="text: $data.observableValue()"></ko><code data-bind="text: $data.suffix"></code></kbd>
    </td>
</script>
