<div aria-labelledby="myModalLabel" class="modal fade" id="shardModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" id="shardModalDialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <img style="float:right;margin-right:10px;"
                     data-bind="tooltip: { title: 'Use shards to upgrade the type effectiveness of your Pokémon. When you defeat a Pokémon, you get shards based on its type. ', trigger: 'hover', placement:'right' }"
                     src="assets/images/questionmark.png">

            </div>
            <div class="modal-body" id="shardBody" data-bind='foreach: player._shardUpgrades'>
                <h3>
                    <span data-bind="text: GameConstants.PokemonType[$index()]"></span>
                    <div style="float:right;">
                      <img data-bind='attr: { src: "assets/images/shards/" + $index() + ".png" }'/>
                      <i data-bind="text: player._shardsCollected[$index()]().toLocaleString('en-US')"></i>
                    </div>
                </h3>
                <table class='table' data-bind='foreach: $data'>
                    <tr>
                        <td data-bind='text: GameConstants.TypeEffectiveness[$index()]'></td>
                        <td width='50%'>
                            <div class="progress"
                                 data-bind="style: { 'background-color': '#' + TypeHelper.typeColorsLocked[$parentContext.$index()] }">
                                <div class='progress-bar' role="progressbar"
                                     data-bind="style: { width: ($data * 10) + '%',
                                                               'background-color': '#' + TypeHelper.typeColors[$parentContext.$index()] }"
                                     aria-valuemin="0" aria-valuemax="100">
                                </div>
                                <div class='cell-container' data-bind='foreach: new Array(9)'>
                                    <div class='progress-cell' style='width: 10%'></div>
                                </div>
                            </div>
                        </td>
                        <td data-bind='text: (GameConstants.TypeEffectivenessValue[GameConstants.TypeEffectiveness[$index()]] + ($data * GameConstants.SHARD_UPGRADE_STEP)).toFixed(1) + "x"'></td>
                        <td>
                            <button class='btn btn-primary'
                                    data-bind='click: function(){player.buyShardUpgrade($parentContext.$index(), $index())},
                                        css: {disabled: !player.canBuyShardUpgrade($parentContext.$index(), $index())},
                                        text: (player.shardUpgradeMaxed($parentContext.$index(), $index()) ?  "MAXED" : "Buy (" + player.getShardUpgradeCost($parentContext.$index(), $index()) + ")")'>
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
