<div class="modal noselect fade" id="ShipModal" tabindex="-1" role="dialog" aria-labelledby="ShipModalLabel">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header" style='justify-content: space-around;'>
                <h5 class="modal-title">Regional Travel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-ocean">
                <img class="my-5" src='assets/images/ship.png' style='width: 100%;'>
                <div style='margin-top:20px' data-bind="foreach: GameHelper.enumStrings(GameConstants.Region)">
                    <!-- ko if: $data !== 'none' -->
                    <div class="btn-group w-100 my-1" data-bind="visible: GameConstants.Region[$data] <= player.highestRegion() && GameConstants.Region[$data] <= GameConstants.MAX_AVAILABLE_REGION">
                        <button style="position: relative;" class='btn btn-block btn-success ship-modal-region-button'
                            data-dismiss='modal'
                            data-bind='click: () => { MapHelper.moveToTown(GameConstants.DockTowns[GameConstants.Region[$data]]); player.region = GameConstants.Region[$data]; player._subregion(0); $("#ShipModal").modal("hide");  },
                            attr: { disabled: player.region == GameConstants.Region[$data] }'>
                            <img style="position:absolute; left: 10px;" data-bind="visible: player.region == GameConstants.Region[$data], attr: { src: `assets/images/profile/trainer-${App.game.profile.trainer() || 0}.png` }"/> <knockout data-bind="text: GameConstants.camelCaseToString($data)">Region</knockout>
                        </button>
                        <!-- ko using: Weather.regionalWeather[GameConstants.Region[$data]], as: 'weatherType' -->
                        <button class="btn btn-weather-dock" style="right: 0px; top: 0px; width: auto; padding: 0 4px;"
                            data-bind='style: { background: Weather.weatherConditions[weatherType].color },
                                tooltip: {
                                    title: WeatherType[weatherType],
                                    placement: "bottom",
                                    trigger: "hover",
                                    boundary: "window",
                                }'>
                            <img width=30px src="" data-bind="attr: { src: `assets/images/weather/${WeatherType[weatherType]}.png` }"/>
                        </button>
                        <!-- /ko -->
                    </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</div>
