<div id="shortcutsContainer" class="card sortable border-secondary mb-3"
    data-bind="visible: UndergroundController.shortcutVisible() || FarmController.shortcutVisible() || ShopHandler.shortcutVisible()">
    <div class="card-header p-0" data-toggle="collapse" href="#shortcutsBody">
        <span style="text-align:center">Shortcuts</span>
    </div>
    <div id="shortcutsBody" class="card-body show p-0">
      <table class="table table-sm m-0">
        <tbody>
          <tr data-bind="visible: UndergroundController.shortcutVisible">
            <td class="p-0">
              <button class="btn btn-block btn-primary m-0" onclick="UndergroundController.openUndergroundModal()">
                  Underground
                  <knockout data-bind="text: `[${Settings.getSetting('hotkey.underground').observableValue()}]`,
                    visible: Settings.getSetting('hotkey.underground').observableValue() != 'None'"></knockout>
              </button>
            </td>
          </tr>
          <tr data-bind="visible: FarmController.shortcutVisible">
            <td class="p-0">
              <button class="btn btn-block btn-primary m-0" onclick="FarmController.openFarmModal()">
                  Farm
                  <knockout data-bind="text: `[${Settings.getSetting('hotkey.farm').observableValue()}]`,
                    visible: Settings.getSetting('hotkey.farm').observableValue() != 'None'"></knockout>
              </button>
            </td>
          </tr>
          <tr data-bind="visible: ShopHandler.shortcutVisible">
            <td class="p-0">
              <button class="btn btn-block btn-primary m-0" onclick="ShopHandler.showShop(pokeMartShop);" href="#shopModal" data-toggle="modal">
                  Poké Mart
                  <knockout data-bind="text: `[${Settings.getSetting('hotkey.shop').observableValue()}]`,
                    visible: Settings.getSetting('hotkey.shop').observableValue() != 'None'"></knockout>
              </button>
            </td>
          </tr>
          <tr data-bind="visible: WeatherApp.shortcutVisible">
            <td class="p-0">
              <button class="btn btn-block btn-primary m-0" onclick="WeatherApp.openWeatherAppModal()">
                Castform App
                <knockout data-bind="text: `[${Settings.getSetting('hotkey.castformApp').observableValue()}]`,
                    visible: Settings.getSetting('hotkey.castformApp').observableValue() != 'None'"></knockout>
              </button>
            </td>
          </tr>
          <tr data-bind="visible: PurifyChamber.shortcutVisible">
            <td class="p-0">
              <button class="btn btn-block btn-primary m-0" onclick="PurifyChamber.openPurifyChamberModal()">
                Purify Chamber
                <knockout data-bind="text: `(${(Math.min(1, Math.trunc((App.game.purifyChamber.currentFlow() / App.game.purifyChamber.flowNeeded()) * 10 ** 4) / 10 ** 4)).toLocaleString('en-US', { style: 'percent', maximumFractionDigits: 4 })})`"></knockout>
                <knockout data-bind="text: `[${Settings.getSetting('hotkey.purifyChamber').observableValue()}]`,
                    visible: Settings.getSetting('hotkey.purifyChamber').observableValue() != 'None'"></knockout>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
