<div id="shortcutsContainer" class="card sortable border-secondary mb-3" data-bind="visible: player.highestRegion">
    <div class="card-header p-0" data-toggle="collapse" href="#shortcutsBody">
        <span style="text-align:center">Shortcuts</span>
    </div>
    <div id="shortcutsBody" class="card-body show p-0">
      <table class="table table-sm m-0">
        <tbody>
          <tr data-bind="visible: App.game.underground.canAccess">
            <td class="p-0">
              <button class="btn btn-block btn-primary m-0" onclick="App.game.underground.openUndergroundModal()">
                  Underground
              </button>
            </td>
          </tr>
          <tr data-bind="visible: App.game.farming.canAccess() && !Settings.getSetting('showFarmModule').observableValue()">
            <td class="p-0">
              <button class="btn btn-block btn-primary m-0" onclick="FarmController.openFarmModal()">
                  Farm
              </button>
            </td>
          </tr>
          <tr data-bind="visible: App.game.statistics.gymsDefeated[GameConstants.getGymIndex('Champion Lance')]">
            <td class="p-0">
              <button class="btn btn-block btn-primary m-0" onclick="ShopHandler.showShop(pokeMartShop);" href="#shopModal" data-toggle="modal">
                  Poké Mart
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
