<g data-bind='visible: player.region == GameConstants.Region.sinnoh'>
    <image width="1600" height="960" data-bind="attr: {
        'xlink:href':'assets/images/sinnoh.png?v=$VERSION',
        href:'assets/images/sinnoh.png?v=$VERSION'
    }"></image>

    <!-- ------ -->
    <!-- ROUTES -->
    <!-- ------ -->

    <!--Route 201-->
    <%- include('templates/mapRoute',
        { route: 201, region: 3
        , height: 3, width: 10
        , x: 7, y: 50
        })
    %>

    <!--Route 202-->
    <%- include('templates/mapRoute',
        { route: 202, region: 3
        , height: 3, width: 4
        , x: 18, y: 45
        , rotate:true
        })
    %>

    <!--Route 203-->
    <%- include('templates/mapRoute',
        { route: 203, region: 3
        , height: 3, width: 5
        , x: 23, y: 42
        })
    %>

    <!--Route 204-->
    <%- include('templates/mapRoute',
        { route: 204, region: 3
        , height: 3, width: 4.5
        , x: 18, y: 36
        , rotate: true
        })
    %>
    <!--Route 204 Extension-->
    <%- include('templates/mapRoute',
        { route: 204, region: 3
        , height: 0.5, width: 2
        , x: 19, y: 40.5
        , noText: true
        })
    %>

    <!--Route 205-->
    <%- include('templates/mapRoute',
        { route: 205, region: 3
        , height: 3, width: 9
        , x: 22, y: 27
        })
    %>
    <!--Route 205 Extension-->
    <%- include('templates/mapRoute',
        { route: 205, region: 3
        , height: 2, width: 6
        , x: 18, y: 30
        , noText: true
        })
    %>
    <!--Route 205 Extension-->
    <%- include('templates/mapRoute',
        { route: 205, region: 3
        , height: 4, width: 3
        , x: 21, y: 32
        , noText: true
        })
    %>

    <!--Route 206-->
    <%- include('templates/mapRoute',
        { route: 206, region: 3
        , height: 3, width: 4
        , x: 32, y: 30
        , rotate: true
        })
    %>
    <!--Route 206 Extension-->
    <%- include('templates/mapRoute',
        { route: 206, region: 3
        , height: 3, width: 4
        , x: 32, y: 37
        , rotate: true
        , noText: true
        })
    %>

    <!--Route 207-->
    <%- include('templates/mapRoute',
        { route: 207, region: 3
        , height: 3, width: 6
        , x: 32, y: 41
        })
    %>

    <!--Route 208-->
    <%- include('templates/mapRoute',
        { route: 208, region: 3
        , height: 3, width: 6
        , x: 38, y: 41
        })
    %>

    <!--Route 208 extra-->
    <%- include('templates/mapRoute',
        { route: 208, region: 3
        , height: 1, width: 3
        , x: 44, y: 43
        , noText: true
        })
    %>

    <!--Route 209-->
    <%- include('templates/mapRoute',
        { route: 209, region: 3
        , height: 3, width: 6
        , x: 54, y: 38
        , rotate: true
        })
    %>

    <!--Route 209 extra bit-->
    <%- include('templates/mapRoute',
        { route: 209, region: 3
        , height: 3, width: 1
        , x: 53, y: 41
        , noText: true
        })
    %>

    <!--Route 209 extra 1-->
    <%- include('templates/mapRoute',
        { route: 209, region: 3
        , height: 1, width: 3
        , x: 50, y: 43
        , noText: true
        })
    %>

    <!--Route 210 extra-->
    <%- include('templates/mapRoute',
        { route: 210, region: 3
        , height: 3, width: 4
        , x: 54, y: 30
        , rotate: true
        , noText : true
        })
    %>

    <!--Route 210-->
    <%- include('templates/mapRoute',
        { route: 210, region: 3
        , height: 3, width: 6
        , x: 51, y: 27
        })
    %>

    <!--Route 211-->
    <%- include('templates/mapRoute',
        { route: 211, region: 3
        , height: 3, width: 4
        , x: 35, y: 27
        })
    %>

    <!--Route 211 extra-->
    <%- include('templates/mapRoute',
        { route: 211, region: 3
        , height: 3, width: 3
        , x: 44, y: 27
        , noText: true
        })
    %>

    <!--Route 212-->
    <%- include('templates/mapRoute',
        { route: 212, region: 3
        , height: 3, width: 12
        , x: 47, y: 51
        })
    %>

    <!--Route 212 extra-->
    <%- include('templates/mapRoute',
        { route: 212, region: 3
        , height: 8, width: 3
        , x: 47, y: 43
        , noText: true
        })
    %>

    <!--Route 213-->
    <%- include('templates/mapRoute',
        { route: 213, region: 3
        , height: 3, width: 10
        , x: 63, y: 51
        })
    %>

    <!--Route 214-->
    <%- include('templates/mapRoute',
        { route: 214, region: 3
        , height: 3, width: 18
        , x: 70, y: 33
        , rotate: true
        })
    %>

    <!--Route 215-->
    <%- include('templates/mapRoute',
        { route: 215, region: 3
        , height: 3, width: 7
        , x: 57, y: 30
        })
    %>

    <!--Route 216-->
    <%- include('templates/mapRoute',
        { route: 216, region: 3
        , height: 3, width: 10
        , x: 30, y: 17
        })
    %>

    <!--Route 216 extra-->
    <%- include('templates/mapRoute',
        { route: 216, region: 3
        , height: 1, width: 4
        , x: 40, y: 17
        , noText: true
        })
    %>

    <!--Route 217-->
    <%- include('templates/mapRoute',
        { route: 217, region: 3
        , height: 3, width: 12
        , x: 30, y: 5
        , rotate: true
        })
    %>

    <!--Route 217 extra-->
    <%- include('templates/mapRoute',
        { route: 217, region: 3
        , height: 1, width: 8
        , x: 33, y: 6
        , noText: true
        })
    %>

    <!--Route 217 extra-->
    <%- include('templates/mapRoute',
        { route: 217, region: 3
        , height: 2, width: 1
        , x: 29, y: 5
        , noText: true
        })
    %>

    <!--Route 218-->
    <%- include('templates/mapRoute',
        { route: 218, region: 3
        , height: 3, width: 5
        , x: 9, y: 42
        })
    %>

    <!--Route 219-->
    <%- include('templates/mapRoute',
        { route: 219, region: 3
        , height: 3, width: 5
        , x: 18, y: 53
        , rotate: true
        })
    %>

    <!--Route 220-->
    <%- include('templates/mapRoute',
        { route: 220, region: 3
        , height: 3, width: 6
        , x: 21, y: 55
        })
    %>

    <!--Route 221-->
    <%- include('templates/mapRoute',
        { route: 221, region: 3
        , height: 3, width: 6
        , x: 27, y: 55
        })
    %>

    <!--Route 222-->
    <%- include('templates/mapRoute',
        { route: 222, region: 3
        , height: 3, width: 5
        , x: 73, y: 49
        })
    %>

    <!--Route 223-->
    <%- include('templates/mapRoute',
        { route: 223, region: 3
        , height: 3, width: 14
        , x: 84, y: 34
        , rotate: true
        })
    %>

    <!--Route 224-->
    <%- include('templates/mapRoute',
        { route: 224, region: 3
        , height: 3, width: 5
        , x: 91, y: 24
        , rotate: true
        })
    %>
    <!--Route 224 Extension-->
    <%- include('templates/mapRoute',
        { route: 224, region: 3
        , height: 1, width: 3
        , x: 90, y: 26
        , rotate: true
        , noText: true
        })
    %>
    <!--Route 224 Extension (Flower Path)-->
    <%- include('templates/mapRoute',
        { route: 224, region: 3
        , height: 3, width: 21
        , x: 91, y: 3
        , rotate: true
        , noText: true
        })
    %>

    <!--Route 225-->
    <%- include('templates/mapRoute',
        { route: 225, region: 3
        , height: 3, width: 6.5
        , x: 60, y: 7
        , rotate: true
        })
    %>
    <!--Route 225 extra-->
    <%- include('templates/mapRoute',
        { route: 225, region: 3
        , height: 1, width: 3
        , x: 63, y: 7
        , noText: true
        , rotate: true
        })
    %>

    <!--Route 226-->
    <%- include('templates/mapRoute',
        { route: 226, region: 3
        , height: 3, width: 9
        , x: 68, y: 7
        })
    %>

    <!--Route 227-->
    <%- include('templates/mapRoute',
        { route: 227, region: 3
        , height: 3, width: 4
        , x: 74, y: 3
        , rotate: true
        })
    %>

    <!--Route 228-->
    <%- include('templates/mapRoute',
        { route: 228, region: 3
        , height: 3, width: 8
        , x: 77, y: 7
        , rotate: true
        })
    %>

    <!--Route 229-->
    <%- include('templates/mapRoute',
        { route: 229, region: 3
        , height: 3, width: 6
        , x: 77, y: 15
        })
    %>

    <!--Route 230-->
    <%- include('templates/mapRoute',
        { route: 230, region: 3
        , height: 3, width: 12
        , x: 65, y: 15
        })
    %>

    <!-- ----- -->
    <!-- TOWNS -->
    <!-- ----- -->

    <!--Twinleaf Town-->
    <%- include('templates/mapTown',
        { name: "Twinleaf Town"
        , x: 7, y: 52.5
        , height: 4.5, width: 5
        , home: true
        })
    %>

    <!--Sandgem Town-->
    <%- include('templates/mapTown',
        { name: "Sandgem Town"
        , x: 17, y: 49
        , height: 4, width: 4
        })
    %>

    <!--Canalave City-->
    <%- include('templates/mapTown',
        { name: "Canalave City"
        , x: 5, y: 41
        , height: 4, width: 4
        })
    %>

    <!--Jubilife City-->
    <%- include('templates/mapTown',
        { name: "Jubilife City"
        , x: 14, y: 41
        , height: 4, width: 9
        })
    %>
    <!--Jubilife City extra-->
    <%- include('templates/mapTown',
        { name: "Jubilife City"
        , x: 14, y: 40.5
        , height: 0.5, width: 5
        , isExtension: true
        })
    %>

    <!--Oreburgh City-->
    <%- include('templates/mapTown',
        { name: "Oreburgh City"
        , x: 28, y: 41
        })
    %>

    <!--Floaroma Town-->
    <%- include('templates/mapTown',
        { name: "Floaroma Town"
        , x: 17, y: 32
        })
    %>

    <!--Eterna City-->
    <%- include('templates/mapTown',
        { name: "Eterna City"
        , x: 31, y: 26
        })
    %>

    <!--Team Galactic Eterna Building-->
    <%- include('templates/mapDungeon',
        { name: "Team Galactic Eterna Building"
        , x: 31, y: 26
        , height: 4, width: 4
        , invisible: true
        })
    %>


    <!--Mt. Coronet-->
    <%- include('templates/mapDungeon',
        { name: "Mt. Coronet"
        , x: 40, y: 22
        , height: 4, width: 6
        })
    %>

    <!--Mt. Coronet Extension-->
    <%- include('templates/mapDungeon',
        { name: "Mt. Coronet"
        , x: 44, y: 26
        , height: 1, width: 2
        , isExtension: true
        })
    %>

    <!--Mt. Coronet Extension-->
    <%- include('templates/mapDungeon',
        { name: "Mt. Coronet"
        , x: 40, y: 18
        , height: 4, width: 4
        , isExtension: true
        })
    %>

    <!--Mt. Coronet Extension-->
    <%- include('templates/mapDungeon',
        { name: "Mt. Coronet"
        , x: 40, y: 31
        , height: 6, width: 4
        , isExtension: true
        })
    %>

    <!--Mt. Coronet Extension-->
    <%- include('templates/mapDungeon',
        { name: "Mt. Coronet"
        , x: 39, y: 26
        , height: 5, width: 5
        , isExtension: true
        })
    %>

    <!--Mt. Coronet Extension-->
    <%- include('templates/mapDungeon',
        { name: "Mt. Coronet"
        , x: 37, y: 33
        , height: 8, width: 3
        , isExtension: true
        })
    %>

    <!--Mt. Coronet Extension-->
    <%- include('templates/mapDungeon',
        { name: "Mt. Coronet"
        , x: 40, y: 37
        , height: 4, width: 1
        , isExtension: true
        })
    %>

    <!--Hearthome City-->
    <%- include('templates/mapTown',
        { name: "Hearthome City"
        , x: 44, y: 39
        , height: 4, width: 9
        })
    %>

    <!--Hearthome City extra-->
    <%- include('templates/mapTown',
        { name: "Hearthome City"
        , x: 44, y: 38.5
        , height: 0.5, width: 5
        , isExtension: true
        })
    %>

    <!--Celestic Town-->
    <%- include('templates/mapTown',
        { name: "Celestic Town"
        , x: 47, y: 26
        , height: 4, width: 4
        })
    %>

    <!--Veilstone City-->
    <%- include('templates/mapTown',
        { name: "Veilstone City"
        , x: 64, y: 29
        , height: 4, width: 9
        })
    %>

    <!--Veilstone City extra-->
    <%- include('templates/mapTown',
        { name: "Veilstone City"
        , x: 64, y: 28.5
        , height: 0.5, width: 5
        , isExtension: true
        })
    %>

    <!--Solaceon Town-->
    <%- include('templates/mapTown',
        { name: "Solaceon Town"
        , x: 53, y: 34
        , height: 4, width: 4
        })
    %>

    <!--Pastoria City-->
    <%- include('templates/mapTown',
        { name: "Pastoria City"
        , x: 59, y: 50
        , height: 4, width: 4
        })
    %>

    <!--Sunyshore City-->
    <%- include('templates/mapTown',
        { name: "Sunyshore City"
        , x: 78, y: 48
        , height: 4, width: 9
        })
    %>

    <!--Sunyshore City extra-->
    <%- include('templates/mapTown',
        { name: "Sunyshore City"
        , x: 78, y: 47.5
        , height: 0.5, width: 5
        , isExtension: true
        })
    %>

    <!--Snowpoint City-->
    <%- include('templates/mapTown',
        { name: "Snowpoint City"
        , x: 33, y: 1.5
        , height: 4.5, width: 5
        })
    %>

    <!--Fight Area-->
    <%- include('templates/mapTown',
        { name: "Fight Area"
        , x: 60, y: 13.5
        , height: 4.5, width: 5
        })
    %>

    <!--Survival Area-->
    <%- include('templates/mapTown',
        { name: "Survival Area"
        , x: 64, y: 6
        , height: 4, width: 4
        })
    %>

    <!--Resort Area-->
    <%- include('templates/mapTown',
        { name: "Resort Area"
        , x: 79, y: 18
        , height: 4, width: 4
        })
    %>

    <!--Pal Park-->
    <%- include('templates/mapTown',
        { name: "Pal Park"
        , x: 33, y: 54
        , height: 4, width: 4
        })
    %>

    <!--Pokémon League Sinnoh-->
    <%- include('templates/mapTown',
        { name: "Pokémon League Sinnoh"
        , x: 81, y: 25
        , width: 9, height: 5.5
        })
    %>

    <!--Pokémon League Sinnoh Extension-->
    <%- include('templates/mapTown',
        { name: "Pokémon League Sinnoh"
        , x: 84, y: 30.5
        , width: 3, height: 0.5
        , isExtension: true
        })
    %>

    <!-- -------- -->
    <!-- DUNGEONS -->
    <!-- -------- -->

    <!--Lake Verity-->
    <%- include('templates/mapDungeon',
        { name: "Lake Verity"
        , x: 3, y: 49
        , height: 4, width: 4
        })
    %>

    <!--Valley Windworks-->
    <%- include('templates/mapDungeon',
        { name: "Valley Windworks"
        , x: 24, y: 33
        , height: 3, width: 4
        })
    %>

    <!--Eterna Forest-->
    <%- include('templates/mapDungeon',
        { name: "Eterna Forest"
        , x: 18, y: 27
        , height: 3, width: 4
        })
    %>

    <!--Old Chateau-->
    <%- include('templates/mapDungeon',
        { name: "Old Chateau"
        , x: 14, y: 29
        , height: 3, width: 4
        })
    %>

    <!--Oreburgh Gate-->
    <%- include('templates/mapDungeon',
        { name: "Oreburgh Gate"
        , x: 24, y: 39
        , height: 3, width: 4
        })
    %>

    <!--Wayward Cave-->
    <%- include('templates/mapDungeon',
        { name: "Wayward Cave"
        , x: 32, y: 34
        , height: 3, width: 3
        })
    %>


    <!--Mt. Coronet South-->
    <%- include('templates/mapDungeon',
        { name: "Mt. Coronet South"
        , x: 40, y: 22
        , height: 4, width: 6
        , moveToTown: "Mt. Coronet"
        , invisible: true
        })
    %>

    <!--Mt. Coronet North-->
    <%- include('templates/mapDungeon',
        { name: "Mt. Coronet North"
        , x: 40, y: 22
        , height: 4, width: 6
        , moveToTown: "Mt. Coronet"
        , invisible: true
        })
    %>

    <!--Spear Pillar-->
    <%- include('templates/mapDungeon',
        { name: "Spear Pillar"
        , x: 40, y: 22
        , height: 4, width: 6
        , moveToTown: "Mt. Coronet"
        , invisible: true
        })
    %>

    <!--Hall of Origin-->
    <%- include('templates/mapDungeon',
        { name: "Hall of Origin"
        , x: 40, y: 22
        , height: 4, width: 6
        , moveToTown: "Mt. Coronet"
        , invisible: true
        })
    %>

    <!--Solaceon Ruins-->
    <%- include ('templates/mapDungeon',
        { name: "Solaceon Ruins"
        , x: 57, y: 35
        , height: 3, width: 4
        })
    %>
    <!--Lake Valor-->
    <%- include('templates/mapDungeon',
        { name: "Lake Valor"
        , x: 66, y: 47
        , height: 4, width: 4
        })
    %>

    <!--Lake Acuity-->
    <%- include('templates/mapDungeon',
        { name: "Lake Acuity"
        , x: 29, y: 1
        , height: 4, width: 4
        })
    %>

    <!--Snowpoint Temple-->
    <%- include('templates/mapDungeon',
        { name: "Snowpoint Temple"
        , x: 38, y: 0
        , height: 6, width: 3
        })
    %>

    <!--Team Galactic HQ-->
    <%- include('templates/mapDungeon',
        { name: "Team Galactic HQ"
        , x: 64, y: 29
        , height: 4, width: 9
        ,invisible: true
        })
    %>

    <!--Fullmoon Island-->
    <%- include('templates/mapDungeon',
        { name: "Fullmoon Island"
        , x: 4, y: 6
        , height: 3, width: 3
        })
    %>

    <!--Newmoon Island-->
    <%- include('templates/mapDungeon',
        { name: "Newmoon Island"
        , x: 15, y: 6
        , height: 3, width: 3
        })
    %>

    <!--Iron Island-->
    <%- include('templates/mapDungeon',
        { name: "Iron Island"
        , x: 10, y: 24
        , height: 3, width: 3
        })
    %>

    <!--Flower Paradise-->
    <%- include('templates/mapDungeon',
        { name: "Flower Paradise"
        , x: 91, y: 0
        , height: 3, width: 4
        })
    %>

    <!--Stark Mountain-->
    <%- include('templates/mapDungeon',
        { name: "Stark Mountain"
        , x: 69, y: 0
        , height: 3, width: 10
        })
    %>

    <!--Victory Road Sinnoh-->
    <%- include('templates/mapDungeon',
        { name: "Victory Road Sinnoh"
        , x: 84, y: 31
        , height: 3, width: 3
        })
    %>

    <!--Sendoff Spring-->
    <%- include('templates/mapDungeon',
        { name: "Sendoff Spring"
        , x: 75, y: 40
        , height: 4, width: 4
        })
    %>

    <!--Sendoff Spring Extension-->
    <%- include('templates/mapDungeon',
        { name: "Sendoff Spring"
        , x: 73, y: 41
        , height: 3, width: 2
        , isExtension: true
        })
    %>

    <!-- ------------------ -->
    <!-- PLACES OF INTEREST -->
    <!-- ------------------ -->

    <%- include('templates/mapPOI',
        { name: "Dock"
        , x: 6, y: 37
        , height: 4, width: 3
        , databind: "click: function(){MapHelper.openShipModal()}, attr: { class: MapHelper.calculateTownCssClass('Canalave City') }"
        })
     %>

     <%- include('templates/mapPOI',
        { name: "Underground Entrance"
        , x: 57, y: 38
        , width: 3, height: 4
        , databind: "click:function(){App.game.underground.openUndergroundModal()}, attr: { class: App.game.underground.canAccess() ? 'completed' : 'locked' }"
        })
     %>

     <%- include('templates/mapPOI',
        { name: "Farm"
        , x: 67, y: 37
        , width: 3, height: 3
        , databind: "click:function(){FarmController.openFarmModal()}, attr: { class: App.game.farming.canAccess() ? 'completed' : 'locked' }"
        })
     %>

     <%- include('templates/mapPOI',
        { name: "Pokémon Day Care"
        , x: 49, y: 35
        , width: 4, height: 4
        , databind: "click:function(){BreedingController.openBreedingModal()}, attr: { class: App.game.breeding.canAccess() ? 'completed' : 'locked' }"
        })
     %>

     <%- include('templates/mapOverlay',
         { name: "Distortion World"
         , x: 39, y: 26
         , width: 5, height: 5
         , databind: "click:function(){MapHelper.moveToTown('Distortion World')}, attr:{ class: MapHelper.calculateTownCssClass('Distortion World') }"
         , visible:  "App.game.statistics.dungeonsCleared[GameConstants.getDungeonIndex('Spear Pillar')]() >= 1 && App.game.statistics.dungeonsCleared[GameConstants.getDungeonIndex('Distortion World')]() == 0"
         , image: "assets/images/map/distortion_world.png"
         , connectedToTown: "Distortion World"
         })
     %>

     <%- include('templates/mapOverlay',
         { name: "Distortion World"
         , x: 74, y: 35
         , width: 5, height: 5
         , databind: "click:function(){MapHelper.moveToTown('Distortion World')}, attr:{ class: MapHelper.calculateTownCssClass('Distortion World') }"
         , visible:  "App.game.statistics.temporaryBattleDefeated[GameConstants.getTemporaryBattlesIndex('Zero')]() >= 1"
         , image: "assets/images/map/distortion_world.png"
         , connectedToTown: "Distortion World"
         })
     %>

     <%- include('templates/mapOverlay',
         { name: "Professor Rowan's Blimp"
         , x: 12, y: 53
         , width: 6, height: 3
         , databind: "click:function(){MapHelper.moveToTown('Twinleaf Town')}, attr:{ class: MapHelper.calculateTownCssClass('Twinleaf Town') }"
         , visible:  "MapHelper.ableToTravel() && player.regionStarters[GameConstants.Region.kanto]() != GameConstants.Starter.Special"
         , image: "assets/images/map/blimp_empty.png"
         })
     %>

     <%- include('templates/mapOverlay',
         { name: "Professor Rowan's Blimp"
         , x: 12, y: 53
         , width: 6, height: 3
         , databind: "click:function(){MapHelper.moveToTown('Twinleaf Town')}, attr:{ class: MapHelper.calculateTownCssClass('Twinleaf Town') }"
         , visible:  "MapHelper.ableToTravel() && player.regionStarters[GameConstants.Region.kanto]() == GameConstants.Starter.Special"
         , image: "assets/images/map/blimp_pikachu.png"
         })
     %>

     <%- include('templates/mapOverlay',
         { name: "Pokémon Trainer Barry"
         , x: 7, y: 48
         , width: 4, height: 4
         , databind: "click: () => TemporaryBattleList['Barry 1'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Barry 1'] && TemporaryBattleList['Barry 1'].isVisible()"
         , image: "assets/images/map/barry.png"
         })
     %>

     <%- include('templates/mapOverlay',
         { name: "Pokémon Trainer Barry"
         , x: 22.5, y: 41
         , width: 4, height: 4
         , databind: "click: () => TemporaryBattleList['Barry 2'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Barry 2'] && TemporaryBattleList['Barry 2'].isVisible()"
         , image: "assets/images/map/barry.png"
         })
     %>

     <%- include('templates/mapOverlay',
         { name: "Pokémon Trainer Barry"
         , x: 52.5, y: 40
         , width: 4, height: 4
         , databind: "click: () => TemporaryBattleList['Barry 3'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Barry 3'] && TemporaryBattleList['Barry 3'].isVisible()"
         , image: "assets/images/map/barry.png"
         })
     %>

     <%- include('templates/mapOverlay',
         { name: "Pokémon Trainer Barry"
         , x: 62, y: 52
         , width: 4, height: 4
         , databind: "click: () => TemporaryBattleList['Barry 4'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Barry 4'] && TemporaryBattleList['Barry 4'].isVisible()"
         , image: "assets/images/map/barry.png"
         })
     %>

     <%- include('templates/mapOverlay',
         { name: "Pokémon Trainer Barry"
         , x: 7, y: 41
         , width: 4, height: 4
         , databind: "click: () => TemporaryBattleList['Barry 5'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Barry 5'] && TemporaryBattleList['Barry 5'].isVisible()"
         , image: "assets/images/map/barry.png"
         })
     %>

     <%- include('templates/mapOverlay',
         { name: "Pokémon Trainer Barry"
         , x: 83.5, y: 27
         , width: 4, height: 4
         , databind: "click: () => TemporaryBattleList['Barry 6'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Barry 6'] && TemporaryBattleList['Barry 6'].isVisible()"
         , image: "assets/images/map/barry.png"
         })
     %>

     <%- include('templates/mapOverlay',
         { name: "Ash Ketchum"
         , x: 70, y: 3
         , width: 4, height: 4
         , databind: "click: () => TemporaryBattleList['Ash Ketchum Sinnoh'].protectedOnclick()"
         , visible:  "TemporaryBattleList['Ash Ketchum Sinnoh'] && TemporaryBattleList['Ash Ketchum Sinnoh'].isVisible()"
         , image: "assets/images/map/ashketchumoverworld.png"
         })
     %>

</g>
