<div class="modal noselect fade" id="spindaSpotSelectorModal" tabindex="-1" role="dialog" aria-labelledby="spindaSpotSelectorModal">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header bg-dark text-light" style='justify-content: space-around;'>
                <h5 class="modal-title">Adjust Spinda's Spots Positions</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0 pb-1">
                <knockout class="position-relative d-inline-block">
                    <img data-bind="attr:{ src: PokemonHelper.getImage(327, SpindaHelper.isProfile() ? App.game.profile.pokemonShiny() : undefined) }" src=""/>
                    <knockout data-bind="template: { 
                        name: 'spindaSpotTemplate', 
                        data: { 
                            'spotObject': SpindaHelper.isProfile() ? App.game.profile.spindaSpots : SpindaHelper.getSettingsObject(),
                            'shiny': SpindaHelper.isProfile() ? App.game.profile.pokemonShiny() : undefined,
                        } 
                    }">Spinda Spot</knockout>
                </knockout>
                <div class="card">
                    <table class="table table-striped table-hover table-bordered table-sm m-0 mb-2">
                        <thead>
                            <tr class="bg-secondary">
                                <th>Spot Position</th>
                                <th>X Axis</th>
                                <th>Y Axis</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- ko foreach: { data: GameHelper.enumNumbers(SpindaSpots), as: 'position' } -->
                            <tr>
                                <td class="text-left align-middle" data-bind="text: `${GameConstants.camelCaseToString(SpindaSpots[position])}`">Spot</td>
                                <!-- ko using: SpindaHelper.isProfile() ? App.game.profile.spindaSpots : SpindaHelper.getSettingsObject(), as: 'spot' -->
                                <td class="text-left align-middle">
                                    <input type="range" class="custom-range"
                                    data-bind="attr: { 
                                        name: SpindaSpots[position], 
                                        min: 0, 
                                        max: 16, 
                                        step: 1
                                    },
                                    value: spot[position].x(),
                                    tooltip: {
                                        title: spot[position].x(),
                                        trigger: 'hover',
                                        boundary: 'window',
                                        placement: 'top'
                                    }"
                                    oninput="(SpindaHelper.isProfile() ? App.game.profile.spindaSpots[SpindaSpots[this.name]].x(this.value) : Settings.setSettingByName(`spinda.${this.name}X`, this.value))">
                                </td>
                                <td class="text-left align-middle">
                                    <input type="range" class="custom-range"
                                    data-bind="attr: { 
                                        name: SpindaSpots[position], 
                                        min: 0, 
                                        max: 16, 
                                        step: 1
                                    },
                                    value: spot[position].y(),
                                    tooltip: {
                                        title: spot[position].y(),
                                        trigger: 'hover',
                                        boundary: 'window',
                                        placement: 'top'
                                    }"
                                    oninput="(SpindaHelper.isProfile() ? App.game.profile.spindaSpots[SpindaSpots[this.name]].y(this.value) : Settings.setSettingByName(`spinda.${this.name}Y`, this.value))">
                                </td>
                                <!-- /ko -->
                            </tr>
                            <!-- /ko -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
  