<div class="loader background-night" id="loader">
    <br>
    <div class="loader-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 offset-sm-3">
                    <img style="width:100%" src="assets/images/pokeclickerlogo.png">
                </div>
            </div>
        </div>
        <div class="loader-content">
            <img src="assets/images/pokeball/Pokeball.svg" class="loader-pokeball"/>
            <div class="progress" style="margin-top:10px;">
                <div id="preload-progress-bar" class="progress-bar bg-primary" role="progressbar" style="width:0%;">
                    <span id="preload-progress-text">Loading...</span>
                </div>
            </div>
        </div>
    </div>

</div>
