<div class="modal" id="starterCaughtModal" tabindex="-1" role="dialog"
aria-labelledby="starterCaughtModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
   <div class="modal-content">
       <div class="modal-header">
           <div style="width: 100%;">
               <img src="assets/images/npcs/Professor Oak.png">
               <h5 class="modal-title" id="starterCaughtModalLabel">Professor Oak</h5>
           </div>
       </div>
       <div class="modal-body">
           <p>
               Hm! Excellent! You have caught your first Pokémon!<br>
               This is where your journey begins. <br>
               You can progress to the next route after you have defeated 10 Pokémon.<br>
               To help you on your journey, I will give you these <b>Key Items</b>!<br>
               You can view all your <b>Key Items</b> in the start menu.<br>
           </p>
           <div class="row justify-content-center">
               <div class="col-sm-3">
                   <img
                           title="A television set that is tuned to a program with useful tips for novice TRAINERS."
                           class="key-item"
                           src="assets/images/keyitems/Teachy_tv.png"/>
                   <br>
                   <p>Teachy TV</p>
               </div>
               <div class="col-sm-3">
                   <img
                           title="A case for holding Pokédollars."
                           class="key-item"
                           src="assets/images/keyitems/Coin_case.png"/>
                   <br>
                   <p>Coin Case</p>
               </div>
               <div class="col-sm-3">
                   <img
                           title="A small bag that can hold many different types of Poké Balls."
                           class="key-item"
                           src="assets/images/keyitems/Pokeball_bag.png"/>
                   <br>
                   <p>Poké Ball Bag</p>
               </div>

           </div>

       </div>
       <div class="modal-footer">
           <button type="button" class="btn btn-primary" data-dismiss="modal">Next</button>
       </div>
   </div>
</div>
</div>
