<div class="modal" id="startSequenceModal" tabindex="-1" role="dialog"
aria-labelledby="startSequenceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div style="width: 100%;">
                    <img src="assets/images/npcs/Professor Oak.png">
                    <h5 class="modal-title" id="startSequenceModalLabel">Professor Oak</h5>
                </div>
            </div>
            <div class="modal-body">
                <p>
                Hello, there! Welcome to the world of Pokémon!<br/>
                My name is Oak. People affectionately refer to me as the Pokémon Professor.<br/>
                This world is inhabited by creatures called Pokémon!<br/>
                For some people, Pokémon are pets. Other use them for battling.<br/>
                As for myself… I study Pokémon as a profession.<br/>
                However, your very own Pokémon legend is about to unfold!<br/>
                A world of dreams and adventures with Pokémon awaits! Let's go!
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning mr-auto" href="#challengeModeModal" data-toggle="modal">Challenge Modes</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Next</button>
            </div>
        </div>
    </div>
</div>
