<div class="modal noselect fade" id="statisticsModal" tabindex="-1" role="dialog" aria-labelledby="statisticsModal">
    <div class="modal-dialog modal-dialog-scrollable modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header" style='justify-content: space-around;'>
                <h5 class="modal-title">Statistics</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-0">
                <table class="table table-striped table-hover table-bordered table-sm m-0">
                    <thead>
                      <tr>
                        <th>Statistic</th>
                        <th>Amount</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="text-left">Time Played</td>
                        <td class="text-left tight text-muted" data-bind="html: GameConstants.formatSecondsToTime(App.game.statistics['secondsPlayed']())">-</td>
                      </tr>
                      <!-- ko foreach: App.game.statistics.observables -->
                      <tr>
                        <td class="text-left" data-bind="text: GameConstants.camelCaseToString($data)">-</td>
                        <td class="text-left tight text-muted" data-bind="text: App.game.statistics[$data]().toLocaleString('en-US')">-</td>
                      </tr>
                      <!-- /ko -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
