<div class="modal noselect fade" id="statisticsModal" tabindex="-1" role="dialog" aria-labelledby="statisticsModal">
    <div class="modal-dialog modal-dialog-scrollable modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header" style='justify-content: space-around;'>
                <h5 class="modal-title">Statistics</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <!-- ko if: DisplayObservables.modalState.statisticsModal === 'show' -->
            <div class="modal-body p-0">
                <ul class="nav nav-tabs nav-fill">
                    <li class="nav-item"><a class="nav-link active" href="#statisticsModalStatsPane" data-toggle="tab">Stats</a></li>
                    <li class="nav-item"><a class="nav-link" href="#statisticsModalMultipliersPane" data-toggle="tab">Multipliers</a></li>
                    <li class="nav-item"><a class="nav-link" href="#statisticsModalClickAttackPane" data-toggle="tab">Click Attack</a></li>
                </ul>
                <div class="tab-content">
                    <!-- Stats Pane -->
                    <div class="tab-pane active" id="statisticsModalStatsPane">
                        <table class="table table-striped table-hover table-bordered table-sm m-0">
                            <thead>
                            <tr>
                                <th>Statistic</th>
                                <th>Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-left">Start Date/Time</td>
                                <td class="text-left tight text-muted" data-bind="text: player.createdTime ? new Date(player.createdTime).toLocaleString() : 'N/A'"></td>
                            </tr>
                            <tr>
                                <td class="text-left">Time Played</td>
                                <td class="text-left tight text-muted" data-bind="html: GameConstants.formatSecondsToTime(App.game.statistics['secondsPlayed']())">-</td>
                            </tr>
                            <!-- ko foreach: App.game.statistics.observables -->
                            <tr>
                                <td class="text-left" data-bind="text: GameConstants.camelCaseToString($data)">-</td>
                                <td class="text-left tight text-muted" data-bind="text: App.game.statistics[$data]().toLocaleString('en-US')">-</td>
                            </tr>
                            <!-- /ko -->
                            </tbody>
                        </table>
                    </div>

                    <!-- Multipliers Pane -->
                    <div class="tab-pane" id="statisticsModalMultipliersPane">
                        <table class='table table-sm table-hover m-0'>
                            <!-- ko foreach: Object.entries(App.game.multiplier.multipliers) -->
                                <tbody>
                                    <tr>
                                        <td colspan="2" class="clickable text-left h5"
                                            data-toggle="collapse" data-bind="attr: { 'href': '#collapse-multiplier-' + $index() }">
                                            <div class="d-flex align-items-center">
                                                <div class="flex-grow-1" data-bind="text: GameConstants.camelCaseToString($data[0])"></div>
                                                <knockout data-bind="text: `${App.game.multiplier.getBonus($data[0]).toFixed(2)}x`"></knockout>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody data-bind="class: 'collapse', attr: { id: 'collapse-multiplier-' + $index()}">
                                    <!-- ko foreach: $data[1] -->
                                        <tr data-bind="if: $data.bonusFunction() !== 1">
                                            <td data-bind="text: $data.source"></td>
                                            <td data-bind="text: `${$data.bonusFunction().toFixed(2)}x`"></td>
                                        </tr>
                                    <!-- /ko -->
                                    <tr data-bind="if: !$data[1].some(({ bonusFunction }) => bonusFunction() !== 1)">
                                        <td colspan="2">You have no active multipliers of this type</td>
                                    </tr>
                                </tbody>
                            <!-- /ko -->
                        </table>
                    </div>

                    <!-- Click Attack Pane -->
                    <div class="tab-pane text-left p-3" id="statisticsModalClickAttackPane" data-bind="with: App.game.party.clickAttackBreakdown">
                        <h5>Base Click Attack</h5>
                        <table class="table table-bordered table-sm">
                            <tbody>
                                <tr>
                                    <td class="w-50">Unique Pokémon</td>
                                    <td class="text-center w-50">
                                        <code data-bind="text: $data.caughtPokemon.toLocaleString('en-US')"></code>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Shiny Pokémon</td>
                                    <td class="text-center">
                                        <code data-bind="text: $data.shinyPokemon.toLocaleString('en-US')"></code>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Resistant Pokémon</td>
                                    <td class="text-center">
                                        <code data-bind="text: $data.resistantPokemon.toLocaleString('en-US')"></code>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Purified Pokémon</td>
                                    <td class="text-center">
                                        <code data-bind="text: $data.purifiedPokemon.toLocaleString('en-US')"></code>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="text-center">
                                        <code data-bind="html: `(1 + ${$data.caughtPokemon} + ${$data.shinyPokemon} + ${$data.resistantPokemon} + ${$data.purifiedPokemon})<sup>1.4</sup>`"></code>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">=</td>
                                    <td class="text-center">
                                        <span data-bind="text: $data.baseClickAttack.toLocaleString('en-US')"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <h5>Modifiers</h5>
                        <table class="table table-bordered table-sm mb-0">
                            <tbody>
                                <tr>
                                    <td>Achievement Bonus</td>
                                    <td class="text-center">
                                        <code data-bind="text: `×(1 + ${AchievementHandler.achievementBonus()})`"></code>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="w-50">xClick</td>
                                    <td class="text-center w-50">
                                        <code data-bind="text: `×${$data.xClickModifier}`"></code>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Rocky Helmet</td>
                                    <td class="text-center">
                                        <code data-bind="text: `×${$data.rockyHelmetModifier}`"></code>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Black Flute</td>
                                    <td class="text-center">
                                        <code data-bind="text: `×${$data.blackFluteModifier}`"></code>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" class="text-center">
                                        <code data-bind="text: `${$data.baseClickAttack} * (1 + ${AchievementHandler.achievementBonus()}) * ${$data.xClickModifier} * ${$data.rockyHelmetModifier} * ${$data.blackFluteModifier}`"></code>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="text-right">=</td>
                                    <td class="text-center">
                                        <span data-bind="text: App.game.party.calculateClickAttack().toLocaleString('en-US')"></span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- /ko -->
        </div>
    </div>
</div>
