<div class="modal noselect fade" id="SubregionModal" tabindex="-1" role="dialog" aria-labelledby="SubregionModal">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header" style='justify-content: space-around;'>
                <h5 class="modal-title">Subregional Travel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body bg-ocean">
                <img class="my-5" src='assets/images/boat.png' style='width: 40%;'>
                <div style='margin-top:20px' data-bind="foreach: SubRegions.getSubRegions(player.region)">
                    <!-- ko if: $data !== 'none' -->
                    <button class='btn btn-block btn-success'
                        data-dismiss='modal'
                        data-bind='visible: $data.unlocked(),
                        click: () => { player.subregion = $data.id; $("#SubregionModal").modal("hide"); },
                        attr: { disabled: player.subregion == $data.id },
                        text: $data.name'>
                        Subregion
                    </button>
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</div>
