<div class="modal noselect fade" id="SubregionModal" tabindex="-1" role="dialog" aria-labelledby="SubregionModal">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header" style='justify-content: space-around;'>
                <h5 class="modal-title">Subregional Travel</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <h5 data-bind="text: GameConstants.camelCaseToString(GameConstants.Region[player.region])">Region</h5>
            <div class="modal-body bg-ocean">
                <img class="my-5" src='assets/images/boat.png' style='width: 40%;'>
                <div style='margin-top:20px' data-bind="foreach: SubRegions.getSubRegions(player.region)">
                    <!-- ko if: $data !== 'none' -->
                    <button style="position: relative;" class='btn btn-block btn-success'
                        data-dismiss='modal'
                        data-bind='visible: $data.unlocked(),
                        click: () => { player.subregion = $data.id; $("#SubregionModal").modal("hide"); },
                        attr: { disabled: player.subregion == $data.id }'>
                        <img style="position:absolute; left: 10px;" data-bind="visible: player.subregion == $data.id, attr: { src: `assets/images/profile/trainer-${App.game.profile.trainer() || 0}.png` }"/> <knockout data-bind="text: $data.name">Region</knockout>
                    </button>
                    <!-- /ko -->
                </div>
            </div>
        </div>
    </div>
</div>
