<div class="row justify-content-center no-gutters" data-bind="if: App.game.gameState === GameConstants.GameState.temporaryBattle">
    <div class="col no-gutters" data-bind="css: { clickable: !TemporaryBattleBattle.isDoubleBattle(), 'multi-battle': TemporaryBattleBattle.isDoubleBattle() }, click: function() { if (!TemporaryBattleBattle.isDoubleBattle()) { TemporaryBattleBattle.clickAttack(); } }" style="height: 280px; display: block;">
        <h2 class="pageItemTitle mobileBattleTitle" style="display: block;">
            <knockout data-bind="ifnot: TemporaryBattleBattle.isDoubleBattle()">
                <knockout data-bind="template: { name: 'pokemonNameTemplate', data: { 'pokemon': TemporaryBattleBattle.firstEnemyPokemon() } }">PokÃƒÂ©mon name</knockout>
            </knockout>
            <knockout data-bind="if: TemporaryBattleBattle.isDoubleBattle()">
                <span class="multi-battle-title" data-bind="foreach: TemporaryBattleBattle.enemyPokemonView">
                    <knockout data-bind="if: $data">
                        <span data-bind="if: $index() > 0">&nbsp;&&nbsp;</span>
                        <span data-bind="template: { name: 'pokemonNameTemplate', data: { 'pokemon': $data } }">PokÃƒÂ©mon name</span>
                    </knockout>
                </span>
            </knockout>

            <knockout class="right">
                <span data-bind="foreach: new Array(TemporaryBattleBattle.pokemonsDefeatedComputable())">
                    <img src="assets/images/pokeball/Pokeball.svg" class="pokeball-smallest pokeball-defeated"/>
                </span>
                <span data-bind="foreach: new Array(TemporaryBattleBattle.pokemonsUndefeatedComputable())">
                    <img src="assets/images/pokeball/Pokeball.svg" class="pokeball-smallest"/>
                </span>
            </knockout>

            <div class="progress timer">
                <div class="progress-bar bg-danger" role="progressbar"
                     data-bind="attr:{ style: 'width:' + TemporaryBattleRunner.timeLeftPercentage() + '%' },
                     css: { 'bg-danger': TemporaryBattleRunner.timeLeftSeconds() < 10, 'bg-primary': TemporaryBattleRunner.timeLeftSeconds() >= 10 }"
                     aria-valuemin="0" aria-valuemax="100">
                     <span data-bind="text: TemporaryBattleRunner.timeLeftSeconds() + 's'" style="font-size: 12px;"></span>
                </div>
            </div>
        </h2>

        <div id="temporaryBattleGoContainer" data-bind="if: Settings.getSetting('showGymGoAnimation').observableValue">
          <div class="row" style="display: inline-block; vertical-align: middle;">
            <div class="col-sm-6 offset-sm-3">
              <img style="width:100%" id="temporaryBattleGo" src="assets/gifs/go.gif">
            </div>
          </div>
        </div>

        <div class="trainer" data-bind="if: !TemporaryBattleRunner.battleObservable().optionalArgs.hideTrainer">
            <img data-bind="attr:{ src: TemporaryBattleRunner.battleObservable().getImage() }" onerror="this.src='assets/images/npcs/specialNPCs/Mysterious Trainer.png';"/>
        </div>

        <!-- ko ifnot: TemporaryBattleBattle.isDoubleBattle() -->
            <div data-bind="ifnot: TemporaryBattleBattle.catching">
                <knockout data-bind="template: { name: 'pokemonSpriteTemplate', data: { 'pokemon': TemporaryBattleBattle.firstEnemyPokemon() } }">PokÃƒÂ©mon sprite</knockout>
            </div>

            <div data-bind="if: TemporaryBattleBattle.catching" class="catchChance">
                <img class="pokeball-animated"
                     data-bind="attr:{ src: 'assets/images/pokeball/' + GameConstants.Pokeball[TemporaryBattleBattle.pokeball()] + '.svg' }"
                     src=""/>
                <br>
                Catch Chance:
                <knockout data-bind="text: Math.floor(TemporaryBattleBattle.catchRateActual()) + '%'">Catch Rate</knockout>
            </div>

            <div class="progress hitpoints trainerhitpoints">
                <div class="progress-bar bg-danger" role="progressbar"
                        data-bind="attr:{ style: 'width:' + TemporaryBattleBattle.firstEnemyPokemon().healthPercentage() + '%' }"
                        aria-valuemin="0" aria-valuemax="100">
                    <span data-bind="text: TemporaryBattleBattle.firstEnemyPokemon().health().toLocaleString('en-US') + ' / ' + TemporaryBattleBattle.firstEnemyPokemon().maxHealth().toLocaleString('en-US')" style="font-size: 12px;"></span>
                </div>
            </div>
        <!-- /ko -->

        <!-- ko if: TemporaryBattleBattle.isDoubleBattle() -->
            <div class="multi-battle-pokemon-list" data-bind="foreach: TemporaryBattleBattle.enemyPokemonView">
                <div class="multi-battle-pokemon-slot" data-bind="css: { clickable: $data && $data.isAlive() && !TemporaryBattleBattle.isCatchingPokemon($data) }, click: function() { if ($data && $data.isAlive() && !TemporaryBattleBattle.isCatchingPokemon($data)) { TemporaryBattleBattle.clickAttack($data); } }, clickBubble: false">
                    <knockout data-bind="if: $data">
                        <knockout data-bind="if: TemporaryBattleBattle.isCatchingPokemon($data)">
                            <div class="catchChance" data-bind="with: TemporaryBattleBattle.getCatchState($data)">
                                <img class="pokeball-animated"
                                     data-bind="attr:{ src: 'assets/images/pokeball/' + GameConstants.Pokeball[$data.pokeball] + '.svg' }"
                                     src=""/>
                                <br>
                                Catch Chance:
                                <knockout data-bind="text: Math.floor($data.catchRateActual) + '%'">Catch Rate</knockout>
                            </div>
                        </knockout>
                        <knockout data-bind="ifnot: TemporaryBattleBattle.isCatchingPokemon($data)">
                            <div class="multi-battle-pokemon-sprite">
                                <knockout data-bind="template: { name: 'pokemonSpriteTemplate', data: { 'pokemon': $data } }">PokÃƒÂ©mon sprite</knockout>
                            </div>
                        </knockout>
                    </knockout>
                </div>
            </div>

            <div class="multi-battle-hitpoints-list" data-bind="foreach: TemporaryBattleBattle.enemyPokemonView">
                <div class="multi-battle-hitpoints-slot">
                    <knockout data-bind="if: $data">
                        <div class="progress multi-battle-hitpoints">
                            <div class="progress-bar bg-danger" role="progressbar"
                                    data-bind="attr:{ style: 'width:' + $data.healthPercentage() + '%' }"
                                    aria-valuemin="0" aria-valuemax="100">
                                <span data-bind="text: $data.health().toLocaleString('en-US') + ' / ' + $data.maxHealth().toLocaleString('en-US')" style="font-size: 12px;"></span>
                            </div>
                        </div>
                    </knockout>
                </div>
            </div>
        <!-- /ko -->
        <h2 class="pageItemFooter" style="display: block; font-size: 1rem;">
            <knockout>
                <knockout data-bind="text: TemporaryBattleBattle.battle.getDisplayName()"></knockout>
            </knockout>
            <table width="100%">
                <tr>
                    <td width="50%">
                        <knockout data-bind="template: { name: 'pokemonAttackTemplate', data: { 'pokemon': TemporaryBattleBattle.firstEnemyPokemon(), 'battle': TemporaryBattleBattle } }"></knockout>
                    </td>
                    <td width="50%" data-bind="css: { 'text-muted': App.game.challenges.list.disableClickAttack.active() }">
                        <span style="display: inline;">Click Attack:
                            <span data-bind="text: App.game.party.calculateClickAttack().toLocaleString('en-US')"></span>
                        </span>
                    </td>
                </tr>
            </table>
        </h2>
    </div>
</div>
