<div class="modal fade" data-keyboard="false" data-backdrop="static" id="temporaryBattleWonModal" tabindex="-1" role="dialog"
aria-labelledby="temporaryBattleWonModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-scrollable" role="document">
   <div class="modal-content">
    <!-- ko if: TemporaryBattleRunner.battleObservable()?.defeatMessage -->
       <div class="modal-header">
           <div style="width: 100%;">
               <img src="" onerror="this.src='assets/images/npcs/specialNPCs/Mysterious Trainer.png'"
                    data-bind="attr:{ src: TemporaryBattleRunner.battleObservable().getImage()}">
               <h5 class="modal-title" id="temporaryBattleWonModalLabel"
                   data-bind="text: TemporaryBattleRunner.battleObservable().getDisplayName()">Modal title</h5>

           </div>
        </div>
        <div class="modal-body">
           <p data-bind="html: TextMerger.mergeText(TemporaryBattleRunner.battleObservable().defeatMessage)"></p>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
    <!-- /ko -->
   </div>
</div>
</div>
