<knockout data-bind="if: App.game.gameState === GameConstants.GameState.town">
<div id="townView" data-bind="style: { backgroundImage: 'url(\'assets/images/towns/' + player.town().name() + '.png\')' }"
     class="justify-content-center no-gutters no-select">
    <div class="row justify-content-center no-gutters">
        <div class="col no-gutters">
            <button type="button" class="btn btn-outline-info" style="float: right;"
            data-bind="visible: player.town().gym() || player.town().shop(), tooltip: { title: 'In towns you can battle gymleaders to earn badges, or visit shops to buy items.', trigger: 'hover', placement:'left' }">?</button>
            <button type="button" class="btn btn-outline-info" style="float: right;"
            data-bind="visible: player.town() instanceof DungeonTown, tooltip: { title: 'Capture Pokémon to gain Dungeon Tokens in order to battle dungeons.', trigger: 'hover', placement:'left' }">?</button>
            <h2 class="pageItemTitle">
              <knockout data-bind="text: player.town().name()">Town Name</knockout>

              <knockout data-bind="if: player.town() instanceof DungeonTown && player.town().dungeon()">
                  <!--If all Pokémon in the dungeon are caught-->
                  <knockout data-bind="if: (!DungeonRunner.dungeonCompleted(player.town().dungeon(), true) && DungeonRunner.dungeonCompleted(player.town().dungeon(), false))">
                      <img title="You have captured all Pokémon on this route!" class="pokeball-smallest"
                           src="assets/images/pokeball/Pokeball-small.png"/>
                  </knockout>

                  <!--If all Pokémon in the dungeon are caught shiny-->
                  <knockout data-bind="if: DungeonRunner.dungeonCompleted(player.town().dungeon(), true)">
                      <img title="You have captured all Pokémon shiny on this route!"
                           class="pokeball-smallest"
                           src="assets/images/pokeball/Pokeball-shiny-small.png"/>
                  </knockout>
              </knockout>
            </h2>
        </div>
    </div>
    <div class="row no-gutters">
       <div class="col-3 no-gutters">
           <div class="list-group" data-bind="if: player.town() instanceof PokemonLeague">
              <!-- ko foreach: player.town().gymList -->
                   <button
                           data-bind="text: $data.leaderName.replace(/\d/g,''),
                                      disable: !Gym.isUnlocked($data),
                                      click: function() {GymRunner.startGym($data)},
                                      attr: { class: Gym.calculateCssClass($data)}">
                       E4 Leader
                   </button>
               <!-- /ko -->
           </div>
           <div class="list-group">
               <button data-bind="visible: player.town().gym, attr: { class: player.town().gym() ? Gym.calculateCssClass(player.town().gym()) : '' }"
                       onclick="GymRunner.startGym(player.town().gym())">
                   Gym
               </button>
               <a class="btn btn-secondary" href="#shopModal" data-bind="visible: player.town().shop" data-toggle="modal" onclick="ShopHandler.showShop(player.town().shop())">Shop</a>
               <button class="btn btn-warning"
                       href="#nextRegionModal" data-toggle="modal"
                       data-bind="visible: MapHelper.ableToTravel() && GameConstants.StartingTowns.includes(player.town().name()), text: `Travel to ${GameConstants.camelCaseToString(GameConstants.Region[player.highestRegion() + 1])}`">
                     Travel To Next Region
               </button>
               <button class="btn btn-info" onclick="MapHelper.openShipModal();" data-bind="visible: player.highestRegion() > 0 && GameConstants.DockTowns.includes(player.town().name())">
                     Dock
               </button>
               <button class="btn btn-secondary p-0"
                       onclick="DungeonRunner.initializeDungeon(player.town().dungeon())"
                       data-bind="visible: player.town() instanceof DungeonTown, if: player.town().dungeon(), attr: { class: player.town().dungeon() && App.game.wallet.currencies[GameConstants.Currency.dungeonToken] >= player.town().dungeon().tokenCost ? 'btn btn-success p-0' : 'btn btn-secondary p-0' }">
                   Start<br/>
                   <span data-bind="template: { name: 'currencyTemplate', data: {'amount': player.town().dungeon().tokenCost, 'currency': GameConstants.Currency.dungeonToken}}"></span>
               </button>
               <button class="btn btn-secondary"
                       onclick="MapHelper.moveToTown(player.town().dungeon().name())"
                       data-bind="visible: player.town().dungeon() && (!(player.town() instanceof DungeonTown) && player.town() instanceof Town), if: player.town().dungeon()">
                   <span data-bind="text: player.town().dungeon().name()"></span>
               </button>
               <button class="btn btn-primary"
                       onclick="BattleFrontier.enter()"
                       data-bind="visible: player.town().name() == 'Battle Frontier'">
                   Enter Battle Frontier
               </button>
           </div>
       </div>

    </div>
    <knockout data-bind="if: (player.town().dungeon() && player.town() instanceof DungeonTown)">
      <div id="dungeonPokemonList" class="card">
        <!--Display all available Pokémon in this dungeon-->
        <ul class="list-inline"
          data-bind="foreach: player.town().dungeon().allPokemonNames">
          <li class="list-inline-item">
            <img class="dungeon-pokemon-preview" src=""
                data-bind="attr:{ src: 'assets/images/' + (App.game.party.alreadyCaughtPokemonByName($data, true) ? 'shiny' : '') + 'pokemon/' + pokemonMap[$data].id + '.png' }, css: { 'dungeon-pokemon-locked': !App.game.party.alreadyCaughtPokemonByName($data) }"/>
            <sup style="float:right; top:10px;" data-bind="visible: App.game.party.alreadyCaughtPokemonByName($data, true)">✨</sup>
          </li>
        </ul>
      </div>
    </knockout>
</div>
</knockout>
