<div aria-labelledby="myModalLabel" class="modal fade noselect" id="mineModal" role="dialog"
     style="cursor:default" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header p-0">
                <ul class="nav nav-tabs nav-fill">
                    <li class="nav-item"><a data-toggle='tab' class='nav-link active' href="#dig">Dig</a></li>
                    <li class='nav-item'>
                        <a data-toggle='tab' class='nav-link' href="#treasures">Treasures</a>
                    </li>
                    <li class="nav-item">
                        <a data-toggle='tab' class='nav-link' href="#undergroundHelpers">Helpers</a>
                    </li>
                    <li class='nav-item'><a data-toggle='tab' class='nav-link' href="#help">Help</a></li>
                    <btn class="btn btn-primary">
                        <span id="diamondCounter" data-bind="text: App.game.wallet.currencies[GameConstants.Currency.diamond]().toLocaleString('en-US')">x</span>
                        <img src='assets/images/underground/diamond.svg' width="20px'">
                    </btn>
                </ul>
            </div>
            <div class="modal-body tab-content p-0">
                <div id="dig" class="tab-pane fade in active show" data-bind="">
                    <div>Discovering mine time: <knockout data-bind="text: App.game.underground.mine?.timeUntilDiscovery.toLocaleString('en-US', { minimumFractionDigits: 1, maximumFractionDigits: 1 })"></knockout></div>
                    <div>
                        <div>Lvl. <knockout data-bind='text: App.game.underground.undergroundLevel'></knockout></div>
                        <div>Exp <knockout data-bind='text: App.game.underground.undergroundExp'></knockout> / <knockout data-bind='text: UndergroundController.convertLevelToExperience(App.game.underground.undergroundLevel + 1)'></knockout></div>
                        <div>
                            <button onclick='App.game.underground.addUndergroundExp(10)'>+10 XP</button>
                            <button onclick='App.game.underground.addUndergroundExp(100)'>+100 XP</button>
                            <button onclick='App.game.underground.addUndergroundExp(1000)'>+1,000 XP</button>
                            <button onclick='App.game.underground.addUndergroundExp(10000)'>+10,000 XP</button>
                            <button onclick='App.game.underground.addUndergroundExp(-10)'>-10 XP</button>
                            <button onclick='App.game.underground.addUndergroundExp(-100)'>-100 XP</button>
                            <button onclick='App.game.underground.addUndergroundExp(-1000)'>-1,000 XP</button>
                            <button onclick='App.game.underground.addUndergroundExp(-10000)'>-10,000 XP</button>
                        </div>
                    </div>
                    <div>
                        <!-- ko if: App.game.underground.mine -->
                        <div id="mineBody" style="margin:auto; background-image: url('../assets/images/underground/rock0.png');"
                             data-bind="css: { 'disabled': false },
                             class: `${UndergroundToolType[App.game.undergroundTools.selectedToolType]}Selected`,
                             style: {
                                backgroundSize: `calc(100% / ${App.game.underground.mine?.columnCount})`,
                             },
                             foreach: App.game.underground.mine.grid">
                            <div class="mineSquare" data-bind="click: () => { UndergroundController.clickModalMineSquare($index()); }">
                                <div class="" data-bind="class: `rock${$data.layerDepth}`, style: UndergroundController.calculateMineTileStyle($index())"></div>
                            </div>
                        </div>
                        <div class='row no-gutters'>
                            <div class="col-12" data-bind="text: 'Treasures found: ' + App.game.underground.mine?.itemsFound + ' / ' + App.game.underground.mine?.itemsBuried + ', Partially discovered: ' + App.game.underground.mine?.itemsPartiallyFound">
                            </div>

                            <div class="col-12 row no-gutters">
                                <div class="col mx-1 card clickable" data-bind="click: () => App.game.undergroundTools.selectedToolType = UndergroundToolType.Chisel">
                                    <div class="card-body bg-secondary rounded text-center p-1" data-bind="css: { 'bg-info': App.game.undergroundTools.selectedToolType === UndergroundToolType.Chisel }">
                                        <div class="d-flex flex-column align-items-center">
                                            <img src="../assets/images/underground/Chisel.png" alt="">
                                            <div>Chisel</div>
                                            <div>Free uses: <knockout data-bind="text: App.game.undergroundTools.getTool(UndergroundToolType.Chisel).storedUses"></knockout></div>
                                            <div>Cooldown: <knockout data-bind="text: App.game.undergroundTools.getTool(UndergroundToolType.Chisel).cooldownForDisplay().toLocaleString('en-US', { minimumFractionDigits: 1, maximumFractionDigits: 1 })"></knockout></div>
                                            <div><knockout data-bind="text: App.game.undergroundTools.getTool(UndergroundToolType.Chisel).counter.toLocaleString('en-US', { minimumFractionDigits: 1, maximumFractionDigits: 1 })"></knockout> / <knockout data-bind="text: App.game.undergroundTools.getTool(UndergroundToolType.Chisel).baseCooldown"></knockout></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col mx-1 card clickable" data-bind="click: () => App.game.undergroundTools.selectedToolType = UndergroundToolType.Hammer">
                                    <div class="card-body bg-secondary rounded text-center p-1" data-bind="css: { 'bg-info': App.game.undergroundTools.selectedToolType === UndergroundToolType.Hammer }">
                                        <div class="d-flex flex-column align-items-center">
                                            <img src="../assets/images/underground/Hammer.png" alt="">
                                            <div>Hammer</div>
                                            <div>Free uses: <knockout data-bind="text: App.game.undergroundTools.getTool(UndergroundToolType.Hammer).storedUses"></knockout></div>
                                            <div>Cooldown: <knockout data-bind="text: App.game.undergroundTools.getTool(UndergroundToolType.Hammer).cooldownForDisplay().toLocaleString('en-US', { minimumFractionDigits: 1, maximumFractionDigits: 1 })"></knockout></div>
                                            <div><knockout data-bind="text: App.game.undergroundTools.getTool(UndergroundToolType.Hammer).counter.toLocaleString('en-US', { minimumFractionDigits: 1, maximumFractionDigits: 1 })"></knockout> / <knockout data-bind="text: App.game.undergroundTools.getTool(UndergroundToolType.Hammer).baseCooldown"></knockout></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col mx-1 card clickable" data-bind="click: () => App.game.undergroundTools.selectedToolType = UndergroundToolType.Bomb">
                                    <div class="card-body bg-secondary rounded text-center p-1" data-bind="css: { 'bg-info': App.game.undergroundTools.selectedToolType === UndergroundToolType.Bomb }">
                                        <div class="d-flex flex-column align-items-center">
                                            <img src="../assets/images/underground/Bomb.png" alt="">
                                            <div>Bomb</div>
                                            <div>Free uses: <knockout data-bind="text: App.game.undergroundTools.getTool(UndergroundToolType.Bomb).storedUses"></knockout></div>
                                            <div>Cooldown: <knockout data-bind="text: App.game.undergroundTools.getTool(UndergroundToolType.Bomb).cooldownForDisplay().toLocaleString('en-US', { minimumFractionDigits: 1, maximumFractionDigits: 1 })"></knockout></div>
                                            <div><knockout data-bind="text: App.game.undergroundTools.getTool(UndergroundToolType.Bomb).counter.toLocaleString('en-US', { minimumFractionDigits: 1, maximumFractionDigits: 1 })"></knockout> / <knockout data-bind="text: App.game.undergroundTools.getTool(UndergroundToolType.Bomb).baseCooldown"></knockout></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /ko -->
                    </div>

                    <div data-bind="">
                        <button onclick="App.game.underground.generateMine();">Search for mine</button>
                        <button onclick="App.game.underground.generateMine(MineType.Diamond)">Search for Diamonds</button>
                        <button onclick="App.game.underground.generateMine(MineType.GemPlate)">Search for Gems</button>
                        <button onclick="App.game.underground.generateMine(MineType.Shard)">Search for Shards</button>
                        <button onclick="App.game.underground.generateMine(MineType.Fossil)">Search for Fossils</button>
                        <button onclick="App.game.underground.generateMine(MineType.EvolutionItem)">Search for Evolution Items</button>
                    </div>
                </div>
                <div id="treasures" class="tab-pane fade">
                </div>
                <div id="undergroundHelpers" class="tab-pane fade">
                    <div class="row m-0 justify-content-center" data-bind="foreach: App.game.underground.helpers.available()" style="max-width: 100%;">
                        <div class="card text-left col-md-3 col-sm-6 col-xs-12 p-0">
                            <h5 class="card-header">
                                <knockout data-bind="text: $data.name">Name</knockout>
                            </h5>
                            <div class="card-body p-2">
                                <div>Experience: <knockout data-bind="text: $data.experience.toLocaleString('en-US')"></knockout></div>
                                <div>Level: <knockout data-bind="text: $data.level.toLocaleString('en-US')"></knockout></div>
                                <div>Auto-sell value: <knockout data-bind="text: $data.autoSellValue.toLocaleString('en-US', { style: 'percent', minimumFractionDigits: 1, maximumFractionDigits: 1 })"></knockout></div>
                                <div>Smart tool chance: <knockout data-bind="text: $data.smartToolUsageChance.toLocaleString('en-US', { style: 'percent', minimumFractionDigits: 1, maximumFractionDigits: 1 })"></knockout></div>
                                <div>Work cycle time: <knockout data-bind="text: $data.workCycleTime.toLocaleString('en-US', { minimumFractionDigits: 1, maximumFractionDigits: 1 })"></knockout>s</div>
                            </div>
                            <div class="card-footer p-0">
                                <button class="btn btn-block" data-bind="attr: { disabled: !$data.hired && !App.game.underground.helpers.canHire() }, css: { 'btn-success': !$data.hired, 'btn-danger': $data.hired }, click: () => !$data.hired ? $data.hire() : $data.fire(), text: !$data.hired ? 'Hire!' : 'Fire!'">Hire!</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="help" class="tab-pane fade pl-5 pr-5">
                    <h4><u>Dig</u></h4>
                    <p>In the Underground you can mine for hidden treasures.</p>

                    <p>There are three main ways of breaking tiles:
                    <br/>Chisel will mine 2 layers on a single tile.
                    <br/>Hammer will mine 1 layer on all nine tiles of a 3x3 square.
                    <br/>Bomb will mine 2 layers of 10 random tiles.</p>

                    <h4><u>Treasures</u></h4>
                    <p>Sell your treasures for gems or diamonds!</p>
                    <p>If you have found any fossils, you can hatch the Pokémon they contain from the Treasures tab, or from the Day Care.</p>

                    <h4><u>Daily deals</u></h4>
                    <p>In the Daily deals tab you can trade your items. The trades available change each day at midnight.</p>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

    <script type="text/html" id="treasureListTemplate">
        <tr>
        </tr>
    </script>
</div>

<div aria-labelledby="mineSellAllTreasuresModalLabel" class="modal fade noselect mt-5" id="mineSellAllTreasuresModal" role="dialog"
     style="cursor:default" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-sm" role="document" data-bind="let: { filteredMineInventory: UndergroundItems.list.filter(item => item.hasSellValue() && player.itemList[item.itemName]()) }">
        <div class="modal-content">
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

    <script type="text/html" id="cumulativeValueListTemplate">
        <tr></tr>
    </script>
</div>
