<div aria-labelledby="myModalLabel" class="modal fade noselect" id="mineModal" role="dialog"
     style="cursor:default" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header p-0">
                <ul class="nav nav-tabs nav-fill">
                    <li class="nav-item"><a data-toggle='tab' class='nav-link active' href="#dig">Dig</a></li>
                    <li class='nav-item'>
                        <a data-toggle='tab' class='nav-link' href="#treasures">Treasures</a>
                    </li>
                    <li class='nav-item'>
                        <a data-toggle='tab' class='nav-link' href="#upgrades">Upgrades</a>
                    </li>
                    <li class='nav-item'>
                        <a data-toggle='tab' class='nav-link' href="#dailyDeals">
                            Daily deals
                        </a>
                    </li>
                    <li class='nav-item'><a data-toggle='tab' class='nav-link' href="#help">Help</a></li>
                    <btn class="btn btn-primary">
                        <span id="diamondCounter" data-bind="text: App.game.wallet.currencies[GameConstants.Currency.diamond]().toLocaleString('en-US')">x</span>
                        <img src='assets/images/underground/diamond.svg' width="20px'">
                    </btn>
                </ul>
            </div>
            <div class="modal-body tab-content p-0">
                <div id="dig" class="tab-pane fade in active show" data-bind="class: Mine.itemsFound() === Mine.itemsBuried() ? 'disabled' : ''">
                    <div class="row no-gutters" data-bind="foreach: ['SmallRestore','MediumRestore','LargeRestore']">
                        <button class="col-4 btn btn-secondary" data-bind="
                                click: function(){ ItemList[$data].use();},
                                css: { disabled: player.itemList[$data]() <= 0}">
                            <span data-bind="text: '(' + player.itemList[$data]().toLocaleString('en-US') + ')'">(?)</span>
                            <img class="restore-item" data-bind="attr: { src: ItemList[$data].image }">
                            <span data-bind="text: ' +' + App.game.underground.calculateItemEffect(GameConstants.EnergyRestoreSize[$data])">&nbsp;+? energy</span>
                        </button>
                    </div>
                    <div class='row no-gutters' style="text-align:center;">
                        <div class='progress'>
                            <div id='mineEnergyBar' class='progress-bar bg-warning' role='progressbar'
                                 aria-valuemin='0' aria-valuemax='100'
                                 data-bind="style: { width: (Math.floor(App.game.underground.energy)/App.game.underground.getMaxEnergy()*100).toFixed(2) + '%' }">
                                <span data-bind="text: 'Energy: ' + Math.floor(App.game.underground.energy) + ' / ' + App.game.underground.getMaxEnergy() + (Math.floor(App.game.underground.energy) < App.game.underground.getMaxEnergy() ? ' (' + Underground.energyTick() + 's)' : '')"></span>
                            </div>
                        </div>
                    </div>
                    <div id="mineBody" class="container" style="margin:auto">
                    </div>
                    <div class='row no-gutters'>
                        <div class="col-12"
                            id="mine-survey-result"
                            data-bind="
                                text: 'Treasures found: ' + Mine.itemsFound() + ' / ' + Mine.itemsBuried() + ', Partially discovered: ' + (Mine.itemsFound() + Mine.itemsPartiallyFound()),
                                tooltip: {
                                    title: () =>
                                        Mine.surveyResult() || 'Conduct a Survey to get more details',
                                        trigger: 'hover',
                                        placement: 'top',
                                        boundary: 'window',
                                        html: true,
                                }"
                            >
                        </div>
                        <button class='col-12 col-md-4 btn btn-primary' onClick='Mine.toolSelected(Mine.Tool.Hammer)'
                        data-bind="tooltip: {title: 'Hammer will mine 1 layer of all 9 tiles in a chosen 3x3 area.', trigger: 'hover', placement: 'top', boundary: 'window'}">Hammer (<knockout data-bind="text: Underground.HAMMER_ENERGY"></knockout> energy)</button>
                        <button class='col-12 col-md-4 btn btn-info' onClick='Mine.toolSelected(Mine.Tool.Chisel)'
                        data-bind="tooltip: {title: 'Chisel will mine 2 layers on a single chosen tile.', trigger: 'hover', placement: 'top', boundary: 'window'}">Chisel (<knockout data-bind="text: Underground.CHISEL_ENERGY"></knockout> energy)</button>
                        <button class='col-12 col-md-4 btn btn-success'
                                onClick='Mine.survey(); $(this).tooltip("hide")'
                                data-bind="disable: Mine.surveyResult() ? true : false, tooltip: {title: `Survey gives you information about the items to be found on this layer. It also fully damages ${App.game.underground.getSurvey_Efficiency()} (cleared or uncleared) random tile${App.game.underground.getSurvey_Efficiency() > 1 ? 's' : ''}.`, trigger: 'hover', placement: 'bottom', boundary: 'window'}">
                            Survey (<knockout data-bind="text: App.game.underground.getSurvey_Cost()"></knockout> energy)
                        </button>
                        <!-- FIX NUMBER-->
                        <button class='col-12 col-md-6 btn btn-warning' onClick='Mine.bomb()'
                        data-bind="tooltip: {title: `Bomb will mine 2 layers of ${App.game.underground.getBombEfficiency()} (cleared or uncleared) random tiles.`, trigger: 'hover', placement: 'bottom', boundary: 'window'}">Bomb (<knockout data-bind="text: Underground.BOMB_ENERGY"></knockout> energy)</button>
                        <button class='col-12 col-md-6 btn btn-danger' onClick='Mine.skipLayer(true)'
                        data-bind="disable: Mine.skipsRemaining() > 0 ? false : true, tooltip: {title: `Skips the current layer. Fully mine a layer to recover one Skip.`, trigger: 'hover', placement: 'bottom', boundary: 'window'}">Skip (<knockout data-bind="text: `${Mine.skipsRemaining()} / ${Mine.maxSkips}`"></knockout>)</button>
                    </div>
                </div>
                <div id="treasures" class="tab-pane fade">
                    <div data-bind="if: Underground.playerHasMineItems()">
                        <table class="table table-sm table-hover table-striped m-0">
                            <thead>
                                <tr>
                                    <th class="clickable" onclick="Underground.updateTreasureSorting('Amount')" data-bind="text: 'Amount' + (Underground.sortOption() === 'Amount' ? (Underground.sortFactor() > 0 ? ' ▴' : ' ▾') : '')"></th>
                                    <th class="clickable" onclick="Underground.updateTreasureSorting('Item')" data-bind="text: 'Item' + (Underground.sortOption() === 'Item' ? (Underground.sortFactor() > 0 ? ' ▴' : ' ▾') : '')"></th>
                                    <th class="clickable" onclick="Underground.updateTreasureSorting('Value')" data-bind="text: 'Value' + (Underground.sortOption() === 'Value' ? (Underground.sortFactor() > 0 ? ' ▴' : ' ▾') : '')"></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody data-bind="template: { name: 'treasureListTemplate', foreach: Underground.sortedMineInventory().filter(it => player.itemList[it.itemName]() && ![UndergroundItemValueType.EvolutionItem, UndergroundItemValueType.MegaStone].includes(it.valueType))}">
                            </tbody>
                        </table>
                        <button type="button" class="btn btn-success btn-block" onclick="App.game.underground.openUndergroundSellAllModal()">
                            <span>Sell all treasures</span>
                        </button>
                    </div>
                    <div data-bind="ifnot: Underground.playerHasMineItems()">
                        You don't have any treasures yet...
                    </div>
                </div>
                <div id="upgrades" class="tab-pane fade">
                    <table class="table table-sm table-hover table-striped m-0">
                        <thead>
                            <tr>
                                <th>Upgrade</th>
                                <th>Amount</th>
                                <th>Cost</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr data-bind="template: { name: 'undergroundUpgradeTemplate',
                                'data': {'totalBonus': App.game.underground.getMaxEnergy(), 'upgrade': App.game.underground.getUpgrade(UndergroundUpgrade.Upgrades.Energy_Max)}}"></tr>
                            <tr data-bind="template: { name: 'undergroundUpgradeTemplate',
                                'data': {'totalBonus': App.game.underground.getMaxItems(), 'upgrade': App.game.underground.getUpgrade(UndergroundUpgrade.Upgrades.Items_Max)}}"></tr>
                            <tr data-bind="template: { name: 'undergroundUpgradeTemplate',
                                'data': {'totalBonus': App.game.underground.getMinItems(), 'upgrade': App.game.underground.getUpgrade(UndergroundUpgrade.Upgrades.Items_Min)}}"></tr>
                            <tr data-bind="template: { name: 'undergroundUpgradeTemplate',
                                'data': {'totalBonus': App.game.underground.getEnergyGain(), 'upgrade': App.game.underground.getUpgrade(UndergroundUpgrade.Upgrades.Energy_Gain)}}"></tr>
                            <tr data-bind="template: { name: 'undergroundUpgradeTemplate',
                                'data': {'totalBonus': App.game.underground.getEnergyRegenTime(), 'upgrade': App.game.underground.getUpgrade(UndergroundUpgrade.Upgrades.Energy_Regen_Time)}}"></tr>
                            <tr data-bind="template: { name: 'undergroundUpgradeTemplate',
                                'data': {'totalBonus': App.game.underground.getDailyDealsMax(), 'upgrade': App.game.underground.getUpgrade(UndergroundUpgrade.Upgrades.Daily_Deals_Max)}}"></tr>
                            <tr data-bind="template: { name: 'undergroundUpgradeTemplate',
                                'data': {'totalBonus': App.game.underground.getBombEfficiency(), 'upgrade': App.game.underground.getUpgrade(UndergroundUpgrade.Upgrades.Bomb_Efficiency)}}"></tr>
                            <tr data-bind="template: { name: 'undergroundUpgradeTemplate',
                                'data': {'totalBonus': App.game.underground.getSurvey_Cost(), 'upgrade': App.game.underground.getUpgrade(UndergroundUpgrade.Upgrades.Survey_Cost)}}"></tr>
                            <tr data-bind="template: { name: 'undergroundUpgradeTemplate',
                                'data': {'totalBonus': App.game.underground.getSurvey_Efficiency(), 'upgrade': App.game.underground.getUpgrade(UndergroundUpgrade.Upgrades.Survey_Efficiency)}}"></tr>
                            <tr data-bind="template: { name: 'undergroundUpgradeTemplate',
                                'data': {'totalBonus' : App.game.underground.getSizeY() - Underground.sizeY, 'upgrade': App.game.underground.getUpgrade(UndergroundUpgrade.Upgrades.NewYLayer)}}"></tr>
                            <tr data-bind="template: { name: 'undergroundUpgradeToggleTemplate', 'data': {'upgrade': App.game.underground.getUpgrade(UndergroundUpgrade.Upgrades.Reduced_Shards)}}"></tr>
                            <tr data-bind="template: { name: 'undergroundUpgradeToggleTemplate', 'data': {'upgrade': App.game.underground.getUpgrade(UndergroundUpgrade.Upgrades.Reduced_Plates)}}"></tr>
                            <tr data-bind="template: { name: 'undergroundUpgradeToggleTemplate', 'data': {'upgrade': App.game.underground.getUpgrade(UndergroundUpgrade.Upgrades.Reduced_Evolution_Items)}}"></tr>
                            <tr data-bind="template: { name: 'undergroundUpgradeToggleTemplate', 'data': {'upgrade': App.game.underground.getUpgrade(UndergroundUpgrade.Upgrades.Reduced_Fossil_Pieces)}}"></tr>
                        </tbody>
                    </table>
                </div>
                <div id="help" class="tab-pane fade pl-5 pr-5">
                    <h4><u>Dig</u></h4>
                    <p>In the Underground you can mine for hidden treasures.</p>

                    <p>There are three main ways of breaking tiles:
                    <br/>Chisel will mine 2 layers on a single tile.
                    <br/>Hammer will mine 1 layer on all nine tiles of a 3x3 square.
                    <br/>Bomb will mine 2 layers of 10 random tiles.</p>

                    <p>You can spend some mining energy to conduct a Survey.
                    <br/>This will give you information about the items to be found in this layer.
                    <br/>It also damages 1 random tile fully.</p>

                    <p>If you don't think this level is worth mining, you can Skip it.
                    <br/>Every time you mine out all items in a level, you will recover one Skip.</p>

                    <h4><u>Treasures</u></h4>
                    <p>Sell your treasures for gems or diamonds!</p>
                    <p>If you have found any fossils, you can hatch the Pokémon they contain from the Treasures tab, or from the Day Care.</p>

                    <h4><u>Upgrades</u></h4>
                    <p>You can use your diamonds to buy all kinds of upgrades that will help you explore the underground even further!</p>
                    <p>Some upgrades will make the Underground harder and are less cost-efficient.
                    <br/>Avoid these until you have the other available upgrades!</p>

                    <h4><u>Daily deals</u></h4>
                    <p>In the Daily deals tab you can trade your items. The trades available change each day at midnight.</p>
                </div>
                <div id="dailyDeals" class="tab-pane fade">
                    <div class="table-responsive" id="dailyDealsBody">
                        <table class="table table-sm table-hover table-striped m-0 text-left">
                            <thead>
                                <tr>
                                    <th class="text-center">Inv</th>
                                    <th></th>
                                    <th>Item</th>
                                    <th></th>
                                    <th class="text-center">Inv</th>
                                    <th></th>
                                    <th>Item</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- ko foreach: DailyDeal.list -->
                                <tr>
                                    <td class='vertical-middle text-center' data-bind="text: player.itemList[$data.item1.itemName]().toLocaleString('en-US')"></td>
                                    <td class='vertical-middle'>
                                        <img class='mineInventoryItem' data-bind='attr: {src: $data.item1.image }'>
                                    </td>
                                    <td class="vertical-middle">
                                        <span data-bind="text: $data.amount1"></span>
                                        <span data-bind="visible: App.game.underground.tradeAmount() > 1, text: ` (${($data.amount1 * App.game.underground.tradeAmount()).toLocaleString('en-US')})`"></span>
                                        <span data-bind="text: ` × ${item1.name}`"></span>
                                    </td>
                                    <td class='vertical-middle'>→</td>
                                    <td class='vertical-middle text-center' data-bind="text: player.itemList[$data.item2.itemName]().toLocaleString('en-US')"></td>
                                    <td class='vertical-middle'>
                                        <img class='mineInventoryItem' data-bind='attr: {src: $data.item2.image }'>
                                    </td>
                                    <td class="vertical-middle">
                                        <span data-bind="text: amount2"></span>
                                        <span data-bind="visible: App.game.underground.tradeAmount() > 1, text: ` (${(amount2 * App.game.underground.tradeAmount()).toLocaleString('en-US')})`"></span>
                                        <span data-bind="text: ` × ${$data.item2.name}`"></span>
                                    </td>
                                    <td class='vertical-middle'>
                                        <div class="btn-group btn-block">
                                            <button class="btn btn-primary btn-block" data-bind="click: () => DailyDeal.use($index(), App.game.underground.tradeAmount()), css: { disabled: !DailyDeal.canUse($index()) || App.game.underground.tradeAmount() == 0 }">
                                                Trade
                                            </button>
                                            <button type="button" data-bind="css: { disabled: !DailyDeal.canUse($index()) }"
                                                class="btn btn-outline-primary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                            <div class="dropdown-menu text-center p-0">
                                                <p class="small py-2 m-0">Set Trade Amount</p>
                                                <div class="dropdown-divider m-0"></div>
                                                <!-- ko foreach: [0.1, 0.25, 0.5, 0.75, 1] -->
                                                <button class="dropdown-item small py-1" type="button" data-bind="text: `${$data.toLocaleString('en-US', { style: 'percent' })}`,
                                                    click: () => { App.game.underground.tradeAmount(Math.floor(player.itemList[$parent.item1.itemName]() * ($data) / $parent.amount1)) }"></button>
                                                <!-- /ko -->
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <!-- /ko -->
                                <!-- ko ifnot: App.game.underground.getUpgrade(UndergroundUpgrade.Upgrades.Daily_Deals_Max).isMaxLevel() -->
                                <tr>
                                    <td colspan="8" class="text-center text-muted p-2">Upgrade the Underground to unlock additional deals!</td>
                                </tr>
                                <!-- /ko -->
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer d-flex justify-content-center p-2">
                        <div class="col-12 col-lg-6">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <button class="btn btn-warning btn-outline-dark smallButton smallFont"
                                        data-bind="click: () => App.game.underground.tradeAmount(1)">Reset</button>
                                </div>
                                <input type="number" class="outline-dark form-control form-control-number" data-bind="textInput: App.game.underground.tradeAmount" />
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split rounded-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                    <div class="dropdown-menu" data-bind="foreach: [10, 100, 1000]">
                                        <button class="dropdown-item py-1" type="button" data-bind="text: $data.toLocaleString('en-US'),
                                            click: () => App.game.underground.tradeAmount($data)"></button>
                                    </div>
                                    <!-- ko if: Settings.getSetting('shopButtons').observableValue() == 'original' -->
                                    <button class="btn btn-secondary smallButton smallFont" type="button" onclick="App.game.underground.increaseTradeAmount(10)">
                                        +10
                                    </button>
                                    <button class="btn btn-secondary smallButton smallFont" type="button" onclick="App.game.underground.increaseTradeAmount(100)">
                                        +100
                                    </button>
                                    <!-- /ko -->
                                    <!-- ko if: Settings.getSetting('shopButtons').observableValue() == 'multiplication' -->
                                    <button class="btn btn-secondary smallButton smallFont" type="button" onclick="App.game.underground.multiplyTradeAmount(10)">
                                        &times;10
                                    </button>
                                    <button class="btn btn-secondary smallButton smallFont" type="button" onclick="App.game.underground.multiplyTradeAmount(0.1)">
                                        &div;10
                                    </button>
                                    <!-- /ko -->
                                    <!-- ko if: Settings.getSetting('shopButtons').observableValue() == 'bigplus' -->
                                    <button class="btn btn-secondary smallButton smallFont" type="button" onclick="App.game.underground.increaseTradeAmount(100)">
                                        +100
                                    </button>
                                    <button class="btn btn-secondary smallButton smallFont" type="button" onclick="App.game.underground.increaseTradeAmount(1000)">
                                        +1,000
                                    </button>
                                    <!-- /ko -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">

                <button type="button" class="btn mr-auto"
                    data-bind="visible: Underground.getDiamondNetWorth() > 0,
                    tooltip: {
                        title: Underground.netWorthTooltip(),
                        trigger: 'hover',
                        placement:'top',
                        html: true,
                    }">
                    <span>Total net worth: <b><span data-bind="text: Underground.getDiamondNetWorth().toLocaleString('en-US')">-</span></b></span>
                    <img src='assets/images/underground/diamond.svg' width="20px'">
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

    <script type="text/html" id="undergroundUpgradeTemplate">
        <td class='vertical-middle' data-bind='text: upgrade.displayName + ": " + totalBonus'></td>
        <td class='vertical-middle'
            data-bind='text: upgrade.isMaxLevel() ? "" : "(" + (upgrade.increasing ? "+" : "-") + upgrade.upgradeBonus() + ")"'></td>
        <td class='vertical-middle'
            data-bind="text: upgrade.isMaxLevel() ? '' : upgrade.calculateCost().amount.toLocaleString('en-US') + ' Diamonds'"></td>
        <td class='vertical-middle'>
            <button class='btn btn-success btn-block'
                    data-bind='css: { disabled: !upgrade.canBuy() },
                                text: upgrade.isMaxLevel() ? "Max" : "Upgrade",
                                click: function(){upgrade.buy(); DailyDeal.generateDeals(App.game.underground.getDailyDealsMax(), new Date());}'>
            </button>
        </td>
    </script>

    <script type="text/html" id="undergroundUpgradeToggleTemplate">
        <td class='vertical-middle' data-bind='text: upgrade.displayName'></td>
        <td class='vertical-middle'></td>
        <td class='vertical-middle'
            data-bind="text: upgrade.isMaxLevel() ? '' : upgrade.calculateCost().amount.toLocaleString('en-US') + ' Diamonds'"></td>
        <td class='vertical-middle'>
            <button class='btn btn-block'
                data-bind='css: {
                        disabled: (!upgrade.isMaxLevel() && !upgrade.canAfford()) || !upgrade.isUnlocked(),
                        "btn-success": !upgrade.isMaxLevel() || Settings.getSetting(`underground.${UndergroundUpgrade.Upgrades[upgrade.name]}`).observableValue(),
                        "btn-danger": upgrade.isMaxLevel() && !Settings.getSetting(`underground.${UndergroundUpgrade.Upgrades[upgrade.name]}`).observableValue(),
                    },
                    text: upgrade.isMaxLevel()
                        ? Settings.getSetting(`underground.${UndergroundUpgrade.Upgrades[upgrade.name]}`).observableValue()
                            ? "Enabled" : "Disabled"
                        : !upgrade.isUnlocked() ? "🔒" : "Unlock",
                    tooltip: {
                        title: upgrade.isUnlocked() ? "" : upgrade.requirement.hint(),
                        trigger: "hover",
                        placement: "left",
                    },
                    click: () => !upgrade.isMaxLevel() && upgrade.isUnlocked()
                        ? upgrade.buy()
                        : Settings.getSetting(`underground.${UndergroundUpgrade.Upgrades[upgrade.name]}`).toggle()'>
            </button>
        </td>
    </script>

    <script type="text/html" id="treasureListTemplate">
        <tr>
            <td class='vertical-middle'>
                <img class='mineInventoryItem' data-bind='attr:{ src: $data.image }'>
                <span data-bind="text: '('+player.itemList[$data.itemName]().toLocaleString('en-US')+')'"></span>
            </td>
            <td class='vertical-middle' data-bind='text: $data.name'></td>
            <!-- ko ifnot: $data.hasSellValue() -->
            <td></td>
            <!-- /ko -->
            <!-- ko if: $data.hasSellValue() -->
            <td class='vertical-middle' data-bind='text: $data.value + " " + GameConstants.camelCaseToString(UndergroundItems.getFullResourceName($data, value))'></td>
            <!-- /ko -->
            <td class='vertical-middle'>
                <!-- ko if: $data.isSellable() -->
                <div class="btn-group btn-block" data-bind="let: { sellAmount: ko.observable(1) }">
                    <!-- ko ifnot: $data.valueType == UndergroundItemValueType.Fossil -->
                    <label
                    class="input-group-prepend btn btn-success active clickable m-0"
                        data-bind="text: $data.sellLocked() ? '🔒' : '🔓', attr: { for: 'sellLockedIndicatorOfItem' + id }"
                    >🔓</label>
                    <input
                        class="hidden"
                        type="checkbox"
                        data-bind="checked: $data.sellLocked(), attr: { id: 'sellLockedIndicatorOfItem' + $data.id }, event: { change: function(){$data.toggleSellLock()} }"
                    />
                    <!-- /ko -->
                    <button class='btn btn-success btn-block'
                            data-bind="css: { disabled: $data.sellLocked() || ($data.valueType === UndergroundItemValueType.Fossil && !App.game.breeding.hasFreeEggSlot()) },
                                    text: $data.valueType === UndergroundItemValueType.Fossil ? 'Breed' : 'Sell',
                                    click: function(){Underground.sellMineItem($data, sellAmount() || 1)}">
                    </button>
                    <!-- ko if: $data.valueType !== UndergroundItemValueType.Fossil -->
                    <button type="button" data-bind="text: sellAmount() + '&nbsp;', css: { disabled:  $data.sellLocked() }" class="btn btn-success dropdown-toggle dropdown-toggle-split active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    </button>
                    <div class="dropdown-menu" data-bind="foreach: [1, 10, 100, 1000, Infinity]">
                        <button class="dropdown-item" type="button" data-bind="click: function(){sellAmount($data)}, text: $data.toLocaleString('en-US')"></button>
                    </div>
                    <!-- /ko -->
                </div>
                <!-- /ko -->
            </td>
        </tr>
    </script>
</div>

<div aria-labelledby="mineSellAllTreasuresModalLabel" class="modal fade noselect mt-5" id="mineSellAllTreasuresModal" role="dialog"
     style="cursor:default" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable modal-sm" role="document" data-bind="let: { filteredMineInventory: UndergroundItems.list.filter(item => item.hasSellValue() && player.itemList[item.itemName]()) }">
        <div class="modal-content">
            <div class="modal-header d-block">
                <h4 class="mb-0">
                    Sell all selected treasures
                </h4>
                (<span data-bind="text: filteredMineInventory.filter(t => !t.sellLocked()).length + ' of ' + filteredMineInventory.length"></span>)
            </div>
            <div class="modal-body p-0">
                <table class="table table-sm table-hover table-striped m-0">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Cumulative Value</th>
                        </tr>
                    </thead>
                    <tbody data-bind="template: { name: 'cumulativeValueListTemplate', foreach: Object.keys(Underground.getCumulativeValues()).sort() }">
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn mr-auto btn-danger" data-bind="click: function(){Underground.sellAllMineItems()}">
                    <span>Confirm sell</span>
                </button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

    <script type="text/html" id="cumulativeValueListTemplate">
        <tr data-bind="let: { type: $data, cumulativeValue: Underground.getCumulativeValues()[$data].cumulativeValue, imgSrc: Underground.getCumulativeValues()[$data].imgSrc }">
            <td>
                <img width="20px'" data-bind="attr: { src: imgSrc }">
            </td>
            <td>
                <span data-bind="text: cumulativeValue.toLocaleString('en-US') + ' ' + type"></span>
            </td>
        </tr>
    </script>
</div>
