<div id="undergroundDisplay" class="card sortable border-secondary mb-3 pokeclicker-optional-module" data-bind="visible: App.game.underground.canAccess() && Settings.getSetting('showUndergroundModule').observableValue(), if: Settings.getSetting('showUndergroundModule').observableValue()">
    <div class="card-header p-0" data-toggle="collapse" href="#undergroundCard">
        <span>Underground</span>
    </div>
    <button class="btn btn-sm btn-primary" style="position: absolute; right: 0px; top: 0px; width: auto; height: 41px;" onclick="UndergroundController.openUndergroundModal()">
        View
    </button>

    <div id="undergroundCard" class="card-body p-0 show">
        <div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div data-bind="text: 'Treasures found: ' + App.game.underground.mine?.itemsFound + ' / ' + App.game.underground.mine?.itemsBuried"></div>
                        <div data-bind="text: 'Partially discovered: ' + App.game.underground.mine?.itemsPartiallyFound"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
