<g data-bind='visible: player.region == GameConstants.Region.unova'>
    <image width="1600" height="960" xlink:href="assets/images/unova.png" href="assets/images/unova.png"></image>

    <!-- ------ -->
    <!-- ROUTES -->
    <!-- ------ -->

    <!--Route 1-->
    <%- include('templates/mapRoute',
        { route: 1, region: 4
        , width: 3, height: 3
        , x: 87, y: 51
        , rotate: true
        })
    %>

    <!--Route 2-->
    <%- include('templates/mapRoute',
        { route: 2, region: 4
        , width: 4, height: 3
        , x: 87, y: 43
        , rotate: true
        })
    %>

    <!--Route 3-->
    <%- include('templates/mapRoute',
        { route: 3, region: 4
        , width: 6, height: 3
        , x: 80, y: 40
        })
    %>

    <!--Route 4-->
    <%- include('templates/mapRoute',
        { route: 4, region: 4
        , width: 13.5, height: 3
        , x: 51, y: 35
        , rotate: true
        })
    %>
    <!--extra Route 4-->
    <%- include('templates/mapRoute',
        { route: 4, region: 4
        , width: 1, height: 0.5
        , x: 53, y: 48.5
        , noText: true
        })
    %>

    <!--Desert Resort-->
    <%- include('templates/mapRoute',
        { route: 25, region: 4
        , width: 4, height: 3
        , x: 47, y: 38, name: "D.R."
        })
    %>

    <!--Route 5-->
    <%- include('templates/mapRoute',
        { route: 5, region: 4
        , width: 13, height: 3
        , x: 34, y: 32
        })
    %>

    <!--Route 6-->
    <%- include('templates/mapRoute',
        { route: 6, region: 4
        , width: 7, height: 3
        , x: 18, y: 29
        })
    %>
    <!--Extra bit of Route 6-->
    <%- include('templates/mapRoute',
        { route: 6, region: 4
        , width: 3, height: 3
        , x: 22, y: 32
        , noText: true
        })
    %>

    <!--Route 7-->
    <%- include('templates/mapRoute',
        { route: 7, region: 4
        , width: 6, height: 3
        , x: 18, y: 16
        })
    %>
     <!--Extra bit of Route 7-->
    <%- include('templates/mapRoute',
        { route: 7, region: 4
        , width: 3, height: 3
        , x: 18, y: 19
        , noText: true
        })
    %>

    <!--Route 8-->
    <%- include('templates/mapRoute',
        { route: 8, region: 4
        , width: 7, height: 3
        , x: 34, y: 13
        })
    %>

    <!--Route 9-->
    <%- include('templates/mapRoute',
        { route: 9, region: 4
        , width: 6, height: 3
        , x: 41, y: 13
        })
    %>

    <!--Route 11-->
    <%- include('templates/mapRoute',
        { route: 11, region: 4
        , width: 7, height: 3
        , x: 56, y: 13
        })
    %>

    <!--Route 12-->
    <%- include('templates/mapRoute',
        { route: 12, region: 4
        , width: 7, height: 3
        , x: 63, y: 13
        })
    %>

    <!--Route 13-->
    <%- include('templates/mapRoute',
        { route: 13, region: 4
        , width: 7, height: 3
        , x: 74, y: 13
        })
    %>
    <!--Extra bit of Route 13-->
    <%- include('templates/mapRoute',
        { route: 13, region: 4
        , width: 3, height: 1
        , x: 78, y: 16
        , noText: true
        })
    %>
    <!--Extra bit of Route 13-->
    <%- include('templates/mapRoute',
        { route: 13, region: 4
        , width: 9, height: 2.5
        , x: 78, y: 17
        , noText: true
        })
    %>
    <!--Extra bit of Route 13-->
    <%- include('templates/mapRoute',
        { route: 13, region: 4
        , width: 1, height: 0.5
        , x: 78, y: 19.5
        , noText: true
        })
    %>
    <!--Extra bit of Route 13-->
    <%- include('templates/mapRoute',
        { route: 13, region: 4
        , width: 3, height: 0.5
        , x: 84, y: 19.5
        , noText: true
        })
    %>

    <!--Route 14-->
    <%- include('templates/mapRoute',
        { route: 14, region: 4
        , width: 13, height: 3
        , x: 74, y: 25
        })
    %>
    <!--Extra bit of Route 14-->
    <%- include('templates/mapRoute',
        { route: 14, region: 4
        , width: 3, height: 1
        , x: 84, y: 24
        , noText: true
        })
    %>
    <!--Extra bit of Route 14-->
    <%- include('templates/mapRoute',
        { route: 14, region: 4
        , width: 3, height: 3
        , x: 74, y: 28
        , noText: true
        })
    %>

    <!--Route 15-->
    <%- include('templates/mapRoute',
        { route: 15, region: 4
        , width: 6, height: 3
        , x: 62, y: 32
        })
    %>

    <!--Route 16-->
    <%- include('templates/mapRoute',
        { route: 16, region: 4
        , width: 6, height: 3
        , x: 56, y: 32
        })
     %>

    <!--Route 17-->
    <%- include('templates/mapRoute',
        { route: 17, region: 4
        , width: 15, height: 3
        , x: 70, y: 55
        })
    %>
    <!--Extra bit of Route 17-->
    <%- include('templates/mapRoute',
        { route: 17, region: 4
        , width: 4, height: 3
        , x: 82, y: 52
        , noText: true
        })
    %>
    <!--Extra bit of Route 17-->
    <%- include('templates/mapRoute',
        { route: 17, region: 4
        , width: 1, height: 2
        , x: 86, y: 52
        , noText: true
        })
    %>

    <!--Route 18-->
    <%- include('templates/mapRoute',
        { route: 18, region: 4
        , width: 8, height: 3
        , x: 70, y: 52
        })
     %>

    <!--Route 19-->
    <%- include('templates/mapRoute',
        { route: 19, region: 4
        , width: 8.5, height: 3
        , x: 7, y: 43
        , rotate: true
        })
     %>
     <!--Extra bit of Route 19-->
     <%- include('templates/mapRoute',
        { route: 19, region: 4
        , width: 1, height: 3
        , x: 10, y: 43
        , noText: true
        })
    %>

    <!--Route 20-->
    <%- include('templates/mapRoute',
        { route: 20, region: 4
        , width:13, height: 3
        , x: 15, y: 43
        })
    %>

    <!--Route 21-->
    <%- include('templates/mapRoute',
        { route: 21, region: 4
        , width: 6, height: 3
        , x: 91, y: 10
        , rotate: true
        })
    %>

    <!--Undella Bay-->
    <%- include('templates/mapRoute',
        { route: 24, region: 4
        , width: 6, height: 3
        , x: 88, y: 21, name: "U.B."
        })
    %>

    <!--Undella Bay extension-->
    <%- include('templates/mapRoute',
        { route: 24, region: 4
        , width: 2, height: 3
        , rotate: true
        , x: 91, y: 19, noText: true
        })
    %>

     <!--Route 22-->
    <%- include('templates/mapRoute',
        { route: 22, region: 4
        , width: 7, height: 3
        , x: 83, y: 7
        })
    %>

    <!--Route 23-->
    <%- include('templates/mapRoute',
        { route: 23, region: 4
        , width: 3, height: 2
        , x: 74, y: 5
        })
    %>
    <!--Extra bit of Route 23-->
    <%- include('templates/mapRoute',
        { route: 23, region: 4
        , width: 7, height: 3
        , x: 70, y: 2
        , noText: true
        })
    %>
    <!--Extra bit of Route 23-->
    <%- include('templates/mapRoute',
        { route: 23, region: 4
        , width: 5, height: 3
        , x: 74, y: 7
        , noText: true
        })
    %>
    <!--Extra bit of Route 23-->
    <%- include('templates/mapRoute',
        { route: 23, region: 4
        , width: 0.5, height: 3
        , x: 65.5, y: 2
        , noText: true
        })
    %>


    <!-- ----- -->
    <!-- TOWNS -->
    <!-- ----- -->

    <!--Nuvema Town-->
    <%- include('templates/mapTown',
        { name: "Nuvema Town"
        , x: 86, y: 54
        })
    %>

    <!--Accumula Town-->
    <%- include('templates/mapTown',
        { name: "Accumula Town"
        , x: 86, y: 47
        })
    %>

    <!--Striaton City-->
    <%- include('templates/mapTown',
        { name: "Striaton City"
        , x: 86, y: 39
        })
    %>

    <!--Nacrene City-->
    <%- include('templates/mapTown',
        { name: "Nacrene City"
        , x: 76, y: 39
        })
    %>

    <!--Castelia City-->
    <%- include('templates/mapTown',
        { name: "Castelia City"
        , x: 48, y: 48.5
        , width: 5, height: 4.5
        })
    %>
    <!--Castelia City Extension-->
    <%- include('templates/mapTown',
        { name: "Castelia City"
        , x: 53, y: 49
        })
    %>

    <!--Nimbasa City-->
    <%- include('templates/mapTown',
        { name: "Nimbasa City"
        , x: 47, y: 30.5
        , width: 5, height: 4.5
        })
    %>
    <!--Nimbasa City Extension-->
    <%- include('templates/mapTown',
        { name: "Nimbasa City"
        , x: 52, y: 31
        })
    %>

    <!--Driftveil City-->
    <%- include('templates/mapTown',
        { name: "Driftveil City"
        , x: 25, y: 30.5
        , width: 5, height: 4.5
        })
    %>
    <!--Driftveil City Extension-->
    <%- include('templates/mapTown',
        { name: "Driftveil City"
        , x: 30, y: 31
        })
    %>

    <!--Mistralton City-->
    <%- include('templates/mapTown',
        { name: "Mistralton City"
        , x: 12, y: 21.5
        , width: 5, height: 4.5
        })
    %>
    <!--Mistralton City Extension-->
    <%- include('templates/mapTown',
        { name: "Mistralton City"
        , x: 17, y: 22
        })
    %>

    <!--Icirrus City-->
    <%- include('templates/mapTown',
        { name: "Icirrus City"
        , x: 25, y: 11.5
        , width: 5, height: 4.5
        })
    %>
    <!--Icirrus City Extension-->
    <%- include('templates/mapTown',
        { name: "Icirrus City"
        , x: 30, y: 12
        })
    %>

    <!--Opelucid City-->
    <%- include('templates/mapTown',
        { name: "Opelucid City"
        , x: 47, y: 11.5
        , width: 5, height: 4.5
        })
    %>
    <!--Opelucid City Extension-->
    <%- include('templates/mapTown',
        { name: "Opelucid City"
        , x: 52, y: 12
        })
    %>

    <!--Lacunosa Town-->
    <%- include('templates/mapTown',
        { name: "Lacunosa Town"
        , x: 70, y: 12
        })
    %>

    <!--Undella Town-->
    <%- include('templates/mapTown',
        { name: "Undella Town"
        , x: 79, y: 19.5
        , width: 5, height: 4.5
        })
    %>
    <!--Undella Town Extension-->
    <%- include('templates/mapTown',
        { name: "Undella Town"
        , x: 84, y: 20
        })
    %>

    <!--Lentimas Town-->
    <%- include('templates/mapTown',
        { name: "Lentimas Town"
        , x: 67, y: 20
        })
    %>

    <!--Black and White Park-->
    <%- include('templates/mapTown',
        { name: "Black and White Park"
        , x: 68, y: 30.5
        , width: 5, height: 4.5
        })
    %>
    <!--Black and White Park-->
    <%- include('templates/mapTown',
        { name: "Black and White Park"
        , x: 73, y: 31
        })
    %>

    <!--Humilau City-->
    <%- include('templates/mapTown',
        { name: "Humilau City"
        , x: 90, y: 5.5
        , width: 5, height: 4.5
        })
    %>

    <!--Aspertia City-->
    <%- include('templates/mapTown',
        { name: "Aspertia City"
        , x: 6, y: 51.5
        , width: 5, height: 4.5
        , home: true
        })
    %>

    <!--Floccesy Town-->
    <%- include('templates/mapTown',
        { name: "Floccesy Town"
        , x: 11, y: 42
        })
    %>

    <!--Virbank City-->
    <%- include('templates/mapTown',
        { name: "Virbank City"
        , x: 28, y: 42
        })
    %>

    <!--Anville Town-->
    <%- include('templates/mapTown',
        { name: "Anville Town"
        , x: 8, y: 3
        })
    %>

    <!--Pokémon League Unova-->
    <%- include('templates/mapTown',
        { name: "Pokémon League Unova"
        , x: 55.5, y: 0.25
        , width: 10, height: 6.75
        })
    %>

    <!-- -------- -->
    <!-- DUNGEONS -->
    <!-- -------- -->

    <!--P2 Laboratory-->
    <%- include('templates/mapDungeon',
        { name: "P2 Laboratory"
        , x: 78, y: 52
        , width: 4, height: 3
        })
    %>

    <!--Seaside Cave-->
    <%- include('templates/mapDungeon',
        { name: "Seaside Cave"
        , x: 91, y: 16
        , width: 4, height: 3
        })
    %>

    <!--Dreamyard-->
    <%- include('templates/mapDungeon',
        { name: "Dreamyard"
        , x: 90, y: 40
        , width: 4, height: 3
        })
    %>

    <!--Pinwheel Forest-->
    <%- include('templates/mapDungeon',
        { name: "Pinwheel Forest"
        , x: 72, y: 40
        , width: 4, height: 3
        })
    %>

    <!--Castelia Sewers-->
    <%- include('templates/mapDungeon',
        { name: "Castelia Sewers"
        , moveToTown: "Castelia City"
        , x: 56, y: 52
        , width: 1, height: 1
        })
    %>

    <!-- Desert Resort
    <%- include('templates/mapDungeon',
        { name: "Desert Resort"
        , x: 47, y: 41
        , width: 4, height: 3
        })
    %> -->

    <!--Relic Castle-->
    <%- include('templates/mapDungeon',
        { name: "Relic Castle"
        , x: 43, y: 38
        , width: 4, height: 3
        })
    %>

    <!--Relic Passage-->
    <%- include('templates/mapDungeon',
        { name: "Relic Passage"
        , x: 37, y: 40
        , width: 6, height: 3
        })
    %>

    <!--Mistralton Cave-->
    <%- include('templates/mapDungeon',
        { name: "Mistralton Cave"
        , x: 23, y: 26
        , width: 4, height: 3
        })
    %>

    <!--Chargestone Cave-->
    <%- include('templates/mapDungeon',
        { name: "Chargestone Cave"
        , x: 17, y: 26
        , width: 4, height: 3
        })
    %>

    <!--Celestial Tower-->
    <%- include('templates/mapDungeon',
        { name: "Celestial Tower"
        , x: 17, y: 13
        , width: 4, height: 3
        })
    %>

    <!--Twist Mountain-->
    <%- include('templates/mapDungeon',
        { name: "Twist Mountain"
        , x: 21, y: 13
        , width: 4, height: 3
        })
    %>

    <!--Dragonspiral Tower-->
    <%- include('templates/mapDungeon',
        { name: "Dragonspiral Tower"
        , x: 26, y: 8
        , width: 4, height: 3
        })
    %>

    <!--Moor of Icirrus-->
    <%- include('templates/mapDungeon',
        { name: "Moor of Icirrus"
        , x: 34, y: 10
        , width: 4, height: 3
        })
    %>

    <!--Reversal Mountain-->
    <%- include('templates/mapDungeon',
        { name: "Reversal Mountain"
        , x: 74, y: 20
        , width: 5, height: 5
        })
    %>

    <!--Reversal Mountain extra-->
    <%- include('templates/mapDungeon',
        { name: "Reversal Mountain"
        , x: 71, y: 21
        , width: 3, height: 3
        })
    %>

    <!--Abundant Shrine-->
    <%- include('templates/mapDungeon',
        { name: "Abundant Shrine"
        , x: 70, y: 25
        , width: 4, height: 3
        })
    %>

    <!--Lostlorn Forest-->
    <%- include('templates/mapDungeon',
        { name: "Lostlorn Forest"
        , x: 59, y: 29
        , width: 4, height: 3
        })
    %>

    <!--Floccesy Ranch-->
    <%- include('templates/mapDungeon',
        { name: "Floccesy Ranch"
        , x: 17, y: 40
        , width: 4, height: 3
        })
    %>

    <!--Cave of Being-->
    <%- include('templates/mapDungeon',
        { name: "Cave of Being"
        , x: 17, y: 46
        , width: 4, height: 3
        })
    %>

    <!--Liberty Garden-->
    <%- include('templates/mapDungeon',
        { name: "Liberty Garden"
        , x: 28, y: 52
        , width: 4, height: 3
        })
    %>

    <!--Giant Chasm-->
    <%- include('templates/mapDungeon',
        { name: "Giant Chasm"
        , x: 79, y: 7
        , width: 4, height: 3
        })
    %>

    <!--Victory Road Unova-->
    <%- include('templates/mapDungeon',
        { name: "Victory Road Unova"
        , x: 66, y: 2
        , width: 4, height: 3
        })
    %>

    <!--Pledge Grove-->
    <%- include('templates/mapDungeon',
        { name: "Pledge Grove"
        , x: 11, y: 39
        })
    %>

    <!--Plasma Frigate-->
    <%- include('templates/mapDungeon',
        { name: "Plasma Frigate"
        , x: 96, y: 18
        , width: 4, height: 3
        })
    %>
    <!--Plasma Frigate Extension-->
    <%- include('templates/mapDungeon',
        { name: "Plasma Frigate"
        , x: 95, y: 19
        , width: 1, height: 1
        })
    %>

    <!-- ------------------ -->
    <!-- PLACES OF INTEREST -->
    <!-- ------------------ -->
    <%- include('templates/mapPOI',
        { name: "Dock"
        , x: 49, y: 53
        , width: 3, height: 7
        , databind: "click:function(){MapHelper.openShipModal()}, attr: { class: MapHelper.calculateTownCssClass('Castelia City') }"
        })
     %>

    <!--bridge-->
    <%- include('templates/mapPOI',
        { name: "Skyarrow Bridge"
        , width: 10, height: 3
        , x: 57, y: 49
        , databind: `attr: { class: MapHelper.accessToRoute(4, GameConstants.Region.unova) ? 'unlockedRoute' : 'lockedRoute' },
            click: () => {
                Notifier.notify({message: 'What a lovely view'});
            }`
        })
    %>
    <!--bridge-->
    <%- include('templates/mapPOI',
        { name: "Skyarrow Bridge"
        , width: 3, height: 9
        , x: 64, y: 40
        , databind: `attr: { class: MapHelper.accessToRoute(4, GameConstants.Region.unova) ? 'unlockedRoute' : 'lockedRoute' },
            click: () => {
                Notifier.notify({message: 'What a lovely view'});
            }`
        })
    %>
    <!--bridge-->
    <%- include('templates/mapPOI',
        { name: "Skyarrow Bridge"
        , width: 5, height: 3
        , x: 67, y: 40
        , databind: `attr: { class: MapHelper.accessToRoute(4, GameConstants.Region.unova) ? 'unlockedRoute' : 'lockedRoute' },
            click: () => {
                Notifier.notify({message: 'What a lovely view'});
            }`
        })
    %>
</g>
